<template>
  <div class="chat-view" ref="chat_view">
    <div class="chat-header">
      <h3>{{ params.item ? params.item.tUsername : "" }}</h3>
      <p>
        ({{ $t("chat.trade") }} |
        {{ params.item ? params.item.monthTradedCount : "" }})
      </p>
    </div>
    <div class="chat-body">
      <!-- <div class="chat-remark">
        <p>{{ params.otcAdvertisementMessage }}</p>
      </div> -->
      <list-view
        :messageList="messageList"
        :chat="params"
        :roomId="roomId"
        :total="total"
        :busy="busy"
        :chatIn="chatIn"
      ></list-view>
    </div>
    <div
      class="chat-editor-btn"
      :class="show ? 'active' : 'none'"
      ref="editor_btn"
    >
      <!-- 编辑器 -->
      <!-- @paste.capture.prevent="onPaste" -->
      <!-- @paste="pasteFun" -->
      <div
        id="editor"
        class="editor"
        :class="imgCanSend ? 'none' : 'active rd-btn-loading ion-load-a'"
        contenteditable="true"
        ref="editor"
        @blur="contentBlur"
        @click="contentFoucs"
        @paste.capture.prevent="onPaste"
        @keyup.ctrl.enter="sendComment"
      ></div>
      <div
        class="emoji"
        @click="addImage"
        :class="show ? 'active' : 'none'"
        ref="emoji"
      >
        <img
          :src="
            'https://res.wx.qq.com/mpres/htmledition/images/icon/emotion/' +
              n +
              '.gif'
          "
          :alt="list[n]"
          :title="list[n]"
          v-for="n in 104"
          :key="n"
        />
      </div>
      <div class="chat-button">
        <div class="icon-button" @click="doGet">
          <input
            @change="getFile"
            ref="input"
            type="file"
            accept="image/*"
          /><img src="../../assets/images/chat/icon_pic.png" alt="" />
          {{ $t("chat.pic") }}
        </div>
        <div class="emoji-button" @click="showPackage">
          {{ $t("chat.emoji") }}
        </div>
        <div class="send-button" @click="sendComment">
          {{ $t("chat.enter") }}
        </div>
      </div>
      <!-- 预览图片 -->
      <div class="show_img" v-show="setImgShow" ref="imgTe"></div>
    </div>
  </div>
</template>
<script>
import paste from "./paste";
import listView from "./list";
import { getMessageList } from "../../api/chat";
import { bus } from "../../utils/bus";
import { catIn, type } from "../../utils/index";
import { imgUpload } from "../../api/login";
import { mapGetters } from "vuex";
export default {
  components: {
    listView
  },
  props: {
    params: {
      type: Object,
      default: () => {}
    },
    connected: {
      type: Boolean
    }
  },
  data() {
    return {
      list: [
        "微笑",
        "撇嘴",
        "色",
        "发呆",
        "得意",
        "流泪",
        "害羞",
        "闭嘴",
        "睡",
        "大哭",
        "尴尬",
        "发怒",
        "调皮",
        "呲牙",
        "惊讶",
        "难过",
        "酷",
        "冷汗",
        "抓狂",
        "吐",
        "偷笑",
        "愉快",
        "白眼",
        "傲慢",
        "饥饿",
        "困",
        "惊恐",
        "流汗",
        "憨笑",
        "大兵",
        "奋斗",
        "咒骂",
        "疑问",
        "嘘",
        "晕",
        "折磨",
        "衰",
        "骷髅",
        "敲打",
        "再见",
        "擦汗",
        "抠鼻",
        "鼓掌",
        "糗大了",
        "坏笑",
        "左哼哼",
        "右哼哼",
        "哈欠",
        "鄙视",
        "委屈",
        "快哭了",
        "阴险",
        "亲亲",
        "吓",
        "可怜",
        "菜刀",
        "西瓜",
        "啤酒",
        "篮球",
        "乒乓",
        "咖啡",
        "饭",
        "猪头",
        "玫瑰",
        "凋谢",
        "示爱",
        "爱心",
        "心碎",
        "蛋糕",
        "闪电",
        "炸弹",
        "刀",
        "足球",
        "瓢虫",
        "便便",
        "月亮",
        "太阳",
        "礼物",
        "拥抱",
        "强",
        "弱",
        "握手",
        "胜利",
        "抱拳",
        "勾引",
        "拳头",
        "差劲",
        "爱你",
        "NO",
        "OK",
        "爱情",
        "飞吻",
        "跳跳",
        "发抖",
        "怄火",
        "转圈",
        "磕头",
        "回头",
        "跳绳",
        "挥手",
        "激动",
        "街舞",
        "献吻",
        "左太极",
        "右太极",
        "嘿哈",
        "捂脸",
        "奸笑",
        "机智",
        "皱眉",
        "耶",
        "红包",
        "鸡"
      ],
      lastEditRange: "",
      setImgShow: false, // 是否预览图片
      //
      content: "",
      show: false,
      range: {},
      selection: {},
      isWriting: false,
      items: 40,
      // roomId: "",
      messageList: [],
      total: "",
      progress: 0, // 上传进度
      imgCanSend: true, // 默认(没图)可以发送
      imgArr: [],
      busy: true,
      chatIn: false // 是 getlist 获取 还是 推送消息过来的
    };
  },
  computed: {
    ...mapGetters(["user"]),
    ...mapGetters(["roomId"])
  },
  watch: {
    roomId: {
      handler() {
        // console.log(n, "-------------------");
        if (this.connected) {
          this.getlistFun();
        }
      },
      immediate: true
    },
    connected: {
      handler(n) {
        if (n) {
          this.createRoom();
          this.onListen();
        } else {
          //
        }
      },
      immediate: true
    },
    "params.id": {
      handler(n) {
        console.log(n, "订单变化-建新房间");
        if (n) {
          if (this.connected) {
            this.createRoom();
          }
        }
      }
    }
  },
  mounted() {
    // this.onListen();
    // this.observerFun();
    // 先得到selection，并创建一个range
    this.$refs.editor.focus();
    this.selection = document.getSelection();
    this.range = document.createRange();
    this.$refs.chat_view.addEventListener("click", this.hide, false);
  },
  beforeDestroy() {
    // this.roomId = "";
    // this.$store.dispatch("setRoomId", "")
    this.messageList = [];
    this.$refs.chat_view.removeEventListener("click", () => {}, false);
  },
  methods: {
    hide(e) {
      //   console.log(catIn(e.target, this.$refs.imgTe));
      if (!catIn(e.target, this.$refs.imgTe)) {
        this.setImgShow = false;
        this.$refs.imgTe.innerHTML = "";
      }
    },
    setImgFun(e) {
      //   console.log(e);
      this.setImgShow = true;
      this.$refs.imgTe.innerHTML = "";
      let image = new Image();
      image.classList.add("img-upload");
      image.src = e.getAttribute("src");
      this.$refs.imgTe.appendChild(image);
    },
    getlistFun(inItem) {
      let item = {
        room_id: this.roomId,
        page: 1,
        size: 100,
        unread: 0,
        reversed: 1
      };
      item = Object.assign({}, item, inItem);
      // console.log(item, inItem)
      this.busy = true;
      getMessageList(item)
        .then(res => {
          if (item.page != 1) {
            this.chatIn = false;
          }
          if (inItem) {
            this.messageList.unshift(...res.items);
          } else {
            this.messageList = res.items;
          }
          this.total = res.total;
          this.busy = false;
        })
        .catch(e => {
          this.$Notification.failed("", e.message ? e.message : e, 3000);
        });
    },
    onListen() {
      bus.$on("connected", () => {
        console.info("connected 触发创建 room");
        this.createRoom();
      });
      bus.$on("rec_chat", res => {
        this.chatIn = true;
        this.messageList.push(res);
        this.total += 1;
      });
    },
    createRoom() {
      if (this.params) {
        bus.$emit("createRoom", {
          order_id: this.params.id
        });
      }
    },
    // 发送消息
    messageSend() {
      // chat_message
    },
    contentBlur() {
      /**
       * 每次焦点移出都要保存一次当前 range ，后面好放回来
       * 由于输入框以外的点击都会使输入框失去焦点，不知道会有什么操作，故勤保存
       */
      this.range = this.selection.getRangeAt(0);
    },
    startWrite() {
      this.isWriting = true;
      if (this.content) {
        // 如果focus前有内容， 光标设置到之前保存的位置 setCursor
        this.setCursor();
      } else {
        // 开始评论，输入框自动聚焦
        this.$refs.editor.focus();
        this.contentFoucs();
      }
    },
    contentFoucs(e) {
      /**
       * range更新到点击的位置
       * 点到图片就根据点击位置和图片大小设置一个合理的位置(前或后)
       */
      let node = e ? e.target : {};
      this.range = this.selection.getRangeAt(0);
      if (node.tagName === "IMG") {
        this.setCursor(node, e.offsetX < node.width / 2);
      }
    },
    showPackage() {
      if (this.show) {
        this.show = !this.show;
        setTimeout(() => {
          this.$refs.emoji.classList.toggle("show");
          this.$refs.editor_btn.classList.toggle("show");
        }, 400);
      } else {
        this.show = !this.show;
      }

      this.setCursor();
    },
    addImage(e) {
      /**
       * 点击emoji图片后，复制节点添到当前range里并设置光标和更新range
       * 若是点到其他地方则设置到之前的位置
       */
      if (e.target.tagName === "IMG") {
        let node = e.target.cloneNode(true);
        this.range.insertNode(node);
        this.setCursor(node, false);
      } else {
        this.setCursor();
      }
    },
    setCursor(node, before) {
      /**
       * node 为传入的节点，不传则foucs到之前保存的位置
       * before 控制折叠方向
       */
      if (node) {
        // 需要新建一个range来添加内容
        let range = document.createRange();
        range.selectNode(node);
        range.collapse(!!before);
        this.selection.removeAllRanges();
        this.selection.addRange(range);
        // 更新 range
        this.range = range;
      } else {
        this.selection.removeAllRanges();
        // 使用之前的
        this.selection.addRange(this.range);
      }
    },
    footerBlur() {
      // 退出输入状态，保存内容
      this.show = false;
      this.isWriting = false;
      this.content = this.$refs.editor.innerHTML;
    },
    async sendComment() {
      if (!this.imgCanSend) {
        return;
      }
      this.content = this.$refs.editor.innerHTML;
      // console.log(this.content, this.params);
      if (this.content == "") {
        return;
      }
      if (!this.content) {
        return;
      }
      if (this.imgArr.length > 0) {
        this.imgCanSend = false;
        let promiseArr = [];
        this.imgArr.forEach(item => {
          promiseArr.push(this.unloadFun(item.param, item.imgGet));
        });
        await Promise.all(promiseArr)
          .then(res => {
            console.log(res);
            if (type.isArray(res)) {
              res.forEach(item => {
                this.$refs.editor
                  .querySelector("." + item.clas)
                  .setAttribute("src", item.src);
              });
            }
            this.content = this.$refs.editor.innerHTML;
            this.imgArr = [];
            this.imgCanSend = true;
          })
          .catch(err => {
            console.log(err);
            this.imgArr = [];
            this.imgCanSend = true;
            return false;
          });
      }
      let d = new Date();
      let item = {
        room_id: this.roomId,
        content: [
          {
            type: "html",
            message: this.content,
            img: "",
            id: this.user.userId,
            time: d.toLocaleString().split(" ")[1],
            date: d.toLocaleString().split(" ")[0]
          }
        ],
        amountCny: this.params.amountCny,
        id: this.params.id,
        tradeCoinType: this.params.tradeCoinType,
        role: this.params.role,
        coinType: this.params.coinType,
        tUsername: this.params.item ? this.params.item.tUsername : "",
        user_id: this.user.userId,
        user_name: this.user.username
      };
      console.log("触发发送", item);
      bus.$emit("send", item);
      this.show = false;
      this.isWriting = false;
      this.content = "";
      this.$refs.editor.innerHTML = "";
    },
    async onPaste(e) {
      const result = await paste(e);
      console.log(result, "===========================");

      // document.execCommand("insertImage", false, result);
      if (result.indexOf("<!--StartFragment-->") >= 0) {
        document.execCommand("insertHtml", false, result);
      } else {
        document.execCommand("insertText", false, result);
      }
    },
    pasteFun(e) {
      console.log(e.clipboardData.items);
    },
    /**
     * 触发获取图片
     */
    doGet() {
      this.$refs.input.click();
    },
    unloadFun(param, clas) {
      let config = {
        onUploadProgress: progressEvent => {
          var complete =
            (((progressEvent.loaded / progressEvent.total) * 100) | 0) + "%";
          if (complete == "100%") {
            this.progress = complete;
          } else {
            this.progress = complete;
          }
        }
      };
      this.progress = 0;

      return imgUpload(param, config).then(res => {
        if (res.code == 200) {
          // chengg
          // this.$refs.editor
          //   .querySelector("." + clas)
          //   .setAttribute("src", "http://103.75.2.199:8080" + res.data.url);
          return {
            clas: clas,
            src: "http://103.75.2.199:8080" + res.data.url
          };
        } else {
          this.$Notification.failed("上传失败", res.message, 2000);
        }
      });
    },
    async getFile() {
      let that = this;
      let file = (this.file = this.$refs.input.files[0]);
      if (!/image\/\w+/.test(file.type)) {
        this.$Notification.failed("", "不支持的图片格式", 3000);
        return false;
      }
      console.log("shang--------tupian--", this.file);
      let imgGet = "img" + new Date().valueOf();
      let param = new FormData();
      param.append("file", file);
      this.imgArr.push({
        param: param,
        imgGet: imgGet
      });

      let reader = new FileReader();
      reader.readAsDataURL(this.file);
      reader.addEventListener(
        "load",
        function() {
          var image = new Image();
          image.classList.add("img-upload");
          image.classList.add(imgGet);
          // image.height = 40;
          image.style.maxWidth = "80%";
          image.title = file.name;
          image.src = this.result;
          console.log(image);
          that.range.insertNode(image);
          that.setCursor(image, false);
        },
        false
      );
      this.$refs.input.value = "";
      // console.log('shang--------reader--',reader)
      // let formData = new FormData();
      // formData.append('image', this.file);
      // let config = {
      //     headers:{'Content-Type':'multipart/form-data;charset=UTF-8'}
      // };
    }
  }
};
</script>
<style lang="scss" scoped>
.chat-view {
  width: 530px;
  height: 900px;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 3px 10px rgba(55, 135, 254, 0.2);
  border-radius: 3px;
  box-sizing: border-box;
  position: relative;
  p {
    font-size: 16px;
    font-weight: 400px;
    line-height: 24px;
    &.black {
      color: #333333;
    }
    &.gray {
      color: #666666;
    }
    &.blue {
      color: #3787fe;
    }
    &.time {
      font-size: 14px;
      line-height: 20px;
      color: #999999;
    }
  }
  .chat-header {
    height: 60px;
    background: rgba(161, 176, 198, 1);
    opacity: 1;
    border-radius: 3px 3px 0px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
    box-sizing: border-box;
    padding: 0px 20px;
    h3 {
      font-size: 20px;
      font-weight: 800;
      line-height: 28px;
    }
    p {
      font-size: 16px;
      font-weight: 400;
      line-height: 22px;
      border: 1px solid rgba(255, 255, 255, 1);
      padding: 5px 15px;
    }
  }
  .chat-body {
    height: calc(900px - 260px);
    .chat-remark {
      background: rgba(243, 248, 255, 1);
      padding: 15px 20px;
      p {
        text-align: left;
      }
    }
  }
  .chat-editor-btn {
    background: rgba(250, 250, 250, 1);
    opacity: 1;
    border-radius: 0px 0px 3px 3px;
    position: relative;
    &.none {
      height: 200px;
      //   position: absolute;
      //   bottom: 0px;
      //   left: 0px;
      //   padding-bottom: 10px;
    }
    &.active {
      position: absolute;
      bottom: 0px;
      left: 0px;
      padding-bottom: 10px;
    }
    .editor {
      height: 130px;
      background: rgba(255, 255, 255, 0.5);
      border-top: 1px solid #f2f2f2;
      border-bottom: 1px solid #f2f2f2;
      // border-radius: 3px;
      overflow: hidden;
      overflow-y: auto;
      text-align: left;
      box-sizing: border-box;
      padding: 2px 5px;
      @keyframes loading {
        from {
          transform-origin: 50% 50%;
          -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
        }

        to {
          transform-origin: 50% 50%;
          -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
        }
      }
      &.active {
        position: relative;
        &::before {
          position: absolute;
          z-index: 10;
          left: 0px;
          top: 0px;
          height: 100%;
          width: 100%;
          pointer-events: none;
          display: flex;
          justify-content: center;
          font-size: 50px;
          align-items: center;
          animation: loading 1s infinite linear;
        }
      }
    }
    .chat-button {
      height: 50px;
      display: flex;
      justify-content: flex-end;
      margin-top: 10px;
      box-sizing: border-box;
      padding: 0px 20px;
      font-size: 14px;
      color: white;
      .icon-button {
        width: 110px;
        height: 40px;
        background: rgba(161, 176, 198, 1);
        border-radius: 2px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        input {
          position: absolute;
          left: 0;
          bottom: 1000px;
          z-index: -2000000;
        }
        img {
          margin-right: 3px;
        }
        cursor: pointer;
      }
      .send-button {
        width: 110px;
        height: 40px;
        background: rgba(55, 135, 254, 1);
        border-radius: 2px;
        margin-left: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
      }
      .emoji-button {
        width: 110px;
        height: 40px;
        background: rgba(55, 135, 254, 1);
        border-radius: 2px;
        margin-left: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
      }
    }
    .emoji {
      padding: 2px 2px;
      text-align: left;
      //   transition: all 0.4s ease-in-out;
      &.active {
        transform: scale(1);
      }
      &.none {
        // transform: scale(0);
        display: none !important;
        // animation: heightIn 0.4s ease-in-out;
        // animation-fill-mode: forwards !important;
        // &.show {
        //     display: none !important;
        // }
      }
      @keyframes heightIn {
        0% {
          height: 100%;
        }
        100% {
          height: 0px;
        }
      }
    }
    .show_img {
      position: absolute;
      z-index: inherit;
      bottom: 200px;
      left: 50%;
      // padding: 10px;

      // width: 15rem /* 300/20 */;
      // height: 10rem /* 200/20 */;
      // max-height: 300px;
      background: white;
      transform: translateX(-50%) translateY(-50%);
      box-shadow: 0 0 10px gray;
      width: 95%;
      // height: 70%;
    }
  }
}
</style>
