<template>
  <div class="list-box" ref="list">
    <div class="loading" v-show="busy">loading.....</div>
    <div class="goBottom" :class="back + ''" @click="goBottomFun">
      ↓返回底部
    </div>
    <div class="content" ref="content">
      <div class="chat-remark" v-if="chat.otcAdvertisementMessage != ''">
        <input
          type="checkbox"
          name="toggle"
          id="toggle"
          style="display: none;"
        />
        <p ref="p" :class="pheight > 18 ? 'active' : 'none'">
          {{ chat.otcAdvertisementMessage }}
        </p>
        <label :class="pheight > 18 ? 'active' : 'none'" for="toggle"> </label>
      </div>
      <li
        v-for="(item, key) in messageList"
        :key="key"
        v-show="roomId == item.room_id"
        class="outer"
        :data-time="item.type ? item.create_time : ''"
        :class="
          item.content
            ? item.type
              ? item.type == '2000'
                ? 'tui tui-blue'
                : item.type == '2101'
                ? 'tui tui-blue'
                : item.type == '2102'
                ? 'tui tui-blue'
                : item.type == '2103'
                ? 'tui tui-red'
                : item.type == '2104'
                ? 'tui tui-red'
                : item.type == '2105'
                ? 'tui tui-black'
                : item.type == '2106'
                ? 'tui tui-green'
                : item.type == '2107'
                ? 'tui tui-black'
                : item.type == '2108'
                ? 'tui tui-black'
                : item.type == '2100'
                ? 'tui tui-green'
                : 'tui tui-blue'
              : item.content[0].id == user.userId
              ? 'send'
              : 'receive'
            : ''
        "
        :data-id="item.content ? item.content[0].id : ''"
        :data-user="user.userId"
      >
        <div
          class="img_rec left"
          v-show="
            item.type
              ? false
              : item.content
              ? item.content[0].id != user.userId
              : true
          "
        >
          {{ chat.item ? chat.item.tUsername[0] : "" }}
        </div>
        <div
          class="mes-box right"
          :data-time="
            item.content
              ? item.content[0].date + ' ' + item.content[0].time
              : ''
          "
          :class="
            item.content
              ? item.type
                ? item.type == '2000'
                  ? 'tui tui-blue'
                  : item.type == '2101'
                  ? 'tui tui-blue'
                  : item.type == '2102'
                  ? 'tui tui-blue'
                  : item.type == '2103'
                  ? 'tui tui-red'
                  : item.type == '2104'
                  ? 'tui tui-red'
                  : item.type == '2105'
                  ? 'tui tui-black'
                  : item.type == '2106'
                  ? 'tui tui-green'
                  : item.type == '2107'
                  ? 'tui tui-black'
                  : item.type == '2108'
                  ? 'tui tui-black'
                  : item.type == '2100'
                  ? 'tui tui-green'
                  : 'tui tui-blue'
                : item.content[0].id == user.userId
                ? 'send'
                : 'receive'
              : ''
          "
        >
          <div
            v-show="!item.type"
            class=""
            :class="
              item.content
                ? item.content[0].id == user.userId
                  ? 'text-send'
                  : 'text-receive'
                : ''
            "
          >
            <p v-if="item.content ? item.content[0].type != 'html' : false">
              <img
                class="noclick"
                v-show="item.content ? item.content[0].type == 'img' : false"
                :src="
                  '/websocket/chat/room/image/download?filename=' +
                    (item.content ? item.content[0].message : '')
                "
                @click="setImgFun"
                @error="errorImg"
                alt=""
              />
              <span
                v-if="item.content ? item.content[0].type != 'img' : false"
                >{{ item.content ? item.content[0].message : "" }}</span
              >
            </p>
            <div
              class="html-box"
              v-if="item.content ? item.content[0].type == 'html' : false"
              v-html="item.content ? item.content[0].message : ''"
              @click="imgPreview($event)"
            ></div>
          </div>
          <p v-show="item.type">
            {{ item.content }}
          </p>
        </div>
      </li>
    </div>
  </div>
</template>
<script>
import { mapGetters } from "vuex";

export default {
  props: {
    roomId: {
      type: [String, Number],
      default: ""
    },
    messageList: {
      type: Array,
      default: () => {
        return [];
      }
    },
    total: {},
    chat: {
      tpye: Object
    },
    busy: {
      type: Boolean
    },
    chatIn: {
      type: Boolean
    }
  },
  data() {
    return {
      back: false,
      range: 0,
      canload: true,
      page: 1,
      pheight: 0
    };
  },
  watch: {
    total: {
      handler(n) {
        if (n !== "") {
          this.busy = false;
        }
      }
    },
    messageList: {
      handler(n) {
        // this.back = true;
        if (n.length != this.total) {
          this.canload = true;
        }
        // console.log(this.chatIn);
        if (this.chatIn) {
          // this.goBottomFun(true);
          // this.$nextTick(() => {
          //   this.$refs.content.scrollTop = this.$refs.content.scrollHeight;
          // });
          if (this.back) {
            // 如果返回底部按钮是显示的话，就不做处理。反之则说明已经在底部了，要时刻保持最低
            if (
              this.$refs.content.scrollHeight - this.$refs.content.scrollTop <
              this.$refs.content.scrollTop
            ) {
              this.$nextTick(() => {
                this.$refs.content.scrollTop = this.$refs.content.scrollHeight;
                this.back = false;
              });
            }
          } else {
            this.$nextTick(() => {
              this.$refs.content.scrollTop = this.$refs.content.scrollHeight;
            });
          }
        } else {
          // this.goBottomFun(false);
          this.$nextTick(() => {
            this.$refs.content.scrollTop = this.$refs.content.scrollHeight;
          });
        }
      }
    }
  },
  computed: {
    ...mapGetters(["user"])
  },
  mounted() {
    this.$refs.content.addEventListener("scroll", this.handleScroll);
    setTimeout(() => {
      this.pheight = this.$refs.p.clientHeight;
    }, 500);
  },
  methods: {
    handleScroll() {
      // console.log(
      //   this.$refs.content.clientHeight,
      //   this.$refs.content.scrollHeight,
      //   this.$refs.content.scrollTop
      // );
      if (
        this.$refs.content.clientHeight + this.$refs.content.scrollTop + 50 >
        this.$refs.content.scrollHeight
      ) {
        // 滚动到地部加载
        // console.log("dibu");
        this.back = false;
      }
      if (this.$refs.content.scrollTop <= 50) {
        // console.log("dfd");
        if (this.canload) {
          this.canload = false;
          this.$parent.getlistFun({
            page: ++this.page
          });
        } else {
          // 已经在加载中 还没有返回值
        }
      }
    },
    loadMore: function() {
      var self = this;
      self.busy = true;
      console.log("loading... " + new Date());
      //   setTimeout(function() {
      //     var target = document.querySelector(".content");
      //     var height = target.clientHeight;
      //     target.style.height = height + 300 + "px";
      //     console.log("end... " + new Date());
      //     self.busy = false;
      //   }, 1000);
    },
    imgPreview(e) {
      e.preventDefault();
      e.stopPropagation();
      if (e.target.classList.contains("img-upload")) {
        this.setImgFun(e.target);
      }
    },
    setImgFun(e) {
      this.$parent.setImgFun(e);
    },
    errorImg() {},
    goBottomFun(ite) {
      this.back = false;
      if (ite) {
        // console.log("liaotain");
        this.$nextTick(() => {
          this.$refs.content.scrollTop = this.$refs.content.scrollHeight;
        });
      } else {
        this.$refs.content.scrollTop = -10;
      }
      // let height = this.$refs.content.scrollHeight;
      // var progress = 0;
      // let id = null;
      // //回调函数
      // let render = () => {
      //   progress += this.range; //修改图像的位置
      //   this.$refs.content.scrollTop += this.range;
      //   if (progress < height) {
      //     //在动画没有结束前，递归渲染
      //     id = window.requestAnimationFrame(render);
      //   } else {
      //     window.cancelAnimationFrame(id);
      //   }
      // };
      // //   this.$refs.content.scrollTop = this.$refs.content.scrollHeight;
      // id = window.requestAnimationFrame(render);
    }
  }
};
</script>
<style lang="scss" scoped>
.list-box {
  height: 540px; // 高度应该是动态的
  height: 640px;
  overflow: hidden;
  box-sizing: border-box;
  position: relative;
  .goBottom {
    position: absolute;
    bottom: 0px;
    right: 0px;
    padding: 10px 20px;
    color: turquoise;
    background: rgba(242, 242, 242, 1);
    cursor: pointer;
    z-index: 10;
    &.false {
      display: none;
    }
    &.true {
      display: block;
    }
  }
  .content {
    // height: 540px;
    // height: 600px;
    height: 640px;
    overflow-y: auto;
    box-sizing: border-box;
    padding-bottom: 15px;
    padding-top: 55px; // 配合下面 absolute
    .chat-remark {
      background: rgba(243, 248, 255, 1);
      padding: 15px 20px;
      position: absolute;
      z-index: 2;
      width: 100%;
      // height: 50px;
      top: 0px;
      p {
        text-align: left;
        width: 85%;
        &.active {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
      label {
        display: none;
        &.active {
          display: block;
        }
      }
      input[name="toggle"]:checked {
        & + p {
          line-clamp: unset !important;
          white-space: initial !important;
          width: 100%;
        }
      }
      label {
        position: absolute;
        right: 20px;
        bottom: 10px;
        &::before {
          content: "显示更多";
          color: #3787fe;
        }
      }
      input[name="toggle"]:checked {
        & ~ label {
          &::before {
            position: absolute;
            content: "收起文本";
            right: 15px;
            top: -13px;
            color: #3787fe;
            width: 80px;
            font-size: 16px;
          }
          &::after {
            content: "";
            position: absolute;
            z-index: 3;
            right: 0px;
            top: -10px;
            width: 18px;
            height: 18px;
            background: url("../../assets/images/chat/zu 1009@2x.png") top left;
            background-size: 18px 18px;
          }
        }
      }
    }
    li {
      margin-bottom: 40px;
      margin-top: 5px;
      padding: 0px 20px;
      .mes-box {
        // min-height: 50px;
        // min-width: 200px;
        padding: 10px 20px;
        border-radius: 5px;
        font-size: 16px;
        line-height: 24px;
        position: relative;
      }
      img {
        max-width: 80%;
      }
      &.send {
        .mes-box {
          text-align: left; //right
          background: rgba(141, 184, 245, 1);
          color: #ffffff;
          max-width: calc(100% - 0px);
          &::after {
            content: attr(data-time);
            position: absolute;
            bottom: 0;
            right: 0;
            color: #999999;
            font-size: 13px;
            line-height: 20px;
            width: 200px;
            transform: translateY(100%);
            text-align: right;
          }
          ::selection {
            background: #93c;
            color: #fcf;
          }
        }
      }
      &.receive {
        .mes-box {
          float: left;
          max-width: calc(100% - 60px);
          margin-left: 10px; //10
          text-align: left;
          background: rgba(242, 242, 242, 1);
          color: #333333;
          &::after {
            content: attr(data-time);
            position: absolute;
            bottom: 0;
            left: 0;
            color: #999999;
            font-size: 13px;
            line-height: 20px;
            width: 200px;
            transform: translateY(100%);
          }
        }
      }
      &.tui {
        color: white;
        position: relative;
        &::before {
          content: attr(data-time);
          position: absolute;
          bottom: 0;
          left: 50%;
          width: 100%;
          color: #999999;
          font-size: 13px;
          line-height: 20px;
          transform: translateX(-50%) translateY(100%);
        }
      }
      .mes-box.tui {
        width: 100%;
        p {
          text-align: left;
          display: inline-block;
        }
      }
      .mes-box.tui.tui-blue {
        background: #7ca0d6;
      }
      .mes-box.tui.tui-black {
        background: #333333;
      }
      .mes-box.tui.tui-green {
        background: #229c89;
      }
      .mes-box.tui.tui-red {
        background: #d55457;
      }
      .img_rec {
        width: 40px;
        height: 40px;
        background: rgba(135, 155, 222, 1);
        border-radius: 50%;
        color: white;
        justify-content: center;
        align-items: center;
        display: flex;
      }
    }
  }
}
</style>
