<template>
  <div id="logo-page">
    <div class="head">
      <h2>汇款无国界</h2>
      <h3>高效，安全，便捷，定义国际汇款新方式</h3>
      <p>
        Efficient,safe and convenient. Define a new way of international
        remittance.
      </p>
    </div>
    <div class="step-logo banxin">
      <div class="box-log">
        <div class="item">
          <img :src="step01" alt="" />
          <p>第一步</p>
          <p>输入汇款金额</p>
        </div>
        <div class="border">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="9.32"
            height="120"
            viewBox="0 0 9.32 120"
          >
            <path
              id="路径_797"
              data-name="路径 797"
              d="M-13179.559-18195.5v54.066l8,5.713-8,6.594v53.627"
              transform="translate(13180.059 18195.502)"
              fill="none"
              stroke="#fff"
              stroke-width="1"
              opacity="0.6"
            />
          </svg>
        </div>
        <div class="item">
          <img :src="step02" alt="" />
          <p>第二步</p>
          <p>添加、选择收款人</p>
        </div>
        <div class="border">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="9.32"
            height="120"
            viewBox="0 0 9.32 120"
          >
            <path
              id="路径_797"
              data-name="路径 797"
              d="M-13179.559-18195.5v54.066l8,5.713-8,6.594v53.627"
              transform="translate(13180.059 18195.502)"
              fill="none"
              stroke="#fff"
              stroke-width="1"
              opacity="0.6"
            />
          </svg>
        </div>
        <div class="item">
          <img :src="step03" alt="" />
          <p>第三步</p>
          <p>转账到平台指定账户</p>
        </div>
        <div class="border">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="9.32"
            height="120"
            viewBox="0 0 9.32 120"
          >
            <path
              id="路径_797"
              data-name="路径 797"
              d="M-13179.559-18195.5v54.066l8,5.713-8,6.594v53.627"
              transform="translate(13180.059 18195.502)"
              fill="none"
              stroke="#fff"
              stroke-width="1"
              opacity="0.6"
            />
          </svg>
        </div>
        <div class="item">
          <img :src="step04" alt="" />
          <p>第四步</p>
          <p>等待汇款完成</p>
        </div>
      </div>
    </div>
    <div class="top-logo banxin">
      <div class="remit_b_header">
        <div class="one">
          <img :src="cn_bank" alt="" />
        </div>
        <div class="one center">
          <p>实时汇率</p>
        </div>
        <div class="one ">
          <img :src="cn_bank" alt="" />
        </div>
      </div>
      <div class="remit_b_body bottom">
        <div class="one">
          <p>
            1 USD =
            <span
              v-for="(item, key) in num1.toString().split('')"
              :key="key"
              :class="
                item == '.'
                  ? key == num1.toString().split('').length - 1
                    ? 'last true'
                    : 'true'
                  : key == num1.toString().split('').length - 1
                  ? 'last false'
                  : 'false'
              "
            >
              {{ item }}</span
            >
            CNY
          </p>
          <p class="init_color">手续费：20 USD</p>
        </div>
        <div class="one center">
          <p>USD/CNY</p>
          <img :src="uc_icon" alt="" />
        </div>
        <div class="one last">
          <p>
            1 USD =
            <span
              v-for="(item, key) in num1.toString().split('')"
              :key="key"
              :class="
                item == '.'
                  ? key == num1.toString().split('').length - 1
                    ? 'last true'
                    : 'true'
                  : key == num1.toString().split('').length - 1
                  ? 'last false'
                  : 'false'
              "
            >
              {{ item }}</span
            >
            CNY
          </p>
          <p class="init_color">手续费：20 USD</p>
        </div>
      </div>
      <div class="remit_b_body">
        <div class="one">
          <p>
            1 USD =
            <span
              v-for="(item, key) in num1.toString().split('')"
              :key="key"
              :class="
                item == '.'
                  ? key == num1.toString().split('').length - 1
                    ? 'last true'
                    : 'true'
                  : key == num1.toString().split('').length - 1
                  ? 'last false'
                  : 'false'
              "
            >
              {{ item }}</span
            >
            CNY
          </p>
          <p class="init_color">手续费：20 USD</p>
        </div>
        <div class="one center">
          <p>USD/CNY</p>
          <img :src="hc_icon" alt="" />
        </div>
        <div class="one last">
          <p>
            1 USD =
            <span
              v-for="(item, key) in num1.toString().split('')"
              :key="key"
              :class="
                item == '.'
                  ? key == num1.toString().split('').length - 1
                    ? 'last true'
                    : 'true'
                  : key == num1.toString().split('').length - 1
                  ? 'last false'
                  : 'false'
              "
            >
              {{ item }}</span
            >
            CNY
          </p>
          <p class="init_color">手续费：20 USD</p>
        </div>
      </div>
    </div>
    <div class="center-top">
      <div class="banxin ct-top">
        <article>
          <div
            :class="select_num == 1 ? 'art-item active' : 'art-item '"
            @mouseenter="select_num = 1"
          >
            <p>高效便捷</p>
            <p class="ping">Efficient and convenient</p>
          </div>
          <div
            :class="select_num == 2 ? 'art-item active' : 'art-item '"
            @mouseenter="select_num = 2"
          >
            <p>安全保障</p>
            <p class="ping">Safety guarantee</p>
          </div>
          <div
            :class="select_num == 3 ? 'art-item active' : 'art-item '"
            @mouseenter="select_num = 3"
          >
            <p>操作简单</p>
            <p class="ping">Simple operation</p>
          </div>
        </article>
        <img
          class="animated sel pulse"
          v-show="select_num == 1"
          :src="select[select_num]"
          alt=""
        />
        <img
          class="animated sel pulse"
          v-show="select_num == 2"
          :src="select[select_num]"
          alt=""
        />
        <img
          class="animated sel pulse"
          v-show="select_num == 3"
          :src="select[select_num]"
          alt=""
        />
        <img :src="gift[2]" alt="" class="gift" />
      </div>
    </div>
    <div class="center-bottom">
      <div class="banxin service">
        <div class="title-service">
          <h3>我们的服务</h3>
          <p>Our services</p>
          <img class="first" :src="gift[1]" alt="" />
        </div>
        <div class="service-box">
          <div class="service-item">
            汇款不成功，金额原路退回
            <div class="border"></div>
            <div class="num">01</div>
          </div>
          <div class="service-item">
            交易过程全程进行担保
            <div class="border"></div>
            <div class="num">02</div>
          </div>
          <div class="service-item">
            订单进度实时跟踪，过程清晰透明
            <div class="border"></div>
            <div class="num">03</div>
          </div>
          <div class="service-item">
            支持线上转账+银行卡转账
            <div class="border"></div>
            <div class="num">04</div>
          </div>
          <div class="service-item">
            支持国内500+银行卡收款
            <div class="border"></div>
            <div class="num">05</div>
          </div>
        </div>
        <div class="title-service last">
          <h3>合法合规</h3>
          <p>Legal compliance</p>
          <img class="last" :src="gift[3]" alt="" />
        </div>
      </div>
    </div>
    <div class="bottom-logo">
      <div class="banxin">
        <div class="btm-log">
          <div class="btm-item">
            <img :src="ms[2]" alt="" />
            <div class="text">
              <h3>美国政府MSB牌照</h3>
              <p>由美国财政部机构金融犯罪执法局颁发的金钱服务业务许可。</p>
            </div>
          </div>
          <div class="btm-item">
            <img :src="ms[1]" alt="" />
            <div class="text">
              <h3>香港海关MSO牌照</h3>
              <p>由香港海关总署颁发的货币兑换服务或汇款服务经营者合规牌照。</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      cn_bank: require("../../assets/images/layout/chinese_bank.png"),
      uc_icon: require("../../assets/images/layout/c-u.png"),
      hc_icon: require("../../assets/images/layout/h-c.png"),
      user_icon: require("../../assets/images/layout/user.png"),
      card_icon: require("../../assets/images/layout/card.png"),
      step01: require("../../assets/images/logo/step01.png"),
      step02: require("../../assets/images/logo/step02.png"),
      step03: require("../../assets/images/logo/step03.png"),
      step04: require("../../assets/images/logo/step04.png"),
      select: {
        1: require("../../assets/images/logo/select01.png"),
        2: require("../../assets/images/logo/select02.png"),
        3: require("../../assets/images/logo/select03.png")
      },
      ms: {
        1: require("../../assets/images/logo/msb.png"),
        2: require("../../assets/images/logo/mso.png")
      },
      gift: {
        1: require("../../assets/images/logo/gift01.png"),
        2: require("../../assets/images/logo/gift02.png"),
        3: require("../../assets/images/logo/gift03.png")
      },
      num1: 7.777,
      select_num: 1
    };
  },
  mounted() {
    // const elements =  [...document.querySelectorAll('#logo-page div')]
    // elements.map(element => {
    //     element.classList.add('animated delay-2s','pluse')
    // })
  }
};
</script>
<style lang="scss">
#logo-page {
  padding-top: 50px;
  // margin-bottom: 30px;
  width: inherit;
  background: aquamarine;
  .head {
    margin-top: 80px;
    margin-bottom: 30px;
    h2 {
      font-size: 36px;
      font-weight: 800;
      line-height: 50px;
      color: rgba(255, 255, 255, 1);
    }
    h3 {
      font-size: 30px;
      font-weight: 400;
      line-height: 42px;
      color: rgba(255, 255, 255, 1);
    }
    p {
      font-size: 16px;
      font-weight: 400;
      line-height: 22px;
      color: rgba(255, 255, 255, 1);
    }
  }
  .step-logo {
    height: 250px;
    background: rgba(9, 16, 89, 0.3);
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 0px 60px;
    position: relative;
    overflow: hidden;
    &:after {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      background: rgba(9, 16, 89, 1);
      filter: blur(23px) opacity(0.5);
      // filter: url('../../assets/images/logo/filter.svg#blur');
      z-index: 2;
      margin: -1px;
      padding: 1px;
    }
    div.box-log {
      display: flex;
      justify-content: space-between;
      align-items: center;
      box-sizing: border-box;
      padding: 0px 60px;
      position: relative;
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0px;
      top: 0px;
      z-index: 5;
      .item {
        img {
          // width: 180px;
          // height: 125px;
          width: 200px;
          height: 130px;
          margin-bottom: 10px;
        }
        p {
          font-size: 16px;
          font-weight: 400;
          line-height: 22px;
          color: rgba(255, 255, 255, 1);
        }
      }
      .border {
        width: 1px;
        height: 120px;
        // background: rgba(144,153,198,1);
      }
    }
  }
  .top-logo {
    box-sizing: border-box;
    margin-top: 46px;
    // margin-bottom: 30px;
    &.banxin {
      height: 500px;
    }
    .remit_b_header {
      display: flex;
      justify-content: space-between;
      height: 40px;
      // background:rgba(14,23,51,1);
      background: linear-gradient(
        90deg,
        rgba(57, 169, 255, 1) 0%,
        rgba(21, 79, 180, 1) 100%
      );
      box-sizing: border-box;
      padding: 0px 40px;
      .one {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        p {
          color: var(--font-color03);
          font-weight: var(--font-weight-800);
        }
        &.center {
          justify-content: center;
          flex: 2;
        }
      }
    }
    .remit_b_body {
      padding: 0px 40px;
      // background: rgba(#0E1733,.8);
      background: rgba(19, 36, 111, 0.9);
      height: 120px;
      display: flex;
      justify-content: space-between;
      .one {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        p {
          color: var(--font-color03);
          display: flex;
          align-items: center;
          span {
            color: var(--font-color04);
            display: flex;
            width: 30px;
            height: 35px;
            background: var(--font-color03);
            border-radius: 3px;
            margin-left: 5px;
            align-items: center;
            justify-content: center;
            &.true {
              background: none;
              font-weight: 800;
              color: var(--font-color03);
              width: 0px;
            }
            &.last {
              margin-right: 5px;
            }
          }
          &.init_color {
            color: var(--font-color01);
            margin-top: 7px;
          }
        }
        &.center {
          // justify-content: center;
          align-items: center;
          flex: 2;
          img {
            margin-top: 7px;
          }
        }
      }
      &.bottom {
        // border-bottom: 1px solid var(--font-color16);
        background: linear-gradient(
            to left,
            rgba(19, 36, 111, 0.9) 0%,
            rgba(19, 36, 111, 0.9) 5%,
            rgba(19, 36, 111, 0.9) 5.01%,
            #9099c6 5.02%,
            #9099c6 80%,
            #9099c6 96.95%,
            rgba(19, 36, 111, 0.9) 97%,
            rgba(19, 36, 111, 0.9) 97.01% rgba(19, 36, 111, 0.9) 100%
          )
          left bottom rgba(19, 36, 111, 0.9) no-repeat;
        background-size: 100% 1px;
      }
    }
  }
  .center-top {
    height: 540px;
    display: flex;
    align-items: center;
    position: relative;
    margin-top: 120px;
    .ct-top {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      article {
        width: 300px;
        text-align: left;
        .art-item {
          cursor: pointer;
          position: relative;
          display: flex;
          flex-direction: column;
          justify-content: center;
          transition: all 0.3s ease-in-out;
          p {
            font-size: 20px;
            font-weight: 400;
            line-height: 28px;
            color: rgba(144, 153, 198, 1);
            transition: all 0.3s ease-in-out;
            text-align: left;
            &.ping {
              visibility: hidden;
              height: 0px;
              width: auto;
              // display: none;
            }
            &::after {
              content: "";
              transition: all 0.3s ease-in-out;
              position: absolute;
              width: 0px;
              left: 0px;
            }
          }
          &.active,
          &:hover {
            p {
              font-size: 30px;
              font-weight: 800;
              line-height: 42px;
              color: rgba(255, 255, 255, 1);
              &.ping {
                visibility: visible;
                font-size: 20px;
                line-height: 28px;
                height: 28px;
                width: auto;
                // display: flex;
              }
            }
            &::after {
              content: "";
              position: absolute;
              bottom: -10px;
              width: 150px;
              height: 10px;
              background: linear-gradient(
                90deg,
                rgba(57, 169, 255, 1) 0%,
                rgba(21, 79, 180, 1) 100%
              );
              transition: all 0.3s ease-in-out;
            }
          }
          &:nth-child(2) {
            margin: 40px 0px;
          }
        }
      }
      img {
        width: 90px;
        height: 135px;
        &.sel {
          width: 670px;
          height: 480px;
          transition: all 0.3s ease-in-out;
        }
        &.gift {
          margin-bottom: 90px;
        }
      }
    }
    &::before {
      content: "";
      position: absolute;
      width: 660px;
      height: 480px;
      background: linear-gradient(
        90deg,
        rgba(34, 53, 143, 1) 0%,
        rgba(34, 53, 143, 1) 37%,
        rgba(66, 110, 219, 1) 100%
      );
      opacity: 1;
      border-radius: 0px 295px 336px 0px;
    }
  }
  .center-bottom {
    height: 1530px;
    background-image: url("../../assets/images/logo/center.png");
    background-repeat: no-repeat;
    background-size: 100% 100%; //cover
    .service {
      height: inherit;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      .title-service {
        text-align: left;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-end;
        position: relative;
        height: 500px;
        &.last {
          padding-bottom: 100px;
          box-sizing: border-box;
        }
        h3 {
          font-size: 36px;
          font-weight: 800;
          line-height: 50px;
          color: rgba(255, 255, 255, 1);
          //    -webkit-text-fill-color:transparent;
          // -webkit-text-stroke:1px #000;
        }
        p {
          font-size: 60px;
          // font-weight:800;
          line-height: 70px;
          -webkit-text-stroke: 0.5px #9099c6;
          // -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
        img {
          position: absolute;
          &.first {
            left: -190px;
            top: 130px;
            width: 150px;
            height: 230px;
          }
          &.last {
            width: 350px;
            height: 310px;
            right: 0px;
            top: 140px;
          }
        }
      }
      .service-box {
        display: flex;
        height: 310px;
        box-sizing: border-box;
        align-items: flex-end;
        .service-item {
          width: 220px;
          height: 80px;
          background: rgba(255, 255, 255, 1);
          box-shadow: 0px 3px 6px rgba(33, 50, 140, 0.3);
          border-radius: 3px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
          color: rgba(53, 87, 188, 1);
          margin-right: 25px;
          position: relative;
          &:nth-last-child(1) {
            margin-right: 0px;
          }
          .border {
            position: absolute;
            left: 50%;
            width: 0px;
            bottom: 80px;
            border-left: 2px dashed rgba(144, 153, 198, 1);
            // position: relative;
            &::before {
              content: "";
              position: absolute;
              width: 30px;
              height: 30px;
              background: rgba(255, 255, 255, 0.5);
              border-radius: 50%;
              top: -37px;
              top: -32px;
              left: -15px;
            }
            &::after {
              content: "";
              position: absolute;
              width: 20px;
              height: 20px;
              background: rgba(255, 255, 255, 1);
              border-radius: 50%;
              top: -32px;
              top: -27px;
              left: -10px;
            }
          }
          .num {
            position: absolute;
            color: #39a9ff;
            top: -20px;
            left: 15px;
            font-size: 30px;
            font-weight: 800;
            line-height: 36px;
          }
          &:nth-child(1) {
            .border {
              height: 113px;
            }
          }
          &:nth-child(2) {
            .border {
              height: 121px;
            }
          }
          &:nth-child(3) {
            .border {
              height: 131px;
            }
          }
          &:nth-child(4) {
            .border {
              height: 234px;
            }
          }
          &:nth-child(5) {
            .border {
              height: 544px;
            }
          }
        }
      }
    }
  }
  .bottom-logo {
    height: 210px;
    position: relative;
    .banxin {
      position: relative;
    }
    .btm-log {
      width: inherit;
      display: flex;
      justify-content: space-between;
      position: relative;
      position: absolute;
      top: -100px;
      .btm-item {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        align-items: center;
        img {
          width: 150px;
          height: 200px;
        }
        .text {
          width: 320px;
          margin-left: 25px;
          text-align: left;
          h3 {
            font-size: 20px;
            font-weight: 400;
            line-height: 36px;
            color: rgba(255, 255, 255, 1);
          }
          p {
            font-size: 16px;
            font-weight: 400;
            line-height: 32px;
            color: rgba(144, 153, 198, 1);
          }
        }
      }
    }
  }
}
</style>
