<template>
  <div class="logo-page">
    <div class="logo-top">
      <ImgCom
        class="img-bg"
        :src="
          require('../../assets/images/logo/5-20-2020/logo-top-sm.' + imgType)
        "
        :srcReal="
          require('../../assets/images/logo/5-20-2020/logo-top-normal.' +
            imgType)
        "
      />
      <h3>{{ $t("logo.title") }}</h3>
      <p>{{ $t("logo.all_p") }}</p>
      <div class="input-box">
        <div class="box-one">
          <label for="want">{{ $t("logo.want") }}</label>
          <div class="sel">
            <input
              type="text"
              id="want"
              :placeholder="$t('logo.want')"
              v-model="legal_num"
              @focus="getInputFocus('legal')"
            />
            <div class="select">
              <span>{{
                legalArr.length > 0
                  ? legalArr.filter(item => item.id == legal)[0].coinName
                  : ""
              }}</span>
              <div class="icon" ref="icon1" @click="legal_show = !legal_show">
                <img
                  :class="legal_show ? 'active' : ''"
                  src="../../assets/images/logo/sele.png"
                  alt=""
                />
              </div>
              <div class="select-ul">
                <ul :class="legal_show ? 'gundong2 les' : 'gundong2'">
                  <li
                    v-for="(item, key) in legalArr"
                    :key="key"
                    @click="
                      legal = item.id;
                      legal_show = false;
                    "
                    :class="item.id == legal ? 'active' : ''"
                  >
                    {{ item.coinName }}
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="box-one">
          <label for="get">{{ $t("logo.get") }}</label>
          <div class="sel">
            <input
              type="text"
              id="get"
              :placeholder="$t('logo.get')"
              v-model="qtc_num"
              @focus="getInputFocus('qtc')"
            />
            <div class="select">
              <span>{{
                qtcArr.length > 0
                  ? qtcArr
                      .filter(item => item.id == qtc)[0]
                      .abbreviation.toUpperCase()
                  : ""
              }}</span>
              <div class="icon" ref="icon2" @click="qtc_show = !qtc_show">
                <img
                  :class="qtc_show ? 'active' : ''"
                  src="../../assets/images/logo/sele.png"
                  alt=""
                />
              </div>
              <div class="select-ul">
                <ul :class="qtc_show ? 'gundong2 les' : 'gundong2'">
                  <li
                    v-for="(item, key) in qtcArr"
                    :key="key"
                    @click="
                      qtc = item.id;
                      qtc_show = false;
                    "
                    :class="item.id == qtc ? 'active' : ''"
                  >
                    {{ item.abbreviation.toUpperCase() }}
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="btn">
        <button @click="goTrade">
          <img src="../../assets/images/logo/5-20-2020/zu 200@2x.png" alt="" />
          {{ $t("logo.button") }}
        </button>
      </div>
    </div>
    <div class="pw-way-list">
      <template v-for="(item, index) in json">
        <div class="item-list" :key="index">
          <div class="top">
            <img :src="item.src" alt="" />
            <h3>{{ item.name ? $t(item.name + "") : "" }}</h3>
          </div>
          <p>{{ $t(item.info) }}</p>
        </div>
      </template>
    </div>
    <div class="logo-pw">
      <div class="header-pw">
        <img src="../../assets/images/logo/5-20-2020/way.jpg" alt="" />
        <h3>{{ $t("logo.mult_way") }}</h3>
      </div>
      <p class="text">{{ $t("logo.item2_p1") }}{{ $t("logo.item2_p2") }}</p>
      <div class="pw-box">
        <div class="pw-item">
          <ImgCom
            :src="
              require('../../assets/images/logo/5-20-2020/zu 190@2x.' + imgType)
            "
            :srcReal="
              require('../../assets/images/logo/5-20-2020/zu 190@2x.' + imgType)
            "
          />
          <h3>{{ $t("logo.arrh1") }}</h3>
          <p>{{ $t("logo.arrp1") }}</p>
        </div>
        <div class="pw-item">
          <ImgCom
            :src="
              require('../../assets/images/logo/5-20-2020/zu 191@2x-sm.' +
                imgType)
            "
            :srcReal="
              require('../../assets/images/logo/5-20-2020/zu 191@2x.' + imgType)
            "
          />
          <h3>{{ $t("logo.arrh2") }}</h3>
          <p>{{ $t("logo.arrp2") }}</p>
        </div>
        <div class="pw-item">
          <ImgCom
            :src="
              require('../../assets/images/logo/5-20-2020/zu 192@2x.' + imgType)
            "
            :srcReal="
              require('../../assets/images/logo/5-20-2020/zu 192@2x-normal.' +
                imgType)
            "
          />
          <h3>{{ $t("logo.arrh3") }}</h3>
          <p>{{ $t("logo.arrp3") }}</p>
        </div>
      </div>
    </div>
    <div class="logo-net">
      <div class="left-net">
        <ImgCom
          :class="net == 1 ? 'active' : 'none'"
          :src="
            require('../../assets/images/logo/5-20-2020/zu 875@2x-sm.' +
              imgType)
          "
          :srcReal="
            require('../../assets/images/logo/5-20-2020/zu 875@2x.' + imgType)
          "
        />
        <ImgCom
          :class="net == 2 ? 'active' : 'none'"
          :src="
            require('../../assets/images/logo/5-20-2020/zu 872@2x-sm.' +
              imgType)
          "
          :srcReal="
            require('../../assets/images/logo/5-20-2020/zu 872@2x.' + imgType)
          "
        />
        <ImgCom
          :class="net == 3 ? 'active' : 'none'"
          :src="
            require('../../assets/images/logo/5-20-2020/zu 883@2x-sm.' +
              imgType)
          "
          :srcReal="
            require('../../assets/images/logo/5-20-2020/zu 883@2x.' + imgType)
          "
        />
      </div>
      <div class="right-net">
        <div
          class="net-item"
          :class="net == 1 ? 'active' : 'none'"
          @mouseenter="net = 1"
        >
          <div class="border"></div>
          <h3>{{ $t("logo.item3_it1_h") }}</h3>
          <p>
            {{ $t("logo.item3_it1_p") }}
          </p>
        </div>
        <div
          class="net-item"
          :class="net == 2 ? 'active' : 'none'"
          @mouseenter="net = 2"
        >
          <div class="border"></div>
          <h3>{{ $t("logo.item3_it2_h") }}</h3>
          <p>
            {{ $t("logo.item3_it2_p") }}
          </p>
        </div>
        <div
          class="net-item"
          :class="net == 3 ? 'active' : 'none'"
          @mouseenter="net = 3"
        >
          <div class="border"></div>
          <h3>{{ $t("logo.item3_it3_h") }}</h3>
          <p>
            {{ $t("logo.item3_it3_p") }}
          </p>
          <!-- <button>{{ $t("logo.item3_it3_de") }}</button> -->
        </div>
      </div>
    </div>
    <div class="logo-safe">
      <div class="header-pw">
        <img src="../../assets/images/logo/5-20-2020/way.jpg" alt="" />
        <h3>{{ $t("logo.item4_title") }}</h3>
      </div>
      <div class="point">
        <div class="point-item">
          <div class="point-inner"></div>
          <div class="card">
            <img
              src="../../assets/images/logo/5-20-2020/zu 159@2x.png"
              alt=""
            />
            <h3>{{ $t("logo.item4_it1_h") }}</h3>
            <p>{{ $t("logo.item4_it1_p") }}</p>
          </div>
        </div>
        <div class="point-item">
          <div class="point-inner"></div>
          <div class="card">
            <img
              src="../../assets/images/logo/5-20-2020/zu 156@2x.png"
              alt=""
            />
            <h3>{{ $t("logo.item4_it2_h") }}</h3>
            <p>{{ $t("logo.item4_it2_p") }}</p>
          </div>
        </div>
        <div class="point-item" :class="$i18n.locale">
          <div class="point-inner"></div>
          <div class="card">
            <img
              src="../../assets/images/logo/5-20-2020/zu 158@2x.png"
              alt=""
            />
            <h3>{{ $t("logo.item4_it4_h") }}</h3>
            <p>{{ $t("logo.item4_it4_p") }}</p>
          </div>
        </div>
        <div class="point-item" :class="$i18n.locale">
          <div class="point-inner"></div>
          <div class="card">
            <img
              src="../../assets/images/logo/5-20-2020/zu 157@2x.png"
              alt=""
            />
            <h3>{{ $t("logo.item4_it3_h") }}</h3>
            <p>{{ $t("logo.item4_it3_p") }}</p>
          </div>
        </div>
        <div class="point-item">
          <div class="point-inner"></div>
          <div class="card">
            <img
              src="../../assets/images/logo/5-20-2020/zu 155@2x.png"
              alt=""
            />
            <h3>{{ $t("logo.item4_it5_h") }}</h3>
            <p>{{ $t("logo.item4_it5_p") }}</p>
          </div>
        </div>
      </div>
      <ImgCom
        class="bg"
        :src="require('../../assets/images/logo/5-20-2020/2@2x-sm.' + imgType)"
        :srcReal="require('../../assets/images/logo/5-20-2020/2@2x.' + imgType)"
      />
    </div>
    <div class="logo-bottom">
      <div class="logo-btm-item">
        <div class="logo-item-box">
          <div class="item">
            <img src="../../assets/images/logo/5-20-2020/safe01.png" alt="" />
            <p>{{ $t("logo.item5_it4") }}</p>
          </div>
          <div class="item">
            <img src="../../assets/images/logo/5-20-2020/safe02.png" alt="" />
            <p>{{ $t("logo.item5_it6") }}</p>
          </div>
          <div class="item">
            <img src="../../assets/images/logo/5-20-2020/safe03.png" alt="" />
            <p>{{ $t("logo.item5_it3") }}</p>
          </div>
          <div class="item">
            <img src="../../assets/images/logo/5-20-2020/safe04.png" alt="" />
            <p>{{ $t("logo.item5_it1") }}</p>
          </div>
          <div class="item">
            <img src="../../assets/images/logo/5-20-2020/safe05.png" alt="" />
            <p>{{ $t("logo.item5_it5") }}</p>
          </div>
        </div>
      </div>
      <div class="logo-btm-time">
        <p>{{ $t("logo.serve_time") }}：{{ date }}</p>
        <p>Ritzbiz.net {{ $t("logo.own") }}©{{ new Date().getFullYear() }}</p>
      </div>
    </div>
  </div>
</template>
<script>
import ImgCom from "../../components/Img.vue";
import { supportsWebp } from "../../utils/index";
import json from "./pwList";
import { priceCalc, queryTradeCoin, queryLegalTradeCoin } from "../../api/logo";
export default {
  components: {
    ImgCom
  },
  data() {
    return {
      imgType: "webp",
      net: 1,
      date: "",

      legal_num: null,
      qtc_num: null,
      canPrice: null,
      qtc: "",
      legal: "",
      qtcArr: [],
      legalArr: [],
      legal_show: false,
      qtc_show: false,
      observer: null
    };
  },
  beforeCreate() {
    this.json = json;
    supportsWebp()
      .then(r => {
        if (!r) {
          this.imgType = "png";
        } else {
          this.imgType = "webp";
        }
      })
      .catch(res => {
        console.log(res);
      });
  },
  mounted() {
    this.intervalTime();
    this.initQtc();
    setTimeout(() => {
      this.initLegal();
      this.legal_num = 100;
    }, 1000);
  },
  watch: {
    legal_num(n) {
      // console.log(n);
      if (this.canPrice != "legal" || n == null) {
        return false;
      }
      if (this.legalArr.length > 0) {
        let name = this.legalArr.filter(item => item.id == this.legal)[0]
          .coinName;
        let name2 = this.qtcArr.filter(item => item.id == this.qtc)[0]
          .abbreviation;
        let item = {
          amount: n, //输入金额
          inputCoinType: 0, //输入类型  0计算交易币种数量（填了左边），1计算法币金额（填了右边）
          legalTenderCoinName: name, //法币名称
          tradeCoinName: name2 //交易币种
        };
        this.initPrice(item);
      }
    },
    qtc_num(n) {
      if (this.canPrice != "qtc" || n == null) {
        return false;
      }
      if (this.legalArr.length > 0) {
        let name = this.legalArr.filter(item => item.id == this.legal)[0]
          .coinName;
        let name2 = this.qtcArr.filter(item => item.id == this.qtc)[0]
          .abbreviation;
        let item = {
          amount: n, //输入金额
          inputCoinType: 1, //输入类型  0计算交易币种数量（填了左边），1计算法币金额（填了右边）
          legalTenderCoinName: name, //法币名称
          tradeCoinName: name2 //交易币种
        };
        this.initPrice(item);
      }
    },
    legal(n) {
      if (this.legalArr.length > 0 && this.qtcArr.length > 0) {
        let name = this.legalArr.filter(item => item.id == n)[0].coinName;
        let name2 = this.qtcArr.filter(item => item.id == this.qtc)[0]
          .abbreviation;
        let item = {
          amount: this.legal_num, //输入金额
          inputCoinType: 0, //输入类型  0计算交易币种数量（填了左边），1计算法币金额（填了右边）
          legalTenderCoinName: name, //法币名称
          tradeCoinName: name2 //交易币种
        };
        this.initPrice(item);
      }
    },
    qtc(n) {
      if (this.qtc_num == null || this.qtc_num == "") {
        return false;
      }
      if (this.legalArr.length > 0 && this.qtcArr.length > 0) {
        let name = this.legalArr.filter(item => item.id == this.legal)[0]
          .coinName;
        let name2 = this.qtcArr.filter(item => item.id == n)[0].abbreviation;
        let item = {
          amount: this.qtc_num, //输入金额
          inputCoinType: 1, //输入类型  0计算交易币种数量（填了左边），1计算法币金额（填了右边）
          legalTenderCoinName: name, //法币名称
          tradeCoinName: name2 //交易币种
        };
        this.initPrice(item);
      }
    }
  },
  methods: {
    goTrade() {
      this.$router.push("/trade");
    },
    initQtc() {
      queryTradeCoin().then(res => {
        if (res.code == 200) {
          this.qtcArr = res.data;
          this.qtc = res.data[0].id;
        }
      });
    },
    initLegal() {
      queryLegalTradeCoin().then(res => {
        if (res.code == 200) {
          this.legalArr = res.data;
          this.legal = res.data[0].id;
        }
      });
    },
    intervalTime() {
      let time = setTimeout(() => {
        this.date = new Date().toUTCString().replace("GMT", "UTC  +0");
        clearTimeout(time);
        this.intervalTime();
      }, 1000);
    },
    getInputFocus(str) {
      console.log(str);
      this.canPrice = str;
    },
    initPrice(item) {
      priceCalc(item).then(res => {
        if (item.inputCoinType == 1) {
          this.legal_num = res.data.legalTenderCoinAmount;
        } else {
          this.qtc_num = res.data.tradeCoinAmount;
        }
      });
    }
  }
};
</script>
<style lang="scss" scoped>
.logo-page {
  color: #fff;
  .logo-top {
    height: 611px;
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    img.img-bg {
      width: 100%;
      left: 0px;
      top: 0px;
      height: 611px;
      position: absolute;
      z-index: -1;
    }
    h3 {
      font-size: 30px;
      font-weight: 800;
      margin-bottom: 20px;
      line-height: 42px;
    }
    p {
      font-size: 14px;
      line-height: 22px;
    }
    .input-box {
      margin: 0 auto;
      width: 1300px;
      height: 200px;
      border: var(--borderWidth) solid var(--borderColor);
      background: var(--bgSet);
      box-shadow: 0px 0px 99px var(--shadowColor);
      opacity: 1;
      border-radius: var(--raduis);
      display: flex;
      box-sizing: border-box;
      .input-one {
        flex: 1;
        &:nth-child(odd) {
          border-right: var(--borderWidth) solid var(--borderColor);
        }
      }
      margin-bottom: 50px;
      margin-top: 26px;
      .box-one {
        flex: 1;
        // height: inherit;
        display: flex;
        flex-direction: column;
        justify-content: center;
        box-sizing: border-box;
        padding: 30px 40px 30px 80px;
        align-items: flex-start;
        label {
          font-size: 16px;
          font-weight: 400;
          line-height: 22px;
          color: rgba(63, 199, 95, 1);
        }
        .sel {
          margin-top: 30px;
          // height: 42px;
          display: flex;
          width: 100%;
          font-size: 30px;
          font-weight: 800;
          line-height: 42px;
          color: rgba(255, 255, 255, 1);
          input {
            height: inherit;
            background: none;
            color: #e6e6e6;
            // width: calc( 100% - 130px);
            flex: 1;
            margin-right: 5px;
            background: none !important;
            border: none !important;
            font-size: 30px;
            font-weight: 800;
            line-height: 42px;
            padding: 0px !important;
          }
          .select {
            // width: 130px;
            display: flex;
            align-items: center;
            position: relative;
            .icon {
              margin-left: 5px;
              width: 30px;
              height: 30px;
              background: rgba(255, 255, 255, 1);
              opacity: 1;
              border-radius: 3px;
              display: flex;
              justify-content: center;
              align-items: center;
              cursor: pointer;
              img {
                width: 15px;
                position: relative !important;
                transition: all 0.3s ease-in-out;
                &.active {
                  transform: rotateZ(-180deg);
                }
              }
            }
            .select-ul {
              position: absolute;
              right: 0px;
              top: 38px;

              ul {
                width: 130px;
                max-height: 0px;
                background: rgba(255, 255, 255, 1);
                box-shadow: 0px 0px 10px rgba(34, 45, 112, 0.5);
                opacity: 1;
                border-radius: 3px;
                overflow-y: auto;
                font-size: 20px;
                font-weight: 400;
                line-height: 28px;
                color: rgba(102, 102, 102, 1);
                visibility: hidden;
                transition: all 0.3s ease-in-out;
                li {
                  height: 40px;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  cursor: pointer;
                  &.active {
                    color: #3787fe;
                  }
                  &:hover {
                    background: #d7e7ff;
                  }
                }
                &.les {
                  width: 130px;
                  max-height: 170px;
                  background: rgba(255, 255, 255, 1);
                  box-shadow: 0px 0px 10px rgba(34, 45, 112, 0.5);
                  opacity: 1;
                  border-radius: 3px;
                  overflow-y: auto;
                  font-size: 20px;
                  font-weight: 400;
                  line-height: 28px;
                  color: rgba(102, 102, 102, 1);
                  visibility: visible;
                }
              }
            }
          }
        }
        &:nth-child(1) {
          border-right: 3px solid rgba(107, 139, 187, 1);
          label {
            font-size: 16px;
            font-weight: 400;
            line-height: 22px;
            color: rgba(230, 230, 230, 1);
          }
        }
      }
    }
    .btn {
      display: flex;
      justify-content: center;
      button {
        display: flex;
        justify-content: center;
        align-items: center;
        background: linear-gradient(
          180deg,
          rgba(55, 135, 254, 1) 0%,
          rgba(45, 91, 242, 1) 100%
        );
        img {
          width: 30px;
          height: 30px;
          margin-right: 10px;
        }
        width: 340px;
        height: 80px;
        // opacity: 1;
        border-radius: var(--raduis);
        border: 0px solid red;
        font-size: 20px;
        color: white;
        &.default {
          color: rgba(255, 255, 255, 1);
          // background: linear-gradient(
          //   180deg,
          //   rgba(55, 135, 254, 1) 0%,
          //   rgba(45, 91, 242, 1) 100%
          // );
          box-shadow: 0px 0px 10px rgba(34, 45, 112, 0.5);
        }
        &:hover {
          opacity: 1;
          background: linear-gradient(rgb(45, 91, 242), rgb(55, 135, 254));
        }
        &.rd-btn-disabled {
          color: #c3c3c3;
          background: #ececec;
          box-shadow: 0px 0px 10px rgba(34, 45, 112, 0.5);
        }
      }
    }
  }
  .pw-way-list {
    height: 120px;
    display: flex;
    .item-list {
      flex: 1;
      background: rgba(242, 242, 242, 1);
      &:not(:nth-last-child(1)) {
        border-right: 1px solid rgba(153, 153, 153, 0.2);
      }
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: flex-start;
      padding-left: 30px;
      .top {
        display: flex;
        justify-content: space-between;
        h3 {
          font-size: 18px;
          font-weight: 400;
          color: rgba(34, 34, 34, 1);
        }
        img {
          width: 25px;
          height: 20px;
          margin-right: 10px;
        }
      }
      p {
        font-size: 14px;
        color: rgba(153, 153, 153, 1);
        margin-top: 12px;
      }
    }
  }
  .logo-pw {
    color: var(--color-black);
    height: 570px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    box-sizing: border-box;
    p {
      color: var(--color-gray);
      &.text {
        margin-top: 20px;
        font-size: 16px;
        line-height: 32px;
      }
    }
    .header-pw {
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 25px;
        height: 30px;
        vertical-align: baseline;
        margin-right: 10px;
      }
      h3 {
        font-size: 30px;
        line-height: 42px;
        font-weight: 800;
      }
    }
    .pw-box {
      width: 1300px;
      height: 240px;
      margin: 0 auto;
      margin-top: 146px;
      display: flex;
      justify-content: space-between;
      .pw-item {
        width: 400px;
        height: 240px;
        background: rgba(242, 247, 254, 1);
        opacity: 1;
        border-radius: 5px 5px 0px 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        h3 {
          margin-bottom: 10px;
          font-size: 20px;
          line-height: 32px;
        }
        p {
          font-size: 16px;
          line-height: 32px;
        }
        img {
          position: absolute;
          width: 180px;
          height: 140px;
          top: -90px;
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }
  }
  .logo-net {
    height: 640px;
    background: rgba(40, 51, 121, 1);
    display: flex;
    justify-content: space-between;
    .left-net {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 0px;
        height: 0px;
        opacity: 0;
        @keyframes imgIn {
          0% {
            width: 0px;
            height: 0px;
            opacity: 0;
          }
          100% {
            width: 600px;
            height: 590px;
            opacity: 1;
          }
        }
        @keyframes imgOut {
          0% {
            width: 600px;
            height: 590px;
            opacity: 1;
          }
          100% {
            width: 0px;
            height: 0px;
            opacity: 0;
          }
        }
        &.active {
          opacity: 1;
          width: 600px;
          height: 590px;
          animation: imgIn 0.4s;
        }
        &.none {
          opacity: 0;
          width: 0px;
          height: 0px;
          animation: imgOut 0.3s;
        }
      }
    }
    .right-net {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .net-item {
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding-left: 60px;
        background: rgba(55, 135, 254, 0.2);
        position: relative;
        cursor: pointer;
        .border {
          position: absolute;
          left: 0px;
          top: 0px;
          width: 0px;
          height: 200px;
          background: rgba(55, 135, 254, 0);
        }
        &.none {
          .border {
            width: 0px;
            animation: widthFunOut 0.3s ease-out;
            background: rgba(55, 135, 254, 0.6);
          }
        }
        &.active {
          background: rgba(55, 135, 254, 0.6);
          .border {
            width: 20px;
            background: rgba(55, 135, 254, 1);
            animation: widthFun 0.4s ease-in;
          }
        }
        @keyframes widthFun {
          0% {
            width: 0px;
          }
          100% {
            width: 20px;
          }
        }
        @keyframes widthFunOut {
          0% {
            width: 20px;
          }
          100% {
            width: 0px;
          }
        }
        h3 {
          font-size: 24px;
          font-weight: 800;
          line-height: 33px;
          margin-bottom: 10px;
        }
        p {
          font-size: 14px;
          line-height: 32px;
          width: 600px;
          word-break: break-all;
          text-align: left;
        }
        button {
          width: 100px;
          height: 30px;
          background: rgba(255, 255, 255, 1);
          opacity: 1;
          border-radius: 17px;
          font-size: 16px;
          line-height: 24px;
          color: rgba(41, 60, 135, 1);
          margin-top: 8px;
        }
      }
    }
  }
  .logo-safe {
    // height: 622px;
    color: var(--color-black);
    // height: 570px;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    p {
      color: var(--color-gray);
      &.text {
        margin-top: 20px;
        font-size: 16px;
        line-height: 32px;
      }
    }
    .header-pw {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 80px;
      img {
        width: 25px;
        height: 30px;
        vertical-align: baseline;
        margin-right: 10px;
      }
      h3 {
        font-size: 30px;
        line-height: 42px;
        font-weight: 800;
      }
    }
    img {
      &.bg {
        height: 254px;
        width: 100%;
      }
    }
    .point {
      margin: 0 auto;
      // width: 1300px;
      width: 1160px;
      display: flex;
      justify-content: space-between;
      margin-bottom: -540px;
      .point-item {
        width: 94px;
        height: 25px;
        background: rgba(234, 241, 251, 1);
        border-radius: 50%;
        opacity: 0.8;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        cursor: pointer;
        .point-inner {
          width: 40px;
          height: 11px;
          background: rgba(213, 224, 243, 1);
          border-radius: 50%;
          opacity: 1;
        }
        .card {
          position: absolute;
          bottom: 0px;
          left: 0px;
          width: 240px;
          height: 268px;
          height: 289px;
          box-sizing: border-box;
          background: #fff;
          // box-shadow: 2px 2px 10px rgba(39, 50, 68, 0.25);
          box-shadow: 0px 0px 10px rgba(55, 135, 254, 0.2);
          filter: drop-shadow(0px 0px 10px rgba(55, 135, 254, 0.3));
          transition: all 0.3s ease-in-out;
          transform: translateX((-75px)) translateY(-30%);
          border-radius: 3px;
          padding: 29px;
          box-sizing: border-box;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          // align-items: center;
          img {
            width: 40px;
            height: 40px;
            margin: 0 auto;
            margin-bottom: 20px;
            margin-top: 11px;
          }
          h3 {
            font-size: 20px;
            font-weight: bold;
            line-height: 30px;
            margin-bottom: 15px;
          }
          p {
            font-size: 14px;
            line-height: 24px;
          }
          &::after {
            content: "";
            position: absolute;
            width: 0;
            left: 50%;
            -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
            height: 0;
            border-left: 32px solid transparent;
            border-right: 32px solid transparent;
            border-top: 27px solid #fff;
            bottom: -26px;
            border-radius: 1px;
          }
          &:hover {
            transform: translateX((-75px)) translateY(-40%);
            box-shadow: 2px 2px 40px rgba(55, 135, 254, 0.2);
          }
        }
        &.en {
          .card {
            h3 {
            }
            p {
              font-size: 12px;
              line-height: 15px;
            }
          }
        }
      }
    }
  }
  .logo-bottom {
    height: 268px;
    background: rgba(25, 34, 84, 1);
    box-sizing: border-box;
    .logo-btm-item {
      height: 100px;
      .logo-item-box {
        width: 1300px;
        margin: 0 auto;
        display: flex;
        height: inherit;
        justify-content: space-between;
        .item {
          width: 240px;
          height: inherit;
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          img {
            width: 60px;
            height: 70px;
            position: absolute;
            bottom: 70px;
            left: 90px;
            animation: transRl 1s forwards;
            &:hover {
              animation: transLr 1s forwards;
              // animation-fill-mode: forwards;
            }
          }
          p {
            margin-top: 10px;
          }
          @keyframes transLr {
            0% {
              transform: rotateY(0deg);
            }
            100% {
              transform: rotateY(180deg);
            }
          }
          @keyframes transRl {
            0% {
              transform: rotateY(180deg);
            }
            100% {
              transform: rotateY(0deg);
            }
          }
          p {
            font-size: 14px;
            line-height: 24px;
          }
        }
      }
    }
    .logo-btm-time {
      box-sizing: border-box;
      height: 168px;
      border-top: 1px solid rgba(112, 112, 112, 0.3);
      display: flex;
      flex-direction: column;
      justify-content: center;
      p {
        font-size: 16px;
        line-height: 24px;
        color: rgba(255, 255, 255, 1);
      }
    }
  }
}
</style>
