<template>
  <div class="cointer">
    <template v-for="(item, index) in data.infos">
      <div
        v-if="data.infos.length > 0 ? true : false"
        class="coin-item"
        :key="index"
      >
        <div class="coin-head">
          <div class="left-coin">
            <img
              class="large"
              :src="
                require('../../../assets/images/assets/' +
                  item.coinType +
                  '.png')
              "
              alt=""
            />
            <h3 class="normal">{{ item.coinType.toUpperCase() }}</h3>
          </div>
          <div class="right-coin">
            <div class="radio">
              <div
                class="one"
                :class="item.doType == 'cb' ? 'active' : ''"
                @click="showFun('cb', index)"
              >
                <img
                  class="sm"
                  src="../../../assets/images/assets/zu 520@2x.png"
                  alt=""
                />
                <p class="color-blue">{{ $t("asset_manage.deposit") }}</p>
              </div>
              <div
                class="one"
                :class="item.doType == 'tb' ? 'active' : ''"
                @click="showFun('tb', index)"
              >
                <img
                  class="sm"
                  src="../../../assets/images/assets/zu 518@2x.png"
                  alt=""
                />
                <p class="color-blue">{{ $t("asset_manage.withdraw") }}</p>
              </div>
              <div
                class="one"
                :class="item.doType == 'hb' ? 'active' : ''"
                @click="showFun('hb', index)"
              >
                <img
                  class="sm"
                  src="../../../assets/images/assets/zu 522@2x.png"
                  alt=""
                />
                <p class="color-blue">{{ $t("asset_manage.transfer") }}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="coin-body" :class="item.doType ? 'border' : ''">
          <div class="item-coin-body">
            <p class="normal">
              {{ $t("asset_manage.available") }}
              <span>({{ item.coinType.toUpperCase() }})</span>
            </p>
            <h3 class="middle2">{{ item.available }}</h3>
          </div>
          <div class="item-coin-body">
            <p class="normal">
              {{ $t("asset_manage.frozen") }}
              <span>({{ item.coinType.toUpperCase() }})</span>
            </p>
            <h3 class="middle2">{{ item.freeze }}</h3>
          </div>
          <div class="item-coin-body">
            <p class="normal">
              {{ $t("asset_manage.lump_sum") }}
              <span>({{ item.coinType.toUpperCase() }})</span>
            </p>
            <h3 class="middle2">{{ item.valuation }}</h3>
          </div>
        </div>
        <div v-if="item.doType" class="coin-do">
          <deposit
            v-if="item.doType == 'cb'"
            :coinTypeId="item.coinTypeId"
            :coinType="item.coinType"
          ></deposit>
          <withdraw
            v-if="item.doType == 'tb'"
            :coinTypeId="item.coinTypeId"
            :coinType="item.coinType"
          ></withdraw>
          <transfer
            v-if="item.doType == 'hb'"
            :coinTypeId="item.coinTypeId"
            :coinType="item.coinType"
            :available="item.available"
          ></transfer>
        </div>
      </div>
    </template>
    <template v-for="(item, index) in 3">
      <div
        v-if="data.infos.length == 0 && loading == true ? true : false"
        class="coin-item skt-loading"
        :key="index + 'key'"
      >
        <div class="coin-head">
          <div class="left-coin">
            <div class="img large skeleton"></div>
            <h3 class="normal skeleton"></h3>
          </div>
          <div class="right-coin">
            <div class="radio">
              <div
                class="one skeleton"
                :class="item.doType == 'cb' ? 'active' : ''"
                @click="showFun('cb', index)"
              >
                <div class="img sm"></div>
                <p class="color-blue">{{ $t("asset_manage.deposit") }}</p>
              </div>
              <div
                class="one skeleton"
                :class="item.doType == 'tb' ? 'active' : ''"
                @click="showFun('tb', index)"
              >
                <div class="img sm"></div>
                <p class="color-blue">{{ $t("asset_manage.withdraw") }}</p>
              </div>
              <div
                class="one skeleton"
                :class="item.doType == 'hb' ? 'active' : ''"
                @click="showFun('hb', index)"
              >
                <div class="img sm"></div>
                <p class="color-blue">{{ $t("asset_manage.transfer") }}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="coin-body">
          <div class="item-coin-body">
            <p class="normal skeleton">{{ $t("asset_manage.available") }}</p>
            <h3 class="middle2 skeleton"></h3>
          </div>
          <div class="item-coin-body">
            <p class="normal skeleton">{{ $t("asset_manage.frozen") }}</p>
            <h3 class="middle2 skeleton"></h3>
          </div>
          <div class="item-coin-body">
            <p class="normal skeleton">{{ $t("asset_manage.lump_sum") }}</p>
            <h3 class="middle2 skeleton"></h3>
          </div>
        </div>
      </div>
    </template>
    <div
      class="none-data"
      v-if="data.infos.length == 0 && loading == false ? true : false"
    >
      暂时没有数据
    </div>
    <!-- 触发检测权限弹窗 -->
    <modal ref="modal1">
      <div slot="body" class="Intercept" :class="$i18n.locale">
        <div class="info-item" v-show="object.fund == false ? true : false">
          <div class="left">
            <span>!</span>
            <p>{{ $t("infoAll.first_fund_pass") }}</p>
          </div>
          <router-link to="/fund-pass">{{ $t("infoAll.gset") }}</router-link>
        </div>
        <div class="info-item" v-show="object.idAuth == false ? true : false">
          <div class="left">
            <span>!</span>
            <p>{{ $t("infoAll.first_id_ver") }}</p>
          </div>
          <router-link to="/profile">{{
            $t("infoAll.verification")
          }}</router-link>
        </div>
        <div class="info-item" v-show="object.bind == false ? true : false">
          <div class="left">
            <span>!</span>
            <p>{{ $t("infoAll.first_auth") }}(1/3)</p>
          </div>
          <router-link to="/profile">{{ $t("infoAll.gbind") }}</router-link>
        </div>
      </div>
    </modal>
  </div>
</template>
<script>
import { getAssetsFun } from "../../../api/assets";
import Modal from "../../../components/Modal";
import { checkPermissions } from "../../../utils/index";
import { mapGetters } from "vuex";
import deposit from "./deposit";
import withdraw from "./withdraw";
import transfer from "./transfer";
export default {
  components: {
    Modal,
    deposit,
    withdraw,
    transfer
  },
  data() {
    return {
      data: {
        margin: 0,
        totalBtc: 0,
        totalUsd: 0,
        infos: []
      },
      object: {
        fund: true,
        idAuth: true,
        bind: true
      },
      loading: false
    };
  },
  computed: {
    ...mapGetters(["user"])
  },
  created() {
    this.initAssetsFun();
  },
  methods: {
    initAssetsFun() {
      this.loading = true;
      getAssetsFun().then(res => {
        if (res.code == 200) {
          this.data = res.data;
        } else {
          this.$Notification.failed("", res.message, 2000);
        }
        this.loading = false;
      });
    },
    async showFun(str, index) {
      let item = this.data.infos[index];
      if (str == item.doType) {
        item.doType = false;
      } else {
        this.data.infos.forEach(ele => {
          ele.doType = false;
        });
        if (str === "tb") {
          if (await this.toogleAdd()) {
            item.doType = str;
          }
        } else {
          item.doType = str;
        }
      }

      this.data.infos.splice(index, 1, item);
    },
    getStatus(n) {
      return !n.bind || !n.fund || !n.idAuth;
    },
    async toogleAdd() {
      let object = await checkPermissions({ type: "withdraw" }, this.user);
      this.object = Object.assign(this.object, object);
      // console.log(object);
      if (this.getStatus(object)) {
        this.$refs.modal1.show = true;
        return false;
      } else {
        return true;
      }
    }
  }
};
</script>
<style lang="scss" scoped>
.coin-item {
  width: 1300px;
  //   height: 200px;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 3px 10px rgba(55, 135, 254, 0.3);
  opacity: 1;
  border-radius: 3px;
  min-height: 200px;
  margin-top: 35px;
  &:hover {
    box-shadow: 0px 5px 25px rgba(55, 135, 254, 0.3);
  }
  &:not(:first-child) {
    margin-top: 40px;
  }
  h3 {
    color: var(--color-black);
    &.normal {
      font-size: 20px;
      line-height: 28px;
      font-weight: 800;
    }
    &.middle2 {
      font-size: 26px;
      line-height: 37px;
      font-weight: 800;
    }
    &.large {
      font-size: 30px;
      line-height: 42px;
      font-weight: 800;
    }
  }
  p {
    color: var(--color-black);
    &.color-blue {
      font-size: 16px;
      line-height: 22px;
      color: rgba(var(--font-color26), 1);
    }
    &.normal {
      font-size: 16px;
      line-height: 22px;
      color: rgba(var(--font-color29), 1);
    }
    &.blod {
      font-size: 26px;
      font-weight: 800;
      line-height: 37px;
    }
  }
  img {
    &.large {
      width: 40px;
      height: 40px;
    }
    &.middle2 {
      width: 25px;
      height: 25px;
    }
    &.sm {
      width: 20px;
      height: 20px;
    }
  }
  .coin-head {
    height: 65px;
    border-bottom: 1px solid var(--font-color14);
    box-sizing: border-box;
    padding: 13px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .left-coin {
      display: flex;
      align-items: center;
      img {
        margin-right: 5px;
      }
      div.img {
        margin-right: 5px;
        &.skeleton {
          width: 40px;
          height: 40px;
          border-radius: 50%;
        }
      }
      h3.skeleton {
        width: 100px;
        height: 32px;
      }
    }
    .right-coin {
      height: inherit;
      .radio {
        display: flex;
        height: inherit;
        justify-content: space-between;
        align-items: center;
        .one {
          height: inherit;
          cursor: pointer;
          padding: 0px 10px;
          box-sizing: border-box;
          display: flex;
          justify-content: center;
          align-items: center;
          &.skeleton {
            height: 30px;
          }
          img {
            margin-right: 5px;
          }
          &:not(:first-child) {
            margin-left: 5px;
          }
          &:hover {
            background: rgba(var(--font-color26), 0.1);
            border-radius: 5px;
            p.color-blue {
              // color: white;
            }
          }
          &.active {
            position: relative;
            &::after {
              content: "";
              position: absolute;
              bottom: 0px;
              left: 0px;
              width: 100%;
              height: 5px;
              border-radius: 20px;
              background: rgba(var(--font-color26), 1);
            }
          }
        }
      }
    }
  }
  .coin-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 30px 40px 35px 40px;
    &.border {
      border-bottom: 1px solid var(--font-color14);
    }
    .item-coin-body {
      flex: 1;
      text-align: left;
      p {
        &.skeleton {
          width: 100px;
        }
      }
      h3 {
        &.skeleton {
          margin-top: 5px;
          height: 50px;
          width: 300px;
        }
      }
    }
  }
  .coin-do {
    padding: 16px 40px 49px 40px;
    box-sizing: border-box;
  }
}
</style>
