<template>
  <!-- chognbi -->
  <div class="deposit skt-loading">
    <div class="chain" v-if="coinTypeId == '2'">
      <div class="left-with">
        <div class="name">
          {{ $t("asset_manage.lian_name") }}
        </div>
        <div class="item">
          <div class="check">
            <div
              class="check-one disabled"
              :class="chain == 'OMNI' ? 'active' : ''"
              @click="switchFun('OMNI', false)"
            >
              OMNI
              <img src="../../../assets/images/assets/zu 536@2x.png" alt="" />
            </div>
            <div
              class="check-one"
              :class="chain == 'ERC20' ? 'active' : ''"
              @click="switchFun('ERC20', true)"
            >
              ERC20
              <img src="../../../assets/images/assets/zu 536@2x.png" alt="" />
            </div>
          </div>
        </div>
      </div>
      <div class="right-with"></div>
    </div>
    <div class="addr">
      <div class="name">
        {{ $t("asset_manage.deposit_address") }}
      </div>
      <div class="check">
        <h3 v-if="address == ''" class="skeleton"></h3>
        <h3 v-else>{{ address }}</h3>
        <div class="btn" @click="copyFun">
          {{ $t("infoAll.copy") }}
        </div>
        <div class="see">
          <img
            class="icon"
            src="../../../assets/images/assets/zu 537@2x.png"
            alt=""
          />
          {{ $t("infoAll.qrcode") }}
          <div id="qrcode"></div>
        </div>
      </div>
    </div>
    <div class="tip">
      <div class="name name-list">
        {{ $t("asset_manage.dh") }}
      </div>
      <div class="p-list">
        <p>· {{ $t("asset_manage.dp1_usdt", { coinType: coinType }) }}</p>
        <p>· {{ $t("asset_manage.dp2_usdt") }}</p>
        <p>
          ·
          {{
            $t("asset_manage.dp3_usdt", {
              depositMinLimit: limit.depositMinLimit,
              coinType: coinType
            })
          }}
        </p>
        <p>· {{ $t("asset_manage.dp4_usdt") }}</p>
        <p>· {{ $t("asset_manage.dp5_usdt") }}</p>
        <div class="go-info">
          {{ $t("asset_manage.view") }}
          <router-link to="/record">{{
            $t("asset_manage.deposit_history")
          }}</router-link>
          {{ $t("asset_manage.deposit_status") }}
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { getdeposityAddressFun, getExtractLimitFun } from "../../../api/assets";
import { copyFun } from "../../../utils/index";
import QRCode from "qrcodejs2";
export default {
  props: {
    coinTypeId: {
      type: String,
      required: true
    },
    coinType: {
      type: String,
      required: true
    }
  },
  data() {
    return {
      chain: "ERC20",
      address: "",
      limit: {}
    };
  },
  created() {
    this.initAddressFun();
  },
  watch: {
    chain: {
      handler() {
        this.address = "";
        this.initAddressFun();
      }
    }
  },
  methods: {
    initAddressFun() {
      getdeposityAddressFun({
        coinTypeId:
          this.coinTypeId != "2"
            ? this.coinTypeId
            : this.chain == "OMNI"
            ? this.coinTypeId
            : 3
      }).then(res => {
        if (res.code == 200) {
          //   console.log(res.data);
          this.address = res.data.address;
          new QRCode(document.getElementById("qrcode"), {
            text: this.address,
            width: 80,
            height: 80,
            colorDark: "#000000",
            colorLight: "#ffffff",
            correctLevel: QRCode.CorrectLevel.H
          });
        } else {
          //
        }
      });
      getExtractLimitFun({
        coinTypeId:
          this.coinTypeId != "2"
            ? this.coinTypeId
            : this.chain == "OMNI"
            ? this.coinTypeId
            : 3
      }).then(res => {
        if (res.code == 200) {
          //   console.log(res.data);
          this.limit = res.data;
        } else {
          //
        }
      });
    },
    switchFun(str, canDo) {
      if (canDo) {
        this.chain = str;
      }
    },
    copyFun() {
      copyFun(this.address, this);
    }
  }
};
</script>
<style lang="scss" scoped>
.deposit {
  font-size: 16px;
  line-height: 22px;
  .tip,
  .addr,
  .chain {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .name {
      margin-right: 40px;
      font-size: 16px;
      color: var(--font-color05);
    }
    .check {
      display: flex;
      align-items: center;
      .check-one {
        padding: 14px 19px;
        border: 1px solid rgba(var(--font-color29), 1);
        border-radius: 4px;
        display: flex;
        justify-content: center;
        position: relative;
        align-items: center;
        box-sizing: border-box;
        cursor: pointer;
        img {
          display: none;
        }
        &:not(:first-child) {
          margin-left: 20px;
        }
        &.active {
          border: 1px solid rgba(var(--font-color26), 1);
          cursor: auto;
          color: rgba(var(--font-color26), 1);
          img {
            position: absolute;
            bottom: 0px;
            right: 0px;
            width: 15px;
            height: 15px;
            display: inline-block;
          }
        }
        &.disabled {
          cursor: not-allowed;
          // pointer-events: none;
        }
      }
      h3 {
        font-size: 20px;
        line-height: 28px;
        color: var(--color-black);
        margin: 23px 0px 27px 0px;
        &.skeleton {
          width: 360px;
          height: 28px;
        }
      }
      .btn {
        width: 60px;
        height: 30px;
        background: var(--font-color13);
        opacity: 1;
        border-radius: 102px;
        color: rgba(var(--font-color26), 1);
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        margin-left: 20px;
        margin-right: 22px;
        transition: all 0.3s ease-in-out;
        &:hover {
          background: rgba(var(--font-color26), 1);
          color: white;
        }
      }
      .see {
        color: rgba(var(--font-color26), 1);
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        img {
          &.icon {
            width: 15px;
            height: 15px;
          }
        }
        position: relative;
        #qrcode {
          position: absolute;
          right: -100px;
          bottom: 0px;
          border: 10px solid rgba(128, 128, 128, 0.2);
          border-radius: 5px;
          opacity: 0;
        }
        &:hover {
          #qrcode {
            position: absolute;
            right: -100px;
            bottom: 0px;
            border: 10px solid rgba(128, 128, 128, 0.2);
            border-radius: 5px;
            opacity: 1;
          }
        }
      }
    }
  }
  .chain {
    display: flex;
    justify-content: space-between;
    color: var(--font-color05);
    .left-with {
      flex: 1;
      margin-right: 56px;
      display: flex;
      align-items: center;
      .name {
        flex: 1;
        text-align: left;
      }
      .item {
        display: flex;
        width: 580px;
        justify-content: space-between;
        .info-box {
          background: #fbe4e4;
          border: 1px solid #ff3939;
          padding: 10px 15px;
          padding-right: 40px;
          border-radius: 7px;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          flex-wrap: wrap;
          position: relative;
          img {
            width: 20px;
            height: 20px;
            margin-right: 5px;
          }
          color: #ff3939;
          font-size: 16px;
          line-height: 22px;
          font-weight: 800;
          &::after {
            content: "";
            position: absolute;
            bottom: -20px;
            right: 20px;
            border: 10px solid transparent;
            border-top: 10px solid red;
          }
          &::before {
            content: "";
            position: absolute;
            z-index: 2;
            bottom: -18px;
            right: 21.5px;
            border: 9px solid transparent;
            border-top: 9px solid #fbe4e4;
          }
        }
      }
    }
    .right-with {
      width: 480px;
      font-size: 14px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
  .tip {
    align-items: flex-start;
    .name-list {
    }
    .p-list {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      color: #666666;
      p {
        text-align: left;
      }
      .go-info {
        margin-top: 10px;
        color: #666666;
        a {
          color: #3787fe !important;
        }
      }
    }
  }
}
</style>
