<template>
  <div class="transfer skt-loading">
    <ai-form ref="formItems" :model="formValidate" :rules="ruleValidate">
      <div class="left-box">
        <div class="one notop">
          <ai-form-item :label="$t('asset_manage.username')" prop="username">
            <ai-input
              class="selec_type_one light"
              v-model="formValidate.username"
              :placeholder="$t('asset_manage.t_placeholder_username')"
            />
          </ai-form-item>
        </div>
        <div class="one">
          <ai-form-item
            :label="$t('asset_manage.account')"
            prop="accountNumber"
          >
            <ai-input
              class="selec_type_one light"
              autocomplete="username"
              v-model="formValidate.accountNumber"
              :placeholder="$t('asset_manage.t_placeholder_account')"
            />
          </ai-form-item>
        </div>
        <div class="one">
          <ai-form-item
            :label="$t('asset_manage.cash_pass')"
            prop="payPassword"
          >
            <ai-input
              class="selec_type_one light"
              v-model="formValidate.payPassword"
              type="password"
              autocomplete="current-password"
              @keyup.enter.native="confirmFun"
              :placeholder="$t('asset_manage.t_placeholder_pass')"
            />
          </ai-form-item>
        </div>
      </div>
      <div class="right-box">
        <div class="one notop">
          <ai-form-item
            :label="$t('asset_manage.transfer_amount')"
            prop="amount"
          >
            <ai-input
              class="selec_type_one light"
              v-model="formValidate.amount"
              @keyup.enter.native="confirmFun"
              :placeholder="$t('asset_manage.t_placeholder_amount')"
            />
            <div class="title">{{ coinType && coinType.toUpperCase() }}</div>
          </ai-form-item>
        </div>
        <div class="one">
          <ai-form-item :label="$t('asset_manage.fee')" prop="fee">
            <ai-input
              class="selec_type_one light"
              v-model="formValidate.fee"
              :disabled="true"
            />
            <div class="title">{{ coinType && coinType.toUpperCase() }}</div>
          </ai-form-item>
        </div>
        <div class="btn one">
          <ai-form-item :label="''">
            <rd-button
              :loading="loading"
              :type="btnType"
              :callBack="confirmFun"
              >{{ $t("asset_manage.transfer") }}</rd-button
            >
          </ai-form-item>
        </div>
      </div>
    </ai-form>
  </div>
</template>
<script>
import AiForm from "../../../components/form";
import AiFormItem from "../../../components/form-item";
import AiInput from "../../../components/input";
import rdButton from "../../../components/button";
import { debounce } from "../../../utils/index";
import {
  getUserInfoFun,
  getUserTransferFeeFun,
  transferInnerFun
} from "../../../api/assets";
export default {
  components: {
    rdButton,
    AiForm,
    AiFormItem,
    AiInput
  },
  props: {
    coinTypeId: {
      type: String,
      required: true
    },
    coinType: {
      type: String,
      required: true
    },
    available: {
      type: [String, Number],
      required: true
    }
  },
  data() {
    return {
      loading: false,
      formValidate: {
        username: "",
        accountNumber: "",
        amount: "",
        fee: "",
        payPassword: ""
      },
      btnType: "cancel",
      ruleValidate: {
        username: [
          {
            required: true,
            message: this.$t("asset_manage.t_placeholder_username"),
            trigger: "blur"
          }
        ],
        accountNumber: [
          {
            required: true,
            message: this.$t("asset_manage.t_placeholder_account"),
            trigger: "blur"
          }
        ],
        amount: [
          {
            required: true,
            message: this.$t("asset_manage.t_placeholder_amount"),
            trigger: "blur"
          },
          {
            pattern: /(?:^[1-9]([0-9]+)?(?:\.[0-9]{1,2})?$)|(?:^(?:0){1}$)|(?:^[0-9]\.[0-9](?:[0-9])?$)/,
            message: this.$t("form.name_check")
          }
        ],
        payPassword: [
          {
            required: true,
            message: this.$t("asset_manage.input_cash_pass"),
            trigger: "blur"
          }
        ]
      }
    };
  },
  watch: {
    "formValidate.username": {
      handler(n) {
        this.formValidate.amount = "";
        this.formValidate.fee = "";
        if (n !== "") {
          this.nameAccountFun({
            username: n
          });
        }
        this.setBtnType();
      }
    },
    "formValidate.accountNumber": {
      handler(n) {
        this.formValidate.amount = "";
        this.formValidate.fee = "";
        if (n !== "") {
          this.nameAccountFun({
            accountNumber: n
          });
        }
        this.setBtnType();
      }
    },
    "formValidate.amount": {
      handler(n) {
        if (n !== "" && n != "0") {
          this.feeFun();
        }
        this.setBtnType();
      }
    },
    "formValidate.payPassword": {
      handler() {
        this.setBtnType();
      }
    }
  },
  created() {
    this.nameAccountFun = debounce(this.nameAccountFun, 500);
    this.feeFun = debounce(this.feeFun, 500);
  },
  methods: {
    setBtnType() {
      if (
        this.formValidate.username == "" ||
        this.formValidate.accountNumber == "" ||
        this.formValidate.amount == "" ||
        this.formValidate.payPassword == ""
      ) {
        this.btnType = "cancel";
      } else {
        this.btnType = "success2";
      }
    },
    nameAccountFun(item) {
      getUserInfoFun(item).then(res => {
        if (res.code == 200) {
          this.formValidate.username = res.data.username;
          this.formValidate.accountNumber = res.data.accountNumber;
        } else {
          if (Object.keys(item) == "username") {
            this.formValidate.accountNumber = "";
          } else {
            this.formValidate.username = "";
          }
          this.$Notification.failed("", res.message, 2000);
        }
      });
    },
    feeFun() {
      if (this.formValidate.username == "") {
        this.$Notification.failed(
          "",
          this.$t("asset_manage.t_placeholder_username"),
          3000
        );
        return false;
      }
      let item = {
        amount: this.formValidate.amount,
        coinTypeId: this.coinTypeId,
        toUsername: this.formValidate.username
      };
      getUserTransferFeeFun(item).then(res => {
        if (res.code == 200) {
          this.formValidate.fee = res.data.handingFee + "";
        } else {
          this.$Notification.failed("", res.message, 2000);
        }
      });
    },
    confirmFun() {
      this.$refs.formItems.validate().then(valid => {
        if (valid) {
          let item = {
            amount: this.formValidate.amount,
            coinTypeId: this.coinTypeId,
            payPassword: this.formValidate.payPassword,
            toAccount: this.formValidate.accountNumber,
            toUsername: this.formValidate.username
          };
          this.loading = true;
          transferInnerFun(item)
            .then(res => {
              if (res.code == 200) {
                //
                this.$Notification.success("", res.message, 2000);
              } else {
                this.$Notification.failed("", res.message, 2000);
              }
              this.loading = false;
            })
            .catch(() => {
              this.loading = false;
            });
        } else {
          //
        }
      });
    }
  }
};
</script>
<style lang="scss" scoped>
.transfer {
  font-size: 16px;
  line-height: 22px;
  display: flex;
  form {
    display: flex;
    // margin-right: 140px;
    .one {
      width: 580px;
      margin-top: 20px;
      &.notop {
        margin-top: 0px;
      }
      .item {
        input {
          height: 50px;
          width: 580px;
          border: 0px solid red !important;
        }
      }
    }
    .right-box {
      margin-left: 60px;
      .item {
        position: relative;
        .title {
          margin-top: 30px;
          position: absolute;
          height: 50px;
          top: 0px;
          right: 0px;
          display: flex;
          justify-content: center;
          align-items: center;
          padding-right: 10px;
          font-size: 16px;
        }
      }
      .btn {
        height: inherit;
        display: flex;
        align-items: flex-end;
        margin-top: 50px;
        button {
          width: 580px;
          height: 50px;
        }
      }
    }
  }
}
</style>
