<template>
  <div class="withdraw skt-loading">
    <div class="chain" v-if="coinTypeId == '2'">
      <div class="left-with">
        <div class="name">
          {{ $t("asset_manage.lian_name") }}
        </div>
        <div class="item">
          <div class="check">
            <div
              class="check-one disabled"
              :class="chain == 'OMNI' ? 'active' : ''"
              @click="switchFun('OMNI', false)"
            >
              OMNI
              <img src="../../../assets/images/assets/zu 536@2x.png" alt="" />
            </div>
            <div
              class="check-one"
              :class="chain == 'ERC20' ? 'active' : ''"
              @click="switchFun('ERC20', true)"
            >
              ERC20
              <img src="../../../assets/images/assets/zu 536@2x.png" alt="" />
            </div>
          </div>
          <div class="info-box">
            <img src="../../../assets/images/assets/zu 990@2x.png" alt="" />
            请逐字核对您的提币地址
          </div>
        </div>
      </div>
      <div class="right-with"></div>
    </div>
    <div class="withdraw-body">
      <div class="left-with">
        <ai-form ref="formItems" :model="formValidate" :rules="ruleValidate">
          <div class="one">
            <label class="">{{ $t("asset_manage.withdraw_address") }}</label>
            <ai-form-item prop="receiveAddress">
              <ai-input
                @click.native="listShow = !listShow"
                @change.native="changeFun"
                class="selec_type_one"
                v-model="formValidate.receiveAddress"
                :placeholder="$t('asset_manage.w_placeholder')"
              />
              <div
                class="arrow"
                @click="listShow = !listShow"
                :class="listShow ? 'active' : 'none'"
              >
                <svg
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="4"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="icon icon-chevron-right"
                >
                  <polyline points="9 18 15 12 9 6"></polyline>
                </svg>
              </div>
              <ul class="address-list" :class="listShow ? 'active' : 'none'">
                <li
                  v-for="(item, index) in address.filter(
                    el => el.type === (this.chain === 'OMNI' ? '0' : '1')
                  )"
                  :key="index"
                  @click="setReceiveAddress(item.extractAddress)"
                >
                  <div class="content">
                    <h3>{{ item.extractAddress }}</h3>
                    <div class="dicon">
                      <p class="icon">{{ item.coinType.toUpperCase() }}</p>
                      |
                      <p class="icon">
                        {{ item.type == "0" ? "OMNI" : "ERC20" }}
                      </p>
                    </div>
                  </div>
                  <p class="info">尽快到账，三个工作日以内最好</p>
                </li>
              </ul>
            </ai-form-item>
          </div>
          <div class="one">
            <label class="">{{ $t("asset_manage.withdraw_amount") }}</label>
            <ai-form-item prop="amount">
              <ai-input
                class="selec_type_one"
                v-model="formValidate.amount"
                :placeholder="$t('asset_manage.withdraw_amount_P')"
                @change.native="calcHandingFee"
              />
              <div class="title">{{ coinType && coinType.toUpperCase() }}</div>
            </ai-form-item>
          </div>
          <div class="one">
            <label class="">{{ $t("asset_manage.fee") }}</label>
            <ai-form-item prop="fee">
              <ai-input
                class="selec_type_one light"
                v-model="formValidate.fee"
                :disabled="true"
              />
              <div class="title">{{ coinType && coinType.toUpperCase() }}</div>
            </ai-form-item>
          </div>
          <div class="one">
            <label class="">{{ $t("asset_manage.receive") }}</label>
            <ai-form-item prop="receive">
              <ai-input
                class="selec_type_one light"
                v-model="formValidate.receive"
                :disabled="true"
              />
              <div class="title">{{ coinType && coinType.toUpperCase() }}</div>
            </ai-form-item>
          </div>
        </ai-form>
      </div>
      <div class="right-with">
        <div class="top">
          <h3>{{ $t("asset_manage.dh") }}</h3>
          <p class="info-list">
            ·
            {{
              $t("asset_manage.wp1_usdt", {
                extractMin: limit.extractMin,
                coinType: coinType
              })
            }}
          </p>
          <p class="info-list">
            ·
            {{
              $t("asset_manage.wp2_usdt", {
                extractMax: limit.extractMax,
                coinType: coinType
              })
            }}
          </p>
          <p class="info-list">
            ·
            {{
              $t("asset_manage.wp3_usdt1", {
                reviewAmount: limit.reviewAmount,
                coinType: coinType
              })
            }}
          </p>
          <p class="info-list">· {{ $t("asset_manage.wp4_usdt") }}</p>
        </div>
        <rd-button :type="btnType" :callBack="confirmFun">{{
          $t("asset_manage.withdraw_butt")
        }}</rd-button>
      </div>
    </div>
    <!-- 问题地址 -->
    <modal ref="modal0" class="modal0">
      <div slot="header">安全提示</div>
      <div slot="body">
        <div class="text-address">
          {{ backAddress }}
        </div>
        <p>您提交的提币地址为<span>新地址</span>,之前从未使用过</p>
        <p class="last"><span>请核查无误后提交！</span></p>
      </div>
      <div slot="footer">
        <rd-button type="success2" :callBack="backEndFun">{{
          $t("infoAll.confirm")
        }}</rd-button>
      </div>
    </modal>
    <!-- 弹框免责 -->
    <modal ref="modal3" class="modal3" :closeShow="false">
      <div slot="header">
        <img src="../../../assets/images/assets/info.png" alt="" /> 温馨提示
      </div>
      <div slot="body">
        <div class="info-out">
          提币地址一旦完成，平台无法追回，需确认您已了解以下风险：
        </div>
        <div class="info-box">
          <p class="m3 none">
            <img src="../../../assets/images/assets/zu 19@2x.png" alt="" />
            提币至传销盘等不可信平台，造成币无法再从该平台提出。
          </p>
          <p class="m3">
            <img src="../../../assets/images/assets/zu 1005@2x.png" alt="" />
            因他人利诱（投资、套利、空投等）而提币，可能造成您的资产损失。
          </p>
          <p class="m3">
            <img src="../../../assets/images/assets/zu 1006@2x.png" alt="" />
            为他人代买提币，协助他人犯罪，导致个人被司法追责等。
          </p>
        </div>
        <div class="check-out">
          <input type="checkbox" v-model="formValidate.check" />
          我已阅读并同意以上提币风险告知
        </div>
      </div>
      <div slot="footer">
        <rd-button type="cancel1" :callBack="cancelMianzeFun">{{
          $t("infoAll.cancel")
        }}</rd-button>
        <rd-button type="success2" :callBack="mianzeFun">{{
          $t("infoAll.confirm")
        }}</rd-button>
      </div>
    </modal>
    <!-- 添加弹框(支付密码) -->
    <modal ref="modal1" class="modal1">
      <div slot="header">{{ $t("asset_manage.withdraw_test") }}(1/2)</div>
      <div slot="body">
        <ai-form ref="formItems1" :model="formValidate1" :rules="ruleValidate1">
          <div class="one">
            <ai-form-item :label="$t('fund_pass.fund_pass')" prop="payPassword">
              <ai-input
                class="selec_type_one light"
                v-model="formValidate1.payPassword"
                type="password"
                @keyup.enter.native="confirmFun1"
              />
            </ai-form-item>
          </div>
        </ai-form>
      </div>
      <div slot="footer">
        <rd-button type="cancel1" :callBack="cancelFun1">{{
          $t("infoAll.cancel")
        }}</rd-button>
        <rd-button
          :loading="loading1"
          type="success2"
          :callBack="confirmFun1"
          >{{ $t("infoAll.confirm") }}</rd-button
        >
      </div>
    </modal>
    <!-- 权限验证 -->
    <modal ref="modal2" class="modal1">
      <div slot="header">{{ $t("asset_manage.withdraw_test") }}</div>
      <div slot="body">
        <p>{{ formValidate.receiveAddress }}</p>
        <ai-form ref="formItems2" :model="formValidate2" :rules="ruleValidate2">
          <div class="one">
            <ai-form-item :label="$t('fund_pass.fund_pass')" prop="payPassword">
              <ai-input
                class="selec_type_one light"
                v-model="formValidate2.payPassword"
                type="password"
                @keyup.enter.native="confirmFun1"
              />
            </ai-form-item>
          </div>
          <!-- <div class="one" v-show="user.email != null && user.email != ''">
            <ai-form-item :label="$t('infoAll.email')" prop="email">
              <ai-input
                class="selec_type_one light"
                v-model="formValidate2.email"
                :placeholder="$t('infoAll.input_email')"
                :disabled="true"
              />
            </ai-form-item>
          </div> -->
          <!-- <div class="one" v-show="user.email != null && user.email != ''">
            <ai-form-item :label="$t('infoAll.email_code')" prop="emailCode">
              <div class="input-send">
                <ai-input
                  class="selec_type_one light"
                  v-model="formValidate2.emailCode"
                  :placeholder="$t('infoAll.p_email_code')"
                />
                <send-code
                  class="send"
                  border="borderLeft"
                  :data="{
                    accountType: '1',
                    behaviorType: 7,
                    number: user.email
                  }"
                ></send-code>
              </div>
            </ai-form-item>
          </div> -->
          <div class="one" v-show="user.email != null && user.email != ''">
            <ai-form-item
              :label="$t('infoAll.email') + ':' + formValidate2.email"
              prop="emailCode"
            >
              <div class="input-send">
                <ai-input
                  class="selec_type_one light"
                  v-model="formValidate2.emailCode"
                  :placeholder="$t('infoAll.p_email_code')"
                />
                <send-code
                  class="send"
                  border="borderLeft"
                  :data="{
                    accountType: '1',
                    behaviorType: 7,
                    number: user.email
                  }"
                ></send-code>
              </div>
            </ai-form-item>
          </div>
          <!-- <div class="one" v-show="user.phone != null && user.phone != ''">
            <ai-form-item :label="$t('infoAll.phone')" prop="phone">
              <ai-input
                class="selec_type_one light"
                v-model="formValidate2.phone"
                :placeholder="$t('infoAll.input_phone')"
                :disabled="true"
              />
            </ai-form-item>
          </div>
          <div class="one" v-show="user.phone != null && user.phone != ''">
            <ai-form-item :label="$t('infoAll.phone_code')" prop="phoneCode">
              <div class="input-send">
                <ai-input
                  class="selec_type_one light"
                  v-model="formValidate2.phoneCode"
                  :placeholder="$t('infoAll.p_phone_code')"
                />
                <send-code
                  class="send"
                  border="borderLeft"
                  :data="{
                    accountType: '0',
                    behaviorType: 7,
                    number:
                      '%2B' +
                      (user.phoneAreaCode
                        ? user.phoneAreaCode.split('+')[1]
                        : '') +
                      ',' +
                      user.phone
                  }"
                ></send-code>
              </div>
            </ai-form-item>
          </div> -->
          <div class="one" v-show="user.phone != null && user.phone != ''">
            <ai-form-item
              :label="$t('infoAll.phone') + ':' + formValidate2.phone"
              prop="phoneCode"
            >
              <div class="input-send">
                <ai-input
                  class="selec_type_one light"
                  v-model="formValidate2.phoneCode"
                  :placeholder="$t('infoAll.p_phone_code')"
                />
                <send-code
                  class="send"
                  border="borderLeft"
                  :data="{
                    accountType: '0',
                    behaviorType: 7,
                    number:
                      '%2B' +
                      (user.phoneAreaCode
                        ? user.phoneAreaCode.split('+')[1]
                        : '') +
                      ',' +
                      user.phone
                  }"
                ></send-code>
              </div>
            </ai-form-item>
          </div>
          <div class="one" v-show="user.googleAuthTag === '1'">
            <ai-form-item :label="$t('infoAll.google_code')" prop="googleCode">
              <ai-input
                class="selec_type_one light"
                v-model="formValidate2.googleCode"
                :placeholder="$t('infoAll.p_google_code')"
              />
            </ai-form-item>
          </div>
        </ai-form>
      </div>
      <div slot="footer">
        <rd-button type="cancel1" :callBack="cancelFun2">{{
          $t("infoAll.cancel")
        }}</rd-button>
        <rd-button
          :loading="loading2"
          type="success2"
          :callBack="confirmFun2"
          >{{ $t("infoAll.confirm") }}</rd-button
        >
      </div>
    </modal>
  </div>
</template>
<script>
import AiForm from "../../../components/form";
import AiFormItem from "../../../components/form-item";
import AiInput from "../../../components/input";
import rdButton from "../../../components/button";
import {
  queryExtractAddressFun,
  getExtractLimitFun,
  extractFun,
  getCalcHandingFee,
  checkPayPasswordFun,
  checkAddressFun
} from "../../../api/assets";
import Modal from "../../../components/Modal";
import SendCode from "../../../components/SendCode";
import { mapGetters } from "vuex";
export default {
  components: {
    rdButton,
    AiForm,
    AiFormItem,
    AiInput,
    Modal,
    SendCode
  },
  props: {
    coinTypeId: {
      type: String,
      required: true
    },
    coinType: {
      type: String,
      required: true
    }
  },
  data() {
    return {
      loading1: false,
      loading2: false,
      listShow: false,
      chain: "ERC20",
      btnType: "cancel",
      address: [],
      limit: {},
      formValidate: {
        receive: "",
        fee: "",
        check: false,

        receiveAddress: "",
        amount: "",
        coinTypeId: this.coinTypeId,
        type: "",
        emailCode: "",
        phoneCode: "",
        googleCode: ""
      },
      formValidate1: {
        payPassword: ""
      },
      formValidate2: {
        payPassword: ""
      },
      ruleValidate1: {
        payPassword: [
          {
            required: true,
            message: this.$t("fund_pass.input_fund_p")
          }
        ]
      },
      ruleValidate2: {},
      timeStatus: false, // 要不要给后台多加 参数表示第二次了
      checkAddressFunCan: true, // 要不要地址检查
      checkMianzeStatus: false, // 免责弹框是否通过
      backAddress: ""
    };
  },
  computed: {
    ...mapGetters(["user"])
  },
  watch: {
    chain: {
      handler() {
        this.formValidate.receiveAddress = "";
        this.initLimitFun();
      }
    },
    "formValidate.receiveAddress": {
      handler() {
        this.timeStatus = false;
        this.checkAddressFunCan = true;
        this.setBtnType();
      }
    },
    "formValidate.amount": {
      handler() {
        this.setBtnType();
      }
    }
  },
  created() {
    this.initAddressFun();
    this.initRulesFun("1");
    this.formValidate2 = {
      email: this.user.email,
      emailCode: "",
      phone: this.user.phone,
      phoneCode: "",
      googleCode: "",
      payPassword: ""
    };
    this.ruleValidate2 = {
      emailCode: [
        {
          required:
            this.user.email != "" && this.user.email != null ? true : false,
          message: this.$t("infoAll.p_email_code")
        }
      ],
      phoneCode: [
        {
          required:
            this.user.phone != "" && this.user.phone != null ? true : false,
          message: this.$t("infoAll.p_phone_code")
        }
      ],
      googleCode: [
        {
          required: this.user.googleAuthTag == "1" ? true : false,
          message: this.$t("infoAll.p_google_code")
        }
      ],
      payPassword: [
        {
          required: true,
          message: this.$t("fund_pass.input_fund_p")
        }
      ]
    };
  },
  methods: {
    setBtnType() {
      if (
        this.formValidate.receiveAddress == "" ||
        this.formValidate.amount == ""
      ) {
        this.btnType = "cancel";
      } else {
        this.btnType = "success2";
      }
    },
    initRulesFun(step) {
      let that = this;
      this.ruleValidate = {
        receive: [
          {
            required: true,
            message: "到账数量不能为空",
            trigger: "blur"
          }
        ],
        fee: [
          {
            required: true,
            message: "手续费不能为空",
            trigger: "blur"
          }
        ],
        receiveAddress: [
          {
            required: true,
            message: this.$t("asset_manage.w_placeholder"),
            trigger: "blur",
            transform(value) {
              // 主要对 formValidate.receiveAddress
              that.formValidate.receiveAddress = that.formValidate.receiveAddress.replace(
                /\s+/g,
                ""
              );
              return value;
            }
          }
        ],
        amount: [
          {
            required: true,
            message: this.$t("asset_manage.withdraw_amount_P"),
            trigger: "blur"
          },
          {
            pattern: /(?:^[1-9]([0-9]+)?(?:\.[0-9]{1,2})?$)|(?:^(?:0){1}$)|(?:^[0-9]\.[0-9](?:[0-9])?$)/,
            message: this.$t("asset_manage.withdraw_amount_P")
          }
        ],
        coinTypeId: [
          {
            required: true,
            message: "缺少币种",
            trigger: "blur"
          }
        ],
        type: [
          {
            required: false,
            message: "缺少链类型",
            trigger: "blur"
          }
        ],
        emailCode: [
          {
            required:
              step == "2"
                ? this.user.email != "" && this.user.email != null
                  ? true
                  : false
                : false,
            message: "到账数量不能为空",
            trigger: "blur"
          }
        ],
        phoneCode: [
          {
            required:
              step == "2"
                ? this.user.phone != "" && this.user.phone != null
                  ? true
                  : false
                : false,
            message: "到账数量不能为空",
            trigger: "blur"
          }
        ],
        googleCode: [
          {
            required:
              step == "2"
                ? this.user.googleAuthTag == "1"
                  ? true
                  : false
                : false,
            message: "到账数量不能为空",
            trigger: "blur"
          }
        ]
      };
    },
    initAddressFun() {
      queryExtractAddressFun({
        coinTypeId: this.coinTypeId
      }).then(res => {
        if (res.code == 200) {
          this.address = res.data;
        } else {
          //
        }
      });
      this.initLimitFun();
    },
    initLimitFun() {
      getExtractLimitFun({
        coinTypeId:
          this.coinTypeId != "2"
            ? this.coinTypeId
            : this.chain == "OMNI"
            ? this.coinTypeId
            : 3
      }).then(res => {
        if (res.code == 200) {
          //   console.log(res.data);
          this.limit = res.data;
        } else {
          //
        }
      });
    },
    switchFun(str, canDo) {
      if (canDo) {
        this.chain = str;
      }
    },
    calcHandingFee() {
      getCalcHandingFee({
        amount: this.formValidate.amount,
        coinTypeId: this.coinTypeId
      }).then(res => {
        if (res.code == 200) {
          this.formValidate.fee = res.data.handingFree + "";
          this.formValidate.receive = res.data.amountActual + "";
        } else {
          this.$Notification.failed("", res.message, 2000);
        }
      });
    },
    confirmFun() {
      this.initRulesFun("1");
      this.$refs.formItems.validate().then(valid => {
        if (valid) {
          if (this.checkAddressFunCan) {
            this.checkAddress();
          } else {
            // 改成先出现免责条款
            if (this.checkMianzeStatus) {
              this.$refs.modal1.show = true;
            } else {
              this.$refs.modal3.show = true;
            }
          }
        } else {
          //
        }
      });
    },
    setReceiveAddress(str) {
      this.formValidate.receiveAddress = str;
      this.listShow = !this.listShow;
    },
    changeFun(e) {
      console.log(e.target.value);
    },
    cancelFun1() {
      this.$refs.modal1.show = false;
      this.formValidate1.payPassword = "";
      // 取消的话 免责条款也设置成不通过，下次还需要同意条款
      this.checkMianzeStatus = false;
    },
    cancelFun2() {
      this.$refs.modal2.show = false;
      this.formValidate2.emailCode = "";
      this.formValidate2.phoneCode = "";
      this.formValidate2.googleCode = "";
      this.formValidate2.payPassword = "";
      // 取消的话 免责条款也设置成不通过，下次还需要同意条款
      this.checkMianzeStatus = false;
    },
    confirmFun1() {
      this.$refs.formItems1.validate().then(valid => {
        if (valid) {
          this.loading1 = true;
          checkPayPasswordFun({
            payPassword: this.formValidate1.payPassword
          })
            .then(res => {
              if (res.code == 200) {
                this.$refs.modal1.show = false;
                this.$refs.modal2.show = true;
                this.formValidate1.payPassword = "";
              } else {
                this.$Notification.failed("", res.message, 2000);
              }
              this.loading1 = false;
            })
            .catch(() => {
              this.loading1 = false;
            });
        } else {
          //
        }
      });
    },
    confirmFun2() {
      this.initRulesFun("2");
      this.$refs.formItems2.validate().then(valid => {
        if (valid) {
          this.submitFun();
        } else {
          //
        }
      });
    },
    backEndFun() {
      this.timeStatus = true;
      this.$refs.modal0.show = false;
    },
    cancelMianzeFun() {
      this.checkMianzeStatus = false;
      this.$refs.modal3.show = false;
    },
    mianzeFun() {
      if (this.formValidate.check) {
        this.$refs.modal3.show = false;
        this.checkMianzeStatus = true;
        // 直接跳到填写资料
        this.$refs.modal2.show = true;
      } else {
        this.$Notification.failed("", "请同意免责条款", 3000);
      }
    },
    checkAddress() {
      checkAddressFun({
        coinTypeId: this.coinTypeId,
        receiveAddress: this.formValidate.receiveAddress
      }).then(res => {
        if (res.code == 209) {
          this.$refs.modal0.show = true;
          this.backAddress = res.data.address;
          this.checkAddressFunCan = false;
        } else {
          //
          this.timeStatus = false;
          // this.$refs.modal1.show = true;
          // 如果没有通过免责条款则 弹出免责条款
          if (this.checkMianzeStatus) {
            this.$refs.modal1.show = true;
          } else {
            this.$refs.modal3.show = true;
          }
        }
      });
    },
    submitFun() {
      let item = {
        receiveAddress: this.formValidate.receiveAddress,
        amount: this.formValidate.amount,
        coinTypeId: this.coinTypeId,
        payPassword: this.formValidate2.payPassword
      };
      switch (this.coinTypeId) {
        case "2":
          if (this.chain == "OMNI") {
            item["type"] = "0";
          } else {
            item["type"] = "1";
          }
          break;
        case "4":
          item["type"] = "1";
          break;
        default:
          break;
      }
      if (this.user.email != null && this.user.email != "") {
        item["emailCode"] = this.formValidate2.emailCode;
      }
      if (this.user.phone != null && this.user.phone != "") {
        item["phoneCode"] = this.formValidate2.phoneCode;
      }
      if (this.user.googleAuthTag == "1") {
        item["googleCode"] = this.formValidate2.googleCode;
      }
      if (this.timeStatus) {
        item["isDoubleCheck"] = true;
      }
      this.loading2 = true;
      extractFun(item)
        .then(res => {
          if (res.code == 200) {
            this.$refs.modal2.show = false;
            this.formValidate1.emailCode = "";
            this.formValidate1.phoneCode = "";
            this.formValidate1.googleCode = "";
            this.$Notification.success("", res.message, 2000);
          } else {
            this.$Notification.failed("", res.message, 2000);
          }
          this.loading2 = false;
          this.checkMianzeStatus = false;
          this.check = false;
        })
        .catch(() => {
          this.loading2 = false;
        });
    }
  }
};
</script>
<style lang="scss" scoped>
.withdraw {
  font-size: 16px;
  line-height: 22px;
  .chain {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .name {
      margin-right: 40px;
      font-size: 16px;
      color: var(--font-color05);
    }
    .check {
      display: flex;
      align-items: center;
      .check-one {
        padding: 14px 19px;
        border: 1px solid rgba(var(--font-color29), 1);
        border-radius: 4px;
        display: flex;
        justify-content: center;
        position: relative;
        align-items: center;
        box-sizing: border-box;
        cursor: pointer;
        img {
          display: none;
        }
        &:not(:first-child) {
          margin-left: 20px;
        }
        &.active {
          border: 1px solid rgba(var(--font-color26), 1);
          cursor: auto;
          color: rgba(var(--font-color26), 1);
          img {
            position: absolute;
            bottom: 0px;
            right: 0px;
            width: 15px;
            height: 15px;
            display: inline-block;
          }
        }
        &.disabled {
          cursor: not-allowed;
          // pointer-events: none;
        }
      }
      h3 {
        font-size: 20px;
        line-height: 28px;
        color: var(--color-black);
        margin: 23px 0px 27px 0px;
        &.skeleton {
          width: 360px;
          height: 28px;
        }
      }
    }
  }
  .chain {
    display: flex;
    justify-content: space-between;
    color: var(--font-color05);
    .left-with {
      flex: 1;
      margin-right: 56px;
      display: flex;
      align-items: center;
      .name {
        flex: 1;
        text-align: left;
      }
      .item {
        display: flex;
        width: 580px;
        justify-content: space-between;
        .info-box {
          background: #fbe4e4;
          border: 1px solid #ff3939;
          padding: 10px 15px;
          padding-right: 40px;
          border-radius: 7px;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          flex-wrap: wrap;
          position: relative;
          img {
            width: 20px;
            height: 20px;
            margin-right: 5px;
          }
          color: #ff3939;
          font-size: 16px;
          line-height: 22px;
          font-weight: 800;
          &::after {
            content: "";
            position: absolute;
            bottom: -20px;
            right: 20px;
            border: 10px solid transparent;
            border-top: 10px solid red;
          }
          &::before {
            content: "";
            position: absolute;
            z-index: 2;
            bottom: -18px;
            right: 21.5px;
            border: 9px solid transparent;
            border-top: 9px solid #fbe4e4;
          }
        }
      }
    }
    .right-with {
      width: 480px;
      font-size: 14px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
  .withdraw-body {
    display: flex;
    justify-content: space-between;
    color: var(--font-color05);
    .left-with {
      flex: 1;
      margin-right: 56px;
      form {
        .one {
          display: flex;
          margin-top: 32px;
          .item {
            position: relative;
          }
          label {
            flex: 1;
            text-align: left;
            display: flex;
            align-items: center;
          }
          input {
            width: 580px;
            height: 50px;
            background: rgba(242, 242, 242, 1);
            border: 0px solid red !important;
            opacity: 1;
            border-radius: 3px;
            padding-right: 65px;
            &.light {
              background: var(--font-color13) !important;
            }
          }
          .title {
            position: absolute;
            height: 50px;
            top: 0px;
            right: 0px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding-right: 10px;
            font-size: 16px;
          }
          .arrow {
            position: absolute;
            height: 50px;
            width: 25px;
            top: 0px;
            right: 0px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding-right: 10px;
            font-size: 16px;
            cursor: pointer;
            transition: all 0.3s ease-in-out;
            svg {
              width: 20px;
              height: 20px;
              transform: rotate(90deg);
            }
            &.active {
              svg {
                transform: rotate(-90deg);
              }
            }
          }
          ul.address-list {
            position: absolute;
            right: 0px;
            top: 55px;
            width: 580px;
            background: rgba(255, 255, 255, 1);
            box-shadow: 0px 0px 5px rgba(55, 135, 254, 0.3);
            z-index: 200;
            transition: all 0.3s ease-in-out;
            li {
              height: 85px;
              font-size: 16px;
              box-sizing: border-box;
              padding: 9px 15px 20px 15px;
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              cursor: pointer;
              .content {
                display: flex;
                justify-content: space-between;
                align-items: center;
                h3 {
                  word-wrap: break-word;
                  word-break: break-all;
                  text-align: left;
                  font-size: 16px;
                }
                .dicon {
                  display: flex;
                  color: rgba(var(--font-color26), 1);
                  .icon {
                    &:not(:last-child) {
                      margin-right: 5px;
                    }
                    &:not(:first-child) {
                      margin-left: 5px;
                    }
                  }
                }
              }
              .info {
                color: rgba(var(--font-color29), 1);
                font-size: 16px;
                text-align: left;
              }
            }
            &.none {
              opacity: 0;
              height: 0px;
              pointer-events: none;
              li {
                height: 0px;
              }
            }
            &.active {
              opacity: 1;
              height: auto;
              li {
                height: 85px;
              }
            }
          }
        }
      }
    }
    .right-with {
      width: 480px;
      font-size: 14px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      h3 {
        margin-top: 32px;
        font-size: 16px;
        text-align: left;
        margin-bottom: 5px;
      }
      p {
        &.info-list {
          text-align: left;
          line-height: 22px;
        }
      }
      button {
        width: 100%;
        margin-left: 0px;
      }
    }
  }
  button {
    width: 150px;
    &:nth-child(even) {
      margin-left: 20px;
    }
  }
  .modal0 {
    .nw-modal-body {
      .text-address {
        background: rgba(238, 243, 250, 1);
        opacity: 1;
        border-radius: 3px;
        font-size: 12px;
        color: #333333;
        padding: 4px 10px;
        margin-bottom: 17px;
        min-width: 400px;
        text-align: left;
      }
      p {
        font-size: 14px;
        line-height: 21px;
        color: #333333;
        text-align: left;
        span {
          color: #f36669;
          font-size: 14px;
        }
        &.last {
          margin-top: 20px;
        }
      }
    }
  }
  .modal3 {
    .nw-modal-footer {
      button {
        margin-bottom: 40px;
        margin-top: 20px;
      }
    }
    .nw-modal-header {
      img {
        width: 30px;
        height: 30px;
      }
    }
    .nw-modal-body {
      .info-out {
        font-size: 16px;
        color: #333333;
        text-align: left;
        line-height: 21px;
      }
      .info-box {
        width: 600px;
        height: 155px;
        background: rgba(243, 248, 255, 1);
        border: 1px solid rgba(55, 135, 254, 0.4);
        opacity: 1;
        border-radius: 3px;
        margin-top: 14px;
        margin-bottom: 16px;
        padding: 25px 15px;
        p {
          line-height: 21px;
          img {
            width: 20px;
            height: 20px;
          }
          text-align: left;
          font-size: 14px;
          color: #333333;
          &.m3 {
            &:not(.none) {
              margin-top: 20px;
            }
          }
        }
      }
      .check-out {
        font-size: 16px;
        color: #222222;
        text-align: left;
        line-height: 21px;
        display: flex;
        align-items: center;
        input {
          margin-right: 5px;
        }
      }
    }
  }
  .modal1 {
    .nw-modal-body {
      p {
        background: rgba(238, 243, 250, 1);
        opacity: 1;
        border-radius: 3px;
        padding: 5px 15px;
        font-size: 13px;
        text-align: left;
      }
      form {
        input {
          border: 0px solid red !important;
        }
        .one {
          margin-top: 25px;
          .item {
            width: 600px;
            label {
              color: #222222 !important;
            }
            input {
              height: 60px;
            }
            .input-send {
              display: flex;
              .input-s {
                // width: 300px;
                border: 0px solid red !important;
                border-radius: 0px;
              }
              .send {
                width: 140px;
              }
            }
          }
        }
      }
    }
    .nw-modal-footer {
      button {
        margin-bottom: 40px;
        margin-top: 20px;
      }
    }
  }
}
</style>
