<template>
  <div class="layout">
    <Nav v-show="navShow || path === '/'"></Nav>
    <nav-item
      v-show="navShow"
      :class="path !== '/' ? 'active' : 'none'"
    ></nav-item>
    <div class="layout_bc">
      <!-- <transition
        :enter-active-class="path !== '/' ? 'animated fadeIn' : ''"
        active-class="active"
        leave-active-class=""
      >
        <router-view />
      </transition> -->
      <router-view />
    </div>
  </div>
</template>
<script>
import Nav from "../../components/Nav";
import NavItem from "../../components/NavItem";
export default {
  components: {
    Nav,
    "nav-item": NavItem
  },
  data() {
    return {
      transitionName: "hh",
      navShow: true
    };
  },
  computed: {
    path() {
      return this.$route.path;
    }
  },
  watch: {
    path: {
      handler(n) {
        if (n.indexOf("/unlock") >= 0 || n === "/") {
          this.navShow = false;
        } else {
          this.navShow = true;
        }
        // console.log(n, o);
      },
      deep: true,
      immediate: true
    }
  }
};
</script>
<style lang="scss" scoped>
.layout {
  position: relative;
  // overflow-x: hidden;
  height: 100vh;
  // height: 1150px;
  // height: 1170px;
  // overflow-y: auto;
  // background: #21328c;
  .layout_bc {
    height: inherit;
    // height: 950px;
    // overflow-y: auto;
    // background-image: url("../../assets/images/layout/bc.png");
    background-repeat: no-repeat;
    background-size: 100% 100%; //cover
    position: relative;
    .filt {
      position: absolute;
      // background-image: url("../../assets/images/layout/bc.png");
      background-repeat: no-repeat;
      background-size: 1920px 950px;
      background-position: -359px -280px;
      overflow: hidden;
      margin: -1px;
      padding: 1px;
      top: 275px;
      width: 1200px;
      height: 250px;
      filter: blur(3px);
      left: 50%;
      transform: translateX(-50%);
    }
    div {
      // transition: all .3s ease-in-out;
      &.animated {
        position: absolute;
        z-index: 100;
        // transition: all 20s ease-out;
        animation-duration: 0.3s;
        // top: 50%;
        // left: 50%;
        // transform: translateX(-50%) translateY(-50%);
        // 旋转 元素 希不希望 看到其背面
        left: calc(100vw / 2 - 1200px / 2);
        backface-visibility: visible; //hidden
        perspective: 1000;
        &.fadeIn {
          opacity: 1;
        }
        &.fadeOut {
          opacity: 0;
        }
        &.fadeInRight,
        &.zoomIn {
          // left: calc( 100vw/2 - 1200px/2 );
          // transform: translateX(-50%) ;
          // transition: all .7s cubic-bezier(.07,-0.13,.94,1.25);
        }
        &.hinge {
          // left: 5%;
        }
        &.zoomOutLeft {
          transition: all 0.5s cubic-bezier(0.07, -0.13, 0.94, 1.25);
        }
        &.zoomOutUp {
          // left: 25%;
        }
      }
      &.active {
      }
    }
  }
}
</style>
