/* eslint-disable prettier/prettier */
<template>
  <div class="merchant-box skt-loading">
    <content-nav :list="list"></content-nav>
    <div class="banxin">
      <div class="merchant-head">
        <div class="merchant-top">
          <div class="left-box">
            <div class="img" :class="loadingInfo ? 'skeleton' : ''">
              {{ info.name ? info.name.slice(0, 1) : "" }}
            </div>
            <div class="name" :class="loadingInfo ? 'skeleton' : ''">
              {{ info.name ? info.name : "" }}
              <span>{{ $i18n.locale == "en" ? "Merdchant" : "币商" }}</span>
            </div>
          </div>
          <div class="right-box">
            <div class="test-item">
              <div class="img" :class="loadingInfo ? 'skeleton' : ''">
                <img
                  :src="
                    info.mail
                      ? require('../../assets/images/merchant/zu 584@2x (2).png')
                      : require('../../assets/images/merchant/zu 584@2x.png')
                  "
                  alt=""
                />
              </div>
              <p class="light" :class="loadingInfo ? 'skeleton' : ''">
                {{ $t("infoAll.email_auth") }}
              </p>
            </div>
            <div class="test-item">
              <div class="img" :class="loadingInfo ? 'skeleton' : ''">
                <img
                  :src="
                    info.phone
                      ? require('../../assets/images/merchant/zu 587@2x (2).png')
                      : require('../../assets/images/merchant/zu 587@2x.png')
                  "
                  alt=""
                />
              </div>
              <p class="light" :class="loadingInfo ? 'skeleton' : ''">
                {{ $t("infoAll.phone_auth") }}
              </p>
            </div>
            <div class="test-item">
              <div class="img" :class="loadingInfo ? 'skeleton' : ''">
                <img
                  :src="
                    info.identity
                      ? require('../../assets/images/merchant/zu 589@2x (2).png')
                      : require('../../assets/images/merchant/zu 589@2x.png')
                  "
                  alt=""
                />
              </div>
              <p class="light" :class="loadingInfo ? 'skeleton' : ''">
                {{ $t("infoAll.shiming") }}
              </p>
            </div>
          </div>
        </div>
        <div class="merchant-info-box">
          <div class="info-item" :class="loadingInfo ? 'skeleton' : ''">
            <h3>
              {{
                info.monthTradedRate
                  ? (info.monthTradedRate * 100).toFixed(2)
                  : ""
              }}
            </h3>
            <p>30{{ $t("merchant.complete_rate") }}</p>
          </div>
          <div class="info-item" :class="loadingInfo ? 'skeleton' : ''">
            <h3>
              {{ info.allTradedCount }}
              <span
                >(<i class="or">{{ info.buyTradedCount }}</i> |
                <i class="blu">{{ info.sellTradedCount }}</i
                >){{ $t("merchant.times") }}</span
              >
            </h3>
            <p>
              {{ $t("merchant.trade") }}（<i class="or">{{
                $t("merchant.in")
              }}</i>
              | <i class="blu">{{ $t("merchant.out") }}</i
              >）
            </p>
          </div>
          <div class="info-item" :class="loadingInfo ? 'skeleton' : ''">
            <h3>{{ info.monthTradedCount }}{{ $t("merchant.times") }}</h3>
            <p>30{{ $t("merchant.trade_in") }}{{ $t("merchant.trade_day") }}</p>
          </div>
          <div class="info-item" :class="loadingInfo ? 'skeleton' : ''">
            <h3>{{ info.avgReleaseUseTime }}{{ $t("merchant.min") }}</h3>
            <p>{{ $t("merchant.avg_release") }}</p>
          </div>
        </div>
      </div>
      <div class="merchant-list merchant-in">
        <h3>{{ $t("merchant.in_u") }}</h3>
        <ul>
          <li class="">
            <div class="coin light">{{ $t("merchant.coin") }}</div>
            <div class="amount light">{{ $t("merchant.amount") }}</div>
            <div class="limit light">{{ $t("merchant.limit") }}</div>
            <div class="price light">{{ $t("merchant.unit_price") }}</div>
            <div class="pw light">{{ $t("merchant.payment_method") }}</div>
            <div class="control light">{{ $t("merchant.control") }}</div>
          </li>
          <div
            class="none"
            v-if="typeof listIn == 'object' && listIn.length == 0"
          >
            <img src="../../assets/images/merchant/zu 986@2x.png" alt="" />
            <p>{{ $t("merchant.empty") }}</p>
          </div>
          <li
            v-for="(item, index) in listIn"
            :key="index + 'list-in'"
            class="bg"
          >
            <div class="coin">
              <div class="img" :class="loadingIn ? 'skeleton' : ''">
                <img
                  :src="
                    item.coinName
                      ? require(`../../assets/images/assets/${item.coinName}.png`)
                      : ''
                  "
                  alt=""
                />
              </div>
              <h3 :class="loadingIn ? 'skeleton' : ''">
                {{ item.coinName ? item.coinName.toUpperCase() : "" }}
              </h3>
            </div>
            <div class="amount">
              <div class="amount-info" :class="loadingIn ? 'skeleton' : ''">
                {{ item.limitQty }}
                {{ item.coinName ? item.coinName.toUpperCase() : "" }}
              </div>
            </div>
            <div class="limit">
              <div class="limit-info" :class="loadingIn ? 'skeleton' : ''">
                {{ item.minAmount }}-{{ item.maxAmount }}
                {{ item.tradeCoinType }}
              </div>
            </div>
            <div class="price">
              <div class="price-info" :class="loadingIn ? 'skeleton' : ''">
                {{ item.price }} {{ item.tradeCoinType }}
              </div>
            </div>
            <div class="pw">
              <div class="pw-info" :class="loadingIn ? 'skeleton' : ''">
                <img
                  v-show="item.alipayOn"
                  src="../../assets/images/trade/zu 436@2x.png"
                  alt=""
                />
                <img
                  v-show="item.bankcardOn"
                  src="../../assets/images/trade/zu 393@2x.png"
                  alt=""
                />
                <img
                  v-show="item.wechatPayOn"
                  src="../../assets/images/trade/zu 437@2x.png"
                  alt=""
                />
                <img
                  v-show="item.payWayType == 1"
                  src="../../assets/images/trade/zu 755@2x.png"
                  alt=""
                /><span v-show="item.payWayType == 1">{{ item.cardName }}</span>
              </div>
            </div>
            <div class="control">
              <div class="control-info" :class="loadingIn ? 'skeleton' : ''">
                <rd-button
                  :loading="item.loading != null ? item.loading : false"
                  class=""
                  type=""
                  :callBack="cpFun"
                  :data="typeof item == 'number' ? null : item"
                  :class="item.isBuy == '0' ? 'out' : 'in'"
                >
                  {{ item.isBuy == "0" ? $t("trade.sell") : $t("trade.buy") }}
                </rd-button>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="merchant-list merchant-out">
        <h3>{{ $t("merchant.out_u") }}</h3>
        <ul>
          <li class="">
            <div class="coin light">{{ $t("merchant.coin") }}</div>
            <div class="amount light">{{ $t("merchant.amount") }}</div>
            <div class="limit light">{{ $t("merchant.limit") }}</div>
            <div class="price light">{{ $t("merchant.unit_price") }}</div>
            <div class="pw light">{{ $t("merchant.payment_method") }}</div>
            <div class="control light">{{ $t("merchant.control") }}</div>
          </li>
          <div
            class="none"
            v-if="typeof listOut == 'object' && listOut.length == 0"
          >
            <img src="../../assets/images/merchant/zu 986@2x.png" alt="" />
            <p>{{ $t("merchant.empty") }}</p>
          </div>
          <li
            v-for="(item, index) in listOut"
            :key="index + 'list-in'"
            class="bg"
          >
            <div class="coin">
              <div class="img" :class="loadingIn ? 'skeleton' : ''">
                <img
                  :src="
                    item.coinName
                      ? require(`../../assets/images/assets/${item.coinName}.png`)
                      : ''
                  "
                  alt=""
                />
              </div>
              <h3 :class="loadingIn ? 'skeleton' : ''">
                {{ item.coinName ? item.coinName.toUpperCase() : "" }}
              </h3>
            </div>
            <div class="amount">
              <div class="amount-info" :class="loadingIn ? 'skeleton' : ''">
                {{ item.limitQty }}
                {{ item.coinName ? item.coinName.toUpperCase() : "" }}
              </div>
            </div>
            <div class="limit">
              <div class="limit-info" :class="loadingIn ? 'skeleton' : ''">
                {{ item.minAmount }}-{{ item.maxAmount }}
                {{ item.tradeCoinType }}
              </div>
            </div>
            <div class="price">
              <div class="price-info" :class="loadingIn ? 'skeleton' : ''">
                {{ item.price }} {{ item.tradeCoinType }}
              </div>
            </div>
            <div class="pw">
              <div class="pw-info" :class="loadingIn ? 'skeleton' : ''">
                <img
                  v-show="item.alipayOn"
                  src="../../assets/images/trade/zu 436@2x.png"
                  alt=""
                />
                <img
                  v-show="item.bankcardOn"
                  src="../../assets/images/trade/zu 393@2x.png"
                  alt=""
                />
                <img
                  v-show="item.wechatPayOn"
                  src="../../assets/images/trade/zu 437@2x.png"
                  alt=""
                />
                <img
                  v-show="item.payWayType == 1"
                  src="../../assets/images/trade/zu 755@2x.png"
                  alt=""
                /><span v-show="item.payWayType == 1">{{ item.cardName }}</span>
              </div>
            </div>
            <div class="control">
              <div class="control-info" :class="loadingIn ? 'skeleton' : ''">
                <rd-button
                  :loading="item.loading != null ? item.loading : false"
                  class=""
                  type=""
                  :callBack="cpFun"
                  :data="typeof item == 'number' ? null : item"
                  :class="item.isBuy == '0' ? 'out' : 'in'"
                >
                  {{ item.isBuy == "0" ? $t("trade.sell") : $t("trade.buy") }}
                </rd-button>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <!-- 触发检测权限弹窗 -->
    <modal ref="modal1">
      <div slot="body" class="Intercept" :class="$i18n.locale">
        <div class="info-item" v-show="object.fund == false ? true : false">
          <div class="left">
            <span>!</span>
            <p>{{ $t("infoAll.first_fund_pass") }}</p>
          </div>
          <router-link to="/fund-pass">{{ $t("infoAll.gset") }}</router-link>
        </div>
        <div class="info-item" v-show="object.idAuth == false ? true : false">
          <div class="left">
            <span>!</span>
            <p>{{ $t("infoAll.first_id_ver") }}</p>
          </div>
          <router-link to="/profile"
            ><p @click="$refs.modal1.show = false">
              {{ $t("infoAll.verification") }}
            </p></router-link
          >
        </div>
        <!-- <div class="info-item" v-show="object.bind == false ? true : false">
          <div class="left">
            <span>!</span>
            <p>{{ $t("infoAll.first_auth") }}(1/3)</p>
          </div>
          <router-link to="/profile">{{ $t("infoAll.gbind") }}</router-link>
        </div> -->
        <div
          class="info-item"
          v-show="object.countryPm == false ? true : false"
        >
          <div class="left">
            <span>!</span>
            <p>{{ $t("infoAll.first_pay") }}</p>
          </div>
          <router-link to="/profile">{{ $t("infoAll.gset") }}</router-link>
        </div>
      </div>
    </modal>
    <!-- 交易弹窗 -->
    <modal ref="modal_trade">
      <div slot="header" class="trade-modal-header">
        <div class="merchant">
          <div class="merchant-left">
            <div class="img" v-if="item ? true : false">
              {{ item.userName.slice(0, 1) }}
            </div>
            <div class="user" v-if="item ? true : false">
              <h3>{{ item.userName }}</h3>
              <p>
                {{
                  item.online == true ? $t("trade.inline") : $t("trade.unline")
                }}
              </p>
            </div>
          </div>
          <div class="merchant-right">
            <div class="amount" v-if="item ? true : false">
              {{ item.price
              }}<sub
                >{{ item.tradeCoinType }}/{{ item.coinName.toUpperCase() }}</sub
              >
            </div>
          </div>
        </div>
      </div>
      <div slot="body" class="trade-modal-body" :class="$i18n.locale">
        <ai-form ref="formItems" :model="formValidate" :rules="ruleValidate">
          <div class="one notop" v-if="item ? true : false">
            <ai-form-item prop="inputRmbAmount">
              <ai-input
                class="selec_type_one"
                v-model="formValidate.inputRmbAmount"
                @keyup.native="
                  getCurrencyPriceCalcFun({
                    inputCurrencyPrice: item.price,
                    inputRmbAmount: formValidate.inputRmbAmount
                  })
                "
                :placeholder="
                  item.isBuy == '1'
                    ? $t('trade.amount_in_placeholder')
                    : $t('trade.amount_out_placeholder')
                "
              />
              <div class="right-info">{{ item.tradeCoinType }}</div>
              <div class="limit">
                {{ $t("trade.limit_c") }}: {{ item.minAmount }} -
                {{ item.maxAmount }} {{ item.tradeCoinType }}
              </div>
            </ai-form-item>
          </div>
          <div class="one" v-if="item ? true : false">
            <ai-form-item prop="inputCurrencyAmount">
              <ai-input
                class="selec_type_one"
                v-model="formValidate.inputCurrencyAmount"
                @keyup.native="
                  getCurrencyPriceCalcFun({
                    inputCurrencyPrice: item.price,
                    inputCurrencyAmount: formValidate.inputCurrencyAmount
                  })
                "
                autocomplete="off"
                :placeholder="
                  item.isBuy == '1'
                    ? $t('trade.total_in_placeholder')
                    : $t('trade.total_out_placeholder')
                "
              />
              <div class="right-info">{{ item.coinName.toUpperCase() }}</div>
              <div class="limit" v-if="item ? true : false">
                {{ $t("trade.limit_c") }}: {{ item.minQty }} -
                {{ item.maxQty }} {{ item.coinName.toUpperCase() }}
              </div>
            </ai-form-item>
          </div>
          <div
            class="one"
            v-if="item ? (item.isBuy == '1' ? false : true) : false"
          >
            <ai-form-item :label="$t('profile.fund_pass')" prop="payPassword">
              <ai-input
                class="selec_type_one"
                v-model="formValidate.payPassword"
                autocomplete="new-password"
                :placeholder="$t('profile.input_fund_pass')"
                type="password"
              />
            </ai-form-item>
          </div>
          <div class="one btn">
            <rd-button type="" :callBack="cancelFun">{{
              $t("infoAll.cancel")
            }}</rd-button>
            <rd-button
              :loading="loadingConfirm"
              type=""
              :callBack="confirmFun"
              :class="item ? (item.isBuy == '1' ? 'in' : 'out') : ''"
              >{{
                item
                  ? item.isBuy == "1"
                    ? $t("trade.do_in")
                    : $t("trade.do_out")
                  : ""
              }}</rd-button
            >
          </div>
        </ai-form>
      </div>
      <div slot="footer" class="trade-modal-footer" :class="$i18n.locale">
        <div class="footer-head">
          <img src="../../assets/images/trade/zu 401@2x.png" alt="" />
          <h3>{{ $t("trade.mark") }}</h3>
        </div>
        <p class="footer-info">{{ item ? item.message : "" }}</p>
      </div>
    </modal>
  </div>
</template>
<script>
import contentNav from "../../components/ContentNav";
import { getMerchantInfo, merchantAds } from "../../api/merchant";
import { checkPermissions, debounce } from "../../utils/index";
import {
  getCurrencyPriceCalc,
  cnyOrderBuy,
  cnyOrderSell
} from "../../api/trade";
import { mapGetters } from "vuex";
import rdButton from "../../components/button";
import AiForm from "../../components/form";
import AiFormItem from "../../components/form-item";
import AiInput from "../../components/input";
import Modal from "../../components/Modal";
export default {
  components: {
    contentNav,
    rdButton,
    Modal,
    AiForm,
    AiFormItem,
    AiInput
  },
  data() {
    return {
      info: {},
      list: [],
      loadingInfo: true,
      loadingIn: true,
      loadingOut: true,
      listIn: 5,
      listOut: 3,
      object: {
        bind: true,
        fund: true,
        idAuth: true,
        countryPm: true
      },
      item: null,
      formValidate: {
        inputRmbAmount: "",
        inputCurrencyAmount: "",
        payPassword: ""
      },
      ruleValidate: {},
      loadingConfirm: false
    };
  },
  computed: {
    ...mapGetters(["user"])
  },
  mounted() {
    this.getMerchantInfoFun();
    this.getCurrencyPriceCalcFun = debounce(this.getCurrencyPriceCalcFun, 500);
    this.getMerchantList({
      userId: this.$route.query.userId,
      isBuy: "0"
    });
    this.getMerchantList({
      userId: this.$route.query.userId,
      isBuy: "1"
    });
    this.initRuleValidate();
  },
  methods: {
    getCurrencyPriceCalcFun(item) {
      getCurrencyPriceCalc(item).then(res => {
        if (res.code == 200) {
          this.formValidate.inputCurrencyAmount = res.data.tradeCurrencyAmount;
          this.formValidate.inputRmbAmount = res.data.rmbAmount;
        } else {
          //
        }
      });
    },
    initRuleValidate() {
      this.ruleValidate = {
        inputRmbAmount: [
          {
            required: true,
            message: this.item
              ? this.item.isBuy == "1"
                ? this.$t("trade.amount_in_placeholder")
                : this.$t("trade.amount_out_placeholder")
              : this.$t("trade.amount_in_placeholder"), // 默认 买入
            transform(value) {
              return value + "";
            },
            trigger: "blur"
          },
          {
            pattern: /(?:^[1-9]([0-9]+)?(?:\.[0-9]{1,})?$)|(?:^(?:0){1}$)|(?:^[0-9]\.[0-9]{1,}?$)/,
            message: this.$t("infoAll.format_error")
          }
        ],
        inputCurrencyAmount: [
          {
            required: true,
            message: this.item
              ? this.item.isBuy == "1"
                ? this.$t("trade.total_in_placeholder")
                : this.$t("trade.total_out_placeholder")
              : this.$t("trade.total_in_placeholder"), // 默认 买入
            transform(value) {
              return value + "";
            },
            trigger: "blur"
          },
          {
            pattern: /(?:^[1-9]([0-9]+)?(?:\.[0-9]{1,})?$)|(?:^(?:0){1}$)|(?:^[0-9]\.[0-9]{1,}?$)/,
            // pattern: /(?:^[1-9]([0-9]+)?(?:\.[0-9]{1,})?$)|(?:^(?:0){1}$)|(?:^[0-9]\.[0-9](?:[0-9])?$)/,
            message: this.$t("infoAll.format_error")
          }
        ],
        payPassword: [
          {
            required: this.item
              ? this.item.isBuy == "1"
                ? false
                : true
              : false,
            message: this.$t("profile.input_fund_pass"),
            trigger: "blur"
          },
          {
            pattern: /^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{6,16}$/,
            message: this.$t("infoAll.format_error")
          }
        ]
      };
    },
    initList() {
      this.list = [
        {
          text: "navitem.trade"
        },
        {
          text: this.info.name
        }
      ];
    },
    getMerchantInfoFun() {
      getMerchantInfo({
        userId: this.$route.query.userId
      }).then(res => {
        if (res.code == 200) {
          this.info = res.data;
          this.loadingInfo = false;
          this.initList();
        } else {
          //
        }
      });
    },
    getMerchantList(item) {
      merchantAds(item).then(res => {
        if (res.code == 200) {
          if (item.isBuy == "0") {
            this.listIn = res.data;
            this.loadingIn = false;
          } else {
            this.listOut = res.data;
            this.loadingOut = false;
          }
        } else {
          //
        }
      });
    },
    getStatus(n) {
      return !n.fund || !n.idAuth || !n.countryPm;
    },
    async cpFun(e, item) {
      // console.log(item);
      if (item == null) {
        this.$Notification.warning("", "请操作存在的广告", 3000);
        return false;
      }
      // checkPermissions
      this.$set(item, "loading", true);
      this.object = await checkPermissions(
        {
          type: "trade",
          countryInfoId: item.countryInfoId,
          isBuy: item.isBuy
        },
        this.user
      );
      if (this.getStatus(this.object)) {
        this.item = null;
        this.$refs.modal1.show = true;
      } else {
        this.item = item;
        if (item.isBuy == "1") {
          this.type = true;
        } else {
          this.type = false;
        }
        // this.$set(this.item, item);
        this.$refs.modal_trade.show = true;
      }
      this.$set(item, "loading", false);
    },
    cancelFun() {
      this.$refs.modal_trade.cancel(false);
      this.item = null;
      this.initForm();
    },
    initForm() {
      this.formValidate = {
        inputRmbAmount: "",
        inputCurrencyAmount: "",
        payPassword: ""
      };
    },
    confirmFun() {
      this.$refs.formItems.validate().then(valid => {
        if (valid) {
          this.loadingConfirm = true;
          let params = {
            amount: this.formValidate.inputRmbAmount,
            otcAdvertisementId: this.item.id,
            tag: "1",
            price: this.item.price
          };
          if (this.item.isBuy == "1") {
            cnyOrderBuy(params).then(res => {
              if (res.code == 200) {
                this.$Notification.success("", res.message, 3000);
                this.initForm();
                this.cancelFun();
                this.$router.push({
                  path: "/tradeOrderDetail",
                  query: {
                    id: res.data.id
                  },
                  params: res.data
                });
              } else {
                //
                this.$Notification.failed("", res.message, 3000);
              }
              this.loadingConfirm = false;
            });
          } else {
            params["payPassword"] = this.formValidate.payPassword;
            cnyOrderSell(params).then(res => {
              if (res.code == 200) {
                this.$Notification.success("", res.message, 3000);
                this.initForm();
                this.cancelFun();
                this.$router.push({
                  path: "/tradeOrderDetail",
                  query: {
                    id: res.data.id
                  },
                  params: res.data
                });
              } else {
                //
                this.$Notification.failed("", res.message, 3000);
              }
              this.loadingConfirm = false;
            });
          }
        } else {
          //
        }
      });
    }
  }
};
</script>
<style lang="scss" scoped>
.merchant-box {
  padding: 140px 0px 100px;
  font-size: 16px;
  color: #222222;
  line-height: 22px;
  .light {
    color: #a1b0c6;
  }
  .merchant-head {
    .merchant-top {
      height: 102px;
      display: flex;
      justify-content: space-between;
      align-content: center;
      .left-box {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        .img {
          width: 40px;
          height: 40px;
          background: rgba(138, 194, 232, 1);
          border-radius: 50%;
          color: white;
          margin-right: 10px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .name {
          font-size: 30px;
          font-weight: 800;
          line-height: 42px;
          color: #222222;
          min-width: 142px;
          height: 42px;
          display: flex;
          align-items: center;
          span {
            border: 1px solid rgba(55, 135, 254, 1);
            opacity: 1;
            border-radius: 3px;
            color: #3787fe;
            font-size: 16px;
            font-weight: 400;
            line-height: 22px;
            padding: 4px 9px;
            margin-left: 10px;
          }
        }
      }
      .right-box {
        display: flex;
        justify-content: flex-end;
        align-content: center;
        .test-item {
          &:not(:last-child) {
            margin-right: 20px;
          }
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          .img {
            width: 30px;
            height: 30px;
            margin-bottom: 5px;
            img {
              width: inherit;
              height: inherit;
            }
          }
          p {
            font-size: 12px;
            line-height: 17px;
          }
        }
      }
    }
    .merchant-info-box {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 150px;
      .info-item {
        width: 319px;
        height: 150px;
        background: rgba(248, 251, 255, 1);
        opacity: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &:not(:last-child) {
          margin-right: 8px;
        }
        h3 {
          margin-bottom: 10px;
          font-size: 30px;
          font-weight: 800;
          line-height: 42px;
          color: #222222;
          span {
            font-size: 16px;
            font-weight: 400;
            line-height: 22px;
            i {
              &.or {
                color: #3787fe;
              }
              &.blu {
                color: #30d69e;
              }
            }
          }
        }
        p {
          color: #a1b0c6;
          font-size: 16px;
          line-height: 22px;
          i {
            &.or {
              color: #3787fe;
            }
            &.blu {
              color: #30d69e;
            }
          }
        }
      }
    }
  }
  .merchant-list {
    margin-top: 35px;
    h3 {
      max-width: 200px;
      font-size: 20px;
      font-weight: 800;
      line-height: 28px;
      height: 28px;
      color: #3787fe;
      text-align: left;
    }
    ul {
      .none {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80px;
        background: rgba(250, 250, 250, 1);
        img {
          width: 20px;
          height: 20px;
          margin-right: 10px;
        }
        p {
          font-size: 16px;
          font-weight: 800;
          line-height: 22px;
          color: #d6dce5;
        }
      }
      li {
        height: 80px;
        &.bg {
          background: rgba(250, 250, 250, 1);
          margin-bottom: 10px;
        }
        padding: 25px 15px;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        align-items: center;
        div {
          &.coin {
            width: 135px;
            display: flex;
            align-items: center;
            .img {
              width: 30px;
              height: 30px;
              border-radius: 50%;
              img {
                width: inherit;
                height: inherit;
              }
              margin-right: 5px;
            }
            h3 {
              min-width: 100px;
            }
          }
          &.amount {
            display: flex;
            align-items: center;
            min-height: 30px;
            width: 206px;
            .amount-info {
              min-height: 30px;
              min-width: 206px;
              display: flex;
              justify-content: flex-start;
              align-items: center;
            }
          }
          &.limit {
            display: flex;
            align-items: center;
            min-height: 30px;
            width: 206px;
            .limit-info {
              min-height: 30px;
              min-width: 206px;
              display: flex;
              justify-content: flex-start;
              align-items: center;
            }
          }
          &.price {
            display: flex;
            align-items: center;
            min-height: 30px;
            width: 100px;
            .price-info {
              min-width: 100px;
              min-height: 30px;
              display: flex;
              justify-content: flex-start;
              align-items: center;
            }
          }
          &.pw {
            display: flex;
            align-items: center;
            min-height: 30px;
            min-width: 150px;
            .pw-info {
              min-width: 150px;
              min-height: 30px;
              display: flex;
              justify-content: flex-start;
              align-items: center;
              img {
                width: 30px;
                height: 30px;
                &:not(:last-child) {
                  margin-right: 10px;
                }
              }
            }
          }
          &.control {
            width: 150px;
            .control-info {
              height: 40px;
              width: 150px;
              button {
                width: 100px;
                height: 40px;
                opacity: 1;
                border-radius: 3px;
                font-size: 20px;
                font-weight: 800;
                line-height: 28px;
                color: #ffffff;
                &.in {
                  background: rgba(55, 135, 254, 1);
                }
                &.out {
                  background: rgba(48, 214, 158, 1);
                }
              }
            }
          }
        }
      }
    }
  }
  //
  .trade-modal-header {
    width: 100%;
    .merchant {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .merchant-left {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .img {
          width: 50px;
          height: 50px;
          background: rgba(138, 194, 232, 1);
          border-radius: 50%;
          margin-right: 10px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 16px;
          color: #ffffff;
        }
        .user {
          h3 {
            line-height: 28px;
            font-weight: 800;
            color: #222222;
            font-size: 20px;
          }
          p {
            width: 40px;
            height: 20px;
            background: rgba(88, 203, 111, 1);
            opacity: 1;
            border-radius: 3px;
            color: #ffffff;
            font-size: 12px;
            font-weight: 400;
            line-height: 17px;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }
      .merchant-right {
        .amount {
          font-size: 30px;
          line-height: 28px;
          color: #3787fe;
          font-weight: bold;
          padding: 5px 15px;
          border: 2px solid rgba(55, 135, 254, 1);
          opacity: 1;
          border-radius: 3px;
          sub {
            font-size: 20px;
            line-height: 28px;
            margin-left: 5px;
            padding-bottom: 5px;
          }
        }
      }
    }
  }
  .trade-modal-body {
    width: 660px;
    max-width: 660px;
    form {
      .one {
        margin-top: 30px;
        &.notop {
          margin-top: 0px;
        }
        .item {
          position: relative;
          input {
            border: 0px solid red !important;
            background: none !important;
            border-radius: 0px !important;
            border-bottom: 1px solid #e6e6e6 !important;
            box-sizing: border-box !important;
            // padding-left: 5px !important;
            height: 40px;
            padding: 15px 80px 15px 5px !important;
            border-image: -webkit-radial-gradient(#bfbfbf, #fff) 30 30;
          }
          .right-info {
            position: absolute;
            right: 0px;
            top: 0px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 20px;
            color: #222222;
          }
          .limit {
            margin: 5px 0px;
            text-align: left;
            font-size: 16px;
            line-height: 22px;
            color: #666666;
          }
        }
        &.btn {
          margin-bottom: 25px;
          margin-top: 20px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          button {
            width: 310px;
            height: 50px;
            border-radius: 3px;
            &.in {
              background: rgba(55, 135, 254, 1);
              color: white;
              &:focus,
              &:active,
              &:hover {
                box-shadow: none !important;
              }
            }
            &.out {
              background: rgba(48, 214, 158, 1);
              color: white;
              &:focus,
              &:active,
              &:hover {
                background: rgba(48, 214, 158, 1);
                // box-shadow: 0px 3px 5px rgba(48, 214, 180, 0.5);
                box-shadow: none !important;
                border-color: rgba(48, 214, 158, 1);
              }
            }
          }
        }
      }
    }
  }
  .trade-modal-footer {
    width: 100%;
    padding: 15px 30px;
    background: rgba(243, 248, 255, 1);
    border-radius: 0px 0px 3px 3px;
    box-sizing: border-box;
    .footer-head {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-bottom: 10px;
      img {
        width: 20px;
        height: 20px;
        margin-right: 10px;
      }
      h3 {
        font-size: 16px;
        line-height: 22px;
        color: #222222;
      }
    }
    .footer-info {
      text-align: left;
      font-size: 16px;
      line-height: 24px;
      color: #666666;
      max-width: 660px;
    }
  }
  .Intercept {
    margin-bottom: 20px;
  }
}
</style>
