<style lang="scss">
/* @import '../../css/index'; */
.rd-modal-mask {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #373737;
  background-color: rgba(55, 55, 55, 0.2);
  height: 100%;
  z-index: 990;
  filter: alpha(opacity=50);
}
.rd-modal-wrapper {
  position: fixed;
  overflow: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000000;
  -webkit-overflow-scrolling: touch;
  outline: 0;
  overflow: hidden; // 如果是地部弹出的话让不能滚动
}
.rd-modal {
  position: relative;
  width: auto;
  margin: 0 auto;
  top: 200px;
  width: 600px;
  // background-color: #fafafa;
  background-color: white;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  &.large {
    // width: 45rem;
    width: 450px;
  }
  &.teshu {
    position: absolute;
    &.btm {
      transform: translateY(-130%);
    }
    &.tp {
      transform: translateY(0%);
    }
  }
  .border {
    height: 10px;
    border-radius: 3px 3px 0px 0px;
    background: linear-gradient(
      90deg,
      rgba(57, 169, 255, 1) 0%,
      rgba(21, 79, 180, 1) 100%
    );
  }
  .arrowTop {
    position: absolute;
    // top: -20px;
    right: 20px;
    border: 10px solid transparent;
    &.tp {
      top: -20px;
      border-bottom: 10px solid white;
    }
    &.btm {
      bottom: -18px;
      border-top: 10px solid white;
    }
  }
}
.rd-modal-header {
  font-size: 30px;
  padding: 30px 30px 25px 30px;
  // border-bottom: 1px solid #f3f3f3;
  color: #222222;
  text-align: left;
  font-weight: 800;
  display: flex;
  align-items: center;
  button {
    width: 150px;
    height: 40px;
    background: rgba(57, 169, 255, 1);
    box-shadow: 0px 3px 6px rgba(16, 107, 175, 0.3);
    opacity: 1;
    border-radius: 5px;
    font-size: 16px;
    color: #fff;
    margin-left: 5px;
    img {
      width: 28px;
      height: 28px;
    }
  }
}
.rd-modal-body {
  padding: 0px 30px;
  // border-bottom: 1px solid #f3f3f3;
  // min-height: 14rem;
  max-height: 600px;
  overflow-y: auto;
  .html {
    text-align: left;
    color: #666666;
    font-size: 16px;
  }
  .ident-test {
    p {
      color: #222222;
      font-size: 20px;
      margin: 18px 0px 20px 0px;
    }
    button {
      width: 120px;
      height: 35px;
      background: linear-gradient(
        90deg,
        rgba(57, 169, 255, 1) 0%,
        rgba(21, 79, 180, 1) 100%
      );
      box-shadow: 0px 5px 10px rgba(16, 107, 175, 0.3);
      opacity: 1;
      border-radius: 20px;
      color: #fff;
    }
  }
  .delete-box {
    height: 30px;
    text-align: left;
    color: #222222;
  }
}
.rd-modal-footer {
  display: flex;
  justify-content: flex-end;
  padding: 10px 30px;
  &.pad {
    padding: 40px 30px;
    button {
      width: 150px;
    }
  }
}
.rd-modal-footer .rd-btn {
  margin-left: 20px;
}
.rd-modal-header-close {
  font-size: 15px;
  position: absolute;
  top: 15px;
  color: #e5e5e5;
  right: 20px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  &:hover {
    color: red;
  }
}
@media screen and (max-width: 768px) {
  .rd-modal {
    width: 90%;
  }
  .rd-modal-body {
    min-height: 40px;
  }
}
@keyframes modalFadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes modalFadeOutUp {
  from {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
  }
}
.modal-fade-in-down-transition {
  animation-duration: 0.2s;
  animation-fill-mode: both;
}
.modal-fade-in-down-enter {
  animation-name: modalFadeInDown;
}
.modal-fade-in-down-leave {
  animation-name: modalFadeOutUp;
}
</style>
<template>
  <div class="rd-modal-container" v-show="modal.show">
    <div class="rd-modal-mask"></div>
    <div class="rd-modal-wrapper" @click="touchClose">
      <div
        class="rd-modal"
        v-show="modal.show"
        transition="modal-fade-in-down"
        :class="{
          large: modal.rawContent.type == 'ident',
          teshu: modal.rawContent.position == 'teshu',
          btm: modal.rawContent.positArrow == 'btm',
          tp: modal.rawContent.positArrow == 'tp'
        }"
        :style="{
          left:
            modal.rawContent.x != undefined
              ? modal.rawContent.x + 'px'
              : 0 + 'px',
          top:
            modal.rawContent.y != undefined
              ? modal.rawContent.y + 'px'
              : 260 + 'px'
        }"
      >
        <p
          class="border"
          v-if="modal.rawContent.border == false ? false : true"
        ></p>
        <div
          class="arrowTop"
          :class="
            modal.rawContent.positArrow ? modal.rawContent.positArrow : ''
          "
          v-if="modal.rawContent.border == false ? true : false"
        ></div>
        <div class="rd-modal-header">
          <i
            class="rd-modal-header-close ion-close-round"
            v-if="modal.rawContent.border == false ? false : true"
            @click="cancel"
          ></i>
          <span class="rd-modal-title">
            {{ modal.title }}
          </span>
        </div>
        <div class="rd-modal-body" v-if="!modal.rawContent">
          {{ modal.content }}
        </div>
        <div class="rd-modal-body" v-else>
          <man-item
            v-show="modal.rawContent.type == 'user'"
            :obj="modal.rawContent"
          ></man-item>
          <!-- <p
            style="color:#666;text-align:left;margin-top:20px;line-height:24px;"
            v-show="modal.rawContent.type == 'peyeeinfo'"
            v-text="modal.rawContent.text"
          ></p> -->
          <div
            class="html"
            v-show="modal.rawContent.type == 'peyeeinfo'"
            v-html="modal.rawContent.text"
          ></div>
        </div>
        <div
          class="rd-modal-footer"
          :class="modal.rawContent.type == 'peyeeinfo' ? 'pad' : ''"
        >
          <rd-button
            v-show="modal.cancelButton.show"
            :type="modal.cancelButton.type"
            @click.native="cancel"
            >{{ modal.cancelButton.text }}</rd-button
          >
          <rd-button
            v-show="modal.confirmButton.show"
            :type="modal.confirmButton.type"
            @click.native="confirm"
            :loading="loading"
            >{{ modal.confirmButton.text }}</rd-button
          >
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import rdButton from "../components/button.vue";
import ManItem from "../components/ManItem.vue";

import { catIn, type } from "../utils";

export default {
  data() {
    return {
      $modal: null,
      ren_src: require("../assets/images/layout/renzheng.png"),
      loading: false
    };
  },
  mounted() {
    this.$modal = this.$el.getElementsByClassName("rd-modal")[0];
    // console.log(this.modal);
  },
  ready() {
    this.$modal = this.$el.getElementsByClassName("rd-modal")[0];
  },
  watch: {
    modal: {
      handler(n) {
        console.log(n);
        document.querySelector("body").style.overflowY = "hidden";
      }
    },
    deep: true
  },
  computed: {
    modal() {
      return window.RADON_EVENT_BUS.RADON_MODAL;
    }
  },
  components: {
    rdButton,
    ManItem
  },
  methods: {
    touchClose(e) {
      if (!this.$modal) return;
      if (!catIn(e.target, this.$modal)) {
        // this.cancel()
        this.modal.show = false;
        document.querySelector("body").style.overflowY = "auto";
      }
    },
    cancel() {
      if (this.modal.cancel) {
        this.modal.cancel();
      }
      this.modal.show = false;
      document.querySelector("body").style.overflowY = "auto";
    },
    confirm() {
      if (this.modal.confirm) {
        this.loading = true;
        this.modal.confirm().then(obj => {
          this.loading = false;
          this.modal.show = false;
          if (type.isFunction(obj[0])) {
            obj[0](obj[2], obj[1]);
          }
        });
      }
    }
  }
};
</script>
