<style lang="scss">
/* @import '../../css/index'; */
.rd-notification-container {
  position: fixed;
  top: 70px;
  right: 0px;
  z-index: 150000;
}
.list-item {
  display: inline-block;
  margin-right: 10px;
}
.list-enter-active,
.list-leave-active {
  transition: all 1s;
}
.list-enter, .list-leave-to
/* .list-leave-active for below version 2.1.8 */ {
  opacity: 0;
  transform: translateY(30px);
}
.rd-notification {
  position: relative;
  min-width: 200px;
  min-width: 380px;
  background-color: #fff;
  margin-right: 10px;
  border: 1px solid #eaf8fe;
  border-radius: 4px;
  padding: 10px 15px;
  margin-bottom: 10px;
  text-align: left;
  &.success,
  &.warning,
  &.failed,
  &.info {
    // padding-left: 40px;
    padding-left: 60px;
  }
  &.success {
    .rd-notification-icon {
      color: #87d068;
    }
  }
  &.info {
    .rd-notification-icon {
      color: #2db7f5;
    }
  }
  &.warning {
    .rd-notification-icon {
      color: #fa0;
    }
  }
  &.failed {
    .rd-notification-icon {
      color: #f86f6f;
    }
    border-left: 5px solid #f86f6f;
  }
}
.rd-notification-title {
  font-size: 30px;
  text-align: left;
}
.rd-notification-content {
  box-sizing: border-box;
  color: #333;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  word-wrap: break-word;
  word-break: break-all;
  overflow: hidden;
  padding-right: 24px;
}
.rd-notification-close {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
  font-size: 25px;
  color: #ccc;
  cursor: pointer;
}
.rd-notification-close:hover {
  color: #969696;
}
.rd-notification-icon {
  position: absolute;
  top: 50%;
  font-size: 30px;
  transform: translateY(-50%);
  left: 10px;
  line-height: 15px;
}
.notification-transition {
  transition: opacity 0.5s ease;
}
.notification-enter {
  opacity: 0;
}
.notification-leave {
  opacity: 0;
  position: absolute;
}
.notification-move {
  transition: transform 0.5s cubic-bezier(0.55, 0, 0.1, 1);
}
@media screen and (max-width: 768px) {
  .rd-notification-container {
    top: 0;
    right: 0;
    width: 100%;
    padding: 10px 20px;
    box-sizing: border-box;
  }
  .rd-notification {
    width: 100%;
    box-sizing: border-box;
  }
}
</style>
<template>
  <div class="rd-notification-container" v-show="notifications.length">
    <transition-group name="list" tag="ul">
      <div
        class="rd-notification"
        v-for="item in notifications"
        :class="typeClass(item)"
        transition="notification"
        :key="item.id"
      >
        <span class="rd-notification-icon" :class="iconClass(item)"></span>
        <span class="rd-notification-title">{{ item.title }}</span>
        <p class="rd-notification-content">{{ item.content }}</p>
        <span
          class="rd-notification-close ion-close-round"
          @click="closeItem(item)"
        ></span>
      </div>
    </transition-group>
  </div>
</template>
<script>
import { ICON_MAP } from "../utils";
export default {
  computed: {
    notifications() {
      // console.log("变化", window.RADON_EVENT_BUS.RADON_NOTIFICATION);
      return window.RADON_EVENT_BUS.RADON_NOTIFICATION;
    }
  },
  methods: {
    typeClass(item) {
      if (!item.type) {
        return {
          "rd-notification-info": true
        };
      }
      let classList = {};
      classList[item.type] = true;
      return classList;
    },
    iconClass(item) {
      if (!item.type || !ICON_MAP[item.type]) {
        return {
          "rd-notification-noicon": true
        };
      }
      let classList = {};
      classList[ICON_MAP[item.type]] = true;
      return classList;
    },
    closeItem(item) {
      // this.notifications.delete(item)
      if (this.notifications.findIndex(ite => ite.id === item.id) >= 0) {
        this.notifications.splice(
          this.notifications.findIndex(ite => ite.id === item.id),
          1
        );
      }
    }
  }
};
</script>
