<template>
  <div class="pub-info">
    <div class="banxin box-info">
      <div class="text-box">
        <p class="info">{{ $t("publish.release1") }}</p>
        <p class="info">{{ $t("publish.release2") }}</p>
        <p class="info">{{ $t("publish.release3") }}</p>
      </div>
      <div class="btn">
        <button @click="openFun">{{ $t("publish.fee") }}</button>
      </div>
      <div class="top-fixed">
        <img src="../../../assets/images/publish/zu 121@2x.png" alt="" />
        <h3>发布须知</h3>
      </div>
    </div>
    <modal ref="modal_pub_info">
      <div slot="header">
        {{ $t("publish.fee") }}
      </div>
      <div slot="body" class="trade_pub-info" :class="$i18n.locale">
        <p>{{ $t("publish.fee_info") }}</p>
        <div class="list">
          <div class="h">
            <div class="left-box">{{ $t("publish.range") }}</div>
            <div class="right-box">{{ $t("publish.fee_rate") }}</div>
          </div>
          <div class="b">
            <div
              class="item"
              v-for="(item, index) in list"
              :key="index + 'info-pub'"
            >
              <div class="left-box">
                {{ item.coinName }}: {{ item.amountStart }}-{{ item.amountEnd }}
              </div>
              <div class="right-box">{{ item.handingFreeRate }}%</div>
            </div>
          </div>
        </div>
      </div>
    </modal>
  </div>
</template>
<script>
import { queryOtcMarketFeeRate } from "../../../api/publish";
import Modal from "../../../components/Modal";
export default {
  components: {
    Modal
  },
  data() {
    return {
      list: []
    };
  },
  methods: {
    openFun() {
      this.$refs.modal_pub_info.show = true;
      this.feeFun();
    },
    feeFun() {
      queryOtcMarketFeeRate().then(res => {
        if (res.code == 200) {
          //
          this.list = res.data;
        } else {
          //
          this.$Notification.failed("", res.message, 2500);
        }
      });
    }
  }
};
</script>
<style lang="scss" scoped>
.trade_pub-info {
  width: 580px;
  font-size: 16px;
  color: #222222;
  p {
    text-align: left;
  }
  .list {
    margin-top: 30px;
    .h {
      display: flex;
      justify-content: space-between;
      background: rgba(230, 230, 230, 1);
      align-items: center;
      .left-box,
      .right-box {
        flex: 1;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    .b {
      .item {
        display: flex;
        justify-content: space-between;
        background: rgba(230, 230, 230, 1);
        align-items: center;
        height: 80px;
        .left-box,
        .right-box {
          flex: 1;
          height: 80px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .left-box {
          border-right: 1px solid rgba(255, 255, 255, 1);
        }
        &:nth-child(odd) {
          background: rgba(242, 242, 242, 1);
        }
        &:nth-child(even) {
          background: white;
        }
      }
    }
  }
}
.pub-info {
  //   height: 120px;
  background: rgba(55, 135, 254, 0.1);
  .banxin {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      width: 0;
      top: -20px;
      right: 25px;
      border-width: 10px;
      border-style: solid;
      border-color: transparent transparent rgba(55, 135, 254, 0.1) transparent; /* transparent 设置边框颜色透明 */
    }
  }
  .box-info {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    padding: 20px 0px;
    box-sizing: border-box;
    p {
      font-size: 16px;
      &.info {
        line-height: 32px;
        color: #666666;
      }
      &.label {
        line-height: 22px;
        color: #222222;
      }
    }
  }
  .text-box {
    p {
      text-align: left;
    }
    margin-right: 10px;
  }
  .btn {
    button {
      padding: 4px 10px;
      border: 1px solid rgba(55, 135, 254, 1);
      background: rgba(55, 135, 254, 0);
      opacity: 1;
      border-radius: 3px;
      font-size: 16px;
      line-height: 32px;
      color: #3787fe;
      &:hover {
        // box-shadow: 0 2px 5px rgba(55, 135, 254, 1);
        background: rgba(55, 135, 254, 1);
        color: white;
      }
    }
  }
  .top-fixed {
    position: absolute;
    right: 0px;
    top: -50px;
    display: flex;
    align-items: center;
    img {
      width: 20px;
      height: 20px;
      margin-right: 5px;
    }
    h3 {
      font-size: 20px;
      font-weight: 800;
      line-height: 28px;
      color: #222222;
    }
  }
}
</style>
