<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="icon" href="<%= BASE_URL %>favicon.ico">
  <title>zhimaui</title>
</head>
<style>
  html,body{
    height: 100%;
  }
  body #app {
    height: 100%;
  }
</style>
<!--[if lte IE 10]>
    <script>
    alert("您正在使用的浏览器版本过低，为了您的最佳体验，请先升级浏览器。");
    window.location.href="http://support.dmeng.net/upgrade-your-browser.html?referrer="+encodeURIComponent(window.location.href);
    </script>
<![endif]-->
 <!-- 针对ie10及以下版本使用： -->
<script>
    /*@cc_on 
      alert("您正在使用的浏览器版本过低，为了您的最佳体验，请先升级浏览器。");
      window.location.href="https://support.dmeng.net/upgrade-your-browser.html?referrer="+encodeURIComponent(window.location.href); 
    @*/
  </script>
<body>
    <!--[if lte IE 9]>
      <script>
        alert("您正在使用的浏览器版本过低，为了您的最佳体验，请先升级浏览器。");
        window.location.href="http://support.dmeng.net/upgrade-your-browser.html?referrer="+encodeURIComponent(window.location.href);
      </script>
    <![endif]-->
</body>
</html>