<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <!-- 强制Chromium内核，作用于360浏览器、QQ浏览器等国产双核浏览器 -->
  <meta name="renderer" content="webkit"/>
  <!-- 强制Chromium内核，作用于其他双核浏览器 -->
  <meta name="force-rendering" content="webkit"/>
  <!-- 如果有安装 Google Chrome Frame 插件则强制为Chromium内核，否则强制本机支持的最高版本IE内核，作用于IE浏览器 -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <!-- 阻止大部分的搜索引擎网页抓取工具将网站编入索引 -->
  <meta name="robots" content="noindex">
  <!-- 标记指示搜索引擎 还有采用其他网址的移动版本 -->
  <!-- <link rel="alternate" media="only screen and (max-width: 640px)" href="http://m.example.com/"> -->
  <link rel="icon" href="<%= BASE_URL %>favicon.ico">
  <title>Ritzbiz</title>
</head>
<style>
  @keyframes opacity {
    0% {
        opacity: 1
    }
    50% {
        opacity: .5
    }
    100% {
        opacity: 1
    }
  }
</style>
<!--[if lte IE 9]>
    <script>
      alert("您正在使用的浏览器版本过低，为了您的最佳体验，请先升级浏览器。");
      window.location.href="http://support.dmeng.net/upgrade-your-browser.html?referrer="+encodeURIComponent(window.location.href);
    </script>
<![endif]-->
<!--[if lte IE 10]>
    <script src='https://cdn.polyfill.io/v2/polyfill.min.js'></script>
<![endif]-->
<body class="gundong">
  <div id="app">
    <style>._{position:fixed;z-index:999;background:#ecf0f2;}.__{top:0%;left:0%;width:100%;}</style><div class="_ __" style="height:100%;z-index:990;background:#fff"></div><div class="_" style="height:7.500%;top:0.000%;left:3.333%;width:6.493%"></div><div class="_" style="height:2.125%;top:2.688%;left:72.741%;width:1.417%"></div><div class="_" style="height:6.250%;top:0.625%;left:74.574%;width:2.667%"></div><div class="_" style="height:1.500%;top:3.000%;left:77.491%;width:1.000%"></div><div class="_" style="height:2.000%;top:2.750%;left:79.074%;width:13.185%"></div><div class="_" style="height:2.625%;top:2.438%;left:92.759%;width:3.408%"></div><div class="_" style="height:6.250%;top:16.250%;left:0.000%;width:100.000%"></div><div class="_" style="height:5.250%;top:22.500%;left:0.000%;width:100.000%"></div><div class="_" style="height:2.750%;top:27.750%;left:0.000%;width:100.000%"></div><div class="_" style="height:16.250%;top:38.375%;left:5.000%;width:16.667%"></div><div class="_" style="height:2.750%;top:55.875%;left:5.000%;width:16.667%"></div><div class="_" style="height:2.750%;top:58.625%;left:5.000%;width:16.667%"></div><div class="_" style="height:15.000%;top:42.375%;left:25.513%;width:0.776%"></div><div class="_" style="height:16.250%;top:38.375%;left:29.443%;width:16.667%"></div><div class="_" style="height:2.750%;top:55.875%;left:29.443%;width:16.667%"></div><div class="_" style="height:2.750%;top:58.625%;left:29.443%;width:16.667%"></div><div class="_" style="height:15.000%;top:42.375%;left:49.956%;width:0.776%"></div><div class="_" style="height:16.250%;top:38.375%;left:53.885%;width:16.667%"></div><div class="_" style="height:2.750%;top:55.875%;left:53.885%;width:16.667%"></div><div class="_" style="height:2.750%;top:58.625%;left:53.885%;width:16.667%"></div><div class="_" style="height:15.000%;top:42.375%;left:74.398%;width:0.776%"></div><div class="_" style="height:16.250%;top:38.375%;left:78.328%;width:16.667%"></div><div class="_" style="height:2.750%;top:55.875%;left:78.328%;width:16.667%"></div><div class="_" style="height:2.750%;top:58.625%;left:78.328%;width:16.667%"></div><div class="_" style="height:5.000%;top:71.250%;left:3.333%;width:10.000%"></div><div class="_" style="height:2.000%;top:72.750%;left:47.333%;width:5.333%"></div><div class="_" style="height:5.000%;top:71.250%;left:73.333%;width:10.000%"></div><div class="_" style="height:4.375%;top:80.125%;left:3.333%;width:20.544%"></div><div class="_" style="height:2.000%;top:85.375%;left:3.333%;width:10.115%"></div><div class="_" style="height:2.000%;top:80.125%;left:46.892%;width:6.215%"></div><div class="_" style="height:4.375%;top:83.000%;left:47.708%;width:4.583%"></div><div class="_" style="height:4.375%;top:80.125%;left:73.333%;width:20.544%"></div><div class="_" style="height:2.000%;top:85.375%;left:73.333%;width:10.115%"></div>

  </div>
  <!-- shell -->
</body>
</html>