@font-face{
  /* font-family: 'PingFangSC-Regular'; */
  font-family: 'PingFang SC';
  src: url("../fonts/pingfangregular.eot?#iefix") format("embedded-opentype"), 
      url('../fonts/pingfangregular.ttf')  format('truetype') ;
      font-display: swap;
}
body {
  /* font-family: 'PingFangSC-Regular'; */
  font-family: 'PingFang SC';
  font-display: swap;
}
  