@import (less) "~heyui/themes/var.less";
//重新定义主题
@primary-color: #3787FE;
@red-color: #D64244;
@green-color: #3cb357;
@yellow-color: #EAC12C;
@blue-color: #77A2DC;
input {
  box-sizing: border-box;
}
.h-table {
    border: 0px solid #eeeeee !important;
}
.h-table td {
    border-color: white !important;
    border-top: 10px solid white !important;
}
.h-table tr {
    background:  #FAFAFA;
    height: 60px;
}
.h-table {
    .h-table-header {
      
    }
    .h-table-container {
      color: #222222;
    }
  }
.trade-table {
  .h-table-header {
    .h-table-header-table {
        tr {
          th {
            border-color: #CCCCCC !important;
            border-top: 0px solid #CCCCCC !important;
            border-bottom: 1px solid #CCCCCC !important;
          }
        }
    }
  }
  .h-table-container {
    background: none !important;
    table {
      tbody {
        tr {
          height: 100px !important;
          td {
            border-color: #E6E6E6 !important;
            border-top: 0px solid #E6E6E6 !important;
            border-bottom: 1px solid #E6E6E6 !important;
          }
        }
      }
    }
  }
}
@import (less) "~heyui/themes/common.less";

input[type=password],
input[type=text] {
  &:hover,
  &:focus {
    // border: 0px solid red !important;
    box-shadow: 0px 0px 0px 0px red !important;
  }
}