/* http://meyerweb.com/eric/tools/css/reset/
   v2.0-modified | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
    outline: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
    line-height: 1;
    width: inherit;
}

ol, ul ,li{
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
    -webkit-appearance: none;
    -moz-appearance: none;
}

input[type=search] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */

audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
    display: none;
    height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */

[hidden] {
    display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
 :root {
    --font-color01: #A3A7B8;
    --font-color02: #39A9FF;
    --font-color03: #ffffff;
    /* #333 */
    --font-color04: rgba(51,51,51,1);
    /* #666 */
    --font-color05: rgba(102,102,102,1); //#666666
    --font-color06: #154FB4;
    --font-color07: #0E1733;
    --font-color08: #F86F6F;
    --font-color09: #FF9100;
    --font-color10: #7DBCED;
    /* #333 */
    --font-color11: #333333;
    --font-color12: #38BB87;
    --font-color13: #F3F8FF;
    --font-color14: #e6e6e6; // 230, 230, 230
    --font-color15: #cccccc;
    --font-color16: #8B96B3;
    --font-color17: #F2F2F2; // 242, 242, 242
    --font-color18: #d9d9d9;
    --font-color19: #FFB917;
    --font-color20: #F1F5F9;
    --font-color21: #8995b1;
    --font-color22: #DBEFFF;
    --font-color23: #EDEDF1;
    --font-color24: #F3F5F7;
    --font-color25: #FAFAFA; //250, 250, 250
    --font-color26: 55,135,254;//#3787FE
    --font-color27: #fff;
    --font-color28: 34,45,112; //#222D70
    --font-color29: 161,176,198; // #A1B0C6
    --font-color30: 252,115,115; // #FC7373
    --info_bg: 234,243,255; // #EAF3FF
    --back01:#164DA7;
    --font-size14: 14px;
    --font-size16: 16px;
    --font-size20: 20px;
    --font-size26: 26px;
    --font-size30: 30px;
    --font-size40: 40px;
    --font-weight-normal: normal;
    --font-weight-800: 800;
    --fixed-top:1000;
    --box-size-border: border-box;
    --box-size-content: content-box;
    /* button*/
    --button-bg: linear-gradient(180deg,#3787fe,#2d5bf2);
    --button-bg-hover: rgba(55,135,254,.8);
    --button-shadow: 0px 0px 10px rgba(34,45,112,0.5);
    --button-radius: 3px;
    --color-black: #222222;// 34, 34, 34
    --color-gray: #999999;
    --borderColor: rgba(107, 139, 187, 1);
    --shadowColor: rgba(23, 34, 100, 0.5);
    --bgSet: linear-gradient(
      360deg,
      rgba(25, 38, 103, 1) 0%,
      rgba(13, 21, 64, 1) 100%
    );
    --raduis: 3px;
    --borderWidth: 3px;
    --bd-color: 230,230,230;
}
.rd-btn.button1 {
    color: #fff;
    background: var(--button-bg);
    box-shadow: var(--button-shadow);
    border-radius: 3px;
    transform: opacity .4s;
    &:hover,
    &:focus {
    //   background-color: var(--button-bg-hover);
      background: var(--button-bg);
      color: #fff;
      opacity: .8;
    }
}

html {
    font-size: 100%; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    -ms-text-size-adjust: 100%; /* 2 */
    font-family:'PingFang SC', 'Microsoft YaHei';
    font-display: swap;
    font-weight: var(--font-weight-normal);
    min-width: 1200px;

}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */

a:focus {
    /* outline: thin dotted; */
    border: 0px;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
    outline: 0;
    border: 0px;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */

img {
    border: 0; /* 1 */
    -ms-interpolation-mode: bicubic; /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */

figure {
    margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */

form {
    margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */

legend {
    border: 0; /* 1 */
    padding: 0;
    white-space: normal; /* 2 */
    *margin-left: -7px; /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */

button,
input,
select,
textarea {
    font-size: 100%; /* 1 */
    margin: 0; /* 2 */
    vertical-align: baseline; /* 3 */
    *vertical-align: middle; /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

button,
input {
    line-height: normal;
}
button {
    outline: none;
    border: 0px;
    transition: all .3s ease-in-out;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */

button,
select {
    text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button; /* 2 */
    cursor: pointer; /* 3 */
    *overflow: visible;  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
    cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
    *height: 13px; /* 3 */
    *width: 13px; /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; /* 2 */
    box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */

textarea {
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
}

/**
 * Remove most spacing between table cells.
 */

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html,
button,
input,
select,
textarea {
    color: #222222;
    // color: var(--font-color01);
}


::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
input{
    border: none;
}
// 文字左右对齐
.text-left-right {
    text-align:justify;
      text-justify:distribute-all-lines;/*ie6-8*/
      text-align-last:justify;/* ie9*/
      -moz-text-align-last:justify;/*ff*/
      -webkit-text-align-last:justify;/*chrome 20+*/
}
@media screen and (-webkit-min-device-pixel-ratio:0){/* chrome*/
    .text-left-right:after{
        content:".";
        display: inline-block;
        width:100%;
        overflow:hidden;
        height:0;
    }
}




/* 
    自己添加

*/
/* html{
    font-family:PingFang-SC-Regular 'PingFang-SC-Bold' 'Microsoft YaHei';
    font-size: 16px;
} */

.banxin{
    width: 1300px;
    height: 100%;
    margin:0 auto;
    /* position: relative; */
}
.left{
    float: left;
}
.right{
    float: right;
}
.outer {zoom:1;}    /*==for IE6/7 Maxthon2==*/
.outer:after {clear:both;content:'.';display:block;width: 0;height: 0;visibility:hidden;}/*==for FF/chrome/opera/IE8==*/

/* ie 滚动条设置 */
html {
    scrollbar-arrow-color: #f4ae21; /**//*三角箭头的颜色*/ 
    scrollbar-face-color: #333; /**//*立体滚动条的颜色*/ 
    scrollbar-3dlight-color: #666; /**//*立体滚动条亮边的颜色*/ 
    scrollbar-highlight-color: #666; /**//*滚动条空白部分的颜色*/ 
    scrollbar-shadow-color: #999; /**//*立体滚动条阴影的颜色*/ 
    scrollbar-darkshadow-color: #666; /**//*立体滚动条强阴影的颜色*/ 
    scrollbar-track-color: #666; /**//*立体滚动条背景颜色*/ 
    scrollbar-base-color:#f8f8f8;

     /*隐藏滚动条，当IE下溢出，仍然可以滚动*/
     -ms-overflow-style:none;
     /*火狐下隐藏滚动条*/
     /* overflow:-moz-scrollbars-none; */
     scrollbar-width: none;

     /*IE10,IE11,IE12*/
    /* -ms-scroll-chaining: chained;
    -ms-overflow-style: none;
    -ms-content-zooming: zoom;
    -ms-scroll-rails: none;
    -ms-content-zoom-limit-min: 100%;
    -ms-content-zoom-limit-max: 500%;
    -ms-scroll-snap-type: proximity;
    -ms-scroll-snap-points-x: snapList(100%, 200%, 300%, 400%, 500%);
    -ms-overflow-style:none;
    overflow: auto; */

} 
html {
    /* overflow-y: hidden; */
}


/* 滚动条 */
::-webkit-scrollbar 
{ 
    width: 0px; 
    height: 0px; 
    background-color: #F5F5F5; 
} 
   
/*定义滚动条轨道 内阴影+圆角*/ 
::-webkit-scrollbar-track 
{ 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px; 
    background-color: #F5F5F5; 
} 
   
/*定义滑块 内阴影+圆角*/ 
::-webkit-scrollbar-thumb 
{ 
    border-radius: 10px; 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3); 
    background-color: #555; 
} 

/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/ 
.gundong::-webkit-scrollbar 
{ 
    width: 6px; 
    /* height: 16px;  */
    background-color: #F5F5F5; 
} 
   
/*定义滚动条轨道 内阴影+圆角*/ 
.gundong::-webkit-scrollbar-track 
{ 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px; 
    background-color: #F5F5F5; 
} 
   
/*定义滑块 内阴影+圆角*/ 
.gundong::-webkit-scrollbar-thumb 
{ 
    border-radius: 10px; 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3); 
    background-color: #555; 
} 
/*  */
/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/ 
.gundong2::-webkit-scrollbar 
{ 
    width: 6px; 
    /* height: 16px;  */
    background-color: #F5F5F5; 
} 
   
/*定义滚动条轨道 内阴影+圆角*/ 
.gundong2::-webkit-scrollbar-track 
{ 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px; 
    background-color: #F5F5F5; 
} 
   
/*定义滑块 内阴影+圆角*/ 
.gundong2::-webkit-scrollbar-thumb 
{ 
    border-radius: 10px; 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3); 
    background-color: white; 
} 

/**
*
*去掉input type= number 得默认样式
*/
input[type=number] {
    -moz-appearance:textfield;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    /* -webkit-appearance: none; */
    margin: 0;
}


/**
*设置input textarea 的placholder的颜色
*/
::-webkit-input-placeholder,textarea::-webkit-input-placeholder { /* WebKit browsers */
    color:    #ccc;
    font-size: 16px;
    // line-height: 22px;
}
:-moz-placeholder,textarea:-moz-placeholder  { /* Mozilla Firefox 4 to 18 */
    color:    #ccc;
    font-size: 16px;
    // line-height: 22px;
}
::-moz-placeholder,textarea::-moz-placeholder{ /* Mozilla Firefox 19+ */
    color:    #ccc;
    font-size: 16px;
    // line-height: 22px;
}
:-ms-input-placeholder,textarea:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #ccc!important;
    font-size: 16px !important;
    // line-height: 22px;
}
input#get::placeholder,
input#want::placeholder {
    color:    #ccc!important;
    font-size: 24px !important;
}

h3 {
    font-size: var(--font-size30);
}
form.auth {
    label {
        font-size: 16px;
        color: var(--color-black) !important;
        margin-bottom: 0px;
    }
    .item {
        .file-upload {
            .none {
                width: inherit;
                height: inherit;
                .add-icon {
                    font-size: 16px;
                }
            }
        }
    }
}
.login-pass {
    form {
        label {
            font-size: 16px;
            color: var(--color-black);
        }
    }
}
.trade-ads-detail {
    form {
        label {
            font-size: 16px;
        line-height: 22px;
        color: #222222;
        }
    }
}


// 拦截弹框
div.Intercept {
    .info-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .left {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: 30px;
        span {
          width: 20px;
          height: 20px;
          border-radius: 50%;
          background: rgba(var(--font-color30), 1);
          color: var(--font-color03);
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: var(--font-size16);
          margin-right: 10px;
        }
        p {
          font-size: var(--font-size16);
          color: var(--color-black);
          line-height: 32px;
        }
      }
      a {
        color: rgba(var(--font-color26), 1) !important;
      }
    }
    &.en {
      .info-item {
        .left {
          p {
            font-size: var(--font-size14);
            color: var(--color-black);
            line-height: 32px;
          }
        }
      }
    }
  }

.trade_index {
    .nw-modal-footer {
        padding: 0px !important;
      }
}

.show_img {
    box-sizing: border-box;
    padding: 10px;
    // max-height: 10%;
    img {
        // max-width: 90% !important;
        max-height: 300px !important;
    }
}
.html-box {
    img {
      max-width: 80%;
    }
  }
.register-user {
    .nw-modal{
        width: 90%;
    }
}

.h-table-header {
    font-size: 19px;
}
.Intercept {
    a {
      font-size: 18px;
    }
  }
.time-tag {
    .select_top.no {
        span {
            padding: 0px;
        }
    }
}