<template>
  <div class="address">
    <content-nav :list="list"></content-nav>
    <div class="banxin">
      <!-- 没有label 有options 的是 铺平布局 -->
      <!-- 有label 有options 的是 下拉选择框 -->
      <!-- 有label 没有options 且 没有btn 的是 input -->
      <!-- 有btn 的是 button -->
      <list-querys
        v-model="querys"
        :paramsTopLeft="paramsTopLeft"
        :paramsBottomLeft="paramsBottomLeft"
        :paramsTopRight="paramsTopRight"
        :paramsBottomRight="paramsBottomRight"
        :time="false"
        expand
        @click="exportFun"
      ></list-querys>
      <ai-form ref="formItems" :model="formValidate" :rules="ruleValidate">
        <div class="one" v-show="querys.coinTypeId == '2'">
          <ai-form-item prop="type">
            <base-select
              :data="omniRec"
              :val="formValidate.type"
              set="formValidate.type"
              value="id"
              label="label"
              :home="false"
              color="#222222"
              class="select-box"
            ></base-select>
          </ai-form-item>
        </div>
        <div class="one">
          <ai-form-item prop="address">
            <ai-input
              class="selec_type_one address-b"
              v-model="formValidate.address"
              :placeholder="$t('assets_address.address_input')"
            />
          </ai-form-item>
        </div>
        <div class="one">
          <ai-form-item prop="remark">
            <ai-input
              class="selec_type_one remark"
              v-model="formValidate.remark"
              :placeholder="$t('assets_address.remark_input')"
            />
          </ai-form-item>
        </div>
        <div class="one">
          <ai-form-item>
            <rd-button
              :loading="loadingBtn"
              type="success2"
              :callBack="confirmFun"
              >{{ $t("assets_address.add") }}</rd-button
            >
          </ai-form-item>
        </div>
      </ai-form>
      <div class="tb-box skt-loading">
        <!-- <Table v-show="loading == false" :datas="tableData" :height="420"> -->
        <Table :datas="tableData" :height="420">
          <TableItem
            :title="$t('assets_address.coin')"
            :width="100"
            align="left"
          >
            <template slot-scope="{ data }">
              <div class="">
                <span class="">{{ data.coinType.toUpperCase() }}</span>
              </div>
            </template>
          </TableItem>
          <TableItem
            v-if="querys.coinTypeId == '2'"
            :title="$t('asset_manage.lian_name')"
            align="left"
            :width="100"
          >
            <template slot-scope="{ data }">
              <div class="lian">
                <span class="">{{ data.type }}</span>
              </div>
            </template>
          </TableItem>
          <TableItem
            :title="$t('assets_address.withdraw_address')"
            align="left"
            :width="500"
          >
            <template slot-scope="{ data }">
              <div class="address-box">
                <span class="address-one">{{ data.extractAddress }}</span>
                <span
                  v-if="querys.coinTypeId != '2' && data.coinTypeId == '2'"
                  class="lian-name"
                  >{{ data.type }}</span
                >
              </div>
            </template>
          </TableItem>
          <TableItem
            :title="$t('assets_address.remark')"
            prop="remark"
            align="left"
          ></TableItem>
          <TableItem
            :title="$t('assets_address.control')"
            align="left"
            :width="100"
          >
            <template slot-scope="{ data }">
              <div class="btn">
                <div @click="deleteFun(data)" class="button">
                  <img src="../../assets/images/assets/zu 612@2x.png" alt="" />
                  {{ $t("infoAll.delete") }}
                </div>
              </div>
            </template>
          </TableItem>
          <div slot="empty">
            <!-- 自定义提醒：暂时无数据 -->
            <div
              class="table-none"
              v-show="loading == false && tableData.length == 0"
            >
              <img src="../../assets/images/trade/zu 710@2x.png" alt="" />
              <p>暂未找到记录</p>
            </div>
          </div>
        </Table>
        <ul class="table-box" v-show="loading && tableData.length == 0">
          <!-- <ul class="table-box"> -->
          <li v-for="(item, index) in 6" :key="index + 'tb-box-ul'">
            <div class="time skeleton"></div>
            <div class="coin skeleton"></div>
            <div class="amout skeleton"></div>
            <div class="fee skeleton"></div>
            <div class="status skeleton"></div>
            <div class="address-b skeleton"></div>
            <div class="txid skeleton"></div>
          </li>
        </ul>
      </div>
      <div class="pg">
        <Pagination
          v-model="pagination"
          align="right"
          @change="handleCurrentChange"
        ></Pagination>
      </div>
    </div>
    <!-- 添加弹框 -->
    <modal ref="modal_email">
      <div slot="header">
        {{ $t("email.safety_verification") }}
      </div>
      <div slot="body">
        <ai-form
          ref="formItemsText"
          :model="formValidate2"
          :rules="ruleValidate2"
          class="pop"
        >
          <div class="one" v-show="user.email != null && user.email != ''">
            <ai-form-item :label="$t('infoAll.email')" prop="email">
              <ai-input
                class="selec_type_one light"
                v-model="formValidate2.email"
                :placeholder="$t('infoAll.input_email')"
                :disabled="true"
              />
            </ai-form-item>
          </div>
          <div class="one" v-show="user.email != null && user.email != ''">
            <ai-form-item :label="$t('infoAll.email_code')" prop="emailCode">
              <div class="input-send">
                <ai-input
                  class="selec_type_one light"
                  v-model="formValidate2.emailCode"
                  :placeholder="$t('infoAll.p_email_code')"
                />
                <send-code
                  class="send"
                  border="borderLeft"
                  :data="{
                    accountType: '1',
                    behaviorType: 6,
                    number: user.email
                  }"
                ></send-code>
              </div>
            </ai-form-item>
          </div>
          <div class="one" v-show="user.phone != null && user.phone != ''">
            <ai-form-item :label="$t('infoAll.phone')" prop="phone">
              <ai-input
                class="selec_type_one light"
                v-model="formValidate2.phone"
                :placeholder="$t('infoAll.input_phone')"
                :disabled="true"
              />
            </ai-form-item>
          </div>
          <div class="one" v-show="user.phone != null && user.phone != ''">
            <ai-form-item :label="$t('infoAll.phone_code')" prop="phoneCode">
              <div class="input-send">
                <ai-input
                  class="selec_type_one light"
                  v-model="formValidate2.phoneCode"
                  :placeholder="$t('infoAll.p_phone_code')"
                />
                <send-code
                  class="send"
                  border="borderLeft"
                  :data="{
                    accountType: '0',
                    behaviorType: 6,
                    number:
                      '%2B' +
                      (user.phoneAreaCode
                        ? user.phoneAreaCode.split('+')[1]
                        : '') +
                      ',' +
                      user.phone
                  }"
                ></send-code>
              </div>
            </ai-form-item>
          </div>
          <div class="one" v-show="user.googleAuthTag === '1'">
            <ai-form-item :label="$t('infoAll.google_code')" prop="googleCode">
              <ai-input
                class="selec_type_one light"
                v-model="formValidate2.googleCode"
                :placeholder="$t('infoAll.p_google_code')"
              />
            </ai-form-item>
          </div>
          <div class="one btn">
            <ai-form-item>
              <rd-button class="" type="" :callBack="cancelFun">{{
                $t("infoAll.cancel")
              }}</rd-button>
              <rd-button class="" type="success2" :callBack="confirmModalFun">{{
                $t("infoAll.confirm")
              }}</rd-button>
            </ai-form-item>
          </div>
        </ai-form>
      </div>
    </modal>
  </div>
</template>
<script>
import contentNav from "../../components/ContentNav";
import rdButton from "../../components/button";
import AiForm from "../../components/form";
import AiFormItem from "../../components/form-item";
import AiInput from "../../components/input";
import BaseSelect from "../../components/BaseSelect.vue";
import Modal from "../../components/Modal";
import SendCode from "../../components/SendCode";
import table from "../../mixin/table";
import {
  getCoinsFun,
  getAddressList,
  deleteExtractAddressFun,
  addExtractAddressFun
} from "../../api/assets";
import { mapGetters } from "vuex";
export default {
  mixins: [table],
  components: {
    contentNav,
    "rd-button": rdButton,
    BaseSelect,
    AiInput,
    AiFormItem,
    AiForm,
    Modal,
    SendCode
  },
  data() {
    return {
      tableFunc: { post: getAddressList },
      list: [
        {
          text: "navitem.assets"
        },
        {
          text: "asset_manage.nav_address"
        }
      ],
      paramsTopLeft: [
        {
          key: "coinTypeId",
          options: []
        }
      ],
      paramsTopRight: [],
      paramsBottomLeft: [],
      paramsBottomRight: [],
      formValidate: {
        address: "",
        type: "0",
        coinTypeId: "",
        remark: "",
        emailCode: "",
        phoneCode: "",
        googleCode: ""
      },
      loadingBtn: false,
      loadingBtn2: false,
      omniRec: [
        {
          id: "0",
          label: "OMNI"
        },
        {
          id: "1",
          label: "ERC20"
        }
      ],
      item: {
        text: this.$t("assets_address.delete"),
        type: "peyeeinfo",
        add: false
      },
      formValidate2: {},
      ruleValidate2: {}
    };
  },
  watch: {
    "querys.coinTypeId": {
      handler() {
        this.tableData = [];
        this.loading = true;
        this.count = 0;
        this.initRule();
        this.formValidate.address = "";
        this.formValidate.remark = "";
      }
    }
  },
  computed: {
    ...mapGetters(["user"])
  },
  created() {
    this.formValidate2 = {
      email: this.user.email,
      emailCode: "",
      phone: this.user.phone,
      phoneCode: "",
      googleCode: ""
    };
    this.ruleValidate2 = {
      emailCode: [
        {
          required:
            this.user.email != "" && this.user.email != null ? true : false,
          message: this.$t("infoAll.p_email_code")
        }
      ],
      phoneCode: [
        {
          required:
            this.user.phone != "" && this.user.phone != null ? true : false,
          message: this.$t("infoAll.p_phone_code")
        }
      ],
      googleCode: [
        {
          required: this.user.googleAuthTag == "1" ? true : false,
          message: this.$t("infoAll.p_google_code")
        }
      ]
    };
    this.querys = Object.assign({}, this.querys, {
      coinTypeId: ""
    });
    this.formValidate.account =
      this.user.accountType == "0" ? this.user.phone : this.user.email;
    if (this.user.phoneAreaCode) {
      this.formValidate.phoneAreaCode = this.user.phoneAreaCode;
    }
    this.initRule();
    this.initCoinFun();
  },
  mounted() {
    document
      .querySelector(".h-table-container")
      .querySelector(".h-table-body")
      .classList.add("gundong");
  },
  methods: {
    initRule() {
      this.ruleValidate = {
        type: [
          {
            required: this.querys.coinTypeId == "2" ? true : false,
            message: this.$t("form.user_name"),
            trigger: "blur"
          }
        ],
        address: [
          {
            required: true,
            message: this.$t("assets_address.address_input"),
            trigger: "blur"
          }
        ],
        remark: [
          {
            required: true,
            message: this.$t("assets_address.remark_input"),
            trigger: "blur"
          }
        ]
      };
    },
    initCoinFun() {
      getCoinsFun().then(res => {
        if (res.code == 200) {
          let d = res.data;
          let arr = [];
          for (let index = 0; index < d.length; index++) {
            const element = d[index];
            arr.push({
              label: element.label.toUpperCase(),
              value: element.value
            });
          }
          this.paramsTopLeft = [
            {
              key: "coinTypeId",
              options: [
                {
                  value: "",
                  label: "全部",
                  elabel: "All"
                },
                ...arr
              ]
            }
          ];
        } else {
          this.$Notification.failed("", res.message, 2000);
        }
      });
    },
    confirmFun() {
      this.$refs.formItems.validate().then(valid => {
        if (valid) {
          if (this.querys.coinTypeId == "") {
            this.$Notification.failed("", "必选选择一个币种", 3000);
            return;
          } else {
            //   触发验证弹窗
            this.$refs.modal_email.show = true;
          }
        } else {
          //
        }
      });
    },
    deleteFun(data) {
      this.$Modal.confirmWithHTML(
        this.$t("assets_address.delete_adr"),
        this.item,
        () => {
          return deleteExtractAddressFun(data).then(res => {
            if (res.code == 200) {
              this.$Notification.success("", res.message, 2000);
              this.getList();
            } else {
              this.$Notification.failed("", res.message, 2000);
            }
            return true;
          });
        },
        () => {
          this.$Modal.show = false;
        },
        {
          cancelButton: {
            show: true,
            text: this.$t("infoAll.cancel"),
            type: "cancel",
            size: "large"
          },
          confirmButton: {
            show: true,
            text: this.$t("infoAll.confirm"),
            type: "primary",
            size: "large"
          }
        }
      );
    },
    cancelFun() {
      this.$refs.modal_email.show = false;
      this.formValidate2.emailCode = "";
      this.formValidate2.phoneCode = "";
      this.formValidate2.googleCode = "";
    },
    confirmModalFun() {
      this.$refs.formItemsText.validate().then(valid => {
        if (valid) {
          this.loadingBtn2 = true;
          let item = {
            address: this.formValidate.address,
            coinTypeId: this.querys.coinTypeId,
            remark: this.formValidate.remark
          };
          switch (this.querys.coinTypeId) {
            case "2":
              item["type"] = this.formValidate.type;
              break;
            case "4":
              item["type"] = "1";
              break;
            default:
              // 目前btc 没有 type 。即没有链
              break;
          }
          if (this.user.email != null && this.user.email != "") {
            item["emailCode"] = this.formValidate2.emailCode;
          }
          if (this.user.phone != null && this.user.phone != "") {
            item["phoneCode"] = this.formValidate2.phoneCode;
          }
          if (this.user.googleAuthTag == "1") {
            item["googleCode"] = this.formValidate2.googleCode;
          }
          addExtractAddressFun(item).then(res => {
            if (res.code == 200) {
              this.$Notification.success("", res.message, 3000);
              this.$refs.modal_email.show = false;
              this.formValidate.address = "";
              this.formValidate.remark = "";
              this.getList();
            } else {
              this.$Notification.failed("", res.message, 3000);
            }
            this.loadingBtn2 = false;
          });
        } else {
          //
        }
      });
    }
  }
};
</script>
<style lang="scss" scoped>
.address {
  padding-top: 140px;
  padding-bottom: 100px;
  .table-none {
    margin-top: 50px;
    img {
      width: 260px;
      height: 170px;
    }
    p {
      font-size: 16px;
      line-height: 22px;
      color: #a1b0c6;
    }
  }
  form {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    .one {
      .item {
        .select-box {
          width: 100px;
          height: 60px;
          background: rgba(242, 242, 242, 1);
          opacity: 1;
          border-radius: 3px;
        }
        .selec_type_one {
          height: 60px;
          &.address-b {
            width: 500px;
          }
          &.remark {
            width: 450px;
          }
        }
        button {
          height: 60px;
          box-sizing: border-box;
          padding: 10px 20px;
          &:hover {
            border: 0px solid red;
          }
        }
      }
    }
    &.pop {
      flex-direction: column;
      padding-top: 0px;
      width: 500px;
      margin: 0 auto;
      padding-top: 55px;
      input {
        border: 0px solid red !important;
      }
      .btn {
        margin-top: 40px;
        .item {
          display: flex;
          justify-content: flex-end;
          button {
            &:not(:last-child) {
              margin-right: 20px;
            }
            padding: 20px 60px;
            box-sizing: border-box;
            display: flex;
            align-items: center;
          }
        }
      }
      .input-send {
        display: flex;
        .input-s {
          // width: 300px;
          border: 0px solid red !important;
        }
        .send {
          width: 140px;
        }
      }
      .one {
        width: 500px;
        font-size: var(--font-size16) !important;
        color: var(--color-black) !important;
        margin-bottom: 25px;
        .item {
          label {
            font-size: var(--font-size16);
          }
          .input-send {
            display: flex;
            .input-s {
              // width: 300px;
              border: 0px solid red !important;
            }
            .send {
              width: 140px;
            }
          }
        }
        &.btn {
          margin-top: 40px;
        }
        &.info {
          width: 500px;
          height: 50px;
          background: rgba(var(--info_bg), 1);
          opacity: 1;
          border-radius: 3px;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          padding-left: 15px;
          box-sizing: border-box;
          font-size: var(--font-size16) !important;
          color: rgba(var(--font-color26), 1) !important;
          text-align: left;
        }
      }
    }
  }
  .tb-box {
    margin-top: 40px;
    min-height: 460px;
    .lian {
      span {
        border: 1px solid rgba(55, 135, 254, 1);
        opacity: 1;
        border-radius: 3px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60px;
        height: 35px;
      }
    }
    .address-box {
      .address-one {
        margin-right: 3px;
      }
      .lian-name {
        // margin-left: 3px;
        border: 1px solid rgba(55, 135, 254, 1);
        opacity: 1;
        border-radius: 3px;
        display: inline-block;
        width: 60px;
        height: 35px;
        text-align: center;
        line-height: 35px;
        color: rgba(55, 135, 254, 1);
      }
    }
    .btn {
      .button {
        display: flex;
        justify-content: left;
        align-items: center;
        img {
          width: 20px;
          height: 20px;
          margin-right: 5px;
        }
        font-size: 16px;
        color: #3787fe;
        cursor: pointer;
      }
    }
    li {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background: #fafafa;
      margin-top: 10px;
      height: 60px;
      div {
        height: 45px;
        &.time {
          width: 200px;
        }
        &.coin {
          width: 50px;
        }
        &.amount {
          width: 200px;
        }
        &.fee {
          width: 100px;
        }
        &.status {
          width: 100px;
        }
        &.address-b {
          width: 200px;
        }
        &.txid {
          width: 200px;
        }
      }
    }
  }
  .pg {
    padding: 15px 0px;
  }
}
</style>
