<template>
  <div class="assets_index">
    <div class="heade-ass skt-loading">
      <div class="banxin">
        <div class="left-box">
          <p class="normal">{{ $t("asset_manage.title") }}</p>
          <h3 class="large">{{ totalUsdt }} USDT</h3>
          <h3 v-if="totalUsdt === ''" class="large skeleton"></h3>
        </div>
        <div class="right-box">
          <rd-button class="" type="" :callBack="goRecord">
            <img
              class="middle2"
              src="../../assets/images/assets/zu 223@2x.png"
              alt=""
            />
            {{ $t("asset_manage.nav_record") }}</rd-button
          >
          <rd-button class="" type="" :callBack="goAddress">
            <img
              class="middle2"
              src="../../assets/images/assets/zu 505@2x.png"
              alt=""
            />
            {{ $t("asset_manage.nav_address") }}</rd-button
          >
        </div>
      </div>
    </div>
    <div class="body">
      <div class="banxin">
        <coin-item></coin-item>
      </div>
    </div>
  </div>
</template>
<script>
import rdButton from "../../components/button";
import coinItem from "./common/coinItem";

import { getAssetsTotalFun } from "../../api/assets";
export default {
  components: {
    "rd-button": rdButton,
    coinItem
  },
  data() {
    return {
      totalUsdt: ""
    };
  },
  created() {
    this.totalAmount();
  },
  methods: {
    totalAmount() {
      getAssetsTotalFun().then(res => {
        if (res.code == 200) {
          this.totalUsdt = res.data.totalUsdt;
        } else {
          this.$Notification.failed("", res.message, 2000);
        }
      });
    },
    goRecord() {
      this.$router.push("/record");
    },
    goAddress() {
      this.$router.push("/address");
    }
  }
};
</script>
<style lang="scss" scoped>
.assets_index {
  padding-top: 140px;
  padding-bottom: 100px;
  min-height: calc(100% - 240px);
  background: var(--font-color25);
  h3 {
    color: var(--color-black);
    &.normal {
      font-size: 20px;
      line-height: 28px;
      font-weight: 800;
    }
    &.large {
      font-size: 30px;
      line-height: 42px;
      font-weight: 800;
    }
    &.skeleton {
      width: 250px;
      height: 42px;
    }
  }
  p {
    color: var(--color-black);
    &.normal {
      font-size: 16px;
      line-height: 22px;
      color: rgba(var(--font-color29), 1);
    }
    &.blod {
      font-size: 26px;
      font-weight: 800;
      line-height: 37px;
    }
  }
  img {
    &.large {
      width: 40px;
      height: 40px;
    }
    &.middle2 {
      width: 25px;
      height: 25px;
    }
    &.sm {
      width: 20px;
      height: 20px;
    }
  }
  .heade-ass {
    height: 140px;
    background: var(--font-color03);
    .banxin {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .left-box {
        text-align: left;
      }
      .right-box {
        button {
          color: rgba(var(--font-color26), 1);
          font-size: 20px;
          border: 1px solid #e4efff;
          background: none;
          padding: 0px 20px;
          &:nth-child(1) {
            margin-right: 20px;
          }
        }
      }
    }
  }
}
</style>
