<template>
  <div class="record">
    <content-nav :list="list"></content-nav>
    <div class="banxin">
      <!-- 没有label 有options 的是 铺平布局 -->
      <!-- 有label 有options 的是 下拉选择框 -->
      <!-- 有label 没有options 且 没有btn 的是 input -->
      <!-- 有btn 的是 button -->
      <list-querys
        v-model="querys"
        :paramsTopLeft="paramsTopLeft"
        :paramsBottomLeft="paramsBottomLeft"
        :paramsTopRight="paramsTopRight"
        :paramsBottomRight="paramsBottomRight"
        :time="true"
        :loadBLeft="loadBLeft"
        expand
        @click="exportFun"
      ></list-querys>
      <div class="tb-box skt-loading">
        <!-- <Table v-show="loading == false" :datas="tableData" :height="420"> -->
        <Table :datas="tableData" :height="420" style="overflow:scroll;">
          <TableItem
            :title="$t('assets_record.time')"
            prop="time"
            align="left"
            :width="180"
          ></TableItem>
          <TableItem :title="$t('assets_record.coin')" :width="50" align="left">
            <template slot-scope="{ data }">
              <div class="">
                <span class="">{{
                  querys.queryType != ""
                    ? data.coinName
                      ? data.coinName.toUpperCase()
                      : ""
                    : data.coinType
                    ? data.coinType.toUpperCase()
                    : ""
                }}</span>
              </div>
            </template>
          </TableItem>
          <TableItem :title="$t('assets_record.amount')" align="left">
            <template slot-scope="{ data }">
              <div class="">
                <span class="amount">{{
                  querys.queryType == "0" || querys.queryType == "1"
                    ? querys.queryType == "0"
                      ? "+" + data.qty
                      : "-" + data.qty
                    : querys.tag == "1"
                    ? "-" + data.amount
                    : "+" + data.amount
                }}</span>
              </div>
            </template>
          </TableItem>
          <TableItem
            :title="$t('assets_record.fee')"
            :prop="querys.queryType != '' ? 'fee' : 'handingFree'"
            :width="100"
            align="left"
          ></TableItem>
          <TableItem
            v-if="querys.queryType != ''"
            :title="$t('assets_record.status')"
            :width="100"
            align="left"
          >
            <template slot-scope="{ data }">
              <div class="">
                <span
                  :class="
                    data.status == '0'
                      ? 'done'
                      : data.status == '1'
                      ? 'in'
                      : 'failed'
                  "
                  v-show="data.operationType == '0'"
                  >{{
                    data.status == "0"
                      ? "成功"
                      : data.status == "1"
                      ? "处理中"
                      : "失败"
                  }}</span
                >
                <span
                  :class="
                    data.status == '0' || data.status == '1'
                      ? 'in'
                      : data.status == '2'
                      ? 'done'
                      : 'failed'
                  "
                  v-show="data.operationType == '1'"
                  >{{
                    data.status == "0"
                      ? "审核中"
                      : data.status == "1"
                      ? "处理中"
                      : data.status == "2"
                      ? "成功"
                      : "失败"
                  }}</span
                >
              </div>
            </template>
          </TableItem>
          <TableItem
            v-if="querys.queryType != ''"
            :title="$t('assets_record.address')"
            align="left"
            :width="350"
          >
            <template slot-scope="{ data }">
              <div class="">
                <span class="">{{ data.address }}</span>
                <div class="address-div" v-show="data.type != ''">
                  <span class="address-span">{{ data.type }}</span>
                </div>
              </div>
            </template>
          </TableItem>
          <TableItem
            v-if="querys.queryType != ''"
            title="TXID"
            align="left"
            :width="250"
          >
            <template slot-scope="{ data }">
              <div class="txid">
                <span class="">{{ data.txId }}</span>
              </div>
            </template>
          </TableItem>
          <TableItem
            v-if="querys.queryType == ''"
            :title="$t('assets_record.reciprocal_account')"
            prop="username"
            align="left"
          ></TableItem>
          <div slot="empty">
            <!-- 自定义提醒：暂时无数据 -->
            <div
              class="table-none"
              v-show="loading == false && tableData.length == 0"
            >
              <img src="../../assets/images/trade/zu 710@2x.png" alt="" />
              <p>暂未找到记录</p>
            </div>
          </div>
        </Table>
        <ul class="table-box" v-show="loading && tableData.length == 0">
          <!-- <ul class="table-box"> -->
          <li v-for="(item, index) in 6" :key="index + 'tb-box-ul'">
            <div class="time skeleton"></div>
            <div class="coin skeleton"></div>
            <div class="amout skeleton"></div>
            <div class="fee skeleton"></div>
            <div class="status skeleton"></div>
            <div class="address skeleton"></div>
            <div class="txid skeleton"></div>
          </li>
        </ul>
      </div>
      <div class="pg">
        <Pagination
          v-model="pagination"
          align="right"
          @change="handleCurrentChange"
        ></Pagination>
      </div>
    </div>
  </div>
</template>
<script>
import contentNav from "../../components/ContentNav";
import table from "../../mixin/table";
import {
  getExtractAndDepositLimit,
  getCoinsFun,
  getTransferList,
  exportWithdrawExcel
} from "../../api/assets";
export default {
  mixins: [table],
  components: {
    contentNav
  },
  data() {
    return {
      tableFunc: {
        post: getExtractAndDepositLimit,
        export: exportWithdrawExcel
      },
      list: [
        {
          text: "navitem.assets"
        },
        {
          text: "asset_manage.nav_record"
        }
      ],
      paramsTopLeft: [
        {
          key: "queryType",
          options: [
            {
              value: "0",
              label: "asset_manage.deposit"
            },
            {
              value: "1",
              label: "asset_manage.withdraw"
            }
          ]
        },
        {
          key: "tag",
          options: [
            {
              value: "0",
              label: "asset_manage.transfer_in"
            },
            {
              value: "1",
              label: "asset_manage.transfer_out"
            }
          ]
        }
      ],
      paramsTopRight: [
        {
          btn: true,
          clas: "export",
          label: "infoAll.export",
          src: require("../../assets/images/assets/zu 478@2x.png")
        }
      ],
      paramsBottomLeft: [
        {
          key: "coinTypeId",
          options: []
        }
      ],
      paramsBottomRight: [],
      loadBLeft: true
    };
  },
  created() {
    this.initCoinFun();
    this.querys = Object.assign({}, this.querys, {
      queryType: "0",
      tag: "",
      coinTypeId: ""
    });
    this.initTabelFun();
  },
  watch: {
    "querys.queryType": {
      handler(n) {
        if (n === "") {
          this.initTabelFun();
        } else {
          this.querys.tag = "";
        }
        this.loading = true;
        this.tableData = [];
      }
    },
    "querys.tag": {
      handler(n) {
        if (n === "") {
          this.initTabelFun();
        } else {
          this.querys.queryType = "";
        }
        this.loading = true;
        this.tableData = [];
      }
    }
  },
  mounted() {
    document
      .querySelector(".h-table-container")
      .querySelector(".h-table-body")
      .classList.add("gundong");
  },
  methods: {
    initTabelFun() {
      this.tableFunc = Object.assign(
        {},
        {
          post:
            this.querys.queryType === ""
              ? getTransferList
              : getExtractAndDepositLimit,
          export: exportWithdrawExcel
        }
      );
    },
    initCoinFun() {
      getCoinsFun().then(res => {
        if (res.code == 200) {
          this.paramsBottomLeft = [
            {
              key: "coinTypeId",
              options: [
                {
                  value: "",
                  label: "全部"
                },
                ...res.data
              ]
            }
          ];
        } else {
          this.$Notification.failed("", res.message, 2000);
        }
        this.loadBLeft = false;
      });
    }
  }
};
</script>
<style lang="scss" scoped>
.record {
  .table-none {
    margin-top: 50px;
    img {
      width: 260px;
      height: 170px;
    }
    p {
      font-size: 16px;
      line-height: 22px;
      color: #a1b0c6;
    }
  }
  padding-top: 140px;
  padding-bottom: 100px;
  .tb-box {
    // height: 460px;
    // height: auto;
    font-size: 16px;
    span {
      &.amount {
        font-weight: 800;
        font-size: 20px;
        color: var(--font-color02); //#3787fe;
      }
      &.in {
        color: var(--font-color19); //#FFA530;
      }
      &.done {
        color: var(--font-color12); //#58CB6F;
      }
      &.failed {
        color: var(--font-color08);
      }
      &.address-span {
        // width: 50px;
        padding: 0px 6px;
        height: 20px;
        border: 1px solid rgba(55, 135, 254, 1);
        opacity: 1;
        border-radius: 3px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 10px;
        color: #3787fe;
      }
    }
    .address-div {
      display: flex;
      justify-content: flex-start;
    }
    .txid {
      padding-right: 10px;
    }
    .table-box {
      width: 100%;
      li {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: #fafafa;
        margin-top: 10px;
        height: 60px;
        div {
          height: 45px;
          &.time {
            width: 200px;
          }
          &.coin {
            width: 50px;
          }
          &.amount {
            width: 200px;
          }
          &.fee {
            width: 100px;
          }
          &.status {
            width: 100px;
          }
          &.address {
            width: 200px;
          }
          &.txid {
            width: 200px;
          }
        }
      }
    }
  }
  .pg {
    padding: 15px 0px;
  }
}
</style>
