<template>
  <div class="authentication">
    <div class="box">
      <h3>{{ $t("profile.one_id") }}</h3>
      <ai-form
        class="auth"
        ref="formItems"
        :model="formValidate"
        :rules="ruleValidate"
      >
        <div class="one">
          <ai-form-item :label="$t('profile.country')" prop="nationality">
            <base-select
              :data="country"
              :val="formValidate.nationality"
              set="formValidate.nationality"
              value="id"
              :label="$i18n.locale == 'en' ? 'countryCode' : 'countryName'"
              :home="false"
              :color="sel_color"
              class="selec_type_te"
            ></base-select>
          </ai-form-item>
        </div>
        <div class="one">
          <ai-form-item :label="$t('profile.name')" prop="name">
            <ai-input
              class="selec_type_te"
              v-model="formValidate.name"
              :placeholder="$t('id_auth.input_name')"
            />
          </ai-form-item>
        </div>
        <div class="one">
          <ai-form-item :label="$t('id_auth.id_type')" prop="credentialsType">
            <base-select
              :data="certificates"
              :val="formValidate.credentialsType"
              set="formValidate.credentialsType"
              value="value"
              label="label"
              :home="false"
              :color="sel_color"
              class="selec_type_te"
            ></base-select>
          </ai-form-item>
        </div>
        <div class="one">
          <ai-form-item
            :label="$t('id_auth.id_number')"
            prop="credentialsNumber"
          >
            <ai-input
              class="selec_type_te"
              v-model="formValidate.credentialsNumber"
              :placeholder="$t('id_auth.input_num')"
            />
          </ai-form-item>
        </div>
        <div class="two">
          <ai-form-item
            class="top"
            :label="$t('id_auth.id_photo')"
            prop="credentialsPhotoFront"
          >
            <Upload
              type="image"
              :src1="null"
              title="选择二维码"
              :uploadFun="uploadDone"
              class="imgU"
              ref="imgDom"
              param="credentialsPhotoFront"
            ></Upload>
            <p>{{ $t("id_auth.pt1") }}</p>
          </ai-form-item>
          <ai-form-item class="label_none" prop="credentialsPhotoBack">
            <Upload
              type="image"
              :src1="null"
              title="选择二维码"
              :uploadFun="uploadDone"
              class="imgU"
              ref="imgDom"
              param="credentialsPhotoBack"
            ></Upload>
            <p>{{ $t("id_auth.pt2") }}</p>
          </ai-form-item>
        </div>
        <div class="two">
          <ai-form-item
            class="top"
            :label="$t('id_auth.id_hand_photo')"
            prop="credentialsPhotoHandheld"
          >
            <Upload
              type="image"
              :src1="null"
              title="选择二维码"
              :uploadFun="uploadDone"
              class="imgU"
              ref="imgDom"
              param="credentialsPhotoHandheld"
            ></Upload>
            <p class="end">{{ $t("id_auth.pt3") }}</p>
          </ai-form-item>
          <ai-form-item class="label_none" prop="none">
            <img
              class="img_none"
              src="../../assets/images/profile/zu 895@2x.png"
              alt=""
            />
          </ai-form-item>
        </div>
        <div class="one">
          <ai-form-item>
            <div class="btn">
              <rd-button
                :loading="loading"
                type="success2"
                :callBack="confirmFun"
                >{{ $t("infoAll.confirm") }}</rd-button
              >
            </div>
          </ai-form-item>
        </div>
      </ai-form>
    </div>
  </div>
</template>
<script>
import BaseSelect from "../../components/BaseSelect.vue";
import rdButton from "../../components/button";
import AiForm from "../../components/form";
import AiFormItem from "../../components/form-item";
import AiInput from "../../components/input";
import Upload from "../../components/Upload";
import { getMarketCountry } from "../../api/payMethods";
import { addIdentityAuthInfoFun } from "../../api/bind";
export default {
  components: {
    "base-select": BaseSelect,
    "rd-button": rdButton,
    AiInput,
    AiFormItem,
    AiForm,
    Upload
  },
  data() {
    return {
      formValidate: {
        nationality: "",
        name: "",
        credentialsType: "0",
        credentialsNumber: "",
        credentialsPhotoHandheld: "",
        credentialsPhotoFront: "",
        credentialsPhotoBack: "",
        none: ""
      },
      loading: false,
      country: {
        list: []
      },
      certificates: {
        list: []
      },
      sel_color: "#A3A7B8"
    };
  },
  watch: {
    "formValidate.credentialsType": {
      handler(n) {
        this.certificates.list = this.$t("id_auth.certificates");
        if (n === "0") {
          //
        }
      },
      immediate: true
    }
  },
  created() {
    this.initCountry();
    this.initRules();
  },
  methods: {
    initRules() {
      this.ruleValidate = {
        nationality: [
          {
            required: true,
            type: "string",
            transform(value) {
              let base;
              if (value) {
                //在select中转换要加这个判断
                //因为select默认有一个空选项
                base = "" + value;
              }
              return base;
            },
            message: this.$t("form.country"),
            trigger: "blur"
          }
        ],
        name: [
          {
            required: true,
            message: this.$t("form.user_name"),
            trigger: "blur"
          },
          {
            // /(^[\u4e00-\u9fa5]{1}[\u4e00-\u9fa5\.·。]{1,15}[\u4e00-\u9fa5]{1}$)|(^[a-zA-Z]{1}[a-zA-Z\s]{0,20}[a-zA-Z]{1}$)/
            // eslint-disable-next-line no-useless-escape
            pattern: /(?:^[\u4e00-\u9fa5·]{2,16}$)|(^[a-zA-Z]{1}[a-zA-Z]{0,20}[\.\s]?[a-zA-Z]{1,10}$)/,
            message: this.$t("form.name_check")
          }
        ],
        credentialsType: [
          {
            required: true,
            type: "string",
            message: "请选择证件类型",
            trigger: "blur"
          }
        ],
        credentialsNumber: [
          {
            required: true,
            type: "string",
            message: this.$t("id_auth.input_num"),
            trigger: "blur"
          },
          {
            pattern:
              this.formValidate.credentialsType === "0"
                ? /^[1-9]\d{7}((0\d)|(1[0-2]))(([0|1|2]\d)|3[0-1])\d{3}$|^[1-9]\d{5}[1-9]\d{3}((0\d)|(1[0-2]))(([0|1|2]\d)|3[0-1])\d{3}([0-9]|X)$/
                : /^1[45][0-9]{7}|([P|p|S|s]\d{7})|([S|s|G|g]\d{8})|([Gg|Tt|Ss|Ll|Qq|Dd|Aa|Ff]\d{8})|([H|h|M|m]\d{8，10})$/,
            message: this.$t("id_auth.id_num_check")
          }
        ],
        credentialsPhotoHandheld: [
          {
            required: true,
            type: "string",
            message: this.$t("id_auth.id_add_photo"),
            trigger: "blur"
          }
        ],
        credentialsPhotoFront: [
          {
            required: true,
            type: "string",
            message: this.$t("id_auth.id_add_photo"),
            trigger: "blur"
          }
        ],
        credentialsPhotoBack: [
          {
            required: this.formValidate.credentialsType === "0" ? true : false,
            type: "string",
            message: this.$t("id_auth.id_add_photo"),
            trigger: "blur"
          }
        ],
        none: [{ require: false }]
      };
    },
    confirmFun() {
      this.$refs.formItems.validate().then(valid => {
        if (valid) {
          console.log(valid);
          let item = {
            credentialsNumber: this.formValidate.credentialsNumber,
            credentialsPhotoFront: this.formValidate.credentialsPhotoFront,
            credentialsPhotoHandheld: this.formValidate
              .credentialsPhotoHandheld,
            credentialsType: this.formValidate.credentialsType,
            name: this.formValidate.name,
            nationality: this.formValidate.nationality
          };
          if (item.credentialsType === "0") {
            item.credentialsPhotoBack = this.formValidate.credentialsPhotoBack;
          }
          addIdentityAuthInfoFun(item).then(res => {
            if (res.code == 200) {
              this.$router.replace("/profile");
            } else {
              this.$Notification.failed("", res.message, 2000);
            }
          });
        } else {
          //
          console.log("eoor,submit");
          return false;
        }
      });
    },
    uploadDone(res, key) {
      this.formValidate[key] = res.data.url;
    },
    do() {
      addIdentityAuthInfoFun();
    },
    initCountry() {
      getMarketCountry().then(res => {
        if (res.code == 200) {
          this.country.list = res.data;
        } else {
          //
        }
      });
    }
  }
};
</script>
<style lang="scss" scoped>
.authentication {
  padding-top: 140px;
  padding-bottom: 100px;
  background: var(--font-color14);
  .box {
    margin: 0 auto;
    margin-top: 50px;
    width: 1080px;
    // height: 1461px;
    background: var(--font-color27);
    box-shadow: 0px 3px 10px rgba(var(--font-color26), 0.3);
    opacity: 1;
    border-radius: var(--raduis);
    box-sizing: border-box;
    padding: 60px 70px;
    h3 {
      font-size: var(--font-size30);
      font-weight: 800;
      color: var(--color-black);
      text-align: left;
    }
    label {
      font-size: 16px;
      color: var(--color-black) !important;
    }
    form {
      .one {
        width: 500px;
        margin-top: 25px;
        .item {
          .selec_type_te {
            height: 60px;
            margin-top: 0px !important;
            background: rgba(242, 242, 242, 1);
            opacity: 1;
            border-radius: 3px;
            border: 0px solid red !important;
          }
          .btn {
            margin-top: 120px;
            button {
              width: 500px;
              height: 60px;
            }
          }
        }
      }
      .two {
        width: 690px;
        margin-top: 25px;
        margin-bottom: 85px;
        display: flex;
        .item {
          width: 320px;
          height: 180px;
          position: relative;
          &.top {
            margin-right: 40px;
          }
          p {
            color: var(--font-color05);
            text-align: left;
            margin-top: 10px;
            font-size: var(--font-size16);
            &.end {
              position: absolute;
              bottom: -85px;
              left: 0px;
              width: 690px;
              z-index: 1;
            }
          }
          .file-upload {
            background: var(--font-color17);
            display: flex;
            justify-content: center;
            align-items: center;
            width: 320px;
            height: 180px;
            .none {
              width: inherit;
              height: inherit;
            }
          }
          &.label_none {
            .file-upload {
              margin-top: 30px;
            }
            .img_none {
              width: 320px;
              height: 180px;
              margin-top: 30px;
            }
          }
          .selec_type_te {
            height: 60px;
            background: rgba(242, 242, 242, 1);
            opacity: 1;
            border-radius: 3px;
            border: 0px solid red !important;
          }
        }
      }
    }
  }
}
</style>
