<template>
  <div class="platform">
    <div class="box">
      <header>
        <div class="left-box">
          <h3>{{ $t("profile.com_id") }}</h3>
          <p>{{ $t("id_auth.platform_hp") }}</p>
        </div>
        <div class="right-box">
          <a
            class="btn-right"
            :href="require('../../assets/doc/jgzhsqb.docx')"
            download="机构账户申请表.docx"
          >
            <p class="white">{{ $t("id_auth.platform_rb") }}</p>
            <img src="../../assets/images/profile/zu 478@2x.png" />
          </a>
        </div>
      </header>
      <h3 class="ul-h">认证机构所需材料：</h3>
      <ul>
        <li><p>1.公司名称&公司国籍</p></li>
        <li><p>2.被授权人姓名</p></li>
        <li><p>3.被授权人联系方式</p></li>
        <li><p>4.UID</p></li>
        <li><p>5.董事、股东以及最终受益人身份证件</p></li>
        <li><p>6.被授权开户、操作人的身份证件</p></li>
        <li><p>7.公司营业执照或其他官方的公司注册证明</p></li>
        <li><p>8.ICP备案截图</p></li>
        <li>
          <p>
            9.董事会决议（公司注册地在中国大陆地区的客户可不填；其他地区客户必填）
          </p>
        </li>
        <li><p>10.承诺书</p></li>
        <li><p>11.授权委托书</p></li>
      </ul>

      <p class="ul-bottom">
        请将机构账户申请表填写完成后与认证机构所需材料发送至邮箱：support@royalbiz.co。请勿重复发送，感谢理解与配合！
      </p>
      <p class="ul-bottom2">
        我们收到您的申请邮件后会尽快进行处理，请不要把您的资料泄露给除本平台以外的任何地方，泄露后所导致的问
        题我们将不负任何责任。所有条款Royalbiz平台享有最终解释权。
      </p>
      <h3>申请表所涉及的文件样式可通过以下附件进行下载</h3>
      <div class="a-list">
        <a
          :href="require('../../assets/doc/cls-commitment letter.docx')"
          download="承诺书.docx"
          ><img src="../../assets/images/profile/zu (1)@2x.png" alt="" />
          承诺书-commitment letter 点击下载</a
        >
        <a
          :href="require('../../assets/doc/sqwts-Power of Attorney.docx')"
          download="授权委托书.docx"
          ><img src="../../assets/images/profile/zu (1)@2x.png" alt="" />
          授权委托书-Power of Attorney 点击下载</a
        >
        <a
          :href="require('../../assets/doc/dshjy-Board Resolution.docx')"
          download="董事会决议.docx"
          ><img src="../../assets/images/profile/zu (1)@2x.png" alt="" />
          董事会决议-Board Resolution 点击下载</a
        >
      </div>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {};
  },
  methods: {
    dowload(str) {
      console.log(str);
      console.log(arguments);
      const blob = new Blob(str);
      // const href = window.URL.createObjectURL(blob)
      // 创建下载的链接
      if (window.navigator.msSaveBlob) {
        try {
          const name = this.propertiesName;
          window.navigator.msSaveBlob(blob, `${name}.bpmn`);
        } catch (e) {
          console.log(e);
        }
      }
    }
  }
};
</script>
<style lang="scss" scoped>
.platform {
  padding-top: 140px;
  padding-bottom: 100px;
  background: var(--font-color14);
  .box {
    width: 1090px;
    height: 1160px;
    background: var(--font-color27);
    box-shadow: 0px 3px 10px rgba(var(--font-color26), 0.3);
    opacity: 1;
    border-radius: var(--raduis);
    box-sizing: border-box;
    padding: 60px 70px;
    margin: 0 auto;
    margin-top: 50px;
    h3 {
      color: var(--color-black);
      font-size: var(--font-size16);
      line-height: 32px;
      text-align: left;
      &.ul-h {
        margin-bottom: 20px;
        margin-top: 30px;
      }
    }
    p {
      color: var(--font-color05);
      font-size: var(--font-size16);
      line-height: 22px;
      text-align: left;
      &.white {
        color: var(--font-color03);
      }
      &.ul-bottom {
        margin: 30px 0px;
      }
      &.ul-bottom2 {
        margin-bottom: 30px;
      }
    }
    header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .left-box {
        text-align: left;
        h3 {
          font-size: var(--font-size30);
          font-weight: 800;
          line-height: 42px;
        }
        p {
          color: rgba(var(--font-color29), 1);
        }
      }
      .right-box {
        a {
          display: inline-block;
        }
        img {
          width: 26px;
          height: 27px;
        }
        .btn-right {
          width: 220px;
          height: 74px;
          background: rgba(55, 135, 254, 1);
          opacity: 1;
          border-radius: 3px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
    ul {
      li {
        height: 50px;
        box-sizing: border-box;
        padding-left: 15px;
        display: flex;
        align-items: center;
        &:nth-child(even) {
          background: var(--font-color17);
        }
        &:nth-child(odd) {
          background: var(--font-color25);
        }
      }
    }
    .a-list {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      a {
        line-height: 32px;
        img {
          width: 15px;
          height: 15px;
        }
      }
    }
  }
}
</style>
