<template>
  <div class="bind-google" v-if="user.googleAuthTag === '0'">
    <p class="text">{{ $t("bind_google.title") }}</p>
    <h3>1.{{ $t("bind_google.item1_h") }}</h3>
    <p class="normal">{{ $t("bind_google.item1_p1") }}</p>
    <p class="normal">{{ $t("bind_google.item1_p2") }}</p>
    <div class="icon-box">
      <div class="icon-item">
        <img src="../../assets/images/profile/App Store logo@2x.png" alt="" />
        APP Store
      </div>
      <div class="icon-item">
        <img src="../../assets/images/profile/Google Play logo@2x.png" alt="" />
        Google Play
      </div>
    </div>
    <h3>2.{{ $t("bind_google.item2_h") }}</h3>
    <p class="normal">{{ $t("bind_google.item2_p1") }}</p>
    <p class="normal yellow">{{ $t("bind_google.item2_p2") }}</p>
    <div class="img-box">
      <img
        v-if="formValidate.url != ''"
        :src="formValidate.url"
        :alt="formValidate.secret"
        :title="formValidate.secret"
        @error="imgError"
        ref="img"
      />
      <div class="secret">
        <p class="secret">{{ $t("bind_google.key") }}</p>
        <h3 ref="secret" class="">{{ formValidate.secret }}</h3>
      </div>
      <button @click="copyFun">{{ $t("infoAll.copy") }}</button>
      <input type="text" id="select_input" />
    </div>
    <h3>3.{{ $t("bind_google.item3_h") }}</h3>
    <p class="text">{{ $t("infoAll.google_code") }}</p>
    <ai-form
      ref="formItems"
      :model="formValidate"
      :rules="ruleValidate"
      class="inner"
    >
      <div class="one">
        <ai-form-item prop="googleCode">
          <ai-input
            class="selec_type_one"
            v-model="formValidate.googleCode"
            :placeholder="$t('infoAll.p_google_code')"
          />
        </ai-form-item>
      </div>
      <div class="one">
        <ai-form-item>
          <rd-button
            class="selec_type_one one2"
            type="success2"
            :callBack="confirmFun"
            >{{ $t("infoAll.bind") }}</rd-button
          >
        </ai-form-item>
      </div>
    </ai-form>
    <!-- 添加弹框 -->
    <modal ref="modal_email">
      <div slot="header">
        {{ $t("email.safety_verification") }}
      </div>
      <div slot="body">
        <ai-form
          ref="formItemsText"
          :model="formValidate"
          :rules="ruleValidate"
          class="pop"
        >
          <div class="one">
            <ai-form-item
              :label="
                user.accountType === '0'
                  ? $t('infoAll.phone')
                  : $t('infoAll.email')
              "
              prop="account"
            >
              <ai-input
                :disabled="true"
                class="selec_type_one"
                v-model="formValidate.account"
                :placeholder="
                  user.accountType === '0'
                    ? $t('infoAll.input_phone')
                    : $t('infoAll.input_email')
                "
              />
            </ai-form-item>
          </div>
          <div class="one">
            <ai-form-item
              :label="
                user.accountType === '0'
                  ? $t('infoAll.phone_code')
                  : $t('infoAll.email_code')
              "
              prop="accountCode"
            >
              <div class="input-send">
                <ai-input
                  class="selec_type_one"
                  v-model="formValidate.accountCode"
                  :placeholder="
                    user.accountType === '0'
                      ? $t('infoAll.p_phone_code')
                      : $t('infoAll.p_email_code')
                  "
                />
                <send-code
                  class="send"
                  border="borderLeft"
                  :data="{
                    accountType: user.accountType,
                    behaviorType: 5, //绑定谷歌验证器 修改 google 验证器也是这样
                    number:
                      user.accountType === '1'
                        ? user.email
                        : '%2B' +
                          (user.phoneAreaCode
                            ? user.phoneAreaCode.split('+')[1]
                            : '') +
                          ',' +
                          user.phone
                  }"
                ></send-code>
              </div>
            </ai-form-item>
          </div>
          <div class="one btn">
            <ai-form-item>
              <rd-button class="" type="" :callBack="cancelFun">{{
                $t("infoAll.cancel")
              }}</rd-button>
              <rd-button class="" type="success2" :callBack="confirmModalFun">{{
                $t("infoAll.bind")
              }}</rd-button>
            </ai-form-item>
          </div>
        </ai-form>
      </div>
    </modal>
  </div>
  <div class="bind-google" v-else>
    <h3>1.{{ $t("bind_google.item2_h") }}</h3>
    <p class="normal">{{ $t("bind_google.item2_p1") }}</p>
    <p class="normal yellow">{{ $t("bind_google.item2_p2") }}</p>
    <div class="img-box">
      <img
        v-if="formValidate.url != ''"
        :src="formValidate.url"
        :alt="formValidate.secret"
        :title="formValidate.secret"
        @error="imgError"
        ref="img"
      />
      <div class="secret">
        <p class="secret">{{ $t("bind_google.key") }}</p>
        <h3 ref="secret" class="">{{ formValidate.secret }}</h3>
      </div>
      <button @click="copyFun">{{ $t("infoAll.copy") }}</button>
      <input type="text" id="select_input" />
    </div>
    <h3>1.{{ $t("bind_google.reset") }}</h3>
    <ai-form
      ref="formItemsNone"
      :model="formValidate"
      :rules="ruleValidate"
      class="inner"
    >
      <div class="one">
        <ai-form-item
          :label="
            user.accountType === '0' ? $t('infoAll.phone') : $t('infoAll.email')
          "
          prop="account"
        >
          <ai-input
            :disabled="true"
            class="selec_type_one"
            v-model="formValidate.account"
            :placeholder="
              user.accountType === '0'
                ? $t('infoAll.input_phone')
                : $t('infoAll.input_email')
            "
          />
        </ai-form-item>
      </div>
      <div class="one">
        <ai-form-item
          :label="
            user.accountType === '0'
              ? $t('infoAll.phone_code')
              : $t('infoAll.email_code')
          "
          prop="accountCode"
        >
          <div class="input-send">
            <ai-input
              class="selec_type_one"
              v-model="formValidate.accountCode"
              :placeholder="
                user.accountType === '0'
                  ? $t('infoAll.p_phone_code')
                  : $t('infoAll.p_email_code')
              "
            />
            <send-code
              class="send"
              border="borderLeft"
              :data="{
                accountType: user.accountType,
                behaviorType: 5, //绑定谷歌验证器 修改 google 验证器也是这样
                number:
                  user.accountType === '1'
                    ? user.email
                    : '%2B' +
                      (user.phoneAreaCode
                        ? user.phoneAreaCode.split('+')[1]
                        : '') +
                      ',' +
                      user.phone
              }"
            ></send-code>
          </div>
        </ai-form-item>
      </div>
      <div class="one">
        <ai-form-item :label="$t('infoAll.google_code')" prop="oldGoogleCode">
          <ai-input
            class="selec_type_one"
            v-model="formValidate.oldGoogleCode"
            :placeholder="$t('infoAll.p_google_code')"
          />
        </ai-form-item>
      </div>
      <div class="one">
        <ai-form-item :label="$t('infoAll.google_code')" prop="newGoogleCode">
          <ai-input
            class="selec_type_one"
            v-model="formValidate.newGoogleCode"
            :placeholder="$t('infoAll.p_google_code')"
          />
        </ai-form-item>
      </div>
      <div class="one">
        <ai-form-item>
          <rd-button
            class="selec_type_one one2"
            type="success2"
            :callBack="confirmFunNone"
            >{{ $t("infoAll.bind") }}</rd-button
          >
        </ai-form-item>
      </div>
    </ai-form>
  </div>
</template>
<script>
import Modal from "../../components/Modal";
import rdButton from "../../components/button";
import SendCode from "../../components/SendCode";
import AiForm from "../../components/form";
import AiFormItem from "../../components/form-item";
import AiInput from "../../components/input";
import { getGoogleAuthFun } from "../../api/bind";
import { copyFun } from "../../utils/index";
import { mapGetters } from "vuex";
import {
  prebindingFun,
  binGoogleFun,
  changeGoogleBinFun
} from "../../api/bind";
export default {
  components: {
    "rd-button": rdButton,
    AiInput,
    AiFormItem,
    SendCode,
    AiForm,
    modal: Modal
  },
  computed: {
    ...mapGetters(["user"])
  },
  data() {
    return {
      formValidate: {
        type: "google",
        secret: "",
        url: "",
        googleCode: "",
        account: "",
        accountType: "",
        oldGoogleCode: "",
        newGoogleCode: ""
      }
    };
  },
  created() {
    this.initGoogleFun();
    this.ruleValidate = {
      googleCode: [
        {
          required: this.user.googleAuthTag === "1" ? false : true,
          message: this.$t("infoAll.p_google_code"),
          trigger: "blur"
        }
      ],
      account: [
        {
          required: true,
          message:
            this.user.accountType == "0"
              ? "手机号码不能为空"
              : "邮箱地址不能为空",
          trigger: "blur"
        },
        {
          pattern:
            this.user.accountType == "0"
              ? /^[+]*[(]{0,1}[0-9]{1,4}[)]{0,1}[-\s./0-9]*$/
              : /^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$/,
          message:
            this.user.accountType == "0"
              ? "请填写正确的手机号码"
              : "请填写正确的邮箱地址"
        }
      ],
      accountCode: [
        {
          required: true,
          message:
            this.user.accountType == "0"
              ? "手机验证码不能为空"
              : "邮箱验证码不能为空",
          trigger: "blur"
        }
      ],
      oldGoogleCode: [
        {
          required: this.user.googleAuthTag === "0" ? false : true,
          message: this.$t("infoAll.p_google_code"),
          trigger: "blur"
        }
      ],
      newGoogleCode: [
        {
          required: this.user.googleAuthTag === "0" ? false : true,
          message: this.$t("infoAll.p_google_code"),
          trigger: "blur"
        }
      ]
    };
    this.formValidate.account =
      this.user.accountType == "0" ? this.user.phone : this.user.email;
    if (this.user.phoneAreaCode) {
      this.formValidate.phoneAreaCode = this.user.phoneAreaCode;
    }
  },
  methods: {
    initGoogleFun() {
      getGoogleAuthFun().then(res => {
        if (res.code == 200) {
          this.formValidate.secret = res.data.secret;
          this.formValidate.url = "http://103.75.2.199:8080" + res.data.url;
        } else {
          this.$Notification.warning("", res.message, 2000);
        }
      });
    },
    imgError() {
      // this.$refs.src = ""
      console.log("sfdf");
      this.$Notification.failed("", "加载图片失败", 2000);
    },
    copyFun() {
      copyFun(this.formValidate.secret, this);
    },
    confirmFun() {
      this.$refs.formItems.validate().then(valid => {
        if (valid) {
          // alert('submit!');
          console.log("valid");
          // this.loading = true;
          prebindingFun({
            type: this.formValidate.type,
            googleCode: this.formValidate.googleCode
          })
            .then(res => {
              if (res.code == 200) {
                this.$refs.modal_email.show = true;
              } else {
                this.$Notification.warning("", res.message, 2000);
                // this.$refs.modal_email.show = true;
              }
            })
            .catch(() => {
              // this.$refs.modal_email.show = true;
            });
        } else {
          console.log("error submit!!");
          return false;
        }
      });
    },
    cancelFun() {
      this.$refs.modal_email.cancel(false);
    },
    confirmModalFun() {
      this.$refs.formItemsText.validate().then(valid => {
        if (valid) {
          // alert('submit!');
          console.log("valid2");
          // this.loading = true;
          binGoogleFun({
            code: this.formValidate.accountCode,
            googleCode: this.formValidate.googleCode
          }).then(res => {
            if (res.code == 200) {
              this.$refs.modal_email.show = false;
              this.$router.replace("/profile");
            } else {
              this.$Notification.warning("", res.message, 2000);
              // this.$refs.modal_email.show = true;
            }
          });
        } else {
          console.log("error submit!!");
          return false;
        }
      });
    },
    confirmFunNone() {
      this.$refs.formItemsNone.validate().then(valid => {
        if (valid) {
          // alert('submit!');
          console.log("valid2");
          // this.loading = true;
          changeGoogleBinFun({
            code: this.formValidate.accountCode,
            oldGoogleCode: this.formValidate.oldGoogleCode,
            newGoogleCode: this.formValidate.newGoogleCode
          }).then(res => {
            if (res.code == 200) {
              this.$refs.modal_email.show = false;
              this.$router.replace("/profile");
            } else {
              this.$Notification.warning("", res.message, 2000);
              // this.$refs.modal_email.show = true;
            }
          });
        } else {
          console.log("error submit!!");
          return false;
        }
      });
    }
  }
};
</script>
<style lang="scss" scoped>
.bind-google {
  padding: 30px;
  padding-bottom: 80px;
  input {
    border: 0px solid red !important;
  }
  h3,
  p.text {
    line-height: 32px;
    font-size: var(--font-size16);
    color: var(--color-black);
    text-align: left;
  }
  p.normal {
    color: var(--font-color05);
    font-size: var(--font-size16);
    text-align: left;
    line-height: 32px;
    &.yellow {
      color: rgba(var(--font-color30), 1);
    }
  }
  h3 {
    margin-top: 50px;
  }
  .icon-box {
    display: flex;
    margin-top: 10px;
    .icon-item {
      width: 180px;
      height: 60px;
      border: 1px solid rgba(55, 135, 254, 1);
      opacity: 1;
      border-radius: 3px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: var(--font-size16);
      color: rgba(var(--font-color26), 1);
      img {
        width: 25px;
        height: 30px;
        margin-right: 10px;
      }
      &:nth-child(1) {
        margin-right: 30px;
      }
    }
  }
  .img-box {
    display: flex;
    margin-top: 10px;
    align-items: flex-end;
    img {
      width: 140px;
      height: 140px;
      background: rgba(128, 128, 128, 0.3);
      display: inline-block;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    div.secret {
      margin-left: 32px;
      margin-right: 62px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-start;
      p.secret {
        font-size: var(--font-size16);
      }
      h3 {
        font-size: var(--font-size20);
        margin-top: 0px;
      }
    }
    #select_input {
      display: none;
    }
    button {
      width: 80px;
      height: 40px;
      background: rgba(243, 248, 255, 1);
      opacity: 1;
      border-radius: 20px;
      color: rgba(var(--font-color26), 1);
      font-size: var(--font-size16);
    }
  }
  form {
    width: 500px;
    margin: 0 auto;
    padding-top: 55px;
    input {
      border: 0px solid red !important;
    }
    .selec_type_phone {
      width: 500px;
      height: 60px;
      background: var(--font-color17);
      position: relative;
      &::after {
        content: "";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 1px;
        height: 30px;
        right: 0px;
        background: var(--font-color15);
      }
    }
    &.inner {
      margin-left: 0px;
      padding-top: 10px;
    }
    &.pop {
      padding-top: 0px;
      .btn {
        margin-top: 40px;
        .item {
          display: flex;
          justify-content: flex-end;
          button {
            &:not(:last-child) {
              margin-right: 20px;
            }
            padding: 20px 60px;
            box-sizing: border-box;
            display: flex;
            align-items: center;
          }
        }
      }
      .input-send {
        display: flex;
        .input-s {
          // width: 300px;
          border: 0px solid red !important;
        }
        .send {
          width: 140px;
        }
      }
    }
    .one {
      width: 500px;
      font-size: var(--font-size16) !important;
      color: var(--color-black) !important;
      margin-bottom: 25px;
      .item {
        label {
          font-size: var(--font-size16);
        }
        .input-send {
          display: flex;
          .input-s {
            // width: 300px;
            border: 0px solid red !important;
          }
          .send {
            width: 140px;
          }
        }
      }
      &.btn {
        margin-top: 40px;
      }
      &.info {
        width: 500px;
        height: 50px;
        background: rgba(var(--info_bg), 1);
        opacity: 1;
        border-radius: 3px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-left: 15px;
        box-sizing: border-box;
        font-size: var(--font-size16) !important;
        color: rgba(var(--font-color26), 1) !important;
        text-align: left;
      }
    }
    .selec_type_one {
      width: 500px;
      height: 60px;
      opacity: 1;
      border-radius: 3px;
      input {
        background: rgba(242, 242, 242, 1);
      }
    }
  }
}
</style>
