<template>
  <div class="security-binding">
    <div class="bind-box">
      <header id="bind-h">
        <router-link
          to="email"
          v-if="user.email == null || user.email == ''"
          :class="
            user.email != null && user.email != '' ? 'email_none' : 'dfgd'
          "
          >{{ $t("bind_item.bind_email") }}</router-link
        >
        <router-link to="phone">{{ $t("bind_item.bind_phone") }}</router-link>
        <router-link to="google">{{ $t("bind_item.bind_google") }}</router-link>
      </header>
      <div class="content">
        <router-view></router-view>
      </div>
    </div>
  </div>
</template>
<script>
import { mapGetters } from "vuex";
export default {
  data() {
    return {};
  },
  computed: {
    ...mapGetters(["user"])
  }
};
</script>
<style lang="scss" scoped>
.security-binding {
  padding-top: 140px;
  min-height: 100%;
  padding-bottom: 30px;
  box-sizing: border-box;
  background: var(--font-color14);
  .bind-box {
    width: 790px;
    min-height: 600px;
    background: var(--font-color03);
    box-shadow: 0px 3px 10px rgba(var(--font-color26), 0.3);
    opacity: 1;
    border-radius: 3px;
    margin: 0 auto;
    margin-top: 70px;
    header#bind-h {
      height: 78px;
      border-bottom: 1px solid var(--font-color14);
      box-sizing: border-box;
      padding: 30px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      a {
        color: rgba(var(--font-color29), 1);
        font-size: var(--font-size20);
        line-height: 28px;
        margin-right: 30px;
        display: flex;
        height: inherit;
        align-items: center;
        position: relative;
        transition: all 0.3s ease-in-out;
        overflow: hidden;
        &.router-link-exact-active.router-link-active {
          color: var(--color-black);
          font-weight: 800;
          position: relative;
          &::after {
            content: "";
            height: 10px;
            width: 100%;
            background: rgba(var(--font-color26), 1);
            opacity: 1;
            border-radius: 3px;
            position: absolute;
            bottom: 0px;
            left: 0px;
            right: 0px;
          }
        }
        &.email_none {
          pointer-events: none;
        }
      }
    }
  }
}
</style>
