<template>
  <div class="bind-phone">
    <ai-form ref="formItems" :model="formValidate" :rules="ruleValidate">
      <div class="info one">{{ $t("infoAll.forbide_phone") }}</div>
      <div class="one">
        <ai-form-item :label="$t('infoAll.phone')" prop="phone">
          <div class="input-send">
            <ai-form-item prop="phoneAreaCode">
              <base-select
                :data="countryPhone"
                :val="formValidate.phoneAreaCode"
                set="formValidate.phoneAreaCode"
                value="value"
                label="label"
                :home="false"
                :color="sel_color"
                class="selec_type_phone"
              ></base-select>
            </ai-form-item>
            <ai-input
              class="selec_type_one"
              v-model="formValidate.phone"
              :placeholder="$t('infoAll.input_phone')"
            />
          </div>
        </ai-form-item>
      </div>
      <div class="one">
        <ai-form-item :label="$t('infoAll.phone_code')" prop="phoneCode">
          <div class="input-send">
            <ai-input
              class="selec_type_one input-s"
              v-model="formValidate.phoneCode"
              :placeholder="$t('infoAll.p_phone_code')"
            />
            <send-code
              class="send"
              border="borderLeft"
              :data="{
                accountType: '0',
                behaviorType: 8, // 新邮箱
                number:
                  '%2B' +
                  formValidate.phoneAreaCode.split('+')[1] +
                  ',' +
                  formValidate.phone
              }"
            ></send-code>
          </div>
        </ai-form-item>
      </div>
      <div class="one btn">
        <ai-form-item>
          <rd-button
            class="selec_type_one"
            type="success2"
            :callBack="confirmFun"
            >{{ $t("infoAll.bind") }}</rd-button
          >
        </ai-form-item>
      </div>
    </ai-form>
    <!-- 添加弹框 -->
    <modal ref="modal_email">
      <div slot="header">
        {{ $t("email.safety_verification") }}
      </div>
      <div slot="body">
        <ai-form
          ref="formItemsText"
          :model="formValidate"
          :rules="ruleValidate"
          class="pop"
        >
          <div class="one">
            <ai-form-item
              :label="
                user.accountType === '0'
                  ? $t('infoAll.phone')
                  : $t('infoAll.email')
              "
              prop="account"
            >
              <ai-input
                :disabled="true"
                class="selec_type_one"
                v-model="formValidate.account"
                :placeholder="
                  user.accountType === '0'
                    ? $t('infoAll.input_phone')
                    : $t('infoAll.input_email')
                "
              />
            </ai-form-item>
          </div>
          <div class="one">
            <ai-form-item
              :label="
                user.accountType === '0'
                  ? $t('infoAll.phone_code')
                  : $t('infoAll.email_code')
              "
              prop="accountCode"
            >
              <div class="input-send">
                <ai-input
                  class="selec_type_one"
                  v-model="formValidate.accountCode"
                  :placeholder="
                    user.accountType === '0'
                      ? $t('infoAll.p_phone_code')
                      : $t('infoAll.p_email_code')
                  "
                />
                <send-code
                  class="send"
                  border="borderLeft"
                  :data="{
                    accountType: user.accountType,
                    behaviorType: 9, //
                    number:
                      user.accountType === '1'
                        ? user.email
                        : '%2B' +
                          (user.phoneAreaCode
                            ? user.phoneAreaCode.split('+')[1]
                            : '') +
                          ',' +
                          user.phone
                  }"
                ></send-code>
              </div>
            </ai-form-item>
          </div>
          <div class="one btn">
            <ai-form-item>
              <rd-button class="" type="" :callBack="cancelFun">{{
                $t("infoAll.cancel")
              }}</rd-button>
              <rd-button class="" type="success2" :callBack="confirmModalFun">{{
                $t("infoAll.bind")
              }}</rd-button>
            </ai-form-item>
          </div>
        </ai-form>
      </div>
    </modal>
  </div>
</template>
<script>
import Modal from "../../components/Modal";
import rdButton from "../../components/button";
import SendCode from "../../components/SendCode";
import AiForm from "../../components/form";
import AiFormItem from "../../components/form-item";
import AiInput from "../../components/input";
import BaseSelect from "../../components/BaseSelect.vue";
import { mapGetters } from "vuex";
import { prebindingFun, binEmailFun } from "../../api/bind";
import country from "../../assets/json/country.json";
export default {
  components: {
    "rd-button": rdButton,
    BaseSelect,
    AiInput,
    AiFormItem,
    SendCode,
    AiForm,
    modal: Modal
  },
  data() {
    return {
      step: false, // 没有弹窗
      countryPhone: {
        list: country
      },
      sel_color: "#A3A7B8",
      formValidate: {
        type: "phone",
        phoneAreaCode: "+86",
        email: "",
        emailCode: "",
        phone: "",
        phoneCode: "",
        accountCode: "",
        account: ""
      },
      ruleValidate: {}
    };
  },
  computed: {
    ...mapGetters(["user"])
  },
  mounted() {
    this.ruleValidate = {
      phoneAreaCode: [
        { required: true, message: "国际冠码不能为空", trigger: "blur" }
      ],
      account: [
        {
          required: true,
          message:
            this.user.accountType == "0"
              ? "手机号码不能为空"
              : "邮箱地址不能为空",
          trigger: "blur"
        },
        {
          pattern:
            this.user.accountType == "0"
              ? /^[+]*[(]{0,1}[0-9]{1,4}[)]{0,1}[-\s./0-9]*$/
              : /^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$/,
          message:
            this.user.accountType == "0"
              ? "请填写正确的手机号码"
              : "请填写正确的邮箱地址"
        }
      ],
      accountCode: [
        {
          required: true,
          message:
            this.user.accountType == "0"
              ? "手机验证码不能为空"
              : "邮箱验证码不能为空",
          trigger: "blur"
        }
      ],
      phone: [
        { required: true, message: "手机号码不能为空", trigger: "blur" },
        {
          pattern: /^[+]*[(]{0,1}[0-9]{1,4}[)]{0,1}[-\s./0-9]*$/,
          message: "请填写正确的手机号码"
        }
      ],
      phoneCode: [
        { required: true, message: "手机验证码不能为空", trigger: "blur" }
      ]
    };
    this.formValidate.account =
      this.user.accountType == "0" ? this.user.phone : this.user.email;
    if (this.user.phoneAreaCode) {
      this.formValidate.phoneAreaCode = this.user.phoneAreaCode;
    }
  },
  methods: {
    confirmFun() {
      this.$refs.formItems.validate().then(valid => {
        if (valid) {
          // alert('submit!');
          console.log("valid");
          // this.loading = true;
          prebindingFun({
            type: this.formValidate.type,
            phone:
              this.formValidate.phoneAreaCode + "," + this.formValidate.phone,
            phoneCode: this.formValidate.phoneCode
          }).then(res => {
            if (res.code == 200) {
              this.$refs.modal_email.show = true;
            } else {
              this.$Notification.warning("", res.message, 2000);
                this.$refs.modal_email.show = true;
            }
          });
        } else {
          console.log("error submit!!");
          return false;
        }
      });
    },
    cancelFun() {
      this.$refs.modal_email.cancel(false);
    },
    confirmModalFun() {
      this.$refs.formItemsText.validate().then(valid => {
        if (valid) {
          // alert('submit!');
          console.log("valid2");
          // this.loading = true;
          binEmailFun({
            accountCode: this.formValidate.accountCode,
            phoneCode: this.formValidate.phoneCode,
            phone: this.formValidate.phone
          }).then(res => {
            if (res.code == 200) {
              this.$refs.modal_email.show = false;
              this.$router.replace("/profile");
            } else {
              this.$Notification.warning("", res.message, 2000);
              // this.$refs.modal_email.show = true;
            }
          });
        } else {
          console.log("error submit!!");
          return false;
        }
      });
    }
  }
};
</script>
<style lang="scss" scoped>
.bind-phone {
  form {
    width: 500px;
    margin: 0 auto;
    padding-top: 55px;
    input {
      border: 0px solid red !important;
    }
    .selec_type_phone {
      width: 110px;
      height: 60px;
      background: var(--font-color17);
      position: relative;
      &::after {
        content: "";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 1px;
        height: 30px;
        right: 0px;
        background: var(--font-color15);
      }
    }
    &.pop {
      padding-top: 0px;
      .btn {
        margin-top: 40px;
        .item {
          display: flex;
          justify-content: flex-end;
          button {
            &:not(:last-child) {
              margin-right: 20px;
            }
            padding: 20px 60px;
            box-sizing: border-box;
            display: flex;
            align-items: center;
          }
        }
      }
      .input-send {
        display: flex;
        .input-s {
          // width: 300px;
          border: 0px solid red !important;
        }
        .send {
          width: 140px;
        }
      }
    }
    .one {
      width: 500px;
      font-size: var(--font-size16) !important;
      color: var(--color-black) !important;
      margin-bottom: 25px;
      .item {
        label {
          font-size: var(--font-size16);
        }
        .input-send {
          display: flex;
          .input-s {
            // width: 300px;
            border: 0px solid red !important;
          }
          .send {
            width: 140px;
          }
        }
      }
      &.btn {
        margin-top: 40px;
      }
      &.info {
        width: 500px;
        height: 50px;
        background: rgba(var(--info_bg), 1);
        opacity: 1;
        border-radius: 3px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-left: 15px;
        box-sizing: border-box;
        font-size: var(--font-size16) !important;
        color: rgba(var(--font-color26), 1) !important;
        text-align: left;
      }
    }
    .selec_type_one {
      width: 500px;
      height: 60px;
      opacity: 1;
      border-radius: 3px;
      input {
        background: rgba(242, 242, 242, 1);
      }
    }
  }
}
</style>
