<template>
  <div>
    <div @click="handleClick">
      <slot name="title"> </slot>
    </div>
    <div class="coin-head">
      <template>
        <slot name="title-left"> </slot>
      </template>
      <template>
        <div @click="handleClick" class="right-coin">
          <slot name="title-right"> </slot>
        </div>
      </template>
    </div>
    <div>
      <slot name="keep"> </slot>
    </div>
    <transition
      @before-enter="beforeEnter"
      @enter="enter"
      @after-enter="afterEnter"
      @leave="leave"
      @after-leave="afterLeave"
    >
      <div v-show="isShow" class="content">
        <slot></slot>
      </div>
    </transition>
  </div>
</template>

<script>
export default {
  data() {
    return {
      isShow: false
    };
  },
  methods: {
    handleClick(e) {
      console.log("dfd", this._uid, e.target);
      this.$parent.changeState(this._uid);
    },
    beforeEnter(el) {
      // 动画之前
      el.style.height = 0;
    },
    enter(el, done) {
      // 动画过程
      let height = el.scrollHeight;
      let step = (height / 300) * 20;
      let distance = 0;
      let change = () => {
        distance += step;
        if (distance < height) {
          el.style.height = `${distance}px`;
          requestAnimationFrame(change);
        } else {
          el.style.height = `${height}px`;
          done();
        }
      };
      requestAnimationFrame(change);
    },
    afterEnter() {
      // 动画之后
      console.log("展开动画完成");
    },
    leave(el, done) {
      // 动画过程
      let height = el.scrollHeight;
      let step = (height / 300) * 20;
      let change = () => {
        height -= step;
        if (height > 0) {
          el.style.height = `${height}px`;
          requestAnimationFrame(change);
        } else {
          el.style.height = 0;
          done();
        }
      };
      requestAnimationFrame(change);
    },
    afterLeave() {
      console.log("关闭动画完成");
    }
  }
};
</script>

<style lang="scss" scoped>
.content {
  overflow: hidden;
}
.coin-head {
  height: 65px;
  border-bottom: 1px solid var(--font-color14);
  box-sizing: border-box;
  padding: 13px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .left-coin {
    display: flex;
    align-items: center;
    img {
      margin-right: 5px;
    }
  }
  .right-coin {
    height: inherit;
    .radio {
      display: flex;
      height: inherit;
      justify-content: space-between;
      align-items: center;
      .one {
        height: inherit;
        cursor: pointer;
        padding: 0px 10px;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          margin-right: 5px;
        }
        &:not(:first-child) {
          margin-left: 5px;
        }
        &:hover {
          background: rgba(var(--font-color26), 0.1);
          border-radius: 5px;
          p.color-blue {
            // color: white;
          }
        }
        &.active {
          position: relative;
          &::after {
            content: "";
            position: absolute;
            bottom: 0px;
            left: 0px;
            width: 100%;
            height: 5px;
            border-radius: 20px;
            background: rgba(var(--font-color26), 1);
          }
        }
      }
    }
  }
}
</style>
