<template>
  <div class="trade-ads-detail">
    <content-nav :list="list"></content-nav>
    <pub-info></pub-info>
    <div class="banxin">
      <ai-form
        ref="formItems"
        :model="formValidate"
        :rules="ruleValidate"
        class="pub_form"
      >
        <!-- 选择买入卖出 -->
        <div class="in-out">
          <ai-form-item prop="isBuy" :class="disabled ? ' disabled' : ''">
            <h2
              :class="formValidate.isBuy == '0' ? 'active' : ''"
              @click="isBuyFun('0')"
            >
              {{ $t("publish.in") }}
              <div class="border"></div>
            </h2>
            <h2
              :class="formValidate.isBuy == '1' ? 'active' : ''"
              @click="isBuyFun('1')"
            >
              {{ $t("publish.out") }}
              <div class="border"></div>
            </h2>
          </ai-form-item>
        </div>
        <!-- 选择 支付方式，数字货币，国家，交易货币 -->
        <div class="select-box">
          <div class="left-box">
            <ai-form-item :label="$t('publish.pay_way')" prop="payWayType">
              <base-select
                :data="payWay"
                :val="formValidate.payWayType"
                set="formValidate.payWayType"
                value="value"
                :label="'label'"
                :home="false"
                :color="sel_color"
                class="selec_type_one"
                :class="disabled ? 'disabled' : ''"
              ></base-select>
            </ai-form-item>
            <ai-form-item :label="$t('profile.country')" prop="countryInfoId">
              <base-select
                :data="country"
                :val="formValidate.countryInfoId"
                set="formValidate.countryInfoId"
                value="id"
                :label="$i18n.locale == 'en' ? 'countryCode' : 'countryName'"
                :home="false"
                :color="sel_color"
                class="selec_type_one"
                :class="disabled ? 'disabled' : ''"
              ></base-select>
            </ai-form-item>
          </div>
          <div class="right-box">
            <ai-form-item
              :label="$t('publish.cryptocurrency')"
              prop="coinTypeId"
            >
              <base-select
                :data="coinType"
                :val="formValidate.coinTypeId"
                set="formValidate.coinTypeId"
                value="value"
                :label="'label'"
                :home="false"
                :color="sel_color"
                class="selec_type_one"
                :class="disabled ? 'disabled' : ''"
              ></base-select>
            </ai-form-item>
            <ai-form-item
              :label="$t('publish.currency')"
              prop="otcTradeCurrencyId"
            >
              <base-select
                :data="legalList"
                :val="formValidate.otcTradeCurrencyId"
                set="formValidate.otcTradeCurrencyId"
                value="id"
                :label="'coinName'"
                :home="false"
                :color="sel_color"
                class="selec_type_one"
                :class="disabled ? 'disabled' : ''"
              ></base-select>
            </ai-form-item>
          </div>
        </div>
        <!-- 设置价格 -->
        <div class="price-box-out">
          <div class="price-box">
            <div class="nav-price">
              <ai-form-item
                prop="pricingType"
                :class="disabled ? ' disabled' : ''"
              >
                <h3
                  :class="formValidate.pricingType == '0' ? 'active' : ''"
                  @click="formValidate.pricingType = '0'"
                >
                  {{ $t("publish.fixed_price") }}
                </h3>
                <h3
                  @click="formValidate.pricingType = '1'"
                  class="float"
                  :class="formValidate.pricingType == '1' ? 'active' : ''"
                >
                  {{ $t("publish.float_price") }}
                  <p>({{ $t("publish.float_price2") }})</p>
                </h3>
              </ai-form-item>
            </div>
            <div class="input-box">
              <ai-form-item prop="price" v-if="formValidate.pricingType == '0'">
                <ai-input
                  class="selec_type_one"
                  v-model="formValidate.price"
                  :placeholder="$t('publish.unit_price')"
                />
                <div class="price-fixed top">
                  {{ getName(formValidate.otcTradeCurrencyId) }}
                </div>
              </ai-form-item>
              <ai-form-item
                :label="$t('publish.profit')"
                prop="profitRate"
                v-if="formValidate.pricingType == '1'"
              >
                <ai-input
                  class="selec_type_one"
                  v-model="formValidate.profitRate"
                />
                <div class="price-fixed center">
                  %
                </div>
              </ai-form-item>
              <div
                class="price-market-list"
                v-if="formValidate.pricingType == '1'"
              >
                <ai-form-item
                  :label="$t('publish.market_price')"
                  prop="priceMarket"
                  v-if="formValidate.pricingType == '1'"
                >
                  <ai-input
                    class="selec_type_one"
                    :disabled="true"
                    v-model="formValidate.priceMarket"
                  />
                  <div class="price-fixed">
                    {{ getName(formValidate.otcTradeCurrencyId) }}
                  </div>
                </ai-form-item>
                <ai-form-item
                  :label="$t('publish.list_price')"
                  prop="price"
                  v-if="formValidate.pricingType == '1'"
                >
                  <ai-input
                    class="selec_type_one"
                    :disabled="true"
                    v-model="formValidate.price"
                  />
                  <div class="price-fixed">
                    {{ getName(formValidate.otcTradeCurrencyId) }}
                  </div>
                </ai-form-item>
              </div>
            </div>
          </div>
        </div>
        <!-- 限额 -->
        <div class="limit">
          <div class="top-limit">
            <div class="limit-left">
              <ai-form-item
                :label="$t('publish.amount_limit')"
                prop="minCurrentAmount"
              >
                <ai-input
                  class="selec_type_one"
                  v-model="formValidate.minCurrentAmount"
                  @keyup.native="calcAmountFun('legal', 'min')"
                  :placeholder="
                    formValidate.isBuy == '1'
                      ? $t('publish.place_min_amount')
                      : $t('publish.place_min_amount_trade')
                  "
                />
                <div class="price-fixed">
                  {{ getName(formValidate.otcTradeCurrencyId) }}
                </div>
              </ai-form-item>
              <ai-form-item prop="minQty" class="set-top">
                <ai-input
                  class="selec_type_one"
                  v-model="formValidate.minQty"
                  @keyup.native="calcAmountFun('coin', 'min')"
                  :placeholder="
                    formValidate.isBuy == '1'
                      ? $t('publish.place_min_crypto_amount')
                      : $t('publish.place_min_crypto_amount_trade')
                  "
                />
                <div class="price-fixed top">
                  {{ getCoinTypeName(formValidate.coinTypeId) }}
                </div>
              </ai-form-item>
            </div>
            <div class="limit-right">
              <ai-form-item
                :label="$t('publish.amount_limit')"
                prop="maxCurrentAmount"
              >
                <ai-input
                  class="selec_type_one"
                  v-model="formValidate.maxCurrentAmount"
                  @keyup.native="calcAmountFun('legal', 'max')"
                  :placeholder="
                    formValidate.isBuy == '1'
                      ? $t('publish.place_max_amount')
                      : $t('publish.place_max_amount_trade')
                  "
                />
                <div class="price-fixed">
                  {{ getName(formValidate.otcTradeCurrencyId) }}
                </div>
              </ai-form-item>
              <ai-form-item prop="maxQty" class="set-top">
                <ai-input
                  class="selec_type_one"
                  v-model="formValidate.maxQty"
                  @keyup.native="calcAmountFun('coin', 'max')"
                  :placeholder="
                    formValidate.isBuy == '1'
                      ? $t('publish.place_max_crypto_amount_trade')
                      : $t('publish.place_max_crypto_amount')
                  "
                />
                <div class="price-fixed top">
                  {{ getCoinTypeName(formValidate.coinTypeId) }}
                </div>
              </ai-form-item>
            </div>
          </div>
          <div class="bottom-limit">
            <ai-form-item
              :label="
                $i18n.locale == 'en'
                  ? $t('publish.c_amount_limit')
                  : formValidate.isBuy == '0'
                  ? '购买数量'
                  : '出售数量'
              "
              prop="limitQty"
              class="set-top"
            >
              <ai-input
                class="selec_type_one"
                v-model="formValidate.limitQty"
                :placeholder="
                  formValidate.isBuy == '1'
                    ? $t('publish.place_end')
                    : $t('publish.place_end')
                "
              />
              <div class="price-fixed center">
                {{ getCoinTypeName(formValidate.coinTypeId) }}
              </div>
              <div class="price-fixed fixed-total">
                {{ $t("publish.balance") }}
                <p>
                  : {{ paramsData.balance }}
                  {{ getCoinTypeName(formValidate.coinTypeId) }}
                </p>
              </div>
            </ai-form-item>
          </div>
        </div>
        <!-- 总价 -->
        <div class="total-limit"></div>
        <!-- 收款方式列表 -->
        <div class="pwlist" v-if="formValidate.isBuy == '1'">
          <h3>
            {{ $t("publish.pay_list") }}
            <i>{{
              $t("publish.max_pay", {
                num: formValidate.payWayType == "0" ? 3 : 1
              })
            }}</i>
          </h3>
          <ai-form-item
            :prop="
              formValidate.payWayType == '0' ? 'receiptWayIds' : 'giftCardId'
            "
            class="set-top"
          >
            <ul class="list-pw gundong">
              <li
                v-for="(item, index) in pwList"
                :key="index + 'pw-list'"
                :class="receiptWayIds.includes(item.id) ? 'active' : ''"
                @click="receiptWayIdsSet(item)"
              >
                <div
                  class="check"
                  :class="receiptWayIds.includes(item.id) ? 'active' : ''"
                ></div>
                <!-- 现金支付 -->
                <img
                  v-if="formValidate.payWayType == '0'"
                  :src="
                    item.type == '0'
                      ? require('../../assets/images/trade/zu 393@2x.png')
                      : item.type == '1'
                      ? require('../../assets/images/trade/zu 436@2x.png')
                      : item.type == '2'
                      ? require('../../assets/images/trade/zu 437@2x.png')
                      : ''
                  "
                  alt=""
                  class="type-pw"
                />
                <div v-if="formValidate.payWayType == '0'" class="name">
                  {{ item.name }}
                </div>
                <div v-if="formValidate.payWayType == '0'" class="account">
                  {{
                    item.type == "0"
                      ? item.bankAccount
                      : item.type == "1"
                      ? item.alipayAccount
                      : item.wxAccount
                  }}
                  <p class="account-branch" v-if="item.type == '0'">
                    ({{ item.branchAccount }})
                  </p>
                </div>
                <!-- 礼品卡 -->
                <div v-if="formValidate.payWayType == '1'" class="cardeName">
                  {{ item.cardName }}
                </div>
              </li>
            </ul>
          </ai-form-item>
        </div>
        <!-- 备注 -->
        <div class="mark-box">
          <ai-form-item
            :label="$t('publish.note')"
            prop="message"
            class="set-top mark-item"
          >
            <textarea
              v-model="formValidate.message"
              :placeholder="$t('publish.text')"
              maxlength="500"
            ></textarea>
          </ai-form-item>
        </div>
        <!-- 注意事项和按钮 -->
        <div class="btn-info">
          <div class="text-box">
            <h3>{{ $t("publish.important") }}</h3>
            <p class="tip">{{ $t("publish.im1") }}</p>
            <p class="tip">{{ $t("publish.im2") }}</p>
            <p class="tip">{{ $t("publish.im3") }}</p>
            <p class="tip">{{ $t("publish.im4") }}</p>
            <p class="tip">{{ $t("publish.im5") }}</p>
          </div>
          <rd-button
            :loading="loading"
            class="nimei"
            :class="active ? 'active' : ''"
            :callBack="confirmFun"
            >{{ $t("publish.endsubmit") }}</rd-button
          >
        </div>
      </ai-form>
    </div>
  </div>
</template>
<script>
import contentNav from "../../components/ContentNav";
import pubInfo from "./adsCommon/pubInfo";
import BaseSelect from "../../components/BaseSelect.vue";
import AiForm from "../../components/form";
import AiFormItem from "../../components/form-item";
import AiInput from "../../components/input";
import rdButton from "../../components/button";
import { getCoinsFun } from "../../api/assets";
import { getCurrencyPriceCalc } from "../../api/trade";
import { debounce, debounceFinal } from "../../utils/index";
import {
  getCountryList,
  queryOtcMarketCurrency,
  getGiftCardFun
} from "../../api/common/country";
import {
  getPublishMarketParamFun,
  getMarketInfoFun,
  getMarketPrice,
  publishMarketFun,
  editMarketFun
} from "../../api/publish";
export default {
  components: {
    contentNav,
    pubInfo,
    BaseSelect,
    AiForm,
    AiFormItem,
    AiInput,
    rdButton
  },
  data() {
    return {
      list: [
        {
          text: "navitem.trade"
        },
        {
          text: "trade.my_release"
        }
      ],
      loading: false,
      sel_color: "black",
      formValidate: {
        isBuy: "0",
        payWayType: 0,
        coinTypeId: "",
        countryInfoId: "",
        otcTradeCurrencyId: "",
        pricingType: 0, // 固定
        price: "",
        priceMarket: "",
        profitRate: 5,
        minQty: "", // 是法币为 inputRmbAmount  // 虚拟货币的为 inputCurrencyAmount
        maxQty: "",
        minCurrentAmount: "",
        maxCurrentAmount: "",
        limitQty: "",
        giftCardId: "",
        receiptWayIds: "",
        receiptWayTypes: "",
        message: ""
      },
      ruleValidate: {},
      coinType: [],
      country: [],
      legalList: [],
      payWay: this.$t("publish.tradePayType"),
      pwList: [],
      receiptWayIds: [],
      receiptWayTypes: [],
      edit: null,
      initParamsStatus: true, // 允许按照 初始化的时候赋值
      disabled: false,
      paramsData: {},
      active: false // button 颜色
    };
  },
  watch: {
    "formValidate.countryInfoId": {
      handler() {
        this.initLegal();
      }
      //   immediate: true
    },
    "formValidate.payWayType": {
      handler(n) {
        this.receiptWayIds = [];
        this.formValidate.giftCardId = "";
        if (n == "1") {
          this.initGift();
        } else {
          this.initParamsCash();
        }
      }
      // immediate: true // 因为要等 国家 和 虚拟货币加载万再请求所以 不能 immediate
    },
    "formValidate.pricingType": {
      handler(n) {
        if (n == "1") {
          this.getMarketPriceFun();
        } else {
          this.formValidate.price = "";
        }
      }
    },
    "formValidate.profitRate": {
      handler(n) {
        if (n != "") {
          if (this.formValidate.pricingType == "1") {
            if (this.formValidate.isBuy == "0") {
              this.formValidate.price = (
                ((100 - Number(n)) / 100) *
                this.formValidate.priceMarket
              ).toFixed(3);
            } else {
              this.formValidate.price = (
                ((100 + Number(n)) / 100) *
                this.formValidate.priceMarket
              ).toFixed(3);
            }
          }
        } else {
          this.formValidate.price = this.formValidate.priceMarket;
        }
      }
    },
    "formValidate.otcTradeCurrencyId": {
      handler() {
        this.getMarketPriceFun();
        this.formValidate.limitQty = "";
      }
    },
    "formValidate.coinTypeId": {
      handler() {
        this.getMarketPriceFun();
        this.formValidate.limitQty = "";
      }
    },
    "formValidate.price": {
      handler(n) {
        if (n != "") {
          if (this.formValidate.minQty != "") {
            this.calcAmountFun("coin", "min");
          }
          if (this.formValidate.maxQty != "") {
            let t = setTimeout(() => {
              this.calcAmountFun("coin", "max");
              clearTimeout(t);
            }, 600);
          }
        } else {
          this.formValidate.minQty = "";
          this.formValidate.maxQty = "";
          this.formValidate.minCurrentAmount = "";
          this.formValidate.maxCurrentAmount = "";
        }
        this.formValidate.limitQty = "";
      }
    },
    "formValidate.limitQty": {
      handler(n) {
        this.checkLimitQty(n);
      }
    },
    receiptWayIds: {
      handler() {
        if (this.formValidate.payWayType == "1") {
          this.formValidate.giftCardId = this.receiptWayIds.join(",");
        } else {
          this.formValidate.receiptWayIds = this.receiptWayIds.join(",");
          this.getReceiptWayTypes();
        }
      }
    },
    formValidate: {
      handler() {
        this.$refs.formItems.validate().then(valid => {
          if (valid) {
            this.active = true;
          } else {
            this.active = false;
          }
        });
      },
      deep: true
    },
    "formValidate.isBuy": {
      handler() {
        this.ruleValidate["giftCardId"] = [
          {
            required:
              this.formValidate.isBuy == "1" &&
              this.formValidate.payWayType == "1"
                ? true
                : false,
            message: this.$t("publish.select_one"),
            trigger: "blur"
          }
        ];
        this.ruleValidate["receiptWayIds"] = [
          {
            required:
              this.formValidate.isBuy == "1" &&
              this.formValidate.payWayType == "0"
                ? true
                : false,
            message: this.$t("publish.select_one"),
            trigger: "blur"
          }
        ];
      }
    }
  },
  mounted() {
    //  虚拟货币 与 新发布和编辑无关
    this.initCointypeList();
    // 国家 与发布编辑无关，但是 法币有关，所有在国家 then 中处理
    this.initCountryList();

    this.checkLimitQty = debounceFinal(this.checkLimitQty, 1000, false);
    this.initRuleValidate();
    if (this.$route.query.adId) {
      let t = setTimeout(() => {
        this.calcAmountFun = debounce(this.calcAmountFun, 400);
        clearTimeout(t);
      }, 1000);
    }
  },
  methods: {
    initRuleValidate() {
      this.ruleValidate = {
        coinTypeId: [
          {
            required: true,
            transform(value) {
              let base;
              if (value) {
                base = "" + value;
              }
              return base;
            },
            message: this.$t("infoAll.input_all"),
            trigger: "blur"
          }
        ],
        countryInfoId: [
          {
            required: true,
            transform(value) {
              let base;
              if (value) {
                base = "" + value;
              }
              return base;
            },
            message: this.$t("infoAll.input_all"),
            trigger: "blur"
          }
        ],
        otcTradeCurrencyId: [
          {
            required: true,
            transform(value) {
              let base;
              if (value) {
                base = "" + value;
              }
              return base;
            },
            message: this.$t("infoAll.input_all"),
            trigger: "blur"
          }
        ],
        price: [
          {
            required: true,
            transform(value) {
              let base;
              if (value) {
                base = "" + value;
              }
              return base;
            },
            message: this.$t("infoAll.input_all"),
            trigger: "blur"
          }
        ],
        profitRate: [
          {
            required: true,
            transform(value) {
              let base;
              if (value) {
                base = "" + value;
              }
              return base;
            },
            message: this.$t("infoAll.input_all"),
            trigger: "blur"
          }
        ],
        minQty: [
          {
            required: true,
            transform(value) {
              let base;
              if (value) {
                base = "" + value;
              }
              return base;
            },
            message: this.$t("infoAll.input_all"),
            trigger: "blur"
          }
        ],
        maxQty: [
          {
            required: true,
            transform(value) {
              let base;
              if (value) {
                base = "" + value;
              }
              return base;
            },
            message: this.$t("infoAll.input_all"),
            trigger: "blur"
          }
        ],
        limitQty: [
          {
            required: true,
            transform(value) {
              let base;
              if (value) {
                base = "" + value;
              }
              return base;
            },
            message: this.$t("infoAll.input_all"),
            trigger: "blur"
          }
        ],
        giftCardId: [
          {
            required:
              this.formValidate.isBuy == "1" &&
              this.formValidate.payWayType == "1"
                ? true
                : false,
            message: this.$t("publish.select_one"),
            trigger: "blur"
          }
        ],
        receiptWayIds: [
          {
            required:
              this.formValidate.isBuy == "1" &&
              this.formValidate.payWayType == "0"
                ? true
                : false,
            message: this.$t("publish.select_one"),
            trigger: "blur"
          }
        ]
      };
    },
    calcAmountFun(type, size) {
      // amount 数量 虚拟/法币  type 类型 虚拟/法币  size 大小
      if (this.formValidate.price == "") {
        this.$Notification.failed("", this.$t("publish.unit_price"), 2500);
        this.formValidate.minQty = "";
        this.formValidate.maxQty = "";
        this.formValidate.minCurrentAmount = "";
        this.formValidate.maxCurrentAmount = "";
        return;
      }
      let item = {
        inputCurrencyPrice: this.formValidate.price
      };
      if (type == "coin") {
        if (size == "min") {
          item["inputCurrencyAmount"] = this.formValidate.minQty;
        } else {
          item["inputCurrencyAmount"] = this.formValidate.maxQty;
        }
      } else {
        if (size == "min") {
          item["inputRmbAmount"] = this.formValidate.minCurrentAmount;
        } else {
          item["inputRmbAmount"] = this.formValidate.maxCurrentAmount;
        }
      }
      getCurrencyPriceCalc(item).then(res => {
        if (res.code == 200) {
          if (type == "coin") {
            if (size == "min") {
              this.formValidate.minCurrentAmount = res.data.rmbAmount;
            } else {
              this.formValidate.maxCurrentAmount = res.data.rmbAmount;
            }
          } else {
            if (size == "min") {
              this.formValidate.minQty = res.data.tradeCurrencyAmount;
            } else {
              this.formValidate.maxQty = res.data.tradeCurrencyAmount;
            }
          }
        } else {
          this.$Notification.failed("", res.message, 3000);
        }
      });
    },
    checkLimitQty(n) {
      if (Number(n) < Number(this.formValidate.maxQty)) {
        console.log(this.$t("publish.lower") + this.formValidate.maxQty);
        this.$Notification.failed(
          "",
          this.$t("publish.lower") + this.formValidate.maxQty,
          3000
        );
        this.formValidate.limitQty = this.formValidate.maxQty;
      } else if (Number(n) > Number(this.paramsData.balance)) {
        if (this.isBuy == "0") {
          // this.limitQtyInfo = '高于余额' + this.paramsData.balance
        } else {
          console.log(this.$t("publish.higher") + this.paramsData.balance);
          this.$Notification.failed(
            "",
            this.$t("publish.higher") + this.paramsData.balance,
            3000
          );
          this.formValidate.limitQty = this.paramsData.balance;
        }
      } else {
        //
      }
    },
    getCoinTypeName(id) {
      let b = this.coinType;
      for (let i = 0; i < b.length; i++) {
        if (b[i].value == id) {
          return b[i].label;
        }
      }
    },
    getName(id) {
      // 获取法币名称
      let b = this.legalList;
      for (let i = 0; i < b.length; i++) {
        if (b[i].id == id) {
          return b[i].coinName;
        }
      }
    },
    getMarketPriceFun() {
      if (!this.getName(this.formValidate.otcTradeCurrencyId)) {
        return;
      }
      getMarketPrice({
        coinTypeId: this.formValidate.coinTypeId,
        otcTradeCurrency: this.getName(this.formValidate.otcTradeCurrencyId)
      }).then(res => {
        if (res.code == 200) {
          this.formValidate.priceMarket = res.data.price;
          if (this.formValidate.pricingType == "1") {
            if (this.formValidate.isBuy == "0") {
              this.formValidate.price = (
                ((100 - Number(this.formValidate.profitRate)) / 100) *
                this.formValidate.priceMarket
              ).toFixed(3);
            } else {
              this.formValidate.price = (
                ((100 + Number(this.formValidate.profitRate)) / 100) *
                this.formValidate.priceMarket
              ).toFixed(3);
            }
          }
        } else {
          //
        }
      });
    },
    isBuyFun(type) {
      if (this.disabled) {
        //
      } else {
        this.formValidate.isBuy = type;
      }
    },

    initEditInfo() {
      getMarketInfoFun({
        adId: this.$route.query.adId
      }).then(res => {
        if (res.code == 200) {
          this.edit = res.data;

          this.initParamsStatus = false;

          this.formValidate.isBuy = this.edit.isBuy;
          this.formValidate.payWayType = this.edit.payWayType;
          this.formValidate.coinTypeId = this.edit.coinTypeId;
          this.formValidate.countryInfoId = this.edit.countryInfoId;
          this.formValidate.pricingType = this.edit.pricingType;
          this.formValidate.profitRate = this.edit.profitRate;
          this.formValidate.tradeCoinType = this.edit.tradeCoinType;
          this.formValidate.price = this.edit.price;
          this.formValidate.priceMarket = this.edit.price;
          this.formValidate.minQty = this.edit.minQty;
          this.formValidate.maxQty = this.edit.maxQty;
          this.formValidate.limitQty = this.edit.limitQty;
          this.formValidate.message = this.edit.message;
          this.formValidate.id = this.edit.id;

          if (this.edit.adStatus == "1" && this.edit.isAutoTaken == "1") {
            this.disabled = true;
          }

          let t = setTimeout(() => {
            if (this.edit.payWayType == "0") {
              this.receiptWayIdsEdit(this.edit.payMethodList);
            } else {
              this.receiptWayIdsEdit([this.edit.giftCard]);
            }
            this.formValidate.otcTradeCurrencyId = this.edit.otcTradeCurrencyId;
            clearTimeout(t);
          }, 600);
        } else {
          this.$Notification.failed(
            "",
            res.message + "， 请刷新。如果直接填写则认为是 发布新的广告。",
            2500
          );
        }
      });
    },
    getReceiptWayTypes() {
      let wayIds = this.receiptWayIds;
      let pwList = this.pwList;
      let wayTypes = [];
      for (let index = 0; index < wayIds.length; index++) {
        for (let inde = 0; inde < pwList.length; inde++) {
          if (wayIds[index] == pwList[inde].id) {
            wayTypes.push(pwList[inde].type);
          }
        }
      }
      this.formValidate.receiptWayTypes = wayTypes.join(",");
    },
    receiptWayIdsSet(row) {
      if (this.formValidate.payWayType == "0") {
        let index = this.receiptWayIds.indexOf(row.id);
        if (index > -1) {
          this.receiptWayIds.splice(index, 1);
        } else {
          if (this.receiptWayIds.length >= 3) {
            this.$Notification.failed("", "最多只能选三种支付方式", 3000);
          } else {
            this.receiptWayIds.push(row.id);
          }
        }
      } else {
        this.receiptWayIds = [row.id];
      }
    },
    receiptWayIdsEdit(list) {
      list.forEach(item => {
        if (this.formValidate.payWayType == "0") {
          this.receiptWayIds.push(item.id + "");
        } else {
          this.receiptWayIds.push(item.id);
        }
      });
    },
    initParamsCash() {
      Promise.all([this.initCountryListP, this.initCointypeListP])
        .then(() => {
          // console.log(v);
          getPublishMarketParamFun({
            coinTypeId: this.formValidate.coinTypeId,
            countryInfoId: this.formValidate.countryInfoId
          }).then(res => {
            if (res.code == 200) {
              this.paramsData = res.data;
              this.pwList = res.data.payMethods;
              if (this.pwList.length > 0) {
                if (this.$route.query.adId) {
                  //
                } else {
                  this.receiptWayIds.push(this.pwList[0].id);
                }
              }
            } else {
              this.$Notification.failed("", res.message, 2500);
            }
          });
        })
        .catch(error => {
          console.log(error);
        });
    },
    initGift() {
      // 获取gift 支付列表
      getGiftCardFun().then(res => {
        if (res.code == 200) {
          this.pwList = res.data;
          if (this.pwList.length > 0) {
            this.formValidate.giftCardId = this.pwList[0].id;
          }
        } else {
          this.this.$Notification.failed("", res.message, 2500);
        }
      });
    },
    initCointypeList() {
      this.initCointypeListP = new Promise((resolve, reject) => {
        getCoinsFun()
          .then(res => {
            if (res.code == 200) {
              this.coinType = res.data;
              this.coinType.forEach(item => {
                // 转大写
                item.label = item.label.toUpperCase();
              });
              if (this.coinType.length > 0) {
                this.formValidate.coinTypeId = this.coinType[0].value;
              }
              resolve(true);
            } else {
              this.this.$Notification.failed("", res.message, 2500);
              reject(false);
            }
          })
          .catch(error => {
            console.log(error);
            reject(false);
          });
      });
    },
    initCountryList() {
      this.country = [];
      this.legalList = [];
      this.initCountryListP = new Promise((resolve, reject) => {
        getCountryList()
          .then(res => {
            if (res.code == 200) {
              this.country = res.data;
              if (this.country.length > 0) {
                this.formValidate.countryInfoId = this.country[0].id;
              }
              resolve(true);
            } else {
              this.this.$Notification.failed("", res.message, 2500);
              reject(false);
            }
          })
          .then(() => {
            //  初始化 params gift
            if (this.initParamsStatus) {
              this.initParamsCash();
              if (this.formValidate.payWayType == "1") {
                this.initGift();
              }
              // this.initParamsStatus = false;
            }
          });
      });
    },
    initLegal() {
      this.legalList = [];
      queryOtcMarketCurrency({
        countryInfoId: this.formValidate.countryInfoId
      })
        .then(res => {
          if (res.code == 200) {
            this.legalList = res.data;
            if (this.legalList.length > 0) {
              this.formValidate.otcTradeCurrencyId = this.legalList[0].id;
            }
          } else {
            this.this.$Notification.failed("", res.message, 2500);
          }
        })
        .then(() => {
          if (this.$route.query.adId) {
            if (this.edit == null) {
              this.initEditInfo();
            }
          }
        });
    },
    confirmFun() {
      this.$refs.formItems.validate().then(valid => {
        if (valid) {
          // console.log(valid);
          let item = {
            isAutoTaken: 1,
            merchantCoinId: 0,
            isBuy: this.formValidate.isBuy,
            payWayType: this.formValidate.payWayType,
            coinTypeId: this.formValidate.coinTypeId,
            countryInfoId: this.formValidate.countryInfoId,
            tradeCoinType: this.getName(this.formValidate.otcTradeCurrencyId),
            otcTradeCurrencyId: this.formValidate.otcTradeCurrencyId,
            limitQty: this.formValidate.limitQty,
            maxQty: this.formValidate.maxQty,
            minQty: this.formValidate.minQty,
            pricingType: this.formValidate.pricingType,
            message: this.formValidate.message,
            price: this.formValidate.price,
            profitRate: this.formValidate.profitRate
          };
          if (this.formValidate.isBuy == "1") {
            if (this.formValidate.payWayType == "0") {
              item["receiptWayIds"] = this.formValidate.receiptWayIds;
              item["receiptWayTypes"] = this.formValidate.receiptWayTypes;
            } else {
              item["giftCardId"] = this.formValidate.giftCardId;
            }
          }
          console.log(item);
          if (this.edit != null) {
            item["id"] = this.edit.id;
            editMarketFun(item).then(res => {
              if (res.code == 200) {
                this.$Notification.success("", res.message, 2500);
                this.$router.push("/tradeAdsList");
              } else {
                this.$Notification.failed("", res.message, 3000);
              }
            });
          } else {
            publishMarketFun(item).then(res => {
              if (res.code == 200) {
                this.$Notification.success("", res.message, 2500);
                this.$router.push("/tradeAdsList");
              } else {
                this.$Notification.failed("", res.message, 3000);
              }
            });
          }
        } else {
          //
          console.log(this.formValidate);
        }
      });
    }
  }
};
</script>
<style lang="scss" scoped>
.trade-ads-detail {
  padding: 140px 0px 100px;
  background: white;
  h2 {
    font-size: 30px;
    font-weight: 800;
    color: #a1b0c6;
    line-height: 42px;
    &.active {
      color: #222222;
      position: relative;
      .border {
        position: absolute;
        left: 0px;
        bottom: -10px;
        content: "";
        height: 10px;
        width: 100%;
        background: rgba(55, 135, 254, 1);
        opacity: 1;
        border-radius: 3px;
      }
    }
  }
  h3 {
    font-size: 20px;
    line-height: 32px;
    color: #222222;
    &.heavy {
      font-weight: 800;
      color: #ffffff;
    }
  }
  p {
    font-size: 16px;
    line-height: 22px;
    color: #222222;
    &.tip {
      color: #666666;
      line-height: 32px;
    }
  }
  // btn-info
  .btn-info {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    text-align: left;
    button {
      width: 310px;
      height: 60px;
      background: rgba(161, 176, 198, 1);
      opacity: 1;
      border-radius: 3px;
      &.nimei {
        background-color: rgba(161, 176, 198, 1);
        border-color: rgba(161, 176, 198, 1);
        color: #fff;
        &.active {
          background-color: rgba(55, 135, 254, 1);
          border-color: rgba(55, 135, 254, 1);
          color: #fff;
        }
      }
    }
  }
  .pub_form {
    padding-top: 30px;
    .in-out {
      margin-bottom: 45px;
      .item {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        h2 {
          &:not(:last-child) {
            margin-right: 50px;
          }
          cursor: pointer;
          &.active {
            // cursor: initial;
          }
        }
        &.disabled {
          h2 {
            cursor: not-allowed !important;
          }
        }
      }
    }
    .select-box {
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid rgba(230, 230, 230, 1);
      .left-box {
        flex: 1;
        margin-right: 60px;
      }
      .left-box,
      .right-box {
        .item {
          .select_diy.selec_type_one {
            width: 620px;
            height: 60px;
            background: rgba(242, 242, 242, 1);
            opacity: 1;
            border-radius: 3px;
            &.disabled {
              background: #f5f7fa;
              pointer-events: none;
              position: relative;
              &::after {
                content: ""; //not allowed
                width: 100%;
                height: 100%;
                position: absolute;
                left: 0px;
                top: 0px;
                background: rgba(245, 247, 250, 0.3);
                color: red;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: not-allowed;
              }
            }
          }
          margin-bottom: 30px;
        }
      }
    }
    .price-box-out {
      border-bottom: 1px solid rgba(230, 230, 230, 1);
      padding-top: 30px;
      padding-bottom: 30px;
    }
    .price-box {
      width: 620px;
      .nav-price {
        display: flex;
        height: 60px;
        background: rgba(243, 248, 255, 1);
        opacity: 1;
        border-radius: 3px;
        margin-bottom: 20px;
        .item {
          width: 100%;
          display: flex;
          h3 {
            flex: 1;
            height: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 16px;
            font-weight: 400;
            line-height: 22px;
            color: #a1b0c6;
            cursor: pointer;
            p {
              font-size: 14px;
              color: #a1b0c6;
            }
            &.active {
              background: rgba(55, 135, 254, 1);
              opacity: 1;
              border-radius: 3px 0px 0px 3px;
              color: white;
            }
            &.float {
              flex-direction: column;
              justify-content: center;
              align-items: center;
              &.active {
                background: rgba(55, 135, 254, 1);
                opacity: 1;
                border-radius: 0px 3px 3px 0px;
                color: white;
                p {
                  color: white;
                }
              }
            }
          }
        }
      }
      .input-box {
        .item {
          input {
            height: 60px;
          }
          position: relative;
          .price-fixed {
            position: absolute;
            bottom: 0px;
            right: 0px;
            width: 60px;
            height: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 16px;
            color: #222222;
            &.top {
              top: 0px;
            }
            &.center {
              top: 0px;
              margin-top: 29px;
            }
            &.bottom {
              bottom: 0px;
            }
          }
        }
        .price-market-list {
          margin-top: 20px;
          display: flex;
          .item {
            flex: 1;
            &:not(:last-child) {
              margin-right: 20px;
            }
            input:disabled {
              background: rgba(161, 176, 198, 1) !important;
              border: none !important;
              color: #ffffff;
            }
            .price-fixed {
              color: white;
            }
          }
        }
      }
    }
    .limit {
      padding-top: 30px;
      .item {
        position: relative;
        .price-fixed {
          position: absolute;
          bottom: 0px;
          right: 0px;
          width: 60px;
          height: 60px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 16px;
          color: #222222;
          z-index: 0;
          &.fixed-total {
            width: auto;
            top: -15px;
            p {
              color: #3787fe;
            }
          }
          &.top {
            top: 0px;
          }
          &.center {
            top: 0px;
            margin-top: 29px;
          }
          &.bottom {
            bottom: 0px;
          }
        }
      }
      .top-limit {
        display: flex;
        justify-content: space-between;
        // align-items: center;
        .item {
          width: 620px;
          input {
            height: 60px;
          }
          &.set-top {
            margin-top: 20px;
          }
        }
        .limit-left {
        }
        .limit-right {
        }
      }
      .bottom-limit {
        width: 620px;
        margin-top: 30px;
        .item {
          input {
            height: 60px;
          }
        }
      }
    }

    .pwlist {
      margin-top: 50px;
      h3 {
        height: 50px;
        background: rgba(161, 176, 198, 1);
        opacity: 1;
        border-radius: 3px 3px 0px 0px;
        font-size: 20px;
        line-height: 22px;
        color: white;
        padding: 10px 15px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        i {
          font-size: 16px;
        }
      }
      .list-pw {
        max-height: 300px;
        overflow-y: auto;
        background: rgba(250, 250, 250, 1);
        font-size: 16px;
        line-height: 22px;
        color: #222222;
        li {
          height: 50px;
          cursor: pointer;
          padding-left: 15px;
          margin-top: 5px;
          &.active {
            background: rgba(55, 135, 254, 0.1);
          }
          display: flex;
          justify-content: flex-start;
          align-items: center;
          img {
            width: 30px;
            height: 30px;
            margin-left: 15px;
            margin-right: 20px;
          }
          div {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            &.check {
              width: 25px;
              height: 25px;
              color: white;
              background: rgba(161, 176, 198, 1);
              border-radius: 50%;
              position: relative;
              &::before {
                content: "";
                width: 4px;
                height: 10px;
                position: absolute;
                left: 50%;
                left: 57%;
                top: 50%;
                background: white;
                border-radius: 2px;
                transform: rotate(-45deg) translateX(-50%) translateY(-75%);
              }
              &::after {
                content: "";
                width: 4px;
                height: 13px;
                position: absolute;
                right: 50%;
                right: 45%;
                top: 50%;
                border-radius: 2px;
                background: white;
                transform: rotate(45deg) translateX(-50%) translateY(-60%);
              }
              &.active {
                background: rgba(55, 135, 254, 1);
              }
            }
            &.name {
              margin-right: 20px;
            }
            &.account {
              .account-branch {
                margin-left: 15px;
              }
            }
            &.cardeName {
              margin-left: 30px;
            }
          }
        }
      }
    }

    .mark-box {
      margin-top: 50px;
      .item {
        width: 100%;
        textarea {
          width: 100%;
          height: 210px;
          background: rgba(242, 242, 242, 1);
          opacity: 1;
          border-radius: 3px;
          resize: none;
        }
      }
    }
  }
}
</style>
