<template>
  <div class="trade-ads-list">
    <content-nav :list="list"></content-nav>
    <div class="banxin">
      <list-querys
        v-model="querys"
        :paramsTopLeft="paramsTopLeft"
        :paramsBottomLeft="paramsBottomLeft"
        :paramsTopRight="paramsTopRight"
        :paramsBottomRight="paramsBottomRight"
        :topRightAds="true"
        :time="true"
        :tradeOrderAds="true"
        :tradeTypeAds="tradeTypeAds"
        :country="country"
        :legal="legal"
        :cointype="cointype"
        topLeftAlign="speace-between"
        :loadBLeft="loadBLeft"
        expand
        @click="exportFun"
      ></list-querys>
      <div class="trade_i_list skt-loading">
        <div class="banxin">
          <Table :datas="tableData" :height="620" class="trade-table-ads">
            <TableItem :title="$t('tOrderAds.ad_id')" align="left" :width="100">
              <template slot-scope="{ data }">
                <div class="order">
                  {{ data.id }}
                </div>
              </template>
            </TableItem>
            <TableItem
              :title="$t('tOrderAds.ad_type')"
              align="left"
              :width="100"
            >
              <template slot-scope="{ data }">
                <div class="type" :class="data.isBuy == '0' ? 'in' : 'out'">
                  <h3>
                    {{ data.isBuy == "0" ? $t("trade.buy") : $t("trade.sell") }}
                  </h3>
                </div>
              </template>
            </TableItem>
            <TableItem :title="$t('tOrderAds.amount')" align="left">
              <template slot-scope="{ data }">
                <div class="amout">
                  {{ data.limitQty }} {{ data.coinName.toUpperCase() }}
                </div>
              </template>
            </TableItem>
            <TableItem :title="$t('tOrderAds.limit')" align="left">
              <template slot-scope="{ data }">
                <div class="limit">
                  {{ data.minAmount }} - {{ data.maxAmount }}
                  {{ data.tradeCoinType }}
                </div>
              </template>
            </TableItem>
            <TableItem :title="$t('tOrderAds.unit_price')" align="left">
              <template slot-scope="{ data }">
                <div class="price">
                  {{ data.price }} {{ data.tradeCoinType }}
                </div>
              </template>
            </TableItem>
            <TableItem :title="$t('tOrderAds.paym')" align="left">
              <template slot-scope="{ data }">
                <div class="pw">
                  <div class="gift" v-if="data.payWayType == '1'">
                    {{ data.giftCard.cardName }}
                  </div>
                  <div class="cash" v-show="data.payWayType == '0'">
                    <img
                      v-if="data.bankcardOn"
                      src="../../assets/images/trade/zu 393@2x.png"
                      alt=""
                    />
                    <img
                      v-if="data.alipayOn"
                      src="../../assets/images/trade/zu 436@2x.png"
                      alt=""
                    />
                    <img
                      v-if="data.wechatPayOn"
                      src="../../assets/images/trade/zu 437@2x.png"
                      alt=""
                    />
                  </div>
                </div>
              </template>
            </TableItem>
            <TableItem :title="$t('tOrderAds.time_create')" align="left">
              <template slot-scope="{ data }">
                <div class="time">
                  <p class="">{{ data.createTime }}</p>
                </div>
              </template>
            </TableItem>
            <TableItem :title="$t('tOrderAds.control')" align="left">
              <template slot-scope="{ data }">
                <div class="btn">
                  <rd-button
                    v-if="data.adStatus == '1' && data.isAutoTaken == '1'"
                    :loading="false"
                    type=""
                    :callBack="putOffFun"
                    :data="data"
                    class="put-off"
                    >{{ $t("tOrderAds.put_off") }}</rd-button
                  >
                  <rd-button
                    v-if="
                      data.adStatus == '2' ||
                        (data.isAutoTaken == '1' && data.adStatus == '1')
                    "
                    :loading="false"
                    type=""
                    :callBack="putEditFun"
                    :data="data"
                    class="put-edit"
                    >{{ $t("tOrderAds.put_edit") }}</rd-button
                  >
                  <rd-button
                    v-if="data.adStatus == '2'"
                    :loading="data.loading"
                    type=""
                    :callBack="putOnFun"
                    :data="data"
                    class="put-on"
                    >{{ $t("tOrderAds.put_on") }}</rd-button
                  >
                  <rd-button
                    v-if="data.adStatus == '2'"
                    :loading="false"
                    type=""
                    :callBack="putDeleteFun"
                    :data="data"
                    class="put-delete"
                    >{{ $t("tOrderAds.put_delete") }}</rd-button
                  >
                  <rd-button
                    v-if="data.adStatus == '1' && data.isAutoTaken == '2'"
                    :loading="false"
                    type=""
                    :callBack="cancleAdsFun"
                    :data="data"
                    class="put-undo"
                    >{{ $t("tOrderAds.undo_put_off") }}</rd-button
                  >
                </div>
              </template>
            </TableItem>
            <div slot="empty">
              <!-- 自定义提醒：暂时无数据 -->
              <div
                class="table-none"
                v-show="loading == false && tableData.length == 0"
              >
                <img src="../../assets/images/trade/zu 710@2x.png" alt="" />
                <p>暂未找到合适的广告</p>
              </div>
            </div>
          </Table>
          <div class="table-load" v-show="loading">
            <li v-for="(item, index) in 6" :key="index + 'trade-load'">
              <div class="merchant">
                <div class="img skeleton">
                  <div class="pont"></div>
                </div>
                <h3 class="skeleton"></h3>
              </div>
              <div class="limit">
                <div class="skeleton one"></div>
                -
                <div class="skeleton one"></div>
              </div>
              <div class="pw">
                <div class="img skeleton"></div>
                <div class="img skeleton"></div>
                <div class="img skeleton"></div>
              </div>
              <div class="price">
                <h3 class=" skeleton"></h3>
              </div>
              <div class="operate">
                <div class="button skeleton"></div>
              </div>
            </li>
          </div>
        </div>
        <div class="pg banxin">
          <Pagination
            v-model="pagination"
            align="right"
            @change="handleCurrentChange"
          ></Pagination>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import contentNav from "../../components/ContentNav";
import rdButton from "../../components/button";
import table from "../../mixin/table";
import {
  queryOtcMarketCurrency,
  getCountryList
} from "../../api/common/country";
import { getCoinsFun } from "../../api/assets";
import {
  queryAdsList,
  unMarketFun,
  deleteMarketFun,
  rePublishMarketFun,
  cancleUnPublishMarketFun
} from "../../api/ads";
export default {
  components: {
    contentNav,
    rdButton
  },
  mixins: [table],
  data() {
    return {
      tableFunc: { post: queryAdsList },
      paramsTopLeft: [
        {
          key: "adStatus",
          options: [
            {
              value: "",
              label: "全部",
              elabel: "All"
            },
            {
              value: "1",
              label: "已上架",
              elabel: "BeenAdded"
            },
            {
              value: "2",
              label: "已下架",
              elabel: "Removed"
            },
            {
              value: "0",
              label: "下架中",
              elabel: "OffShelf"
            }
          ]
        }
      ],
      paramsTopRight: [
        {
          key: "payWayType",
          label: "payWayType",
          options: [
            {
              value: "",
              label: "支付方式"
            },
            {
              value: "0",
              label: "现金支付"
            },
            {
              value: "1",
              label: "礼品卡支付"
            }
          ]
        },
        {
          key: "id",
          plac: "pay_order.input_place3"
        }
        // {
        //   btn: true,
        //   clas: "export",
        //   label: "infoAll.export",
        //   src: require("../../assets/images/assets/zu 478@2x.png")
        // }
      ],
      paramsBottomLeft: [],
      loadBLeft: true,
      tradeTypeAds: [
        {
          value: "",
          label: "交易类型",
          elabel: "All"
        },
        {
          value: "0",
          label: "购买",
          elabel: "Buy"
        },
        {
          value: "1",
          label: "出售",
          elabel: "Sell"
        }
      ],
      country: [
        {
          id: "",
          countryName: "全部国家",
          countryCode: "All"
        }
      ],
      legal: [
        {
          id: "",
          coinName: "法币",
          ecoinName: "All"
        }
      ],
      cointype: [
        {
          value: "",
          label: "数字货币",
          elabel: "All"
        }
      ],
      paramsBottomRight: [],
      list: [
        {
          text: "navitem.trade"
        },
        {
          text: "trade.my_ad"
        }
      ]
    };
  },
  watch: {
    "querys.countryInfoId": {
      handler() {
        this.getLegal();
        this.querys = Object.assign({}, this.querys, {
          otcTradeCurrencyId: ""
        });
      }
    }
  },
  beforeRouteEnter(to, from, next) {
    if (from.path == "/tradeAdsDetail") {
      next(vm => {
        vm.list[0]["link"] = "/trade";
      });
    } else {
      next();
    }
  },
  created() {
    this.querys = Object.assign({}, this.querys, {
      adStatus: "",
      countryInfoId: "",
      isBuy: "",
      otcTradeCurrencyId: "",
      coinTypeId: "",
      payWayType: "",
      id: "",
      startTime: "",
      endTime: ""
    });

    this.getCountry();
    this.getLegal();
    this.getCoins();
  },
  methods: {
    getCountry() {
      getCountryList().then(res => {
        if (res.code == 200) {
          //   设置 国家
          this.country = this.country.concat(res.data);
        } else {
          //
        }
        this.loadBLeft = false;
      });
    },
    getLegal() {
      let item = {
        countryInfoId: this.querys.countryInfoId
      };
      queryOtcMarketCurrency(item.countryInfoId != "" ? item : null).then(
        res => {
          if (res.code == 200) {
            //   设置 当前国国家的法币
            // this.legal = this.legal.concat(res.data);
            this.legal = [
              {
                id: "",
                coinName: "法币",
                ecoinName: "All"
              },
              ...res.data
            ];
          } else {
            //
          }
        }
      );
    },
    getCoins() {
      getCoinsFun().then(res => {
        if (res.code == 200) {
          //   设置 虚拟货币币种
          this.cointype = this.cointype.concat(res.data);
        } else {
          //
        }
      });
    },
    // 预约下架
    putOffFun(e, data) {
      let d = this.getMousePosition(e);
      let item = {
        text:
          this.$t("tOrderAds.item1_p1") +
          "<br/>" +
          this.$t("tOrderAds.item1_p2"),
        type: "peyeeinfo",
        position: "teshu",
        border: false
      };
      item.x =
        d.x -
        ((window.innerWidth ? window.innerWidth : document.body.clientWidth) *
          600) /
          1950 +
        20;
      item.y = d.y + 30;
      if (document.body.clientHeight - item.y < 230) {
        item.positArrow = "btm";
      } else {
        item.positArrow = "tp";
      }
      if (data.adStatus == "1" && data.haveTradeingOrder == true) {
        //
        this.$Modal.confirmWithHTML(
          this.$t("tOrderAds.item1_h"),
          item,
          () => {
            return new Promise(reslove => {
              reslove([this.putOffFunBox, data, e]);
            });
          },
          () => {
            this.$Modal.show = false;
          },
          {
            cancelButton: {
              show: true,
              text: this.$t("infoAll.cancel"),
              type: "",
              size: "large"
            },
            confirmButton: {
              show: true,
              text: this.$t("infoAll.confirm"),
              type: "success2",
              size: "large"
            }
          }
        );
      } else {
        // 下架
        this.putOffFunBox(e, data);
      }
    },
    // 下架
    putOffFunBox(e, data) {
      let d = this.getMousePosition(e);
      let item = {
        text: this.$t("tOrderAds.item2_p"),
        type: "peyeeinfo",
        border: false,
        position: "teshu"
      };
      item.x =
        d.x -
        ((window.innerWidth ? window.innerWidth : document.body.clientWidth) *
          600) /
          1950 +
        20;
      item.y = d.y + 30;
      if (document.body.clientHeight - item.y < 230) {
        item.positArrow = "btm";
      } else {
        item.positArrow = "tp";
      }
      this.$Modal.confirmWithHTML(
        this.$t("tOrderAds.item2_h"),
        item,
        () => {
          return unMarketFun({
            adId: data.id
          }).then(res => {
            if (res.code == 200) {
              this.$Notification.success("", res.message, 2000);
              this.getList();
            } else {
              this.$Notification.failed("", res.message, 2000);
            }
            return true;
          });
        },
        () => {
          this.$Modal.show = false;
        },
        {
          cancelButton: {
            show: true,
            text: this.$t("infoAll.cancel"),
            type: "",
            size: "large"
          },
          confirmButton: {
            show: true,
            text: this.$t("infoAll.confirm"),
            type: "success2",
            size: "large"
          }
        }
      );
    },
    getMousePosition(event) {
      var x = 0;
      var y = 0;
      var doc = document.documentElement;
      var body = document.body;
      if (!event) event = window.event;
      if (window.pageYoffset) {
        //pageYoffset是Netscape特有
        x = window.pageXOffset;
        y = window.pageYOffset;
      } else {
        x =
          ((doc && doc.scrollLeft) || (body && body.scrollLeft) || 0) -
          ((doc && doc.clientLeft) || (body && body.clientLeft) || 0);
        y =
          ((doc && doc.scrollTop) || (body && body.scrollTop) || 0) -
          ((doc && doc.clientTop) || (body && body.clientTop) || 0);
      }
      x += event.clientX;
      // y += event.clientY;
      y += event.clientY - document.querySelector("html").scrollTop;
      return { x: x, y: y };
    },
    // 删除广告
    putDeleteFun(e, data) {
      let d = this.getMousePosition(e);
      let item = {
        text: this.$t("tOrderAds.item4_p"),
        type: "peyeeinfo",
        position: "teshu",
        border: false
      };
      item.x =
        d.x -
        ((window.innerWidth ? window.innerWidth : document.body.clientWidth) *
          600) /
          1950 +
        20;
      item.y = d.y + 30;
      if (document.body.clientHeight - item.y < 230) {
        item.positArrow = "btm";
      } else {
        item.positArrow = "tp";
      }
      this.$Modal.confirmWithHTML(
        this.$t("tOrderAds.item4_h"),
        item,
        () => {
          return deleteMarketFun({
            adId: data.id
          }).then(res => {
            if (res.code == 200) {
              this.$Notification.success("", res.message, 2000);
              this.getList();
            }
            return true;
          });
        },
        () => {
          this.$Modal.show = false;
        },
        {
          cancelButton: {
            show: true,
            text: this.$t("infoAll.cancel"),
            type: "",
            size: "large"
          },
          confirmButton: {
            show: true,
            text: this.$t("infoAll.confirm"),
            type: "success2",
            size: "large"
          }
        }
      );
    },
    // 去编辑广告
    putEditFun(e, data) {
      this.$router.push({
        name: "tradeAdsDetail",
        path: "/tradeAdsDetail",
        query: {
          adId: data.id
        },
        params: data
      });
    },
    // 上架广告
    putOnFun(e, data) {
      this.$set(data, "loading", true);
      rePublishMarketFun({ adId: data.id }).then(res => {
        if (res.code == 200) {
          this.$Notification.success("", res.message, 2500);
          this.getList();
        } else {
          this.$Notification.failed("", res.message, 2500);
        }
        this.$set(data, "loading", false);
      });
    },
    // 取消预约广告
    cancleAdsFun(e, data) {
      this.$Modal.confirmWithHTML(
        this.$t("tOrderAds.item3_h"),
        {
          text: this.$t("tOrderAds.item3_p"),
          type: "peyeeinfo",
          border: false
        },
        () => {
          return cancleUnPublishMarketFun({ adId: data.id }).then(res => {
            if (res.code == 200) {
              this.$Notification.success("", res.message, 2500);
              this.getList();
            } else {
              this.$Notification.failed("", res.message, 2500);
            }
            return true;
          });
        },
        () => {
          this.$Modal.show = false;
        },
        {
          cancelButton: {
            show: true,
            text: this.$t("infoAll.cancel"),
            type: "",
            size: "large"
          },
          confirmButton: {
            show: true,
            text: this.$t("infoAll.confirm"),
            type: "success2",
            size: "large"
          }
        }
      );
    }
  }
};
</script>
<style lang="scss" scoped>
.trade-ads-list {
  padding: 140px 0px 100px;
  .trade_i_list {
    // margin-top: 134px;
    font-size: 16px;
    .trade-table-ads {
      font-size: 16px;
      line-height: 22px;
      color: #a1b0c6;
      tr {
        padding: 25px 0px;
      }
      .type {
        h3 {
          font-size: 16px;
          font-weight: 800;
        }
        &.in {
          color: #3787fe;
        }
        &.out {
          color: #30d69e;
        }
      }
      .pw {
        img {
          width: 20px;
          height: 20px;
          //   margin-right: 5px;
          &:not(:last-child) {
            margin-right: 10px;
          }
        }
      }
      .user {
        .username {
        }
        .realname {
          color: #3787fe;
        }
      }
      .btn {
        button {
          font-size: 16px;
          color: #3787fe;
          background: none;
          height: 22px;
          line-height: 22px;
          &:hover,
          &:focus {
            //   background: none;
            // border: none;
          }
          &:not(:last-child) {
            margin-right: 10px;
          }
        }
      }
    }
    .table-none {
      margin-top: 50px;
      img {
        width: 260px;
        height: 170px;
      }
      p {
        font-size: 16px;
        line-height: 22px;
        color: #a1b0c6;
      }
    }
    .table-load {
      li {
        height: 40px;
        padding: 30px 0px;
        box-sizing: content-box;
        border-bottom: 1px solid #e6e6e6;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .merchant {
          display: flex;
          align-items: center;
          .img {
            width: 40px;
            height: 40px;
            margin-right: 5px;
            border-radius: 50%;
          }
          font-size: 16px;
          color: #222222;
          line-height: 22px;
          h3 {
            width: 100px;
            height: 35px;
          }
        }
        .pw {
          display: flex;
          align-items: center;
          .img {
            width: 30px;
            height: 30px;
            &:not(:last-child) {
              margin-right: 10px;
            }
          }
          .gift {
            font-size: 16px;
            line-height: 22px;
            color: rgb(76, 96, 133);
          }
        }
        .limit {
          font-size: 16px;
          color: #222222;
          line-height: 22px;
          display: flex;
          align-items: center;
          .one {
            width: 100px;
            height: 40px;
          }
        }
        .price {
          font-size: 20px;
          font-weight: bold;
          color: #3787fe;
          line-height: 28px;
          h3 {
            width: 200px;
            height: 30px;
          }
        }
        div.button {
          // padding: 6px 30px;
          box-sizing: border-box;
          width: 100px;
          height: 40px;
          font-size: 20px;
          font-weight: 800;
          line-height: 28px;
          color: #ffffff;
          margin-right: 10px;
        }
      }
    }
  }
  .pg {
    margin-top: 20px;
  }
}
</style>
