<template>
  <div class="trade_index" id="trade_in">
    <div class="top-nav">
      <Announcement v-if="true"></Announcement>
      <div class="banxin">
        <list-querys
          v-model="querys"
          :paramsTopLeft="paramsTopLeft"
          :paramsBottomLeft="paramsBottomLeft"
          :paramsTopRight="paramsTopRight"
          :paramsBottomRight="paramsBottomRight"
          topLeftAlign="speace-between"
          :listAdPub="true"
          :tradeSelect="true"
          :loadBLeft="loadBLeft"
          :country="country"
          :legal="legal"
          :payway="payway"
          :paylist="paylist"
          expand
          @click="exportFun"
        ></list-querys>
      </div>
      <div class="top-ads banxin skt-loading">
        <div class="top-left-box top-ads-one">
          <div class="top-one-left">
            <h3
              class=""
              :class="loadingTop || topIn == null ? 'sk skeleton' : ''"
            >
              {{ topIn ? topIn.price : "" }}
              {{ topIn ? topIn.tradeCoinType : "" }}
            </h3>
            <p
              class="info"
              :class="loadingTop || topIn == null ? 'sk skeleton' : ''"
            >
              {{ $t("trade.limit") }}：{{ topIn ? topIn.minAmount : "" }}
              {{ topIn ? topIn.tradeCoinType : "" }}-{{
                topIn ? topIn.maxAmount : ""
              }}
              {{ topIn ? topIn.tradeCoinType : "" }}
            </p>
            <p
              class="pw"
              :class="loadingTop || topIn == null ? 'sk skeleton' : ''"
            >
              {{ $t("trade.pay_way") }}：{{
                topIn
                  ? topIn.payWayType == "0"
                    ? topIn.bankcardOn == true
                      ? "银行卡"
                      : topIn.alipayOn == true
                      ? "支付宝"
                      : "微信支付"
                    : topIn.cardName
                  : ""
              }}
            </p>
          </div>
          <div class="top-one-right">
            <button
              v-show="loadingTop || topIn == null"
              class="in"
              :class="loadingTop || topIn == null ? 'sk skeleton' : ''"
              @click="cpFun($event, topIn)"
            >
              {{ $t("trade.buy") }}
            </button>
            <rd-button
              v-if="!loadingTop && topIn"
              :loading="topIn.loading != null ? topIn.loading : false"
              class=""
              type=""
              :callBack="cpFun"
              :data="topIn"
              :class="'in'"
            >
              {{ $t("trade.buy") }}
            </rd-button>
            <div class="btn-info" :class="$i18n.locale">
              {{ $t("trade.tin") }}
            </div>
          </div>
        </div>
        <div class="top-right-box top-ads-one">
          <div class="top-one-left">
            <h3
              class=""
              :class="loadingTop || topOut == null ? 'sk skeleton' : ''"
            >
              {{ topOut ? topOut.price : "" }}
              {{ topOut ? topOut.tradeCoinType : "" }}
            </h3>
            <p
              class="info"
              :class="loadingTop || topOut == null ? 'sk skeleton' : ''"
            >
              {{ $t("trade.limit") }}：{{ topOut ? topOut.minAmount : "" }}
              {{ topOut ? topOut.tradeCoinType : "" }}-{{
                topOut ? topOut.maxAmount : ""
              }}
              {{ topOut ? topOut.tradeCoinType : "" }}
            </p>
            <p
              class="pw"
              :class="loadingTop || topOut == null ? 'sk skeleton' : ''"
            >
              {{ $t("trade.pay_way") }}：{{
                topOut
                  ? topOut.payWayType == "0"
                    ? topOut.bankcardOn == true
                      ? "银行卡"
                      : topOut.alipayOn == true
                      ? "支付宝"
                      : "微信支付"
                    : topOut.cardName
                  : ""
              }}
            </p>
          </div>
          <div class="top-one-right">
            <button
              v-show="loadingTop || topOut == null"
              class="out"
              :class="loadingTop || topOut == null ? 'sk skeleton' : ''"
              @click="cpFun($event, topOut)"
            >
              {{ $t("trade.sell") }}
            </button>
            <rd-button
              v-if="!loadingTop && topOut"
              :loading="topOut.loading != null ? topOut.loading : false"
              class=""
              type=""
              :callBack="cpFun"
              :data="topOut"
              :class="'out'"
            >
              {{ $t("trade.sell") }}
            </rd-button>
            <div class="btn-info" :class="$i18n.locale">
              {{ $t("trade.tout") }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="trade_i_list skt-loading">
      <div class="banxin">
        <Table :datas="tableData" :height="620" class="trade-table">
          <TableItem :title="$t('trade.table.name')" align="left">
            <template slot-scope="{ data }">
              <div class="merchant">
                <div class="img" @click="goMerchant(data)">
                  {{ data.userName.slice(0, 1) }}
                  <div
                    class="point"
                    :class="data.online ? 'active' : 'unline'"
                  ></div>
                </div>
                <div class="name">{{ data.userName }}</div>
              </div>
            </template>
          </TableItem>
          <TableItem :title="$t('trade.table.limit')" align="left">
            <template slot-scope="{ data }">
              <div class="limit">
                <span class="remain-time">{{ data.minAmount }}</span> -
                <span class="remain-time">{{ data.maxAmount }}</span>
                {{ data.tradeCoinType }}
              </div>
            </template>
          </TableItem>
          <TableItem :title="$t('trade.table.pay_way')" align="left">
            <template slot-scope="{ data }">
              <div class="pw">
                <img
                  v-show="data.bankcardOn"
                  src="../../assets/images/trade/zu 393@2x.png"
                  alt="Bank"
                  title="Bank"
                />
                <img
                  v-show="data.alipayOn"
                  src="../../assets/images/trade/zu 436@2x.png"
                  alt="AliPay"
                  title="AliPay"
                />
                <img
                  v-show="data.wechatPayOn"
                  src="../../assets/images/trade/zu 437@2x.png"
                  alt="WeChatPay"
                  title="WeChatPay"
                />
                <span v-show="data.payWayType == '1'" class="gift">{{
                  data.cardName
                }}</span>
              </div>
            </template>
          </TableItem>
          <TableItem :title="$t('trade.table.price')" align="left">
            <template slot-scope="{ data }">
              <div class="time">
                <span class="price"
                  >{{ data.price }} {{ data.tradeCoinType }}</span
                >
              </div>
            </template>
          </TableItem>
          <TableItem
            :title="$t('trade.table.operate')"
            align="left"
            :width="120"
          >
            <template slot-scope="{ data }">
              <div class="time">
                <div class="img"></div>
                <rd-button
                  :loading="data.loading != null ? data.loading : false"
                  class=""
                  type=""
                  :callBack="cpFun"
                  :data="data"
                  :class="data.isBuy == '0' ? 'out' : 'in'"
                >
                  {{ data.isBuy == "0" ? $t("trade.sell") : $t("trade.buy") }}
                </rd-button>
              </div>
            </template>
          </TableItem>
          <div slot="empty">
            <!-- 自定义提醒：暂时无数据 -->
            <div
              class="table-none"
              v-show="loading == false && tableData.length == 0"
            >
              <img src="../../assets/images/trade/zu 635@2x.png" alt="" />
              <p>暂未找到合适的广告</p>
            </div>
          </div>
        </Table>
        <div class="table-load" v-show="loading">
          <li v-for="(item, index) in 6" :key="index + 'trade-load'">
            <div class="merchant">
              <div class="img skeleton">
                <div class="pont"></div>
              </div>
              <h3 class="skeleton"></h3>
            </div>
            <div class="limit">
              <div class="skeleton one"></div>
              -
              <div class="skeleton one"></div>
            </div>
            <div class="pw">
              <div class="img skeleton"></div>
              <div class="img skeleton"></div>
              <div class="img skeleton"></div>
            </div>
            <div class="price">
              <h3 class=" skeleton"></h3>
            </div>
            <div class="operate">
              <div class="button skeleton"></div>
            </div>
          </li>
        </div>
      </div>
      <div class="pg banxin">
        <Pagination
          v-model="pagination"
          align="right"
          @change="handleCurrentChange"
        ></Pagination>
      </div>
    </div>
    <!-- 触发检测权限弹窗 -->
    <modal ref="modal1">
      <div slot="body" class="Intercept" :class="$i18n.locale">
        <div class="info-item" v-show="object.fund == false ? true : false">
          <div class="left">
            <span>!</span>
            <p>{{ $t("infoAll.first_fund_pass") }}</p>
          </div>
          <router-link to="/fund-pass">{{ $t("infoAll.gset") }}</router-link>
        </div>
        <div class="info-item" v-show="object.idAuth == false ? true : false">
          <div class="left">
            <span>!</span>
            <p>{{ $t("infoAll.first_id_ver") }}</p>
          </div>
          <router-link to="/profile"
            ><p @click="$refs.modal1.show = false">
              {{ $t("infoAll.verification") }}
            </p></router-link
          >
        </div>
        <!-- <div class="info-item" v-show="object.bind == false ? true : false">
          <div class="left">
            <span>!</span>
            <p>{{ $t("infoAll.first_auth") }}(1/3)</p>
          </div>
          <router-link to="/profile">{{ $t("infoAll.gbind") }}</router-link>
        </div> -->
        <div
          class="info-item"
          v-show="object.countryPm == false ? true : false"
        >
          <div class="left">
            <span>!</span>
            <p>{{ $t("infoAll.first_pay") }}</p>
          </div>
          <router-link to="/profile">{{ $t("infoAll.gset") }}</router-link>
        </div>
      </div>
    </modal>
    <modal ref="modal_trade">
      <div slot="header" class="trade-modal-header">
        <div class="merchant">
          <div class="merchant-left">
            <div class="img" v-if="item ? true : false">
              {{ item.userName.slice(0, 1) }}
            </div>
            <div class="user" v-if="item ? true : false">
              <h3>{{ item.userName }}</h3>
              <p :class="item.online ? 'inline' : 'unline'">
                {{
                  item.online == true ? $t("trade.inline") : $t("trade.unline")
                }}
              </p>
            </div>
          </div>
          <div class="merchant-right">
            <div class="amount" v-if="item ? true : false">
              {{ item.price
              }}<sub
                >{{ item.tradeCoinType }}/{{ item.coinName.toUpperCase() }}</sub
              >
            </div>
          </div>
        </div>
      </div>
      <div slot="body" class="trade-modal-body" :class="$i18n.locale">
        <ai-form ref="formItems" :model="formValidate" :rules="ruleValidate">
          <div class="one none-top" v-if="item ? true : false">
            <ai-form-item prop="inputRmbAmount">
              <ai-input
                class="selec_type_one"
                v-model="formValidate.inputRmbAmount"
                @keyup.native="
                  getCurrencyPriceCalcFun({
                    inputCurrencyPrice: item.price,
                    inputRmbAmount: formValidate.inputRmbAmount
                  })
                "
                :placeholder="
                  item.isBuy == '1'
                    ? $t('trade.amount_in_placeholder')
                    : $t('trade.amount_out_placeholder')
                "
              />
              <div class="right-info">{{ item.tradeCoinType }}</div>
              <div class="limit">
                {{ $t("trade.limit_c") }}: {{ item.minAmount }} -
                {{ item.maxAmount }} {{ item.tradeCoinType }}
              </div>
            </ai-form-item>
          </div>
          <div class="one" v-if="item ? true : false">
            <ai-form-item prop="inputCurrencyAmount">
              <ai-input
                class="selec_type_one"
                v-model="formValidate.inputCurrencyAmount"
                @keyup.native="
                  getCurrencyPriceCalcFun({
                    inputCurrencyPrice: item.price,
                    inputCurrencyAmount: formValidate.inputCurrencyAmount
                  })
                "
                autocomplete="off"
                :placeholder="
                  item.isBuy == '1'
                    ? $t('trade.total_in_placeholder')
                    : $t('trade.total_out_placeholder')
                "
              />
              <div class="right-info">{{ item.coinName.toUpperCase() }}</div>
              <div class="limit" v-if="item ? true : false">
                {{ $t("trade.limit_c") }}: {{ item.minQty }} -
                {{ item.maxQty }} {{ item.coinName.toUpperCase() }}
              </div>
            </ai-form-item>
          </div>
          <div
            class="one"
            v-if="item ? (item.isBuy == '1' ? false : true) : false"
          >
            <ai-form-item :label="$t('profile.fund_pass')" prop="payPassword">
              <ai-input
                class="selec_type_one"
                v-model="formValidate.payPassword"
                autocomplete="new-password"
                :placeholder="$t('profile.input_fund_pass')"
                type="password"
              />
            </ai-form-item>
          </div>
          <div class="one btn">
            <rd-button type="cancel1" :callBack="cancelFun">{{
              $t("infoAll.cancel")
            }}</rd-button>
            <rd-button
              :loading="loadingConfirm"
              type="success2"
              :callBack="confirmFun"
              :class="item ? (item.isBuy == '1' ? 'in' : 'out') : ''"
              >{{
                item
                  ? item.isBuy == "1"
                    ? $t("trade.do_in")
                    : $t("trade.do_out")
                  : ""
              }}</rd-button
            >
          </div>
        </ai-form>
      </div>
      <div slot="footer" class="trade-modal-footer" :class="$i18n.locale">
        <div class="footer-head">
          <img src="../../assets/images/trade/zu 401@2x.png" alt="" />
          <h3>{{ $t("trade.mark") }}</h3>
        </div>
        <p class="footer-info">{{ item ? item.message : "" }}</p>
      </div>
    </modal>
  </div>
</template>
<script>
import { getCoinsFun } from "../../api/assets";
import {
  cnyOrderBuy,
  cnyOrderSell,
  getCurrencyPriceCalc
} from "../../api/trade";
import table from "../../mixin/table";
import Announcement from "../../components/Announcement";
import rdButton from "../../components/button";
import AiForm from "../../components/form";
import AiFormItem from "../../components/form-item";
import AiInput from "../../components/input";
import Modal from "../../components/Modal";
import { getMarketCountry } from "../../api/payMethods";
import {
  getGiftCardFun,
  queryOtcMarketCurrency
} from "../../api/common/country";
import {
  queryAllMarketList,
  orderTradeWait,
  queryTopMarketList
} from "../../api/trade";
import { debounce, checkPermissions } from "../../utils/index";
import { mapGetters } from "vuex";
export default {
  components: {
    Announcement,
    rdButton,
    Modal,
    AiForm,
    AiFormItem,
    AiInput
  },
  mixins: [table],
  data() {
    return {
      loading: true, // tabel 加载
      tableFunc: { post: queryAllMarketList },
      paramsTopLeft: [
        {
          key: "isBuy",
          options: [
            { value: "0", label: "trade.in" },
            { value: "1", label: "trade.out" }
          ]
        }
      ],
      paramsBottomLeft: [],
      loadBLeft: true, //querys 中 加载 占位
      paramsTopRight: [],
      paramsBottomRight: [],
      country: [],
      legal: [],
      payway: [
        {
          value: "0",
          label: "现金支付",
          elabel: "Cash"
        },
        {
          value: "1",
          label: "礼品卡支付",
          elabel: "Gift Card"
        }
      ],
      paylist: [],
      gitftlist: [],
      loadingTop: true, // 用来 top 广告 加载
      topIn: null,
      topOut: null,
      object: {
        bind: true,
        fund: true,
        idAuth: true,
        countryPm: true
      },
      item: null,
      formValidate: {
        inputRmbAmount: "",
        inputCurrencyAmount: "",
        payPassword: ""
      },
      ruleValidate: {},
      loadingConfirm: false, // 弹框中 请求过程
      type: true, // true 买入  false 卖出,
      inputType: "" // 是在那个里面输入 legal amount
    };
  },
  watch: {
    type: {
      handler() {
        this.initRuleValidate();
      }
    },
    "querys.countryInfoId": {
      handler() {
        this.querys = Object.assign({}, this.querys, {
          tradeCoinType: ""
        });
        this.initLegal();
      }
    },
    "querys.payWayType": {
      handler(n) {
        if (n == "0") {
          this.querys = Object.assign({}, this.querys, {
            giftCardId: ""
          });
          this.initCash();
        } else {
          this.querys = Object.assign({}, this.querys, {
            receiptWayTypes: ""
          });
          this.setGift();
        }
      }
    },
    querys: {
      handler() {
        this.initTopList();
      },
      deep: true
    }
  },
  computed: {
    ...mapGetters(["user"])
  },
  created() {
    this.initTopList = debounce(this.initTopList, 400);
    this.getCurrencyPriceCalcFun = debounce(this.getCurrencyPriceCalcFun, 500);
    this.querys = Object.assign({}, this.querys, {
      isBuy: "0", // 0 in   1 out
      coinTypeId: "2", // 让后台改成 不传默认全部
      countryInfoId: "1",
      tradeCoinType: "", // 法币币种 id----》 目前 没传这个参数
      payWayType: "0", // 0 现金 1 礼品卡
      giftCardId: "", // 礼品卡id
      receiptWayTypes: "" // 现金 id
    });
    this.initCoinFun();
    this.initCountry();
    this.initGift();
  },
  mounted() {
    // this.initTopList();
    this.initRuleValidate();
  },
  methods: {
    goMerchant(data) {
      this.$router.push({
        path: "/merchant",
        query: {
          userId: data.userId
        }
      });
    },
    // getCurrencyPriceCalcFun(item, type) {
    getCurrencyPriceCalcFun(item) {
      // console.log(item, type, new Date().valueOf());
      getCurrencyPriceCalc(item).then(res => {
        if (res.code == 200) {
          this.formValidate.inputCurrencyAmount = res.data.tradeCurrencyAmount;
          this.formValidate.inputRmbAmount = res.data.rmbAmount;
          // if (type == "legal") {
          //   this.formValidate.inputCurrencyAmount =
          //     res.data.tradeCurrencyAmount;
          // } else {
          //   this.formValidate.inputRmbAmount = res.data.rmbAmount;
          // }
          // console.log(res.data,type)
        } else {
          //
        }
      });
    },
    initRuleValidate() {
      this.ruleValidate = {
        inputRmbAmount: [
          {
            required: true,
            message: this.item
              ? this.item.isBuy == "1"
                ? this.$t("trade.amount_in_placeholder")
                : this.$t("trade.amount_out_placeholder")
              : this.$t("trade.amount_in_placeholder"), // 默认 买入
            transform(value) {
              return value + "";
            },
            trigger: "blur"
          },
          {
            pattern: /(?:^[1-9]([0-9]+)?(?:\.[0-9]{1,})?$)|(?:^(?:0){1}$)|(?:^[0-9]\.[0-9]{1,}?$)/,
            message: this.$t("infoAll.format_error")
          }
        ],
        inputCurrencyAmount: [
          {
            required: true,
            message: this.item
              ? this.item.isBuy == "1"
                ? this.$t("trade.total_in_placeholder")
                : this.$t("trade.total_out_placeholder")
              : this.$t("trade.total_in_placeholder"), // 默认 买入
            transform(value) {
              return value + "";
            },
            trigger: "blur"
          },
          {
            pattern: /(?:^[1-9]([0-9]+)?(?:\.[0-9]{1,})?$)|(?:^(?:0){1}$)|(?:^[0-9]\.[0-9]{1,}?$)/,
            // pattern: /(?:^[1-9]([0-9]+)?(?:\.[0-9]{1,})?$)|(?:^(?:0){1}$)|(?:^[0-9]\.[0-9](?:[0-9])?$)/,
            message: this.$t("infoAll.format_error")
          }
        ],
        payPassword: [
          {
            required: this.item
              ? this.item.isBuy == "1"
                ? false
                : true
              : false,
            message: this.$t("profile.input_fund_pass"),
            trigger: "blur"
          },
          {
            pattern: /^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{6,16}$/,
            message: this.$t("infoAll.format_error")
          }
        ]
      };
    },
    initCash() {
      // receiptWayTypes
      this.paylist = [
        {
          id: "",
          cardName: "全部",
          label: "All"
        },
        {
          id: "0",
          cardName: "银行卡",
          label: "Bank"
        },
        {
          id: "1",
          cardName: "支付宝",
          label: "AliPay"
        },
        {
          id: "12",
          cardName: "微信支付",
          label: "WeChatPay"
        }
      ];
    },
    setGift() {
      this.paylist = this.gitftlist;
    },
    initCoinFun() {
      getCoinsFun().then(res => {
        if (res.code == 200) {
          this.paramsBottomLeft = [
            {
              key: "coinTypeId",
              options: [...res.data]
            }
          ];
        } else {
          this.$Notification.failed("", res.message, 2000);
        }
        this.loadBLeft = false;
      });
    },
    initCountry() {
      getMarketCountry().then(res => {
        if (res.code == 200) {
          this.country = res.data;
          // this.$set(this.country, res.data);
          // this.country.reverse();
        }
      });
    },
    initGift() {
      getGiftCardFun().then(res => {
        if (res.code == 200) {
          // console.log(res.data);
          this.gitftlist = res.data;
          this.gitftlist.unshift({
            id: "",
            cardName: "全部"
          });
        }
      });
    },
    initLegal() {
      queryOtcMarketCurrency({
        countryInfoId: this.querys.countryInfoId
      }).then(res => {
        if (res.code == 200) {
          this.legal = res.data;
          this.legal.unshift({
            coinName: "全部币种",
            coinNameE: "All",
            id: ""
          });
        }
      });
    },
    initOrderWait() {
      orderTradeWait().then(res => {
        console.log(res);
      });
    },
    initTopList() {
      // 一次要求两个（买入卖出 都请求）
      this.loadingTop = true;
      this.topIn = null;
      this.topOut = null;
      let d = this.paramsFormat();
      // console.log(Object.assign({}, d, { isBuy: d["isBuy"] == "0" ? "1" : "0" }));
      queryTopMarketList(d).then(res => {
        // console.log(res);
        this.loadingTop = false;
        if (res.code == 200) {
          if (res.data.length > 0) {
            if (d.isBuy == "0") {
              this.topIn = res.data[0];
            } else {
              this.topOut = res.data[0];
            }
          }
        }
      });
      queryTopMarketList(
        Object.assign({}, d, { isBuy: d["isBuy"] == "0" ? "1" : "0" })
      ).then(res => {
        // console.log(res);
        this.loadingTop = false;
        if (res.code == 200) {
          if (res.data.length > 0) {
            if (d.isBuy == "0") {
              this.topOut = res.data[0];
            } else {
              this.topIn = res.data[0];
            }
          }
        }
      });
    },
    getStatus(n) {
      return !n.fund || !n.idAuth || !n.countryPm;
    },
    async cpFun(e, item) {
      // console.log(item);
      if (item == null) {
        this.$Notification.warning("", "请操作存在的广告", 3000);
        return false;
      }
      // checkPermissions
      this.$set(item, "loading", true);
      this.object = await checkPermissions(
        {
          type: "trade",
          countryInfoId: this.querys.countryInfoId,
          isBuy: item.isBuy
        },
        this.user
      );
      if (this.getStatus(this.object)) {
        this.item = null;
        this.$refs.modal1.show = true;
      } else {
        this.item = item;
        if (item.isBuy == "1") {
          this.type = true;
        } else {
          this.type = false;
        }
        // this.$set(this.item, item);
        this.$refs.modal_trade.show = true;
      }
      this.$set(item, "loading", false);
    },
    cancelFun() {
      this.$refs.modal_trade.cancel(false);
      this.item = null;
      this.initForm();
    },
    initForm() {
      this.formValidate = {
        inputRmbAmount: "",
        inputCurrencyAmount: "",
        payPassword: ""
      };
    },
    confirmFun() {
      this.$refs.formItems.validate().then(valid => {
        if (valid) {
          this.loadingConfirm = true;
          let params = {
            amount: this.formValidate.inputRmbAmount,
            otcAdvertisementId: this.item.id,
            tag: "1",
            price: this.item.price
          };
          if (this.item.isBuy == "1") {
            cnyOrderBuy(params).then(res => {
              if (res.code == 200) {
                this.$Notification.success("", res.message, 3000);
                this.initForm();
                this.cancelFun();
                let t = setTimeout(() => {
                  this.$router.push({
                    path: "/tradeOrderDetail",
                    query: {
                      id: res.data.id
                    },
                    params: res.data
                  });
                  clearTimeout(t);
                }, 200);
              } else {
                //
                this.$Notification.failed("", res.message, 3000);
              }
              this.loadingConfirm = false;
            });
          } else {
            params["payPassword"] = this.formValidate.payPassword;
            cnyOrderSell(params).then(res => {
              if (res.code == 200) {
                this.$Notification.success("", res.message, 3000);
                this.initForm();
                this.cancelFun();
                this.$router.push({
                  path: "/tradeOrderDetail",
                  query: {
                    id: res.data.id
                  },
                  params: res.data
                });
              } else {
                //
                this.$Notification.failed("", res.message, 3000);
              }
              this.loadingConfirm = false;
            });
          }
        } else {
          //
        }
      });
    }
  }
};
</script>
<style lang="scss" scoped>
.trade_index {
  padding-bottom: 100px;
  padding-top: 140px;
  background: #fafafa;
  min-height: 100%;
  button {
    border-radius: 3px;
    font-size: 20px;
    font-weight: 800;
    line-height: 28px;
    color: white;
    // padding: 16px 30px;
    position: relative;
    &.in {
      background: rgba(55, 135, 254, 1);
      // box-shadow: 0px 3px 5px rgba(55, 135, 254, 0.5);
    }
    &.out {
      background: rgba(48, 214, 158, 1);
      // box-shadow: 0px 3px 5px rgba(48, 214, 180, 0.5);
    }
    &:hover {
      border: 0px;
      &::after {
        content: "";
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 1);
        opacity: 0.2;
        border-radius: 3px;
      }
    }
  }
  .top-nav {
    background: #ffffff;
    padding: 30px 0px 130px 0px;
    position: relative;
    .top-ads {
      position: absolute;
      left: 50%;
      bottom: 0%;
      height: 180px;
      transform: translateX(-50%) translateY(50%);
      display: flex;
      justify-content: space-between;
      align-items: center;
      .top-ads-one {
        width: 630px;
        height: 180px;
        background: rgba(255, 255, 255, 1);
        box-shadow: 0px 3px 10px rgba(55, 135, 254, 0.2);
        opacity: 1;
        border-radius: 3px;
        &:hover {
          box-shadow: 2px 5px 20px rgba(55, 135, 254, 0.4);
        }
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 25px 40px;
        .top-one-left {
          text-align: left;
          h3 {
            font-size: 30px;
            font-weight: 800;
            color: #3787fe;
            line-height: 42px;
            &.sk {
              height: 42px;
              width: 100px;
            }
          }
          p {
            font-size: 16px;
            line-height: 22px;
            &.info {
              color: #222222;
              margin-top: 13px;
              margin-bottom: 24px;
              &.sk {
                width: 300px;
                height: 22px;
              }
            }
            &.pw {
              color: #666666;
              &.sk {
                width: 250px;
                height: 22px;
              }
            }
          }
        }
        .top-one-right {
          position: relative;
          button {
            height: 60px;
            border-radius: 3px;
            font-size: 20px;
            font-weight: 800;
            line-height: 28px;
            color: white;
            padding: 16px 30px;
            box-sizing: border-box !important;
            position: relative;
            &.in {
              background: rgba(55, 135, 254, 1);
              box-shadow: 0px 3px 5px rgba(55, 135, 254, 0.5);
            }
            &.out {
              background: rgba(48, 214, 158, 1);
              box-shadow: 0px 3px 5px rgba(48, 214, 180, 0.5);
            }
            &:hover {
              border: 0px solid red !important;
              &::after {
                content: "";
                position: absolute;
                top: 0px;
                left: 0px;
                width: 100%;
                height: 100%;
                background: rgba(255, 255, 255, 1);
                opacity: 0.2;
                border-radius: 3px;
              }
            }
          }
          .btn-info {
            position: absolute;
            background: rgba(252, 115, 115, 1);
            color: #ffffff;
            font-size: 12px;
            // height: 28px;
            border-radius: 14px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 4px 7px;
            left: 50%;
            bottom: 80px;
            min-width: 90%;
            &.en {
              width: 120%;
            }
            transform: translateX(-50%);
            &::after {
              content: "";
              position: absolute;
              bottom: -14px;
              border: 10px solid transparent;
              border-top: 5px solid rgba(252, 115, 115, 1);
            }
          }
        }
      }
    }
  }
  .trade_i_list {
    margin-top: 134px;
    .trade-table {
      tr {
        padding: 25px 0px;
      }
      .merchant {
        display: flex;
        align-items: center;
        .img {
          width: 40px;
          height: 40px;
          background: rgba(138, 194, 232, 1);
          border-radius: 50%;
          margin-right: 5px;
          display: flex;
          justify-content: center;
          align-items: center;
          color: #ffffff;
          font-size: 16px;
          position: relative;
          cursor: pointer;
          .point {
            position: absolute;
            right: 0px;
            bottom: 0px;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            &.active {
              background: rgba(88, 203, 111, 1);
              border: 1px solid rgba(250, 250, 250, 1);
            }
            &.unline {
              background: #999;
              border: 1px solid rgba(250, 250, 250, 1);
            }
          }
        }
        font-size: 16px;
        color: #222222;
        line-height: 22px;
      }
      .pw {
        display: flex;
        align-items: center;
        img {
          width: 30px;
          height: 30px;
          &:not(:last-child) {
            margin-right: 10px;
          }
        }
        .gift {
          font-size: 16px;
          line-height: 22px;
          color: rgb(76, 96, 133);
        }
      }
      .limit {
        font-size: 16px;
        color: #222222;
        line-height: 22px;
      }
      .price {
        font-size: 20px;
        font-weight: bold;
        color: #3787fe;
        line-height: 28px;
      }
      button {
        // padding: 6px 30px;
        box-sizing: border-box;
        width: 100px;
        height: 40px;
        font-size: 20px;
        font-weight: 800;
        line-height: 28px;
        color: #ffffff;
      }
    }
    .table-none {
      margin-top: 50px;
      img {
        width: 260px;
        height: 170px;
      }
      p {
        font-size: 16px;
        line-height: 22px;
        color: #a1b0c6;
      }
    }
    .table-load {
      li {
        height: 40px;
        padding: 30px 0px;
        box-sizing: content-box;
        border-bottom: 1px solid #e6e6e6;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .merchant {
          display: flex;
          align-items: center;
          .img {
            width: 40px;
            height: 40px;
            margin-right: 5px;
            border-radius: 50%;
          }
          font-size: 16px;
          color: #222222;
          line-height: 22px;
          h3 {
            width: 100px;
            height: 35px;
          }
        }
        .pw {
          display: flex;
          align-items: center;
          .img {
            width: 30px;
            height: 30px;
            &:not(:last-child) {
              margin-right: 10px;
            }
          }
          .gift {
            font-size: 16px;
            line-height: 22px;
            color: rgb(76, 96, 133);
          }
        }
        .limit {
          font-size: 16px;
          color: #222222;
          line-height: 22px;
          display: flex;
          align-items: center;
          .one {
            width: 100px;
            height: 40px;
          }
        }
        .price {
          font-size: 20px;
          font-weight: bold;
          color: #3787fe;
          line-height: 28px;
          h3 {
            width: 200px;
            height: 30px;
          }
        }
        div.button {
          // padding: 6px 30px;
          box-sizing: border-box;
          width: 100px;
          height: 40px;
          font-size: 20px;
          font-weight: 800;
          line-height: 28px;
          color: #ffffff;
          margin-right: 10px;
        }
      }
    }
  }
  .pg {
    margin-top: 20px;
  }
  .trade-modal-header {
    width: 100%;
    .merchant {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .merchant-left {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .img {
          width: 50px;
          height: 50px;
          background: rgba(138, 194, 232, 1);
          border-radius: 50%;
          margin-right: 10px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 16px;
          color: #ffffff;
        }
        .user {
          h3 {
            line-height: 28px;
            font-weight: 800;
            color: #222222;
            font-size: 20px;
          }
          p {
            width: 40px;
            height: 20px;
            background: rgba(88, 203, 111, 1);
            &.unline {
              background: #bbbbbb;
            }
            opacity: 1;
            border-radius: 3px;
            color: #ffffff;
            font-size: 12px;
            font-weight: 400;
            line-height: 17px;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }
      .merchant-right {
        .amount {
          font-size: 30px;
          line-height: 28px;
          color: #3787fe;
          font-weight: bold;
          padding: 5px 15px;
          border: 2px solid rgba(55, 135, 254, 1);
          opacity: 1;
          border-radius: 3px;
          sub {
            font-size: 20px;
            line-height: 28px;
            margin-left: 5px;
            padding-bottom: 5px;
          }
        }
      }
    }
  }
  .trade-modal-body {
    width: 660px;
    max-width: 660px;
    form {
      .one {
        margin-top: 30px;
        &.none-top {
          margin-top: 0px;
        }
        .item {
          position: relative;
          input {
            border: 0px solid red !important;
            background: none !important;
            border-radius: 0px !important;
            border-bottom: 1px solid #e6e6e6 !important;
            box-sizing: border-box !important;
            // padding-left: 5px !important;
            height: 40px;
            padding: 15px 80px 15px 5px !important;
            border-image: -webkit-radial-gradient(#bfbfbf, #fff) 30 30;
            color: #222222;
            font-size: 18px;
          }
          .right-info {
            position: absolute;
            right: 0px;
            top: 0px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 20px;
            color: #222222;
          }
          .limit {
            margin: 5px 0px;
            text-align: left;
            font-size: 16px;
            line-height: 22px;
            color: #666666;
          }
        }
        &.btn {
          margin-bottom: 25px;
          margin-top: 20px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          button {
            width: 310px;
            height: 50px;
            border-radius: 3px;
            font-weight: normal;
            &.in {
              &:focus,
              &:active,
              &:hover {
                box-shadow: none !important;
              }
            }
            &.out {
              &:focus,
              &:active,
              &:hover {
                background: rgba(48, 214, 158, 1);
                // box-shadow: 0px 3px 5px rgba(48, 214, 180, 0.5);
                box-shadow: none !important;
                border-color: rgba(48, 214, 158, 1);
              }
            }
          }
        }
      }
    }
  }
  .trade-modal-footer {
    width: 100%;
    padding: 15px 30px;
    background: rgba(243, 248, 255, 1);
    border-radius: 0px 0px 3px 3px;
    box-sizing: border-box;
    .footer-head {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-bottom: 10px;
      img {
        width: 20px;
        height: 20px;
        margin-right: 10px;
      }
      h3 {
        font-size: 16px;
        line-height: 22px;
        color: #222222;
      }
    }
    .footer-info {
      text-align: left;
      font-size: 16px;
      line-height: 24px;
      color: #666666;
      max-width: 660px;
    }
  }
  .Intercept {
    margin-bottom: 20px;
  }
}
</style>
