<template>
  <div class="trade-order-list">
    <content-nav :list="list"></content-nav>
    <div class="banxin">
      <list-querys
        v-model="querys"
        :paramsTopLeft="paramsTopLeft"
        :paramsBottomLeft="paramsBottomLeft"
        :paramsTopRight="paramsTopRight"
        :paramsBottomRight="paramsBottomRight"
        :time="true"
        :tradeOrderAds="true"
        :tradeType="tradeType"
        :country="country"
        :legal="legal"
        :cointype="cointype"
        topLeftAlign="speace-between"
        :loadBLeft="loadBLeft"
        expand
        @click="exportFun"
      ></list-querys>
      <div class="trade_i_list skt-loading">
        <div class="banxin">
          <Table :datas="tableData" :height="620" class="trade-table-ads">
            <TableItem :title="$t('tOrderAds.order')" align="left">
              <template slot-scope="{ data }">
                <div class="order">
                  {{ data.id }}
                </div>
              </template>
            </TableItem>
            <TableItem :title="$t('tOrderAds.transaction')" align="left">
              <template slot-scope="{ data }">
                <div class="limit" :class="data.role == '0' ? 'in' : 'out'">
                  <h3 class="sm">
                    {{ data.role == "0" ? $t("trade.buy") : $t("trade.sell") }}
                    ({{ data.coinType.toUpperCase() }})
                  </h3>
                  <h3>{{ data.amount }}</h3>
                </div>
              </template>
            </TableItem>
            <TableItem :title="$t('tOrderAds.total_price')" align="left">
              <template slot-scope="{ data }">
                <div class="price">
                  {{ data.amountCny }} {{ data.tradeCoinType }}
                </div>
              </template>
            </TableItem>
            <TableItem :title="$t('tOrderAds.unit_price')" align="left">
              <template slot-scope="{ data }">
                <div class="time">
                  <span class="price"
                    >{{ data.cnyUnitPrice }} {{ data.tradeCoinType }}</span
                  >
                </div>
              </template>
            </TableItem>
            <TableItem :title="$t('tOrderAds.time')" align="left">
              <template slot-scope="{ data }">
                <div class="time">
                  {{ data.startTime }}
                </div>
              </template>
            </TableItem>
            <TableItem
              :title="$t('tOrderAds.status')"
              align="left"
              :width="100"
            >
              <template slot-scope="{ data }">
                <div class="status">
                  <div
                    v-show="
                      data.status == '0' ||
                        data.status == '1' ||
                        data.status == '5'
                    "
                  >
                    <img src="../../assets/images/trade/cancle.png" alt="" />
                    {{ $t("tOrderAds.s_cancelled") }}
                  </div>
                  <div v-show="data.status == '2' || data.status == '6'">
                    <img src="../../assets/images/trade/don.png" alt="" />
                    {{ $t("tOrderAds.s_complete") }}
                  </div>
                  <div v-show="data.status == '3'">
                    <img src="../../assets/images/trade/online.png" alt="" />
                    {{ $t("tOrderAds.s_unpaid") }}
                  </div>
                  <div v-show="data.status == '4'">
                    <img src="../../assets/images/trade/zu 649@2x.png" alt="" />
                    {{ $t("tOrderAds.s_paid") }}
                    <p v-show="data.isComplaint == '1'">
                      {{
                        data.complaintRole == "1"
                          ? $t("tOrderAds.appealed")
                          : $t("tOrderAds.appealing")
                      }}
                    </p>
                  </div>
                </div>
              </template>
            </TableItem>
            <TableItem :title="$t('tOrderAds.conterparty')" align="left">
              <template slot-scope="{ data }">
                <div class="user">
                  <p class="username">{{ data.tUsername }}</p>
                  <p class="realname">{{ data.tRealName }}</p>
                </div>
              </template>
            </TableItem>
            <TableItem
              :title="$t('tOrderAds.control')"
              align="left"
              :width="100"
            >
              <template slot-scope="{ data }">
                <div class="btn">
                  <rd-button
                    v-show="data.optStatus == '0'"
                    :loading="false"
                    type=""
                    :callBack="goDetail"
                    :data="data"
                    class="detail"
                    >{{ $t("tOrderAds.detail") }}</rd-button
                  >
                  <rd-button
                    v-show="data.optStatus == '1'"
                    :loading="false"
                    type="success2"
                    :callBack="goDetail"
                    :data="data"
                    class="pay"
                    >{{ $t("tOrderAds.pay") }}</rd-button
                  >
                  <rd-button
                    v-show="data.optStatus == '2'"
                    :loading="false"
                    type="success2"
                    :callBack="goDetail"
                    :data="data"
                    class="release"
                    >{{ $t("tOrderAds.release") }}</rd-button
                  >
                </div>
              </template>
            </TableItem>
            <div slot="empty">
              <!-- 自定义提醒：暂时无数据 -->
              <div
                class="table-none"
                v-show="loading == false && tableData.length == 0"
              >
                <img src="../../assets/images/trade/zu 710@2x.png" alt="" />
                <p>暂未找到合适的订单</p>
              </div>
            </div>
          </Table>
          <div class="table-load" v-show="loading">
            <li v-for="(item, index) in 6" :key="index + 'trade-load'">
              <div class="merchant">
                <div class="img skeleton">
                  <div class="pont"></div>
                </div>
                <h3 class="skeleton"></h3>
              </div>
              <div class="limit">
                <div class="skeleton one"></div>
                -
                <div class="skeleton one"></div>
              </div>
              <div class="pw">
                <div class="img skeleton"></div>
                <div class="img skeleton"></div>
                <div class="img skeleton"></div>
              </div>
              <div class="price">
                <h3 class=" skeleton"></h3>
              </div>
              <div class="operate">
                <div class="button skeleton"></div>
              </div>
            </li>
          </div>
        </div>
        <div class="pg banxin">
          <Pagination
            v-model="pagination"
            align="right"
            @change="handleCurrentChange"
          ></Pagination>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import contentNav from "../../components/ContentNav";
import rdButton from "../../components/button";
import table from "../../mixin/table";
import {
  queryOtcMarketCurrency,
  getCountryList
} from "../../api/common/country";
import { getCoinsFun } from "../../api/assets";
import { cnyOrderList, exportTradeOrderExcel } from "../../api/trade";
export default {
  components: {
    contentNav,
    rdButton
  },
  mixins: [table],
  data() {
    return {
      tableFunc: { post: cnyOrderList, export: exportTradeOrderExcel },
      paramsTopLeft: [
        {
          key: "status",
          options: [
            {
              value: "",
              label: "全部",
              elabel: "All"
            },
            {
              value: "0",
              label: "待支付",
              elabel: "Unpaid"
            },
            {
              value: "1",
              label: "已支付",
              elabel: "Paid"
            },
            {
              value: "2",
              label: "已完成",
              elabel: "Completed"
            },
            {
              value: "3",
              label: "已关闭",
              elabel: "Cancelled"
            }
          ]
        }
      ],
      paramsTopRight: [
        {
          key: "id",
          plac: "pay_order.input_place1"
        },
        {
          btn: true,
          clas: "export",
          label: "infoAll.export",
          src: require("../../assets/images/assets/zu 478@2x.png")
        }
      ],
      paramsBottomLeft: [],
      loadBLeft: true,
      tradeType: [
        {
          value: "",
          label: "交易类型",
          elabel: "All"
        },
        {
          value: "0",
          label: "购买",
          elabel: "Buy"
        },
        {
          value: "1",
          label: "出售",
          elabel: "Sell"
        }
      ],
      country: [
        {
          id: "",
          countryName: "全部国家",
          countryCode: "All"
        }
      ],
      legal: [
        {
          id: "",
          coinName: "法币",
          ecoinName: "All"
        }
      ],
      cointype: [
        {
          value: "",
          label: "数字货币",
          elabel: "All"
        }
      ],
      paramsBottomRight: [],
      list: [
        {
          text: "navitem.trade"
        },
        {
          text: "trade.my_order"
        }
      ]
    };
  },
  watch: {
    "querys.countryInfoId": {
      handler() {
        this.getLegal();
        this.querys = Object.assign({}, this.querys, {
          otcTradeCurrencyId: ""
        });
      }
    }
  },
  created() {
    this.querys = Object.assign({}, this.querys, {
      status: "",
      countryInfoId: "",
      transactionType: "",
      otcTradeCurrencyId: "",
      coinTypeId: "",
      id: "",
      startTime: "",
      endTime: ""
    });

    this.getCountry();
    this.getLegal();
    this.getCoins();
  },
  methods: {
    getCountry() {
      getCountryList().then(res => {
        if (res.code == 200) {
          //   设置 国家
          this.country = this.country.concat(res.data);
        } else {
          //
        }
        this.loadBLeft = false;
      });
    },
    getLegal() {
      let item = {
        countryInfoId: this.querys.countryInfoId
      };
      queryOtcMarketCurrency(item.countryInfoId != "" ? item : null).then(
        res => {
          if (res.code == 200) {
            //   设置 当前国国家的法币
            // this.legal = this.legal.concat(res.data);
            this.legal = [
              {
                id: "",
                coinName: "法币",
                ecoinName: "All"
              },
              ...res.data
            ];
          } else {
            //
          }
        }
      );
    },
    getCoins() {
      getCoinsFun().then(res => {
        if (res.code == 200) {
          //   设置 虚拟货币币种
          this.cointype = this.cointype.concat(res.data);
        } else {
          //
        }
      });
    },
    goDetail(e, data) {
      // console.log(data);
      this.$router.push({
        name: "tradeOrderDetail",
        path: "/tradeOrderDetail",
        query: {
          id: data.id
        },
        params: data
      });
    }
  }
};
</script>
<style lang="scss" scoped>
.trade-order-list {
  padding: 140px 0px 100px;
  .trade_i_list {
    // margin-top: 134px;
    .trade-table-ads {
      font-size: 16px;
      line-height: 22px;
      color: #a1b0c6;
      tr {
        padding: 25px 0px;
      }
      .limit {
        h3 {
          font-size: 16px;
          font-weight: 800;
          &.sm {
            font-size: 13px;
          }
        }
        &.in {
          color: #3787fe;
        }
        &.out {
          color: #58cb6f;
        }
      }
      .status {
        img {
          width: 20px;
          height: 20px;
          //   margin-right: 5px;
        }
      }
      .user {
        .realname {
          color: #3787fe;
        }
      }
      .btn {
        button {
          font-size: 16px;
          &.detail {
            background: none;
            color: #3787fe;
            &:hover,
            &:focus {
              background: none;
              border: none;
            }
          }
          &.pay,
          &.release {
            min-width: 50px;
            padding: 0px 5px;
            height: 30px;
            background: rgba(55, 135, 254, 1);
            opacity: 1;
            border-radius: 3px;
          }
        }
      }
    }
    .table-none {
      margin-top: 50px;
      img {
        width: 260px;
        height: 170px;
      }
      p {
        font-size: 16px;
        line-height: 22px;
        color: #a1b0c6;
      }
    }
    .table-load {
      li {
        height: 40px;
        padding: 30px 0px;
        box-sizing: content-box;
        border-bottom: 1px solid #e6e6e6;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .merchant {
          display: flex;
          align-items: center;
          .img {
            width: 40px;
            height: 40px;
            margin-right: 5px;
            border-radius: 50%;
          }
          font-size: 16px;
          color: #222222;
          line-height: 22px;
          h3 {
            width: 100px;
            height: 35px;
          }
        }
        .pw {
          display: flex;
          align-items: center;
          .img {
            width: 30px;
            height: 30px;
            &:not(:last-child) {
              margin-right: 10px;
            }
          }
          .gift {
            font-size: 16px;
            line-height: 22px;
            color: rgb(76, 96, 133);
          }
        }
        .limit {
          font-size: 16px;
          color: #222222;
          line-height: 22px;
          display: flex;
          align-items: center;
          .one {
            width: 100px;
            height: 40px;
          }
        }
        .price {
          font-size: 20px;
          font-weight: bold;
          color: #3787fe;
          line-height: 28px;
          h3 {
            width: 200px;
            height: 30px;
          }
        }
        div.button {
          // padding: 6px 30px;
          box-sizing: border-box;
          width: 100px;
          height: 40px;
          font-size: 20px;
          font-weight: 800;
          line-height: 28px;
          color: #ffffff;
          margin-right: 10px;
        }
      }
    }
  }
  .pg {
    margin-top: 20px;
  }
}
</style>
