<template>
  <div class="trade-order-detail">
    <content-nav :list="list"></content-nav>
    <div class="content-torderd skt-loading">
      <div class="banxin">
        <div class="to-content-top">
          <div class="info">
            <div class="info-top">
              <order-info :data="params"></order-info>
            </div>
            <partner-info
              class="info-bottom"
              :data="params"
              :ways="ways"
              :callBack="initOrder"
            ></partner-info>
          </div>
          <div class="chat-insert">
            <chat :params="params" :connected="connected"></chat>
          </div>
        </div>
        <div class="to-content-bottom">
          <h3>{{ $t("tOrderDetail.mark") }}</h3>
          <p :class="loadingInfo ? 'skeleton' : ''">
            {{ params.otcAdvertisementMessage }}
          </p>
        </div>
      </div>
    </div>
    <foot></foot>
  </div>
</template>
<script>
import contentNav from "../../components/ContentNav";
import chat from "../../components/chat/index";
import foot from "./common/footer";
import orderInfo from "./common/orderInfo";
import partnerInfo from "./common/partnerInfo";
import { tradeOrderFind, adsReceiptWaysFun } from "../../api/trade";
import { mapGetters } from "vuex";
export default {
  components: {
    contentNav,
    foot,
    orderInfo,
    partnerInfo,
    chat
  },
  data() {
    return {
      list: [],
      params: {},
      ways: [],
      loadingInfo: true
    };
  },
  computed: {
    ...mapGetters(["connected"])
  },
  created() {
    this.initOrder();
  },
  mounted() {
    // console.log(this.$route);
  },
  beforeRouteEnter(to, from, next) {
    if (from.path == "/trade") {
      next(vm => {
        vm.list[0] = {
          link: "/trade",
          text: "tOrderDetail.nav_list"
        };
      });
    } else {
      next(vm => {
        // console.log(vm.list)
        vm.list[0] = {
          text: "tOrderDetail.ads_list"
        };
      });
    }
  },
  methods: {
    initOrder() {
      tradeOrderFind({ id: this.$route.query.id }).then(res => {
        if (res.code == 200) {
          this.params = res.data;
          this.loadingInfo = false;
          let list = [
            {
              text:
                this.params.role == "0"
                  ? "tOrderDetail.nav_order_in"
                  : "tOrderDetail.nav_order_out"
            }
          ];
          this.list = this.list.concat(list);
          this.initWay();
        } else {
          this.$Notification.failed("", res.message, 2500);
        }
      });
    },
    initWay() {
      adsReceiptWaysFun({
        id: this.params.id
      }).then(res => {
        if (res.code == 200) {
          this.ways = res.data;
        } else {
          //
          this.$Notification.failed("", res.message, 2500);
        }
      });
    }
  }
};
</script>
<style lang="scss" scoped>
.trade-order-detail {
  padding: 140px 0px 60px;
  .content-torderd {
    min-height: 1110px;
    background: #fafafa;
    .to-content-top {
      min-height: 900px;
      box-sizing: border-box;
      display: flex;
      justify-content: space-between;
      .info {
        margin-right: 40px;
        .info-top {
          width: 730px;
          height: 360px;
          background: rgba(255, 255, 255, 1);
          box-shadow: 0px 3px 10px rgba(55, 135, 254, 0.2);
          opacity: 1;
          border-radius: 3px;
          margin-bottom: 30px;
        }
        .info-bottom {
          width: 730px;
          height: 510px;
          background: rgba(255, 255, 255, 1);
          box-shadow: 0px 3px 10px rgba(55, 135, 254, 0.2);
          opacity: 1;
          border-radius: 3px;
          padding: 30px;
          padding-bottom: 15px;
          box-sizing: border-box;
        }
      }
      .chat-insert {
        flex: 1;
        // box-shadow: 0px 3px 10px rgba(55, 135, 254, 0.2);
      }
    }
    .to-content-bottom {
      min-height: 160px;
      box-sizing: border-box;
      margin: 30px 0px;
      background: rgba(255, 255, 255, 1);
      box-shadow: 0px 3px 10px rgba(55, 135, 254, 0.2);
      opacity: 1;
      border-radius: 3px;
      text-align: left;
      padding: 20px;
      box-sizing: border-box;
      h3 {
        font-size: 20px;
        line-height: 28px;
        font-weight: 800;
        color: #222222;
        margin-bottom: 15px;
      }
      p {
        padding: 0px 10px;
        font-size: 16px;
        line-height: 24px;
        color: #222222;
        min-width: 700px;
        min-height: 24px;
      }
    }
  }
}
</style>
