<template>
  <div class="login-pass">
    <div class="box">
      <h3>{{ $t("profile.reset_pass") }}</h3>
      <p class="info">{{ $t("pay_pass.pass_info") }}</p>
      <ai-form ref="formItems" :model="formValidate" :rules="ruleValidate">
        <div class="one">
          <ai-form-item :label="$t('pay_pass.old_pass')" prop="oldPassword">
            <div class="eye-input">
              <ai-input
                :type="formValidate.oldPasswordEye ? 'text' : 'password'"
                class="selec_type_one"
                v-model="formValidate.oldPassword"
                :placeholder="$t('pay_pass.input_old_p')"
              />
              <i
                class="icon "
                @click="
                  formValidate.oldPasswordEye = !formValidate.oldPasswordEye
                "
                :class="
                  formValidate.oldPasswordEye
                    ? 'ion-ios-eye'
                    : 'ion-ios-eye-outline'
                "
              ></i>
            </div>
          </ai-form-item>
        </div>
        <div class="one">
          <ai-form-item :label="$t('pay_pass.new_pass')" prop="newPassword">
            <div class="eye-input">
              <ai-input
                :type="formValidate.newPasswordEye ? 'text' : 'password'"
                class="selec_type_one"
                v-model="formValidate.newPassword"
                :placeholder="$t('pay_pass.input_new_p')"
              />
              <i
                class="icon "
                @click="
                  formValidate.newPasswordEye = !formValidate.newPasswordEye
                "
                :class="
                  formValidate.newPasswordEye
                    ? 'ion-ios-eye'
                    : 'ion-ios-eye-outline'
                "
              ></i>
            </div>
          </ai-form-item>
        </div>
        <div class="one">
          <ai-form-item :label="$t('pay_pass.new_pass2')" prop="newPassword2">
            <div class="eye-input">
              <ai-input
                :type="formValidate.newPassword2Eye ? 'text' : 'password'"
                class="selec_type_one"
                v-model="formValidate.newPassword2"
                :placeholder="$t('pay_pass.input_new_p2')"
              />
              <i
                class="icon "
                @click="
                  formValidate.newPassword2Eye = !formValidate.newPassword2Eye
                "
                :class="
                  formValidate.newPassword2Eye
                    ? 'ion-ios-eye'
                    : 'ion-ios-eye-outline'
                "
              ></i>
            </div>
          </ai-form-item>
        </div>
        <div class="one">
          <ai-form-item
            :label="
              user.accountType === '0'
                ? $t('infoAll.phone')
                : $t('infoAll.email')
            "
            prop="account"
          >
            <ai-input
              :disabled="true"
              class="selec_type_one"
              v-model="formValidate.account"
              :placeholder="$t('pay_pass.input_new_p2')"
            />
          </ai-form-item>
        </div>
        <div class="one">
          <ai-form-item
            :label="
              user.accountType === '0'
                ? $t('infoAll.phone_code')
                : $t('infoAll.email_code')
            "
            prop="code"
          >
            <div class="input-send">
              <ai-input
                class="selec_type_one"
                v-model="formValidate.code"
                :placeholder="
                  user.accountType === '0'
                    ? $t('infoAll.p_phone_code')
                    : $t('infoAll.p_email_code')
                "
              />
              <send-code
                class="send"
                border="borderLeft"
                :data="{
                  accountType: user.accountType,
                  behaviorType: 1, // 新邮箱
                  number:
                    user.accountType === '1'
                      ? user.email
                      : '%2B' +
                        (user.phoneAreaCode
                          ? user.phoneAreaCode.split('+')[1]
                          : '') +
                        ',' +
                        user.phone
                }"
              ></send-code>
            </div>
          </ai-form-item>
        </div>
        <div class="one">
          <p style="color:transparent">占位</p>
          <ai-form-item>
            <rd-button
              class="selec_type_one"
              :loading="loading"
              type="success2"
              :callBack="confirmFun"
              >{{ $t("infoAll.submit") }}</rd-button
            >
          </ai-form-item>
        </div>
      </ai-form>
    </div>
  </div>
</template>
<script>
import rdButton from "../../components/button";
import AiForm from "../../components/form";
import AiFormItem from "../../components/form-item";
import AiInput from "../../components/input";
import SendCode from "../../components/SendCode";
import { mapGetters } from "vuex";
import { changePasswordFun } from "../../api/identity";
export default {
  components: {
    "rd-button": rdButton,
    AiInput,
    AiFormItem,
    AiForm,
    SendCode
  },
  computed: {
    ...mapGetters(["user"])
  },
  data() {
    return {
      formValidate: {
        oldPassword: "",
        oldPasswordEye: false,
        newPassword: "",
        newPasswordEye: false,
        newPassword2: "",
        newPassword2Eye: false,
        account: "",
        code: ""
      },
      ruleValidate: {},
      loading: false
    };
  },
  created() {
    this.formValidate.account =
      this.user.accountType === "0"
        ? this.user.phoneAreaCode + "," + this.user.phone
        : this.user.email;
    this.initRulesFun();
  },
  methods: {
    initRulesFun() {
      //   let that = this;
      const validatePassCheck = (rule, value, callback) => {
        if (value === "") {
          callback(new Error(this.$t("pay_pass.input_new_p2")));
        } else if (value !== this.formValidate.newPassword) {
          callback(new Error(this.$t("infoAll.pass_check")));
        } else {
          callback();
        }
      };
      this.ruleValidate = {
        oldPassword: [
          {
            required: true,
            message: this.$t("pay_pass.input_old_p"),
            trigger: "blur"
          },
          {
            pattern: /^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{6,16}$/,
            message: this.$t("infoAll.pass_regular")
          }
        ],
        newPassword: [
          {
            required: true,
            message: this.$t("pay_pass.input_new_p"),
            trigger: "blur"
          },
          {
            pattern: /^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{6,16}$/,
            message: this.$t("infoAll.pass_regular")
          }
        ],
        newPassword2: [
          {
            required: true,
            message: this.$t("pay_pass.input_new_p2"),
            trigger: "blur"
          },
          {
            pattern: /^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{6,16}$/,
            message:
              this.formValidate.newPassword == this.formValidate.newPassword2
                ? this.$t("infoAll.pass_regular")
                : this.$t("infoAll.pass_check")
          },
          {
            validator: validatePassCheck,
            required: true,
            trigger: "blur"
          }
        ],
        account: [
          {
            required: true,
            message:
              this.user.accountType === "0"
                ? this.$t("infoAll.phone")
                : this.$t("infoAll.email"),
            trigger: "blur"
          }
        ],
        code: [
          {
            required: true,
            message:
              this.user.accountType === "0"
                ? this.$t("infoAll.p_phone_code")
                : this.$t("infoAll.p_email_code"),
            trigger: "blur"
          }
        ]
      };
    },
    confirmFun() {
      this.$refs.formItems.validate().then(valid => {
        if (valid) {
          //
          changePasswordFun({
            code: this.formValidate.code,
            newPassword: this.formValidate.newPassword,
            oldPassword: this.formValidate.oldPassword
          }).then(res => {
            if (res.code == 200) {
              this.$router.replace("/profile");
            } else {
              this.$Notification.failed("", res.message, 2000);
            }
          });
        } else {
          //
          this.formValidate.newPassword;
        }
      });
    }
  }
};
</script>
<style lang="scss" scoped>
.login-pass {
  padding-top: 140px;
  padding-bottom: 100px;
  background: var(--font-color14);
  .box {
    width: 790px;
    height: 940px;
    background: var(--font-color27);
    box-shadow: 0px 3px 10px rgba(var(--font-color26), 0.3);
    opacity: 1;
    border-radius: var(--raduis);
    box-sizing: border-box;
    padding: 60px 145px;
    margin: 0 auto;
    margin-top: 50px;
    h3 {
      font-size: 30px;
      color: black;
      font-weight: 800;
    }
    p {
      &.info {
        width: 500px;
        height: 50px;
        background: rgba(234, 243, 255, 1);
        opacity: 1;
        border-radius: 3px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        box-sizing: border-box;
        padding-left: 15px;
        font-size: 16px;
        color: rgba(var(--font-color26), 1);
        margin-top: 30px;
        text-align: left;
      }
    }
    form {
      .one {
        width: 500px;
        .item {
          margin-top: 25px;
          .eye-input {
            position: relative;
            i {
              position: absolute;
              font-size: 30px;
              right: 15px;
              height: 60px;
              line-height: 60px;
              cursor: pointer;
            }
            input {
              color: #222222 !important;
            }
          }
          .selec_type_one {
            border: 0px solid red !important;
            height: 60px;
          }
          .input-send {
            display: flex;
            .input-s {
              // width: 300px;
              border: 0px solid red !important;
            }
            .send {
              width: 140px;
            }
          }
          button.selec_type_one {
            width: 500px;
          }
        }
      }
    }
  }
}
</style>
