<template>
  <div class="profile_index">
    <div class="profile-top-bg"></div>
    <div class="banxin">
      <div class="profile-head">
        <div class="icon">
          {{ user ? user.username.slice(0, 1) : "" }}
        </div>
        <div class="content">
          <div class="text">
            <h3>{{ user ? user.username : "" }}</h3>
            <p>{{ user ? (user.email ? user.phone : "") : "" }}</p>
          </div>
          <div class="btn">
            <button @click="$router.push('/login-pass')">
              <img src="../../assets/images/profile/pass.png" alt="" />
              {{ $t("profile.reset_pass") }}
            </button>
            <button @click="$router.push('/fund-pass')">
              <img src="../../assets/images/profile/pay_pass.png" alt="" />
              {{
                user && user.ifPayPassword === "1"
                  ? $t("profile.reset_fund_pass")
                  : $t("profile.set_fund_pass")
              }}
            </button>
          </div>
        </div>
      </div>
      <div class="account-type">
        <div class="account-item">
          <img src="../../assets/images/profile/zu 584@2x.png" alt="" />
          <p>{{ $t("infoAll.email") }}</p>
          <span v-if="user && user.email" href="" class="herf">{{
            user.email
          }}</span>
          <Go v-else :text="$t('infoAll.bind')" link="/bind/email"></Go>
        </div>
        <div class="account-item">
          <img src="../../assets/images/profile/zu 587@2x.png" alt="" />
          <p>{{ $t("infoAll.phone") }}</p>
          <span v-if="user && user.phone" href="" class="herf">{{
            user.phone
          }}</span>
          <Go
            v-if="user && user.phone"
            :text="$t('profile.changeBind')"
            link="/bind/phone"
          ></Go>
          <Go
            v-if="user && !user.phone"
            :text="$t('infoAll.bind')"
            link="/bind/phone"
          ></Go>
        </div>
        <div class="account-item">
          <img src="../../assets/images/profile/zu 623@2x.png" alt="" />
          <p>{{ $t("infoAll.google_auth") }}</p>
          <span
            v-if="user && user.googleAuthTag !== '0'"
            href=""
            class="herf"
            >{{ $t("profile.linked") }}</span
          >
          <Go
            v-if="user && user.googleAuthTag === '0'"
            :text="$t('infoAll.bind')"
            link="/bind/google"
          ></Go>
          <Go
            v-if="user && user.googleAuthTag !== '0'"
            :text="$t('profile.changeBind')"
            link="/bind/google"
          ></Go>
        </div>
        <div class="account-item">
          <img src="../../assets/images/profile/zu 589@2x.png" alt="" />
          <p>{{ $t("infoAll.shiming") }}</p>
          <!-- 审核不通过 -->
          <span v-if="user && user.identityAuthStatus === '3'">{{
            $t("profile.tijiao_shenhe_ok") +
              "(" +
              (user.role === "0" || user.role === "2"
                ? $t("profile.geren")
                : $t("profile.jigou")) +
              ")"
          }}</span>
          <!-- 审核通过 -->
          <span v-if="user && user.identityAuthStatus === '2'">{{
            $t("profile.tijiao_shenhe_ok") +
              "(" +
              (user.role === "0" || user.role === "2"
                ? $t("profile.geren")
                : $t("profile.jigou")) +
              ")"
          }}</span>
          <!-- 提交未审核 -->
          <span v-if="user && user.identityAuthStatus === '1'">{{
            $t("profile.tijiao_weishenhe") +
              "(" +
              (user.role === "0" || user.role === "2"
                ? $t("profile.geren")
                : $t("profile.jigou")) +
              ")"
          }}</span>
          <!-- 未认证 / 认证没通过 ；都可以去认证-->
          <a
            v-if="
              user &&
                (user.identityAuthStatus === '0' ||
                  user.identityAuthStatus === '3')
            "
            href="javascript:;"
            class="herf"
            @click="$refs.modal_auth.show = true"
            >{{ $t("infoAll.verification") }}</a
          >
          <!-- 个人认证时 可以申请机构认证 -->
          <Go
            v-if="
              user &&
                user.identityAuthStatus === '2' &&
                (user.role === '0' || user.role === '2')
            "
            :text="$t('profile.jigouRenzheng')"
            link="/platform"
          ></Go>
        </div>
      </div>
      <!-- 付款方式 -->
      <pay-methods></pay-methods>
      <!-- 登录历史 -->
      <login-history></login-history>
    </div>
    <modal ref="modal_auth">
      <div slot="body" class="auth-body">
        <div class="geren">
          <div class="img">
            <img
              src="../../assets/images/profile/zu 893@2x.png"
              alt=""
              @click="$router.push('/authentication')"
            />
          </div>
          <h3>{{ $t("profile.one_id") }}</h3>
        </div>
        <div class="qiye">
          <div class="img">
            <img
              src="../../assets/images/profile/zu 894@2x.png"
              alt=""
              @click="$router.push('/authentication')"
            />
          </div>
          <h3>{{ $t("profile.com_id") }}</h3>
        </div>
      </div>
    </modal>
  </div>
</template>
<script>
import { mapGetters } from "vuex";
import payMethods from "../../components/PayMethods";
import loginHistory from "../../components/LoginHistory";
import Go from "../../components/Go";
import modal from "../../components/Modal";
import { getOwnInfoFun } from "../../api/identity";
export default {
  components: {
    "pay-methods": payMethods,
    "login-history": loginHistory,
    Go,
    modal
  },
  data() {
    return {};
  },
  computed: {
    ...mapGetters(["user"])
  },
  created() {
    getOwnInfoFun().then(res => {
      if (res.code == 200) {
        this.$store.dispatch("setUser", res.data);
      } else {
        console.log(res.message);
      }
    });
  }
};
</script>
<style lang="scss" scoped>
.auth-body {
  display: flex;
  margin-bottom: 20px;
  padding: 0px 40px;
  div {
    .img {
      width: 160px;
      height: 160px;
      background: rgba(243, 248, 255, 1);
      box-shadow: 0px 5px 10px rgba(55, 135, 254, 0.3);
      opacity: 1;
      border-radius: 3px;
      margin-bottom: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      img {
        width: 100px;
        height: 100px;
      }
    }
    h3 {
      font-size: var(--font-size16);
      color: var(--color-black);
    }
    &.geren {
      margin-right: 80px;
    }
  }
}
.profile_index {
  // height: inherit;
  // margin-top: 60px;
  padding-top: 140px;
  padding-bottom: 90px;
  background: var(--font-color25);
  .profile-top-bg {
    height: 100px;
    // background: rgba(var(--font-color28), 1);
    // background: #C9D3FB;
    background: url("../../assets/images/profile/zu 966@2x.png") no-repeat;
    background-size: cover;
  }
  .profile-head {
    height: 130px;
    margin: 0 auto;
    position: relative;
    div.icon {
      width: 60px;
      height: 60px;
      border-radius: var(--raduis);
      background: rgba(var(--font-color26), 1);
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: -41px;
      border: 2px solid rgba(var(--font-color26), 1);
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: var(--font-size30);
      font-weight: 800;
      line-height: 42px;
      color: var(--font-color03);
      // box-sizing: content-box;
      box-sizing: border-box;
      box-shadow: 0px 0px 0px 6px white;
    }
    div.content {
      height: inherit;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      .text {
        h3 {
          font-size: var(--font-size20);
          font-weight: var(font-weight-800);
          line-height: 28px;
          color: var(--color-black);
          margin-top: 20px; // 10 +10
          margin-bottom: 5px;
        }
        p {
          font-size: 16px;
          line-height: 22px;
          color: #666666;
        }
      }
      .btn {
        position: absolute;
        font-size: 16px;
        line-height: 22px;
        right: 0px;
        margin-top: 10px;
        display: flex;
        button {
          background: rgba(var(--font-color26), 1);
          box-shadow: rgba(var(--font-color26), 0.5);
          border-radius: 20px;
          padding: 9px 17px;
          color: var(--font-color25);
          display: flex;
          align-items: center;
          overflow: hidden;
          box-shadow: 0px 3px 5px rgba(55, 135, 254, 0.5);
          transition: all 0.3s ease-in-out;
          &:nth-child(1) {
            margin-right: 20px;
          }
          img {
            width: 20px;
            height: 20px;
            margin-right: 3px;
            filter: drop-shadow(rgb(255, 255, 255) 2rem 0px);
            margin-left: -2rem;
            margin-right: 2.05rem;
          }
          &:hover {
            position: relative;
            img {
              filter: drop-shadow(rgb(255, 255, 255) 2rem 0px);
              margin-left: -2rem;
              margin-right: 2.05rem;
            }
            &::after {
              content: "";
              position: absolute;
              top: 0px;
              left: 0px;
              width: 100%;
              height: 100%;
              background: rgba(255, 255, 255, 1);
              opacity: 0.2;
              border-radius: 3px;
            }
          }
        }
      }
    }
  }
  .account-type {
    // height: 200px;
    background: var(--font-color03);
    box-shadow: 0px 3px 10px rgba(var(--font-color26), 0.3);
    opacity: 1;
    border-radius: var(--raduis);
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    // padding-bottom: 20px;
    padding-bottom: 50px;
    .account-item {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      position: relative;
      // padding-top: 50px;
      font-size: 16px;
      &:not(:last-child) {
        &::after {
          content: "";
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: 0px;
          width: 1px;
          height: 40px;
          background: var(--font-color14);
        }
      }
      img {
        width: 40px;
        height: 40px;
      }
      p {
        line-height: 22px;
        color: var(--color-black);
        margin: 15px 0px 10px 0px;
      }
      span {
        margin-bottom: 10px;
        color: #666666;
      }
      a {
        color: rgba(var(--font-color26), 1) !important;
      }
    }
  }
}
</style>
