<template>
  <div class="chat-info" @mouseenter="show = true" @mouseleave="show = false">
    <img src="../../assets/images/chat/zu 864@2x.png" alt="" />
    {{ $t("chat.mess") }}
    <div class="num" v-if="list.length > 0">{{ list.length }}</div>
    <div class="list-chat-mess-in" :class="show ? 'active' : 'none'">
      <h3 class="normal">{{ $t("chat.mess") }}</h3>
      <ul class="box">
        <li v-for="(item, index) in list" :key="index + 'mess-info-in'">
          <div class="left-box">
            <div class="img">
              {{
                item.messages[0].tUsername
                  ? item.messages[0].tUsername.slice(0, 1)
                  : ""
              }}
            </div>
          </div>
          <div class="right-box" @click="goDetail(item, index)">
            <div class="h">
              <h3 class="blod">
                {{ item.messages[0].role == 0 ? $t("chat.in") : $t("chat.out")
                }}{{ item.messages[0].coinType }}
              </h3>
              <h3 class="blue">
                {{ item.messages[0].amountCny }}
                {{ item.messages[0].tradeCoinType }}
              </h3>
            </div>
            <div class="who">
              <p>
                {{
                  $t("chat.info_one", {
                    who: item.messages[0].type
                      ? item.order_id
                      : item.messages[0].user_id == (user ? user.userId : null)
                      ? item.messages[0].tUsername
                      : item.messages[0].user_name
                  })
                }}
              </p>
            </div>
            <div class="time-tip">
              <div class="time">
                <p>
                  {{
                    item.messages
                      ? item.messages[item.messages.length - 1].create_time
                      : ""
                  }}
                </p>
              </div>
              <div class="num">{{ item.total }}</div>
            </div>
          </div>
        </li>
      </ul>
      <div class="btn">
        <button @click="goTradeList">{{ $t("chat.view") }}</button>
      </div>
    </div>
  </div>
</template>
<script>
import io from "socket.io-client";
import { getSocketUrl, socketLogin, markMessageRead } from "../../api/chat";
import { mapGetters } from "vuex";
import { bus } from "../../utils/bus";
export default {
  data() {
    return {
      socket: null,
      socketUrl: "",
      list: [],
      show: false,
      roomId: ""
    };
  },
  computed: {
    ...mapGetters(["user"]),
    ...mapGetters(["connected"])
  },
  watch: {
    user: {
      handler(n, o) {
        // 针对 退出
        if (n == null && o != null) {
          console.log("退出-执行 断开socket");
          this.socket.close();
          this.socket.disconnect();
          this.socket = null;
          this.list = [];
        }
        // 针对 登入
        if (n != null && o == null) {
          if (this.socket) {
            console.log("登入-已存在 先断开 后 执行链接socket");
            this.socket.close();
            this.socket.disconnect();
            this.socket = null;
            this.getSocketUrlFun();
          } else {
            console.log("登入-执行链接socket");
            this.getSocketUrlFun();
          }
        }
      },
      immediate: true
    }
  },
  mounted() {
    // console.log(this.user);
    this.listenFromChat();
    // this.getSocketUrlFun();
    window.addEventListener("beforeunload", () => {
      this.socket.close();
      this.$store.commit("SET_CONNECT_STATUS", false);
    });
  },
  beforeDestroy() {
    if (this.socket) {
      console.log("组件销毁 断开 socket");
      this.socket.emit("forceDisconnect"); // disconnect
      // this.socket.close();
      this.socket.disconnect();
      this.socket = null;
    }
    clearTimeout(this.tH);
    bus.$off();
  },
  methods: {
    heartBeat() {
      this.tH = setTimeout(() => {
        this.socket.emit("nimei");
        clearTimeout(this.tH);
        this.heartBeat();
      }, 5000);
    },
    goTradeList() {
      if (this.$route.path.indexOf("/tradeOrderList") >= 0) {
        //
      } else {
        this.$router.push("/tradeOrderList");
      }
    },
    listenFromChat() {
      bus.$on("createRoom", item => {
        // console.log("ci", this.connected);
        if (this.connected) {
          let t = setTimeout(() => {
            this.socket.emit("create_room", item, res => {
              this.roomId = res.data.room_id;
              // console.log(item, 'huilai ', res.data)
              this.$store.dispatch("setRoomId", res.data.room_id);
              clearTimeout(t);
            });
          }, 500);
        } else {
          //   this.connected = false;
        }
      });
      bus.$on("askStatus", () => {
        if (this.connected) {
          bus.$emit("resStatus", true);
        }
      });
    },
    goDetail(item, index) {
      // console.log(item, index)
      this.list.splice(index, 1);
      this.$router.push({
        name: "tradeOrderDetail",
        path: "/tradeOrderDetail",
        query: {
          id: item.order_id
        }
      });
      if (this.$route.path.indexOf("/tradeOrderDetail") >= 0) {
        window.location.reload(false);
      }
    },
    getSocketUrlFun() {
      getSocketUrl()
        .then(res => {
          if (res.code == 200) {
            // this.socketUrl = res.data.chatUrl;
            // this.socketUrl = res.data.chatUrl.split("/websocket")[0];
            this.socketUrl = "http://103.75.2.199:5210"; //:5210 // real
            // this.socketUrl = "http://192.168.10.66:8080";
          } else {
            this.$Notification.failed("", res.message, 3000);
          }
        })
        .then(() => {
          this.loginSocket();
        })
        .catch(error => {
          console.log(error);
        });
    },
    loginSocket() {
      if (!this.user.token) {
        this.$Notification.failed(
          "",
          "聊天功能和 消息推送必须登录才能生效",
          3000
        );
        return;
      }
      let item = {
        token: this.user.token
      };
      socketLogin(item)
        .then(() => {
          //   console.log(res);
          this.initScoket();
        })
        .catch(res => {
          this.$Notification.failed("", res.message, 3000);
        });
    },
    setMark(item) {
      // 标记消息
      markMessageRead(item).then(() => {
        // console.info(res);
      });
    },
    initScoket() {
      this.socket = io.connect(this.socketUrl, {
        // path: "/socket.io",
        // reconnection: true,
        // timeout: 126000,
        // pingTimeout: 126000,
        // secure: false,
        // transports: ["websocket"]
        // forceNew: true
        // allowUpgrades: false
      });
      this.socket.on("connect_error", error => {
        console.log(error, "socket链接错误");
      });
      this.socket.on("error", error => {
        // ...
        console.log(error, "socket错误");
      });
      this.socket.on("connect", e => {
        console.log("client connect server", this.socket, this.socket.id, e);
        bus.$emit("connected");
        // this.heartBeat();
        // this.connected = true;
        this.$store.commit("SET_CONNECT_STATUS", true);
      });
      bus.$on("send", item => {
        this.send(item);
      });
      this.socket.on("reconnect", e => {
        console.log("client reconnect server", this.socket, this.socket.id, e);
      });
      this.socket.on("disconnect", e => {
        console.log("client disconnect", this.socket, this.socket.id, e);
        this.$store.commit("SET_CONNECT_STATUS", false);
        this.socket.emit("forceDisconnect");
        bus.$off();
        let t = setTimeout(() => {
          if (this.socket) {
            this.socket.removeAllListeners("chat_message");
            this.socket.close();
            this.socket = null;
          }
          if (e != "io client disconnect") {
            this.listenFromChat();
            this.getSocketUrlFun();
          }
          clearTimeout(t);
        }, 500);
      });
      this.socket.on("chat_message", res => {
        console.log("on chat_message: ", res);

        if (this.$route.path.indexOf("/tradeOrderDetail") >= 0) {
          bus.$emit("rec_chat", res);
          // console.log(
          //   "设置已读-------------------得判断是不是当前房间，不是的话得加入-----",
          //   {
          //     room_id: res.room_id,
          //     msg_ids: [res.id]
          //   }
          // );
          if (this.roomId == res.room_id) {
            // 刚好推送的内容就是 用户所在的订单的
          } else {
            //
          }
          this.setMark({
            room_id: res.room_id,
            msg_ids: [res.id]
          });
          return {
            code: 200,
            mark_read: true,
            id: res.id
          };
        } else {
          console.log("设置未读");
          // this.list.push(res);
          return {
            code: 200,
            mark_read: false,
            id: res.id
          };
        }
      });
      this.socket.on("chat_unread", res => {
        console.log("on chat_unread: ", res);
        this.list = res;
      });
    },
    send(item) {
      // console.log(item, this.socket, "发送");
      this.socket.emit("chat_message", item);
    }
  }
};
</script>
<style lang="scss" scoped>
.chat-info {
  // margin-right: 20px;
  padding: 0px 20px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  position: relative;
  cursor: pointer;
  &:hover {
    background: rgba(255, 255, 255, 0.1);
  }
  img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }
  .num {
    margin-left: 5px;
    width: 20px;
    height: 20px;
    background: rgba(240, 91, 95, 1);
    border: 1px solid rgba(255, 255, 255, 1);
    border-radius: 50%;
    font-size: 12px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .list-chat-mess-in {
    position: absolute;
    top: 60px;
    right: 0px;
    width: 300px;
    height: 400px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 3px 5px rgba(55, 135, 254, 0.3);
    opacity: 1;
    border-radius: 3px;
    text-align: left;
    cursor: default;
    transition: all 0.4s ease;
    transform-origin: top right;
    &.none {
      transform: scale(0);
    }
    &.active {
      transform: scale(1);
    }
    h3 {
      font-size: 16px;
      line-height: 22px;
      color: #222222;
      &.normal {
        font-weight: 400;
        padding: 4px 15px;
      }
      &.blod {
        font-weight: 800;
      }
      &.blue {
        font-weight: 800;
        color: #3787fe;
      }
    }
    p {
      font-size: 12px;
      color: #666666;
    }
    .box {
      height: 310px;
      overflow-y: auto;
      box-sizing: border-box;
      border-top: 1px solid rgba(230, 230, 230, 1);
      border-bottom: 1px solid rgba(230, 230, 230, 1);
      li {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding: 10px 15px;
        .left-box {
          width: 30px;
          .img {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background: rgba(138, 194, 232, 1);
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
          }
          margin-right: 15px;
        }
        .right-box {
          flex: 1;
          border-bottom: 1px solid rgba(230, 230, 230, 1);
          padding-bottom: 10px;
          cursor: pointer;
          .h {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 5px;
          }
          .time-tip {
            margin-top: 5px;
            display: flex;
            justify-content: space-between;
            align-items: center;
          }
        }
      }
    }
    .btn {
      padding: 15px;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      button {
        padding: 7px 24px;
        background: rgba(161, 176, 198, 1) !important;
        opacity: 1;
        border-radius: 3px;
        font-size: 12px;
        color: #ffffff;
      }
    }
  }
}
</style>
