<template>
  <div class="announcement">
    <div class="animate">
      <button>
        <img src="../assets/images/announcement/zu 954@2x.png" alt="" /> 公告
      </button>
      <div class="p">
        Ritzbiz现已开通
        <img src="../assets/images/announcement/zu 956@2x.png" alt="" />
        <span class="us">美元</span> 及
        <img src="../assets/images/announcement/zu 957@2x.png" alt="" />
        <span class="hk">港币</span>的承兑业务，为您提供更全面的场外交易体验。
      </div>
    </div>
  </div>
</template>
<style lang="scss" scoped>
.announcement {
  margin: 0px auto 0px;
  width: 1300px;
  height: 60px;
  background: rgba(var(--font-color26), 0.1);
  border-radius: 3px;
  color: var(--font-color05) !important;
  display: flex;
  align-items: center;
  font-size: var(--font-size16);
  padding-left: 10px;
  box-sizing: var(--box-size-border);
  overflow: hidden;
  div.p {
    color: var(--font-color05);
    img {
      width: 30px;
      height: 30px;
    }
    span.us {
      color: rgba(var(--font-color26), 1);
    }
    span.hk {
      color: var(--font-color19);
    }
  }
  button {
    width: 100px;
    height: 40px;
    background: rgba(var(--font-color26), 1);
    box-shadow: 0px 3px 5px rgba(55, 135, 254, 0.5);
    border-radius: var(--raduis);
    color: var(--font-color27);
    margin-right: 20px;
    font-size: 16px;
    img {
      width: 25px;
      height: 25px;
    }
  }
  .animate {
    white-space: nowrap;
    animation: 15s wordsLoop linear infinite normal;
    height: 60px;
    border-radius: var(--border-radius);
    color: var(--font-color05) !important;
    display: flex;
    align-items: center;
    font-size: var(--font-size16);
    box-sizing: var(--box-size-border);
    &:hover {
      animation-play-state: paused;
    }
  }

  @keyframes wordsLoop {
    0% {
      transform: translateX(1300px);
    }
    100% {
      transform: translateX(-100%);
    }
  }
}
</style>
