<template>
  <div class="select_diy" :id="refd" @click="showList">
    <div class="select_top" :class="home ? 'in' : 'no'">
      <img v-if="sr" :src="sr" :class="imgIco" alt="" />
      <!-- paddingLeft: color ? '15px' : '' -->
      <span
        :class="
          home ? 'in ' + (hover ? 'hover' : '') : 'no ' + (hover ? 'hover' : '')
        "
        :style="{
          color: color,
          justifyContent: flex ? 'center' : 'flex-start',
          textAlign: color ? 'left' : 'center'
        }"
        >{{
          data.list && data.list.length > 0
            ? data.list.filter(ite => {
                return ite[value] == val;
              }).length > 0
              ? data.list.filter(ite => {
                  return ite[value] == val;
                })[0][label]
              : ""
            : ""
        }}
      </span>
      <div class="icon_out">
        <div :class="'arrow_icon sm ' + aricon">
          <svg
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="4"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="icon icon-chevron-right"
          >
            <polyline
              points="9 18 15 12 9 6"
              :stroke="home ? 'white' : ''"
            ></polyline>
          </svg>
        </div>
      </div>
    </div>
    <ul :class="'select_list ' + aricon" :style="{ top: top + 1 + 'px' }">
      <li
        v-for="(item, key) in data.list"
        :key="key"
        :class="item[value] == val ? 'active' : ''"
        @click="hideList(item)"
      >
        <img v-show="item.logo" :src="item.logo ? item.logo : ''" alt="" />
        {{ item[label] }}
      </li>
    </ul>
  </div>
</template>

<script>
import { catIn } from "../utils/index";
export default {
  name: "BaseSelect",
  props: {
    data: [Object, Array],
    val: [Number, String],
    sr: String,
    home: Boolean,
    color: String,
    value: [String, Number],
    label: String,
    set: String,
    flex: String,
    imgIco: String,
    hover: String
    // 'aricon':Boolean,
  },
  watch: {
    data: {
      handler() {
        if (this.data.list == undefined) {
          this.data.list = this.data;
        }
      },
      deep: true,
      immediate: true
    }
  },
  data() {
    return {
      aricon: false,
      top: 30,
      refd: new Date().valueOf()
    };
  },
  mounted() {
    this.setHeight();
    window.addEventListener("click", this.hide, false);
    window.addEventListener("resize", this.setHeight, false);
  },
  beforeDestroy() {
    window.removeEventListener("click", this.hide);
    window.removeEventListener("resize", this.setHeight);
  },
  methods: {
    showList() {
      this.aricon = !this.aricon;
    },
    setHeight() {
      if (document.getElementById(this.refd)) {
        this.top = document.getElementById(this.refd).offsetHeight;
      }
    },
    hideList(item) {
      if (this.set.indexOf(".") >= 0) {
        let ar = this.set.split(".");
        this.checkParent(this.$parent, item, 2, ar[0], ar[1]);
      } else {
        // this.$parent[this.set] = item[this.value];
        this.checkParent(this.$parent, item, 1, this.set);
      }
    },
    hide(e) {
      if (!catIn(e.target, this.$el)) {
        this.aricon = false;
      }
    },
    checkParent(parent, item, num, str1, str2) {
      switch (num) {
        case 1:
          if (parent[str1] === undefined) {
            parent = parent.$parent;
            if (parent[str1] === undefined) {
              this.checkParent(parent, item, num, str1, str2);
            } else {
              parent[str1] = item[this.value];
            }
          } else {
            parent[str1] = item[this.value];
          }
          break;
        case 2:
          if (parent[str1] === undefined) {
            parent = parent.$parent;
            if (parent[str1] === undefined) {
              this.checkParent(parent, item, num, str1, str2);
            } else {
              parent[str1][str2] = item[this.value];
            }
          } else {
            parent[str1][str2] = item[this.value];
          }
          break;
      }
    }
  }
};
</script>
<style lang="scss" scoped>
.select_diy {
  position: relative;
  width: inherit;
  .select_top {
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // padding: 0px 5px;
    padding-right: 10px;
    box-sizing: border-box;
    position: relative;
    &.in {
      padding: 0px 10px;
    }
    &:hover {
      cursor: pointer;
    }
    img {
      width: 20px; //17
      height: 20px;
      &.img {
        width: 25px;
        height: 25px;
        margin-left: 10px;
      }
    }
    span {
      box-sizing: border-box;
      padding: 0px 0px 0px 15px;
      display: flex;
      // height: 40px;
      height: inherit;
      align-items: center;
      justify-content: center;
      justify-content: flex-start;
      font-size: var(--font-size16);

      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      line-clamp: 1;

      &.no {
        // width: 92px;
        flex: 1;
      }
      &.in {
        // margin: 0px 5px;
        height: 50px;
        padding: 0px 5px 0px 5px;
        // font-size: 14px;
      }
      &.hover {
        &:hover {
          color: #3787fe;
        }
      }
    }
    .icon_out {
      max-width: 15px;
      box-sizing: border-box;
      // height: 40px;
      height: inherit;
      display: flex;
      justify-content: center;
      align-items: center;
      transform: perspective(400px);
      border: 0px solid red;
      .arrow_icon {
        width: 15px;
        height: 15px;
        // 因为图标 变换了角度 所以宽高 调换
        transform-origin: center center;
        transition: all 0.3s ease-in-out;
        position: relative;
        // &.sm {
        //   width: 12px;
        //   height: 12px;
        // }
        &.true {
          // transform: rotateZ(-90deg) translateY(-4px);
          transform: rotateZ(-90deg);
        }
        svg {
          position: absolute;
          top: 0px;
          left: 0px;
        }
        transform: rotateZ(90deg);
        // transform-origin: center center;
      }
    }
  }
  .select_list {
    position: absolute;
    top: 0px;
    left: 0px;
    max-height: 200px;
    overflow-y: auto;
    background: var(--font-color03);
    transition: all 0.3s ease-in-out;
    border-radius: 3px;
    width: 100%;
    min-width: 89px;
    z-index: 200000000;
    &.false {
      height: 0px;
      opacity: 0;
    }
    &.true {
      box-shadow: 0px 3px 5px rgba(55, 135, 254, 0.3);
      opacity: 1;
    }
    li {
      padding: 10px 15px;
      color: var(--font-color05);
      text-align: left;
      font-size: var(--font-size16);
      &.active {
        color: var(--font-color02);
        background: var(--font-color13);
      }
      &:hover {
        color: var(--font-color02);
        background: var(--font-color13);
        opacity: 0.6;
        cursor: pointer;
      }
      img {
        width: 20px;
        height: 20px;
      }
    }
    &::-webkit-scrollbar {
      width: 0px;
      /* height: 16px;  */
      background-color: #f5f5f5;
    }
  }
}
</style>
