<template>
  <button
    class="rd-btn"
    :class="btnClass + ' ' + loading + ''"
    :style="styleList"
    @click.stop.prevent="callBack($event, data)"
  >
    <i class="rd-btn-icon-only" :class="iconClass" v-if="icon"></i>
    <span class="rd-btn-loading ion-load-a" v-if="loading && !icon"></span>
    <span v-if="!icon">
      <slot></slot>
    </span>
  </button>
</template>
<script>
export default {
  props: {
    type: {
      type: String,
      default: () => {
        return "default";
      }
    },
    size: {
      type: String,
      default: () => {
        return "default";
      }
    },
    loading: {
      type: Boolean,
      default() {
        return false;
      }
    },
    fontColor: {
      type: String,
      default() {
        return "";
      }
    },
    icon: {
      type: String,
      default() {
        return "";
      }
    },
    color: {
      type: String,
      default() {
        return "";
      }
    },
    disabled: {
      type: Boolean,
      default() {
        return false;
      }
    },
    callBack: {
      type: Function,
      default() {
        return function() {};
      }
    },
    data: {
      type: Object,
      default() {
        return {};
      }
    }
  },
  computed: {
    iconClass() {
      let list = [];
      if (!this.icon) return list;
      list.push(this.icon);
      return list;
    },
    btnClass() {
      let list = [];
      switch (this.type) {
        case "primary":
          list.push("primary");
          break;
        case "default":
          list.push("default");
          break;
        case "ghost":
          list.push("ghost");
          break;
        case "success":
          list.push("success");
          break;
        case "info":
          list.push("info");
          break;
        case "warning":
          list.push("warning");
          break;
        case "danger":
          list.push("danger");
          break;
        default:
          list.push(this.type);
          break;
      }

      switch (this.size) {
        case "small":
          list.push("rd-btn-small");
          break;
        case "large":
          list.push("rd-btn-large");
          break;
      }

      if (this.icon) {
        list.push("rd-btn-icon");
      }
      if (this.disabled) {
        // console.log(this.disabled);
        list.push("rd-btn-disabled");
      }
      return list;
    },
    styleList() {
      let list = {};
      if (this.color) {
        list["background"] = this.color;
      }
      if (this.fontColor) {
        list["color"] = this.fontColor;
      }
      return list;
    }
  }
};
</script>
<style lang="scss" scoped>
// @import '../../css/index';
@import "../assets/css/ionicion.css";
.rd-btn {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  border: 0px solid transparent;
  white-space: nowrap;
  font-size: 16px;
  // width: 150px;
  // padding: 15px 25px;
  height: 50px;
  border-radius: 3px;
  transition: background 0.2s;
  outline: none;
  color: #666;
  background-color: #fff;
  border-color: #d9d9d9;
  color: #a3a7b8;
  background: rgba(242, 242, 242, 1);
  i,
  .rd-btn-loading {
    margin-right: 3px;
  }
  &::nth-last-child(1) {
    margin-left: 10px;
  }
  &.true {
    pointer-events: none;
  }
}
.rd-btn.default {
  color: #666;
  background-color: #fff;
  border-color: #d9d9d9;
}
.rd-btn.primary {
  color: #fff;
  // background-color: #57c5f7;
  // border-color: #57c5f7;
  background: linear-gradient(
    90deg,
    rgba(57, 169, 255, 1) 0%,
    rgba(21, 79, 180, 1) 100%
  );
  box-shadow: 0px 5px 10px rgba(16, 107, 175, 0.3);
  border-radius: 3px;
  &:hover,
  &:focus {
    background-color: rgba(129, 216, 255, 1);
    color: #fff;
  }
  &:active {
    color: #fff;
    border-color: rgba(129, 216, 255, 0.7);
    background-color: rgba(129, 216, 255, 0.7);
    box-shadow: 2px 2px 10px rgba(16, 107, 175, 0.4);
  }
}
.rd-btn.ghost {
  color: #666;
  background-color: #f7f7f7;
  border-color: #d9d9d9;
}
.rd-btn.warning {
  color: #fff;
  background-color: #fa0;
  border-color: #fa0;
  &:hover,
  &:focus {
    color: #fff;
    border-color: #fa0;
    background-color: rgba(255, 170, 0, 0.7);
  }
  &:active {
    color: #fff;
    border-color: #fa0;
    background-color: rgba(255, 170, 0, 0.7);
    box-shadow: 2px 2px 10px rgba(255, 170, 0, 0.4);
  }
}
.rd-btn.danger {
  color: #fff;
  background-color: #f50;
  border-color: #f50;
  &:hover,
  &:focus {
    color: #fff;
    border-color: #f50;
    background-color: rgba(255, 85, 0, 0.7);
  }
  &:active {
    color: #fff;
    border-color: #f50;
    background-color: rgba(255, 85, 0, 0.7);
    box-shadow: 2px 2px 10px rgba(255, 85, 0, 0.4);
  }
}
.rd-btn.success {
  background-color: #87d068;
  border-color: #87d068;
  color: #fff;
  &:hover,
  &:focus {
    color: #fff;
    border-color: #87d068;
    background-color: rgba(135, 208, 104, 0.7);
  }
  &:active {
    color: #fff;
    border-color: #87d068;
    background-color: rgba(135, 208, 104, 0.7);
    box-shadow: 2px 2px 10px rgba(135, 208, 104, 0.4);
  }
}
.rd-btn.success1 {
  background-color: rgba(48, 214, 158, 1);
  border-color: rgba(48, 214, 158, 1);
  color: #fff;
  &:hover,
  &:focus {
    color: #fff;
    border-color: rgba(48, 214, 158, 1);
    background-color: rgba(48, 214, 158, 0.7);
  }
  &:active {
    color: #fff;
    border-color: rgba(48, 214, 158, 1);
    background-color: rgba(48, 214, 158, 0.7);
    box-shadow: 2px 2px 10px rgba(48, 214, 158, 0.4);
  }
}
.rd-btn.success2 {
  background-color: rgba(55, 135, 254, 1);
  border-color: rgba(55, 135, 254, 1);
  color: #fff;
  &:hover,
  &:focus {
    border: 0px;
    color: #fff;
    border-color: rgba(55, 135, 254, 1);
    background-color: rgba(55, 135, 254, 0.7);
  }
  &:active {
    border: 0px;
    color: #fff;
    border-color: rgba(55, 135, 254, 1);
    background-color: rgba(55, 135, 254, 0.7);
    box-shadow: 2px 2px 10px rgba(55, 135, 254, 0.4);
  }
}
.rd-btn.cancel {
  background-color: rgba(161, 176, 198, 1);
  border-color: rgba(161, 176, 198, 1);
  color: #fff;
  &:hover,
  &:focus {
    color: #fff;
    border-color: rgba(161, 176, 198, 1);
    background-color: rgba(161, 176, 198, 0.7);
  }
  &:active {
    color: #fff;
    border-color: rgba(161, 176, 198, 1);
    background-color: rgba(161, 176, 198, 0.7);
    box-shadow: 2px 2px 10px rgba(161, 176, 198, 0.4);
  }
}
.rd-btn.cancel1 {
  background-color: rgba(250, 250, 250, 1);
  border-color: rgba(250, 250, 250, 1);
  color: #666666;
  &:hover,
  &:focus {
    color: #666666;
    border-color: rgba(250, 250, 250, 1);
    background-color: rgba(250, 250, 250, 1);
  }
  &:active {
    color: #666666;
    border-color: rgba(250, 250, 250, 1);
    background-color: rgba(250, 250, 250, 1);
    box-shadow: 2px 2px 10px rgba(250, 250, 250, 0.5);
  }
}
.rd-btn.info {
  color: #fff;
  border-color: #2db7f5;
  background-color: #2db7f5;
  &:hover,
  &:focus {
    color: #fff;
    border-color: #2db7f5;
    background-color: rgba(45, 183, 245, 0.7);
  }
  &:active {
    color: #fff;
    border-color: #2db7f5;
    background-color: rgba(45, 183, 245, 0.7);
    box-shadow: 2px 2px 10px rgba(45, 183, 245, 0.4);
  }
}
.rd-btn:focus,
.rd-btn:hover {
  border: 0px;
  color: #57c5f7;
  background-color: rgb(250, 250, 250);
  border-width: 1px;
  border-color: #57c5f7;
}
.rd-btn.rd-btn-small {
  padding: 3px 3px;
  min-width: initial;
  font-size: 8px;
  line-height: 10px;
  min-width: initial;
}
.rd-btn.rd-btn-large {
  padding: 2px 15px;
  font-size: 14px;
}
.rd-btn.rd-btn-icon {
  width: 20px;
  min-width: initial;
  border-radius: 50%;
  height: 20px;
  line-height: 20px;
  padding: 0;
  i {
    margin-right: 0;
  }
}
@-webkit-keyframes loading {
  from {
    transform-origin: 50% 50%;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    transform-origin: 50% 50%;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes loading {
  from {
    transform-origin: 50% 50%;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    transform-origin: 50% 50%;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.rd-btn-loading {
  display: inline-block;
  animation: loading 1s infinite linear;
}
.rd-btn.rd-btn-disabled {
  color: #c3c3c3;
  background: #ececec;
  border-color: #cecece;
  cursor: not-allowed;
  &:hover {
    color: #a7a7a7;
    background: #ececec;
    border-color: #d9d9d9;
  }
}
.rd-btn-icon-only {
  font-size: 10px;
  line-height: 20px;
  vertical-align: baseline;
}
</style>
