<template>
  <div class="content-nav">
    <div class="banxin">
      <p
        v-for="(item, index) in list"
        :key="index + 'content-nav'"
        :class="list.length > 1 && index < list.length - 1 ? 'active' : 'none'"
        @click="routerGo(index, item.link)"
      >
        {{ item.text.indexOf(".") >= 0 ? $t(item.text) : item.text }}
        <i class="icon ion-chevron-right" v-if="index != list.length - 1"></i>
      </p>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    list: {
      type: Array,
      required: true
    }
  },
  data() {
    return {};
  },
  mounted() {
    // console.log(this.list, '=====');
  },
  methods: {
    routerGo(index, link) {
      if (link) {
        this.$router.push(link);
        return;
      }
      if (this.list.length >= 2) {
        if (this.list.length - 1 != index) {
          // console.log(-(this.list.length - 1 - index))
          this.$router.go(-(this.list.length - 1 - index));
        } else {
          // 点击最后一个无效
        }
      } else {
        // 1 项的时候 点击无效
      }
    }
  }
};
</script>
<style lang="scss" scoped>
.content-nav {
  height: 80px;
  background: var(--font-color25);
  .banxin {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    p {
      font-size: 20px;
      line-height: 28px;
      color: var(--font-color05);
      &.active {
        cursor: pointer;
        &:hover {
          color: var(--font-color02) !important;
        }
      }
      position: relative;
      &:not(:last-child) {
        margin-right: 10px;
        // margin-right: 20px;
        // &::after {
        //   content: "";
        //   width: 1px;
        //   height: 20px;
        //   position: absolute;
        //   top: 4px;
        //   right: -10px;
        //   transform: rotate(20deg);
        //   background: var(--font-color05);
        // }
      }
    }
  }
}
</style>
