<template>
  <div class="go" :class="border ? 'border' : ''">
    <router-link :to="link">{{ text }}</router-link>
  </div>
</template>
<script>
export default {
  name: "Go",
  props: {
    text: String,
    link: String,
    border: {
      type: Boolean,
      default: false
    }
  }
};
</script>
<style lang="scss" scoped>
.go {
  // width: 100px;
  // height: 40px;
  background: var(--font-color03);
  &.border {
    border: 1px solid #3787fe;
  }
  padding: 3px 4px;
  // border: 1px solid var(--font-color02);
  opacity: 1;
  border-radius: 3px;
  color: #3787fe;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--font-size16);
  line-height: 22px;
  a {
    color: #3787fe !important;
  }
}
</style>
