<template>
  <img ref="imgRef" :src="src" :data-real="srcReal" alt="" />
</template>
<script>
export default {
  name: "ImgCom",
  props: {
    src: String,
    srcReal: String
  },
  data() {
    return {};
  },
  mounted() {
    let img = new Image();
    img.src = this.srcReal;
    switch (img.complete) {
      case true:
        this.$refs.imgRef.src = this.srcReal;
        break;
      case false:
        img.onload = () => {
          this.$refs.imgRef.src = this.srcReal;
        };
        // onload这东西对 ie 失效
        setTimeout(() => {
          this.$refs.imgRef.src = this.srcReal;
        }, 1000);
        // console.log(img.complete);
        break;
    }
  },
  methods: {}
};
</script>
