<template>
  <input
    :type="type"
    @input="handleInput"
    @keyup="handleBlur"
    @keydown.enter="huiChe"
    :value="defaultValue"
    :placeholder="placeholder"
    ref="a_input"
  />
</template>

<script>
import Emitter from "../utils/emitter";
export default {
  name: "aiInput",
  mixins: [Emitter],
  props: {
    value: {
      type: [String, Number],
      default: ""
    },
    type: {
      type: String,
      default: "text"
    },
    placeholder: {
      type: String,
      default: ""
    },
    disabled: {
      type: Boolean,
      default: false
    },
    setEye: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      defaultValue: this.value
    };
  },
  watch: {
    value(val) {
      this.defaultValue = val;
    },
    disabled: {
      handler(n) {
        console.log(n);
        if (n) {
          this.$refs["a_input"].setAttribute("disabled", "disabled");
        } else {
          this.$refs["a_input"].removeAttribute("disabled");
        }
      }
      // immediate: true
    }
  },
  mounted() {
    this.setAttributeFun(this.disabled);
  },
  methods: {
    huiChe(e) {
      e.preventDefault();
    },
    setAttributeFun(n) {
      if (n) {
        this.$refs["a_input"].setAttribute("disabled", "disabled");
      } else {
        this.$refs["a_input"].removeAttribute("disabled");
      }
    },
    /**
     * change 事件
     * @param event
     */
    handleInput(event) {
      // 当前model 赋值
      this.defaultValue = event.target.value;
      // vue 原生的方法 return 出去
      this.$emit("input", event.target.value);
      // 将当前的值发送到 aiFormItem 进行校验
      this.dispatch("aiFormItem", "on-form-change", event.target.value);
    },
    /**
     * blur 事件 改成了 keyup
     * @param event
     */
    handleBlur(event) {
      // vue 原生的方法 return 出去
      this.$emit("blur", event.target.value);
      // 将当前的值发送到 aiFormItem 进行校验
      this.dispatch("aiFormItem", "on-form-blur", event.target.value);
    }
  }
};
</script>
<style lang="scss" scoped>
input {
  padding-left: 15px;
  box-sizing: border-box;
  width: 100%;
  font-size: var(--font-size16);
}
</style>
