<template>
  <!-- 拦截弹窗 -->
  <div class="intercept-popup">
    <div class="item">
      <p class="img"></p>
      请先设置资金密码
    </div>
    <div class="item">
      <p class="img"></p>
      请先完成身份认证
    </div>
    <div class="item">
      <p class="img"></p>
      完成至少两项账号安全绑定(1/3)
    </div>
    <div class="item">
      <p class="img"></p>
      请添加并激活至少一种当前国家的收款方式
    </div>
  </div>
</template>
<script>
import { mapGetters } from "vuex";
export default {
  props: {
    type: {
      type: String, // 是在什么场景下调用的 addPayMethods 新增收款方式
      default: () => {
        return "addPayMethods";
      }
    }
  },
  data() {
    return {};
  },
  computed: {
    ...mapGetters(["user"])
  }
};
</script>
<style lang="scss" scoped>
.intercept-popup {
  .item {
    .img {
      width: 20px;
      height: 20px;
      background: rgba(252, 115, 115, 1);
    }
  }
}
</style>
