<template>
  <div class="querys-comp skt-loading">
    <div
      class="query-top"
      v-show="paramsTopLeft.length != 0 || paramsTopRight.length != 0"
    >
      <div class="top-left" :style="{ 'justify-content': topLeftAlign }">
        <div
          class="top-left-item"
          v-for="(item, index) in paramsTopLeft"
          :key="index + 'top-left'"
          :class="
            index == paramsTopLeft.length - 1
              ? 'end ' + $i18n.locale
              : '' + $i18n.locale
          "
        >
          <div
            v-if="
              item.options != undefined && item.label == undefined
                ? true
                : false
            "
            class="top-nav"
          >
            <div
              class="item-nav"
              v-for="(ite, ind) in item.options"
              :key="ind + 'item-nav'"
              :class="
                ite.value == querys[item.key]
                  ? 'active ' + $i18n.locale
                  : 'none ' + $i18n.locale
              "
              @click="querys[item.key] = ite.value"
            >
              <!-- {{
                ite.label.indexOf(".") >= 0
                  ? $t(ite.label).toUpperCase()
                  : $i18n.locale == "en" && ite.label == "全部"
                  ? "All"
                  : ite.label.toUpperCase()
              }} -->
              {{
                ite.label.indexOf(".") >= 0
                  ? $t(ite.label)
                  : $i18n.locale == "en"
                  ? ite.elabel !== undefined
                    ? ite.elabel
                    : ite.label
                  : ite.label
              }}
              <div v-show="ite.num != undefined && ite.num != 0" class="point">
                {{ ite.num }}
              </div>
            </div>
          </div>
          <ai-input
            v-if="
              item.options == undefined && item.btn == undefined ? true : false
            "
            v-model="querys[item.key]"
          ></ai-input>
          <base-select
            v-if="
              item.options != undefined && item.label != undefined
                ? true
                : false
            "
            :key="index + 'base-select'"
            :data="item.options"
            :val="querys[item.key]"
            set="querys.merchantId"
            value="id"
            :label="$i18n.locale == 'en' ? 'name' : 'name'"
            :home="false"
            color="#666666"
            class="selec_type_one"
          ></base-select>
        </div>
        <div class="deposit" v-show="deposit" @click="depositFun">
          <img src="../assets/images/orderPay/zu 959@2x.png" alt="" />
          {{ $t("pay_order.invite") }}
        </div>
      </div>
      <div class="top-right">
        <div
          class="top-right-item"
          v-for="(item, index) in paramsTopRight"
          :key="index + 'top-right'"
        >
          <base-select
            v-if="
              item.options != undefined && item.label != undefined
                ? true
                : false
            "
            :key="index + 'base-select'"
            :data="item.options"
            :val="querys[item.key]"
            :set="'querys.' + item.key"
            value="value"
            :label="$i18n.locale == 'en' ? 'label' : 'label'"
            :home="false"
            color="#666666"
            class="selec_type_one"
          ></base-select>
          <ai-input
            v-if="
              item.options == undefined && item.btn == undefined ? true : false
            "
            :class="topRightAds ? 'sm' : 'large'"
            v-model="querys[item.key]"
            :placeholder="$t(item.plac)"
          ></ai-input>
          <!-- input-icon -->
          <i
            v-if="
              item.options == undefined && item.btn == undefined ? true : false
            "
            :class="topRightAds ? 'sm' : 'large'"
            class="icon ion-ios-search-strong input-icon"
          ></i>
          <button
            v-if="item.btn != undefined"
            :class="item.clas"
            @click="reset"
          >
            <img v-show="item.src" :src="item.src" alt="" />
            {{ $t(item.label) }}
          </button>
        </div>
        <div
          class="top-right-item tradelist"
          :class="user.isCoiner == '1' ? 'sp' : 'end'"
          v-show="listAdPub"
        >
          <router-link to="/tradeOrderList"
            ><img src="../assets/images/trade/zu 388@2x.png" alt="" />
            {{ $t("trade.my_order") }}</router-link
          >
          <router-link v-if="user.isCoiner == '1'" to="/tradeAdsList"
            ><img src="../assets/images/trade/zu 387@2x.png" alt="" />
            {{ $t("trade.my_ad") }}</router-link
          >
          <router-link v-if="user.isCoiner == '1'" to="/tradeAdsDetail"
            ><img src="../assets/images/trade/zu 386@2x.png" alt="" />
            {{ $t("trade.my_release") }}</router-link
          >
        </div>
      </div>
    </div>
    <div
      class="query-bottom"
      v-show="
        paramsBottomLeft.length != 0 ||
          paramsBottomRight.length != 0 ||
          tradeSelect ||
          time
      "
    >
      <div class="bottom-left">
        <div class="load-box bottom-left-item" v-show="loadBLeft">
          <div class="bottom-nav">
            <div class="skeleton item"></div>
            <div class="skeleton item"></div>
            <div class="skeleton item"></div>
          </div>
        </div>
        <div
          class="bottom-left-item"
          v-for="(item, index) in paramsBottomLeft"
          :key="index + 'bottom-left'"
        >
          <div
            v-if="
              item.options != undefined && item.label == undefined
                ? true
                : false
            "
            class="bottom-nav"
            :key="index + 'bottom-nav'"
          >
            <div
              class="item-nav"
              v-for="(ite, ind) in item.options"
              :key="ind + 'item-nav'"
              :class="ite.value == querys[item.key] ? 'active' : 'none'"
              @click="querys[item.key] = ite.value"
            >
              {{
                ite.label.indexOf(".") >= 0
                  ? $t(ite.label).toUpperCase()
                  : $i18n.locale == "en" && ite.label == "全部"
                  ? "All"
                  : ite.label.toUpperCase()
              }}
            </div>
          </div>
        </div>
        <!-- trade order list 选择国家 -->
        <div class="bottom-left-item" v-if="tradeOrderAds && !loadBLeft">
          <div class="one" v-show="tradeType.length > 0">
            <base-select
              :data="tradeType"
              :val="querys['transactionType']"
              set="querys.transactionType"
              value="value"
              :label="$i18n.locale == 'en' ? 'elabel' : 'label'"
              :home="false"
              color="#666666"
              class="selec_type_one trade-one"
            ></base-select>
          </div>
          <div class="one" v-show="tradeTypeAds.length > 0">
            <base-select
              :data="tradeTypeAds"
              :val="querys['isBuy']"
              set="querys.isBuy"
              value="value"
              :label="$i18n.locale == 'en' ? 'elabel' : 'label'"
              :home="false"
              color="#666666"
              class="selec_type_one trade-one"
            ></base-select>
          </div>
          <div class="one">
            <base-select
              :data="country"
              :val="querys['countryInfoId']"
              set="querys.countryInfoId"
              value="id"
              :label="$i18n.locale == 'en' ? 'countryCode' : 'countryName'"
              :home="false"
              color="#666666"
              class="selec_type_one trade-one"
            ></base-select>
          </div>
          <div class="one lr">
            <base-select
              :data="legal"
              :val="querys['otcTradeCurrencyId']"
              set="querys.otcTradeCurrencyId"
              value="id"
              :label="$i18n.locale == 'en' ? 'coinName' : 'coinName'"
              :home="false"
              color="#666666"
              class="selec_type_one trade-one"
            ></base-select>
            <!-- icon -->
            <i class="icon ion-arrow-swap"></i>
          </div>
          <div class="one lr">
            <base-select
              :data="cointype"
              :val="querys['coinTypeId']"
              set="querys.coinTypeId"
              value="value"
              :label="$i18n.locale == 'en' ? 'label' : 'label'"
              :home="false"
              color="#666666"
              class="selec_type_one trade-one"
            ></base-select>
          </div>
        </div>
      </div>
      <div class="bottom-right" :class="time ? 'time' : ''">
        <template v-for="(item, index) in paramsBottomRight">
          <base-select
            v-if="
              item.options != undefined && item.label != undefined
                ? true
                : false
            "
            :key="index + 'base-select'"
            :data="item.options"
            :val="querys[item.key]"
            set="querys.timeTag"
            value="value"
            :label="$i18n.locale == 'en' ? 'eLabel' : 'label'"
            :home="false"
            hover="#3787FE"
            class="time-tag"
          ></base-select>
        </template>
        <DatePicker
          :class="paramsBottomRight.length > 0 ? 'time-tag-d' : ''"
          v-show="time"
          v-model="querys['dateRange'][0]"
          :placeholder="$t('infoAll.start_time')"
          type="datetime"
          :option="{ end: querys['endTime'] }"
        ></DatePicker>
        <span
          v-show="time"
          :class="paramsBottomRight.length > 0 ? 'time-tag-span' : ''"
          >-</span
        >
        <DatePicker
          :class="paramsBottomRight.length > 0 ? 'time-tag-d' : ''"
          v-show="time"
          v-model="querys['dateRange'][1]"
          :placeholder="$t('infoAll.end_time')"
          type="datetime"
          :option="{ start: querys['startTime'] }"
        ></DatePicker>
        <div
          v-show="tradeSelect"
          class="trade-select"
          @click="toggleFun"
          ref="trade_box"
        >
          <div class="left-info">
            <p>
              {{
                country.filter(item => {
                  if (item.id == querys["countryInfoId"]) {
                    return item;
                  }
                })[0]
                  ? country.filter(item => {
                      if (item.id == querys["countryInfoId"]) {
                        return item;
                      }
                    })[0].countryName
                  : ""
              }}
            </p>
            <p>
              {{
                legal.filter(item => {
                  if (item.id == querys["tradeCoinType"]) {
                    return item;
                  }
                })[0]
                  ? legal.filter(item => {
                      if (item.id == querys["tradeCoinType"]) {
                        return item;
                      }
                    })[0].coinName
                  : ""
              }}
            </p>
            <p>
              {{
                payway.filter(item => {
                  if (item.value == querys["payWayType"]) {
                    return item;
                  }
                })[0]
                  ? payway.filter(item => {
                      if (item.value == querys["payWayType"]) {
                        return item;
                      }
                    })[0][$i18n.locale == "en" ? "elabel" : "label"]
                  : ""
              }}
            </p>
          </div>
          <div class="right-btn">
            <img src="../assets/images/trade/search.png" alt="" />
          </div>
          <div class="select-trade-modal" :class="active ? 'active' : 'none'">
            <div class="left-trade-select">
              <div class="one">{{ $t("trade.country") }}</div>
              <div class="one">{{ $t("trade.trade") }}</div>
              <div class="one">{{ $t("trade.pay") }}</div>
            </div>
            <div class="right-trade-select">
              <div class="one">
                <base-select
                  :data="country"
                  :val="querys['countryInfoId']"
                  set="querys.countryInfoId"
                  value="id"
                  :label="$i18n.locale == 'en' ? 'countryCode' : 'countryName'"
                  :home="false"
                  color="#666666"
                  class="selec_type_one trade-one"
                ></base-select>
              </div>
              <div class="one">
                <base-select
                  :data="legal"
                  :val="querys['tradeCoinType']"
                  set="querys.tradeCoinType"
                  value="id"
                  :label="$i18n.locale == 'en' ? 'coinName' : 'coinName'"
                  :home="false"
                  color="#666666"
                  class="selec_type_one trade-one"
                ></base-select>
              </div>
              <div class="one">
                <base-select
                  :data="payway"
                  :val="querys['payWayType']"
                  set="querys.payWayType"
                  value="value"
                  :label="$i18n.locale == 'en' ? 'elabel' : 'label'"
                  :home="false"
                  color="#666666"
                  class="selec_type_one trade-one"
                ></base-select>
              </div>
              <div class="one" v-show="querys['payWayType'] == '0'">
                <base-select
                  :data="paylist"
                  :val="querys['receiptWayTypes']"
                  set="querys.receiptWayTypes"
                  value="id"
                  :label="$i18n.locale == 'en' ? 'label' : 'cardName'"
                  :home="false"
                  color="#666666"
                  class="selec_type_one trade-one"
                ></base-select>
              </div>
              <div class="one" v-show="querys['payWayType'] == '1'">
                <base-select
                  :data="paylist"
                  :val="querys['giftCardId']"
                  set="querys.giftCardId"
                  value="id"
                  :label="$i18n.locale == 'en' ? 'cardName' : 'cardName'"
                  :home="false"
                  color="#666666"
                  class="selec_type_one trade-one"
                ></base-select>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import AiInput from "./input";
import BaseSelect from "./BaseSelect";
import { catIn } from "../utils/index";
import { mapGetters } from "vuex";
export default {
  name: "ListQuerys",
  components: {
    AiInput,
    BaseSelect
  },
  model: {
    prop: "querys",
    event: "exportFun"
  },
  props: {
    querys: {
      type: Object,
      default: () => ({})
    },
    paramsTopLeft: {
      type: Array,
      default: () => []
    },
    paramsTopRight: {
      type: Array,
      default: () => []
    },
    paramsBottomLeft: {
      type: Array,
      default: () => []
    },
    paramsBottomRight: {
      type: Array,
      default: () => []
    },
    expand: {
      type: Boolean,
      default: () => false
    },
    styleSheet: {
      type: Object,
      default: () => ({})
    },
    inline: {
      type: Boolean,
      default: () => true
    },
    poperClass: {
      type: String,
      default: () => ""
    },
    topLeftAlign: {
      type: String,
      default: () => "flex-start"
    },
    time: {
      // 是否有时间选择
      type: Boolean,
      default: () => false
    },
    deposit: {
      // 时候有复制链接
      type: Boolean,
      default: () => false
    },
    listAdPub: {
      // trade 是否显示  我的订单-我的广告-发布广告按钮
      type: Boolean,
      default: () => false
    },
    tradeSelect: {
      //trade 页面 国家，交易货币支付方式组合选择
      type: Boolean,
      default: () => false
    },
    loadBLeft: {
      // 左下是否有加载loading 状态
      type: Boolean,
      default: () => false
    },
    country: {
      type: Array,
      default: () => []
    },
    legal: {
      type: Array,
      default: () => []
    },
    payway: {
      type: Array,
      default: () => []
    },
    paylist: {
      type: Array,
      default: () => []
    },
    tradeOrderAds: {
      // 我的广告和 我的 交易订单 查询调价
      type: Boolean,
      default: () => false
    },
    cointype: {
      type: Array,
      default: () => []
    },
    tradeType: {
      type: Array,
      default: () => []
    },
    tradeTypeAds: {
      type: Array,
      default: () => []
    },
    topRightAds: {
      // 我的广告，为了 querys 右上侧的选择框 和  输入 宽度调整
      type: Boolean,
      default: () => false
    }
  },
  data() {
    return {
      active: false
    };
  },
  computed: {
    ...mapGetters(["user"])
  },
  mounted() {
    window.addEventListener("click", this.toggleFun, false);
  },
  beforeDestroy() {
    window.removeEventListener("click", this.toggleFun);
  },
  methods: {
    reset() {
      // this.$emit("exportFun", {});
      this.$parent.exportFun();
    },
    depositFun() {
      this.$parent.depositFun();
    },
    toggleFun(e) {
      if (!catIn(e.target, this.$refs.trade_box)) {
        // console.log("点击");
        this.active = false;
      } else {
        // console.log('ziji')
        this.active = true;
      }
    }
  }
};
</script>
<style lang="scss" scoped>
.querys-comp {
  input {
    // height: 60px;
    height: 42px;
    border: 0px solid red !important;
    // width: 300px;
  }
  input {
    // background: #ffffff !important;
    height: 60px;
  }
  .selec_type_one {
    width: 200px;
    height: 60px;
    background: #f2f2f2;
    border-radius: 3px;
  }
  button {
    height: 42px;
    font-size: 20px;
    color: var(--font-color03);
    &.export {
      width: 120px;
      height: 60px;
      background: rgba(var(--font-color26), 1);
      border-radius: 3px;
    }
  }
  .load-box {
    .bottom-nav {
      background: rgba(242, 242, 242, 0.4) !important;
    }
    .item {
      width: 150px;
      height: 40px;
      &:not(:last-child) {
        margin-right: 15px;
      }
    }
  }
  .query-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 22px;
    .top-left-item {
      &:not(:last-child) {
        margin-right: 50px;
      }

      .top-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .item-nav {
          font-size: 30px;
          font-weight: 800;
          line-height: 42px;
          color: var(--font-color29);
          position: relative;
          .point {
            position: absolute;
            top: -10px;
            right: -3px;
            width: 20px;
            height: 20px;
            background: rgba(240, 91, 95, 1);
            border-radius: 50%;
            font-size: 11px;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
          }
          &:not(:last-child) {
            margin-right: 50px;
          }
          &.en {
            margin-right: 25px;
            &:not(:last-child) {
              margin-right: 25px;
            }
          }
          &.none {
            cursor: pointer;
          }
          &.active {
            color: var(--color-black);
            position: relative;
            &::after {
              content: "";
              position: absolute;
              left: 0px;
              bottom: -10px;
              height: 10px;
              background: #3787fe;
              border-radius: 3px;
              width: 100%;
            }
          }
        }
      }
    }
    .top-left {
      display: flex;
      // justify-content: flex-start;
      justify-content: space-between;
      align-items: center;
      flex: 1;
      margin-right: 60px;
      .top-left-item {
        &.end {
          margin-right: 0px;
        }
      }
      .deposit {
        width: 230px;
        height: 60px;
        background: url("../assets/images/orderPay/zu 965@2x.png") no-repeat;
        background-size: cover;
        font-size: 16px;
        color: #f3f8ff;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        box-shadow: 0px 3px 5px rgba(55, 135, 254, 0.3);
        &:hover {
          box-shadow: 0px 8px 15px rgba(55, 135, 254, 0.5);
        }
        img {
          width: 25px;
          height: 25px;
          margin-right: 5px;
        }
      }
    }
    .top-right {
      width: 440px;
      box-sizing: border-box;
      display: flex;
      justify-content: flex-end;
      // justify-content: space-between;
      align-items: center;
      input {
        margin-right: 20px;
        width: 300px;
        &.sm {
          width: 270px;
          margin-right: 0px;
        }
        box-sizing: border-box;
        padding-right: 35px;
      }
      button {
        img {
          width: 20px;
          height: 20px;
        }
      }
      .tradelist {
        width: 100%;
        display: flex;
        &.sp {
          justify-content: space-between;
        }
        &.end {
          justify-content: flex-end;
        }
        align-items: center;
        a {
          font-size: 20px;
          color: #666666;
          img {
            width: 30px;
            height: 30px;
          }
          &:not(:last-child) {
            margin-right: 20px;
          }
        }
      }
      .top-right-item {
        .select_diy.selec_type_one {
          width: 140px;
          margin-right: 30px;
        }
        position: relative;
        .input-icon {
          position: absolute;
          right: 30px;
          width: 25px;
          height: 60px;
          &.sm {
            right: 5px;
          }
          &.active {
            z-index: -1;
          }
          &::before {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            font-size: 25px;
          }
        }
      }
    }
  }
  .query-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 22px;
    .bottom-left {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex: 1;
      margin-right: 60px;
      box-sizing: border-box;
      .bottom-left-item {
        width: 100%;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        .one {
          .select_diy,
          .selec_type_one,
          .trade-one {
            width: 140px;
          }
          box-sizing: border-box;
          position: relative;
          &:not(:last-child) {
            margin-right: 20px;
          }
          &.lr {
            .select_diy.selec_type_one.trade-one {
              width: 185px;
            }
          }
          .icon.ion-arrow-swap {
            position: absolute;
            right: -30px;
            top: 30px;
            transform: translateY(-50%);
            &::before {
              font-size: 10px;
            }
          }
        }
        .bottom-nav {
          flex: 1;
          box-sizing: border-box;
          padding: 10px 15px;
          height: 60px;
          background: var(--font-color17);
          opacity: 1;
          border-radius: 3px;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          font-size: 16px;
          color: #999999;
          .item-nav {
            &:not(:last-child) {
              margin-right: 30px;
            }
            font-size: 16px;
            display: flex;
            justify-content: center;
            align-items: center;
            &.none {
              color: var(--color-gray);
              cursor: pointer;
            }
            &.active {
              height: 40px;
              background: rgba(var(--font-color26), 1);
              box-shadow: 0px 3px 5px rgba(55, 135, 254, 0.5);
              opacity: 1;
              border-radius: 3px;
              padding: 10px 14px;
              box-sizing: border-box;
              color: var(--font-color03);
            }
          }
        }
      }
    }
    .bottom-right {
      width: 440px;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 60px;
      background: #f2f2f2;
      opacity: 1;
      border-radius: 3px;
      &.time {
        justify-content: space-between;
        padding: 0px 10px;
      }
      .h-datetime.h-datetime-input-border {
        background: #ffffff !important;
        width: 170px;
        &.time-tag-d {
          width: 130px;
        }
        .h-input {
          input {
            background: #ffffff !important;
          }
        }
      }
      div.time-tag {
        // width: 130px;
        // width: 150px;
        width: 140px;
        height: 30px;
      }
      span {
        margin: 0px 30px;
        &.time-tag-span {
          margin: 0px 0.5px;
        }
      }

      .trade-select {
        height: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        box-sizing: border-box;
        padding: 0px 15px;
        position: relative;
        .left-info {
          display: flex;
          flex: 1;
          p {
            height: 40px;
            padding: 0px 14px;
            background: rgba(255, 255, 255, 1);
            box-shadow: 0px 0px 5px rgba(204, 204, 204, 0.3);
            opacity: 1;
            border-radius: 3px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 16px;
            color: #3787fe;
            &:not(:last-child) {
              margin-right: 10px;
            }
          }
        }
        .right-btn {
          img {
            width: 25px;
            height: 25px;
            cursor: pointer;
            &:hover {
              // filter: grayscale(1);
              filter: brightness(70%);
            }
          }
        }
        .select-trade-modal {
          position: absolute;
          top: 55px;
          left: 0px;
          width: 100%;
          z-index: 1;
          // height: 380px;
          background: rgba(255, 255, 255, 1);
          box-shadow: 0px 5px 10px rgba(55, 135, 254, 0.3);
          opacity: 1;
          border-radius: 3px;
          &.active {
            animation: 0.3s heightAll ease-in;
            animation-fill-mode: forwards !important;
            padding: 30px;
            transform-origin: top right;
          }
          &.none {
            animation: 0.3s heightIn ease-out;
            animation-fill-mode: forwards !important;
            padding: 0px;
            transform-origin: top right;
          }
          display: flex;
          justify-content: space-between;
          .one {
            margin-bottom: 35px;
            height: 40px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            color: #666666;
            .trade-one {
              width: 240px;
              height: 40px;
              font-size: 16px;
              color: #222222 !important;
              position: relative;
              display: block;
            }
          }
          .left-trade-select {
            width: 150px;
            font-size: 16px;
          }
          .right-trade-select {
            // flex: 1;
            width: 240px;
          }
        }
        @keyframes heightAll {
          0% {
            transform: scale(0);
          }
          100% {
            transform: scale(1);
          }
        }
        @keyframes heightIn {
          0% {
            transform: scale(1);
          }
          100% {
            transform: scale(0);
          }
        }
      }
    }
  }
}
</style>
