<template>
  <div class="login-history">
    <div class="hs-header">
      <div class="text">
        <h3>{{ $t("profile.login_history") }}</h3>
      </div>
      <div class="btn"></div>
    </div>
    <div class="hs-list skt-loading">
      <div class="hs-item head">
        <p class="time">{{ $t("profile.time") }}</p>
        <p class="way">{{ $t("profile.type") }}</p>
        <p class="ip">IP</p>
      </div>
      <template v-for="(item, index) in list" v-show="list.length > 0">
        <div :key="index" class="hs-item">
          <p class="time">{{ item.loginTime }}</p>
          <p class="way">{{ item.loginType }}</p>
          <p class="ip">{{ item.ip }}</p>
        </div>
      </template>
      <div class="skt-loading" v-if="loading && list.length === 0">
        <template v-for="(item, index) in 5">
          <div :key="index" class="hs-item skt">
            <p class="time skeleton"></p>
            <p class="way skeleton"></p>
            <p class="ip skeleton"></p>
          </div>
        </template>
      </div>
    </div>
  </div>
</template>
<script>
import { getLoginHistory } from "../api/login.history";
export default {
  data() {
    return {
      list: [],
      loading: false
    };
  },
  created() {
    this.initHistory();
  },
  methods: {
    initHistory() {
      this.loading = true;
      getLoginHistory().then(res => {
        // console.log(res);
        if (res.code === 200) {
          this.list = res.data;
        } else {
          this.$Notification.warning("", res.message, 2000);
        }
        this.loading = false;
      });
    }
  }
};
</script>
<style lang="scss" scoped>
.login-history {
  min-height: 450px;
  background: var(--font-color03);
  box-shadow: 0px 3px 10px rgba(var(--font-color26), 0.3);
  opacity: 1;
  border-radius: var(--raduis);
  margin: 40px 0px;
  box-sizing: var(--box-size-border);
  padding: 0px 30px;
  .hs-header {
    display: flex;
    justify-content: space-between;
    height: 80px;
    border-bottom: 1px solid var(--font-color17);
    .text {
      display: flex;
      align-items: center;
      h3 {
        font-size: var(--font-size20);
        color: var(--color-black);
      }
      p {
        color: var(--font-color05);
      }
    }
    .btn {
      display: flex;
      align-items: center;
      button {
        width: 95px;
        height: 40px;
        // background: rgba(48, 214, 158, 1);
        // box-shadow: 0px 3px 5px rgba(48, 214, 158, 0.5);
        // opacity: 1;
        border-radius: 3px;
        font-size: 16px;
        color: var(--font-color03);
      }
    }
  }
  .hs-list {
    .hs-item {
      height: 66px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0px 20px;
      box-sizing: var(--box-size-border);
      font-size: 16px;
      &.head {
        background: var(--font-color25);
        font-size: 16px;
        color: var(--color-black);
      }
      &:not(:last-child) {
        border-bottom: 1px solid var(--font-color17);
      }
      p {
        height: 22px;
      }
      .time {
        min-width: 100px;
        flex: 1;
        text-align: left;
      }
      .way {
        min-width: 200px;
        flex: 1;
      }
      .ip {
        min-width: 100px;
        flex: 1;
        text-align: right;
      }
      &.skt {
        p {
          flex: 1;
          &:not(:last-child) {
            margin-right: 50px;
          }
        }
      }
    }
  }
}
</style>
