<template>
  <div class="man-content">
    <div
      v-for="item in obj['list']"
      :class="
        item.identityIntactTag == true ? 'man-item active' : 'man-item unactive'
      "
      :key="item.id + 'md'"
      @click="reactPayee(item)"
    >
      <div class="man-top">
        <div class="man-icon">{{ item.surname.slice(0, 1).toUpperCase() }}</div>
        <h3>{{ item.surname + " " + item.name }}</h3>
      </div>
      <div class="man-bottom">
        <div class="bank-icon">
          <!-- require('../assets/images/layout/bank.png') -->
          <img
            :src="item.bankLogo"
            alt=""
            @error="
              e => {
                e.target.src = unload_src;
              }
            "
          />
        </div>
        <div class="bank-text">
          <p class="bank-name">{{ item.bankName }}</p>
          <p class="bank-account">
            {{ item.bankCardNumber.replace(/(\d{4})(?=\d)/g, "$1 ") }}
          </p>
        </div>
      </div>
      <div class="check" v-show="obj.item != null && obj.item.id == item.id">
        <img :src="check_src" alt="" />
      </div>
      <div class="un-all" v-show="item.identityIntactTag == false">
        未完善
      </div>
    </div>
  </div>
</template>
<script>
import { EventBus } from "../utils/index";
import Base64 from "../utils/base64";
export default {
  name: "ManItem",
  props: {
    obj: Object
  },
  data() {
    return {
      check_src: require("../assets/images/layout/check.png"),
      item: {
        text:
          "根据中国大陆银行合规要求，国际汇款需提供收款人身份证号码。请先完善收款人身份信息。",
        type: "peyeeinfo",
        add: false
      },
      unload_src: require("../assets/images/layout/unload.png")
    };
  },
  mounted() {
    // console.log(this)
  },
  methods: {
    reactPayee(item) {
      // console.log(this.$parent.modal.show=false)
      if (item.identityIntactTag == false) {
        this.$Modal.show = false;
        let t = setTimeout(() => {
          this.$Modal.confirmWithHTML(
            "温馨提示",
            this.item,
            () => {
              // this.$Notification.failed('你点击了确认', '你点击了确认你点击了确认你点击了确认你点击了确认你点击了确认', 5000)
              if (!item.identityIntactTag) {
                this.$router.push({
                  path: "/add",
                  query: {
                    key: Base64.encode(JSON.stringify(item))
                  }
                });
              }
            },
            () => {
              this.$Modal.show = false;
              setTimeout(() => {
                EventBus.$emit("payeelist");
              }, 300);
            },
            {
              cancelButton: {
                show: true,
                text: "选择其他收款人",
                type: "cancel"
              },
              confirmButton: {
                show: true,
                text: "立即完善",
                type: "primary"
              }
            }
          );
          clearTimeout(t);
        }, 500);
      } else {
        EventBus.$emit("payee", item);
        this.$parent.modal.show = false;
      }
    }
  }
};
</script>
<style lang="scss" scoped>
.man-content {
  // max-height: 380px;
  // overflow-y: auto;
  padding-bottom: 20px;
  position: relative;
}
.man-item {
  width: 540px;
  height: 130px;
  background: rgba(230, 230, 230, 1);
  border-radius: 5px;
  box-sizing: border-box;
  // box-sizing: content-box;
  // padding: 12px 30px;
  padding: 0px;
  margin-top: 20px;
  position: relative;
  transition: all 0.3s ease-in-out;
  &:nth-child(1) {
    margin-top: 0px;
  }

  .check {
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 50px;
    height: 50px;
  }
  .un-all {
    width: 70px;
    height: 35px;
    background: rgba(163, 167, 184, 1);
    opacity: 1;
    border-radius: 0px 5px 0px 5px;
    color: #ffffff;
    font-size: 14px;
    position: absolute;
    right: 0px;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .man-top {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 60px;
    padding: 0px 15px;
    .man-icon {
      width: 35px;
      height: 35px;
      background: rgba(57, 169, 255, 1);
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      // text-align: center;
      // line-height: 35px;
      color: white;
      font-size: 14px;
    }
    h3 {
      font-size: 20px;
      font-weight: 800;
      color: #0e1733;
      margin-left: 10px;
    }
    border-bottom: 1px solid rgba(237, 237, 241, 1);
  }
  .man-bottom {
    color: #0e1733;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 55px;
    padding: 0px 15px;
    .bank-icon {
      width: 20px;
      height: 20px;
      // background: blue;
      img {
        width: 20px;
        height: 20px;
      }
      margin-right: 5px;
    }
    div.bank-text {
      flex: 1;
      display: flex;
      justify-content: space-between;
      p {
        &.bank-name {
          // margin-right: 60px;
          // margin-right: 10px;
          font-size: 16px;
        }
        &.bank-account {
          // margin-left: 60px;
          // margin-left: 10px;
        }
      }
    }
  }
  &.active {
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    .man-top {
      border-bottom: 1px solid rgba(237, 237, 241, 1);
      .man-icon {
      }
    }
    &:hover {
      box-shadow: 0px 5px 10px rgba(57, 169, 255, 0.3);
      border: none;
    }
  }
  &.unactive {
    border: 1px solid #ededf1;
    &:hover {
      border: 1px solid rgba(57, 169, 255, 1);
      .un-all {
        // right: -0.6px;
        // top: 0.3px;
        // border-radius: 3px;
      }
    }
  }
}
</style>
