<template>
  <div class="nw-modal-container" v-if="show">
    <!-- 遮罩 -->
    <div class="nw-modal-mask"></div>
    <div class="nw-modal-wrapper">
      <div
        ref="nw_modal"
        class="nw-modal box_info_open"
        transition="modal-fade-in-down"
      >
        <p class="border"></p>
        <div class="nw-modal-header">
          <i class="rd-modal-header-close ion-close-round" v-if="closeShow" @click="cancel"></i>
          <slot name="header"></slot>
        </div>
        <div class="nw-modal-body">
          <slot name="body"></slot>
        </div>
        <div class="nw-modal-footer">
          <slot name="footer"></slot>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    object: {
      type: Object
    },
    headerShow: {
      type: Boolean,
      default: true
    },
    bodyShow: {
      type: Boolean,
      default: true
    },
    footerShow: {
      type: Boolean,
      default: true
    },
    callback: {
      type: Function
    },
    closeShow: {
      type: Boolean,
      default: true
    }
  },
  data() {
    return {
      show: false
    };
  },
  methods: {
    getStatus(n) {
      return !n.bind || !n.fund || !n.idAuth || !n.countryPm;
    },
    cancel() {
      this.$refs.nw_modal.classList.remove("box_info_open");
      this.$refs.nw_modal.classList.add("box_info_close");
      let t = setTimeout(() => {
        for (const key in this.object) {
          // eslint-disable-next-line no-prototype-builtins
          if (this.object.hasOwnProperty(key)) {
            this.object[key] = true;
          }
          this.$refs.nw_modal.classList.add("box_info_open");
        }
        this.show = false;
        clearTimeout(t);
      }, 800);
    }
  }
};
</script>
<style lang="scss" scoped>
.modal-fade-in-down-transition {
  animation-duration: 0.2s;
  animation-fill-mode: both;
}
.modal-fade-in-down-enter {
  animation-name: modalFadeInDown;
}
.modal-fade-in-down-leave {
  animation-name: modalFadeOutUp;
}
.box_info_close {
  animation: rightOut 1s;
}
.box_info_open {
  animation: rightIn 1s;
}
@keyframes rightIn {
  from {
    opacity: 0;
    background: white; // #red
    transform: translate3d(0%, -500%, 0);
  }
  to {
    opacity: 1;
    background: white;
    transform: translate3d(0%, -50%, 0);
  }
}
@keyframes rightOut {
  from {
    opacity: 1;
    background: white;
    transform: translate3d(0%, -50%, 0);
  }
  to {
    opacity: 0;
    background: white; // #red
    transform: translate3d(0%, -500%, 0);
  }
}
@keyframes modalFadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes modalFadeOutUp {
  from {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
  }
}
.nw-modal-container {
  .nw-modal-mask {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #373737;
    background-color: rgba(55, 55, 55, 0.2);
    height: 100%;
    z-index: 990;
    filter: alpha(opacity=50);
  }
  .nw-modal-wrapper {
    position: fixed;
    overflow: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000000;
    -webkit-overflow-scrolling: touch;
    outline: 0;
  }
  .nw-modal {
    position: relative;
    display: table; // 代替 width:fit-content; 兼容ie
    // width: fit-content; // ie 不兼容
    margin: 0 auto;
    top: 50%;
    transform: translateY(-50%);
    // background-color: #fafafa;
    background-color: var(--font-color27);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    &.large {
      // width: 45rem;
      width: 450px;
    }
    .border {
      height: 10px;
      border-radius: 3px 3px 1px 1px;
      // background: linear-gradient(
      //   90deg,
      //   rgba(57, 169, 255, 1) 0%,
      //   rgba(21, 79, 180, 1) 100%
      // );
      background: rgba(var(--font-color26), 1);
    }
    .nw-modal-header {
      font-size: 30px;
      padding: 30px 30px 25px 30px;
      // border-bottom: 1px solid #f3f3f3;
      color: #222222;
      text-align: left;
      font-weight: 800;
      display: flex;
      align-items: center;
      button {
        width: 150px;
        height: 40px;
        background: rgba(57, 169, 255, 1);
        box-shadow: 0px 3px 6px rgba(16, 107, 175, 0.3);
        opacity: 1;
        border-radius: 5px;
        font-size: 16px;
        color: #fff;
        margin-left: 5px;
        img {
          width: 28px;
          height: 28px;
        }
      }
    }
    .nw-modal-body {
      padding: 0px 30px;
      // min-height: 300px;
      // overflow-y: auto;
    }
    .nw-modal-footer {
      display: flex;
      justify-content: flex-end;
      padding: 10px 30px;
      &.pad {
        padding: 40px 30px;
      }
    }
  }
}
</style>
