<template>
  <div class="nav">
    <div class="banxin">
      <div class="list_set">
        <span
          @click="$route.path !== '/' ? $router.push('/') : ''"
          :class="$route.path !== '/' ? 'active' : ''"
          ><img src="../assets/images/logo/logo.png" alt=""
        /></span>

        <div id="nav"></div>
      </div>
      <div class="list_set list2">
        <chat-info></chat-info>
        <div class="line"></div>
        <div
          class="user-logined"
          @mouseenter="showUser = true"
          @mouseleave="showUser = false"
        >
          <div class="user-box">
            <img src="../assets/images/nav/zu 865@2x.png" alt="" />
            {{ $t("nav.user") }}
          </div>
          <div class="user-set-list" :class="showUser ? 'active' : 'none'">
            <div class="user-one" v-if="user">
              <div class="img">
                {{
                  user
                    ? user.username
                      ? user.username.slice(0, 1)
                      : user.phone.slice(0, 1)
                    : ""
                }}
              </div>
              <h3>
                {{ user ? (user.username ? user.username : user.phone) : "" }}
              </h3>
            </div>
            <li
              v-if="user"
              @click="
                $route.path !== '/profile'
                  ? $router.push({
                      path: 'profile',
                      replace: true
                    })
                  : ''
              "
            >
              {{ $t("nav.profile") }}
            </li>
            <li v-if="user" @click="logoutF">{{ $t("nav.logout") }}</li>
            <li v-if="!user" @click="logIn">{{ $t("nav.login") }}</li>
            <li v-if="!user" @click="goRegister">{{ $t("nav.rigister") }}</li>
          </div>
        </div>
        <div class="line"></div>
        <div class="icon">
          <base-select
            :data="dat"
            :sr="src"
            :val="val"
            set="val"
            key="value"
            value="value"
            label="label"
            :home="true"
          ></base-select>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import BaseSelect from "./BaseSelect";
import chatInfo from "./chatInfo";
import { mapGetters } from "vuex";
import { logoutByUsername } from "../api/login";
export default {
  components: {
    "base-select": BaseSelect,
    chatInfo
  },
  mounted() {
    // console.log(this.user,this.$route)
  },
  data() {
    return {
      dat: {
        list: [
          {
            value: "zh",
            label: "简体中文"
          },
          {
            value: "en",
            label: "English"
          }
        ]
      },

      src: require("../assets/images/nav/language_white.png"),
      showUser: false
    };
  },
  computed: {
    ...mapGetters(["user"]),
    val: {
      get() {
        return this.$i18n.locale;
      },
      set(n) {
        window.localStorage.setItem("localeLanguage", n);
        this.$i18n.locale = n;
      }
    }
  },
  methods: {
    logoutF() {
      logoutByUsername().then(() => {
        this.$store.dispatch("setUser", null);
        localStorage.setItem("token", "");
        this.$router.replace("/");
      });
    },
    logIn() {
      // console.log(this.$router)
      // this.$router.push({
      //   path: "/unlock/login",
      //   replace: true
      // });
      this.$router.replace("/unlock/login");
    },
    goRegister() {
      this.$router.push({
        path: "/unlock/register"
      });
    }
  }
};
</script>
<style lang="scss">
.nav {
  height: 60px;
  // background:var(--font-color07);
  background: rgba(25, 34, 84, 1);
  position: fixed;
  // position: absolute;
  top: 0px;
  width: 100%;
  z-index: var(--fixed-top);
  font-size: 14px;
  .banxin {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: inherit;
    padding: 0px 40px;
    box-sizing: border-box;
    .list_set {
      display: flex;
      height: inherit;
      flex: 1;
      justify-content: space-between;
      font-size: 14px !important;
      color: white !important;
      div.line {
        width: 0px;
        height: 20px;
        border: 1px solid rgba(255, 255, 255, 1);
        opacity: 0.4;
      }
      span {
        height: inherit;
        display: flex;
        align-items: center;
        color: var(--font-color03);
        img {
          width: 150px;
          height: 31.45px;
        }
        &.active {
          cursor: pointer;
        }
      }
      &.list2 {
        justify-content: flex-end;
        flex: 1;
        align-items: center;
        .icon {
          color: white !important;
          font-size: var(--font-size14);
          // padding: 0px 10px;
          // margin-left: 10px;
          .select_diy .select_top span.in {
            color: white !important;
            font-size: 14px !important;
          }
        }
        button {
          background: none;
          font-size: 14px;
          color: white;
          font-family: "PingFang SC";
          &.en {
            margin-left: 10px;
          }
        }
        .username {
          // font-size: 14px;
          padding: 0px 10px;
          :hover {
            cursor: pointer;
          }
        }
        .user-logined {
          position: relative;
          width: 110px;
          height: 59px;
          .user-box {
            height: inherit;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            img {
              width: 20px;
              height: 20px;
              margin-right: 5px;
            }
          }
          .user-set-list {
            width: 130px;
            position: absolute;
            top: 60px;
            left: 0px;
            background: rgba(255, 255, 255, 1);
            box-shadow: 0px 3px 5px rgba(55, 135, 254, 0.3);
            border-radius: 3px;
            color: #666666;
            padding: 4px 0px;
            transition: all 0.3s ease-in-out;
            transform-origin: top center;
            &.none {
              transform: scale(0);
            }
            &.active {
              transform: scale(1);
            }
            .user-one {
              padding: 10px 15px;
              border-bottom: 1px solid #e6e6e6;
              .img {
                width: 30px;
                height: 30px;
                background: rgba(161, 176, 198, 1);
                border-radius: 50%;
                color: white;
                font-size: 12px;
                font-weight: 800;
                display: flex;
                justify-content: center;
                align-items: center;
              }
              h3 {
                font-size: 14px;
                font-weight: 800;
                color: #222222;
                text-align: left;
                margin-top: 7px;
                word-wrap: break-word;
                word-break: break-all;
              }
            }
            li {
              height: 40px;
              font-size: 14px;
              font-weight: 400;
              padding: 0px 15px;
              display: flex;
              justify-content: flex-start;
              align-items: center;
              cursor: pointer;
              &:hover {
                background: rgba(243, 248, 255, 1);
                color: #3787fe;
              }
              &:not(:last-child) {
                border-bottom: 1px solid #e6e6e6;
              }
            }
          }
        }
      }
    }
  }

  #nav {
    height: inherit;
    display: flex;
    align-items: center;
    a {
      margin: 0px 15px;
      padding: 0px 6px;
      height: inherit;
      display: flex;
      justify-content: center;
      align-items: center;

      &.router-link-exact-active {
        color: var(--font-color02);
        position: relative;
        &::after {
          position: absolute;
          content: "";
          width: 100%;
          padding: 0px 10px;
          box-sizing: border-box;
          height: 5px;
          bottom: -2px;
          left: 0px;
          background: linear-gradient(
            90deg,
            var(--font-color02) 0%,
            var(--font-color06) 100%
          );
        }
      }
    }
  }
}
</style>
