<template lang="html">
  <div class="nav-real">
    <div class="nav-box">
      <router-link to="/trade">{{ $t("navitem.trade") }}</router-link>
      <router-link
        v-show="user && user.role != '2' && user.role != '0'"
        to="/order"
        >{{ $t("navitem.order") }}</router-link
      >
      <router-link to="/assets">{{ $t("navitem.assets") }}</router-link>
      <router-link to="/profile">{{ $t("navitem.profile") }}</router-link>
    </div>
    <!-- 这里可以添加公告-从后台获取 -->
  </div>
</template>
<script>
import { mapGetters } from "vuex";
export default {
  name: "NavItem",
  computed: {
    ...mapGetters(["user"])
  }
};
</script>
<style lang="scss" scoped>
.nav-real {
  height: 80px;
  background: rgba(242, 242, 242, 1);
  position: fixed;
  top: 60px;
  width: 100%;
  z-index: 10;
  transition: all 0.3s ease;
  border-bottom: 1px solid #cccccc;
  @keyframes up_down {
    0% {
      margin-top: -1000px;
    }
    97% {
      margin-top: 10px;
    }
    100% {
      margin-top: 0px;
    }
  }
  @keyframes down_up {
    0% {
      top: 0px;
    }
    97% {
      top: 10px;
    }
    100% {
      top: -2000px;
    }
  }
  @keyframes none_d {
    0% {
      display: none;
    }
    100% {
      display: none;
    }
  }
  &.active {
    height: 80px;
    animation: 0.3s up_down ease;
  }
  &.none {
    position: absolute;
    animation: 0.3s down_up ease;
  }
  .nav-box {
    width: 1300px;
    margin: 0 auto;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
    a {
      // margin: 0px 15px;
      padding: 0px 6px;
      height: 80px;
      display: flex;
      width: 180px;
      justify-content: center;
      align-items: center;
      font-size: 20px;
      line-height: 28px;
      font-weight: bold;
      box-sizing: var(--box-size-border) !important;
      &.router-link-exact-active {
        color: var(--font-color02) !important;
        position: relative;
        height: 78px;
        background: rgba(255, 255, 255, 1);
        border-top: 3px solid rgba(55, 135, 254, 1);
      }
    }
  }
}
</style>
