<style lang="scss" scoped>
// @import '../../css/index';
.rd-notification-container {
  position: fixed;
  top: 100px;
  right: 20px;
  z-index: 9999;
}
.rd-notification {
  position: relative;
  min-width: 200px;
  min-width: 380px;
  background-color: #fff;
  margin-right: 10px;
  border: 1px solid #eaf8fe;
  border-radius: 4px;
  padding: 10px 15px;
  margin-bottom: 10px;
  &.success,
  &.warning,
  &.failed,
  &.info {
    padding-left: 40px;
  }
  &.success {
    .rd-notification-icon {
      color: #87d068;
    }
  }
  &.info {
    .rd-notification-icon {
      color: #2db7f5;
    }
  }
  &.warning {
    .rd-notification-icon {
      color: #fa0;
    }
  }
  &.failed {
    .rd-notification-icon {
      color: #f50;
    }
  }
}
.rd-notification-title {
  font-size: 90px;
}
.rd-notification-content {
  color: #999;
  font-size: 80px;
  line-height: 1.5;
  margin: 0;
}
.rd-notification-close {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 5px;
  font-size: 25px;
  color: #ccc;
  cursor: pointer;
}
.rd-notification-close:hover {
  color: #969696;
}
.rd-notification-icon {
  position: absolute;
  top: 50%;
  font-size: 30px;
  left: 10px;
  margin-top: -7.5px;
  line-height: 15px;
}
.notification-transition {
  transition: opacity 0.5s ease;
}
.notification-enter {
  opacity: 0;
}
.notification-leave {
  opacity: 0;
  position: absolute;
}
.notification-move {
  transition: transform 0.5s cubic-bezier(0.55, 0, 0.1, 1);
}
@media screen and (max-width: 768px) {
  .rd-notification-container {
    top: 0;
    right: 0;
    width: 100%;
    padding: 10px 20px;
    box-sizing: border-box;
  }
  .rd-notification {
    width: 100%;
    box-sizing: border-box;
  }
}
</style>
<template>
  <div class="rd-notification-container" v-show="notifications.length">
    <div
      class="rd-notification"
      v-for="(item, ky) in notifications"
      :class="typeClass(item)"
      :key="ky"
      transition="notification"
    >
      <span class="rd-notification-icon" :class="iconClass(item)"></span>
      <span class="rd-notification-title">{{ item.title }}</span>
      <p class="rd-notification-content">{{ item.content }}</p>
      <span
        class="rd-notification-close ion-close-round"
        @click="closeItem(item)"
      ></span>
    </div>
  </div>
</template>
<script>
import { ICON_MAP } from "../utils";
export default {
  computed: {
    notifications() {
      return window.RADON_EVENT_BUS.RADON_NOTIFICATION;
    }
  },
  methods: {
    typeClass(item) {
      if (!item.type) {
        return {
          "rd-notification-info": true
        };
      }
      let classList = {};
      classList[item.type] = true;
      return classList;
    },
    iconClass(item) {
      if (!item.type || !ICON_MAP[item.type]) {
        return {
          "rd-notification-noicon": true
        };
      }
      let classList = {};
      classList[ICON_MAP[item.type]] = true;
      return classList;
    },
    closeItem(item) {
      this.notifications.$remove(item);
    }
  }
};
</script>
