<template>
  <div class="add-method-body" :class="$i18n.locale">
    <ai-form ref="formItems" :model="formValidate" :rules="ruleValidate">
      <div class="left">
        <div class="one">
          <ai-form-item :label="$t('profile.country')" prop="countryInfoId">
            <base-select
              :data="country"
              :val="formValidate.countryInfoId"
              set="formValidate.countryInfoId"
              value="id"
              :label="$i18n.locale == 'en' ? 'countryCode' : 'countryName'"
              :home="false"
              :color="sel_color"
              class="selec_type_one"
            ></base-select>
          </ai-form-item>
        </div>
        <div class="one">
          <ai-form-item :label="$t('profile.name')" prop="name">
            <ai-input class="selec_type_one" v-model="formValidate.name" />
          </ai-form-item>
        </div>
        <div class="one" v-show="formValidate.type === '0'">
          <ai-form-item
            :label="
              $t('profile.branch_name') + $t('profile.branch_name_optional')
            "
            prop="branchAccount"
          >
            <ai-input
              class="selec_type_one"
              v-model="formValidate.branchAccount"
            />
          </ai-form-item>
        </div>
        <div class="one" v-show="formValidate.type === '0'">
          <ai-form-item :label="$t('profile.fund_pass')" prop="payPassword">
            <ai-input
              type="password"
              class="selec_type_one"
              v-model="formValidate.payPassword"
            />
          </ai-form-item>
        </div>
        <div class="two" v-show="formValidate.type !== '0'">
          <ai-form-item :label="$t('profile.add_qrcode')" prop="qrCode">
            <Upload
              type="image"
              :src1="null"
              title="选择二维码"
              :uploadFun="uploadDone"
              class="imgU"
              ref="imgDom"
              size="large"
            ></Upload>
          </ai-form-item>
        </div>
      </div>
      <div class="right">
        <div class="one">
          <ai-form-item :label="$t('profile.payment')" prop="type">
            <base-select
              :data="payment"
              :val="formValidate.type"
              set="formValidate.type"
              value="value"
              :label="$i18n.locale == 'en' ? 'labelh' : 'label'"
              :home="false"
              :color="sel_color"
              class="selec_type_one"
            ></base-select>
          </ai-form-item>
        </div>
        <div class="one" v-show="formValidate.type === '1'">
          <ai-form-item :label="$t('profile.ali')" prop="alipayAccount">
            <ai-input
              class="selec_type_one"
              v-model="formValidate.alipayAccount"
            />
          </ai-form-item>
        </div>
        <div class="one" v-show="formValidate.type === '2'">
          <ai-form-item :label="$t('profile.wx')" prop="wxAccount">
            <ai-input class="selec_type_one" v-model="formValidate.wxAccount" />
          </ai-form-item>
        </div>
        <div class="one" v-show="formValidate.type !== '0'">
          <ai-form-item :label="$t('profile.fund_pass')" prop="payPassword">
            <ai-input
              type="password"
              class="selec_type_one"
              v-model="formValidate.payPassword"
            />
          </ai-form-item>
        </div>
        <div class="one" v-show="formValidate.type === '0'">
          <ai-form-item :label="$t('profile.bank_name')" prop="bankAccount">
            <ai-input
              class="selec_type_one"
              v-model="formValidate.bankAccount"
            />
          </ai-form-item>
        </div>
        <div class="one" v-show="formValidate.type === '0'">
          <ai-form-item
            :label="$t('profile.bank_account')"
            prop="bankCardNumber"
          >
            <ai-input
              class="selec_type_one"
              v-model="formValidate.bankCardNumber"
            />
          </ai-form-item>
        </div>
        <div class="one">
          <p style="color:transparent">占位</p>
          <ai-form-item>
            <div class="btn">
              <rd-button type="cancel1" :callBack="cancelFun">{{
                $t("infoAll.cancel")
              }}</rd-button>
              <rd-button
                :loading="loading"
                type="success2"
                :callBack="confirmFun"
                >{{ $t("infoAll.confirm") }}</rd-button
              >
            </div>
          </ai-form-item>
        </div>
      </div>
    </ai-form>
  </div>
</template>
<script>
import BaseSelect from "../components/BaseSelect.vue";
import rdButton from "../components/button";
import AiForm from "./form";
import AiFormItem from "./form-item";
import AiInput from "./input";
import Upload from "./Upload";
import { getMarketCountry, addPayMethods } from "../api/payMethods";
export default {
  components: {
    "base-select": BaseSelect,
    "rd-button": rdButton,
    AiInput,
    AiFormItem,
    AiForm,
    Upload
  },
  props: {
    callback: {
      type: Function
    }
  },
  created() {
    this.initCountry();
    this.setRule();
  },
  data() {
    return {
      formValidate: {
        countryInfoId: "",
        name: "",
        mail: "",
        branchAccount: "",
        payPassword: "",
        type: "0",
        bankAccount: "",
        bankCardNumber: "",
        alipayAccount: "",
        wxAccount: "",
        qrCode: ""
      },
      country: {
        list: []
      },
      payment: {
        list: []
      },
      sel_color: "#A3A7B8",
      loading: false
    };
  },
  watch: {
    "formValidate.type": {
      handler(n) {
        this.setRule();
        this.formValidate.qrCode = "";
        this.$refs.imgDom.src = null;
        if (n != "0") {
          this.formValidate.countryInfoId = "1";
        }
      }
    },
    "formValidate.countryInfoId": {
      handler(n) {
        if (n != "1") {
          this.formValidate.type = "0";
          this.payment.list = [
            {
              value: "0",
              label: "银行卡",
              labelh: "Bank"
            }
          ];
        } else {
          this.payment.list = [
            {
              value: "0",
              label: "银行卡",
              labelh: "Bank"
            },
            {
              value: "1",
              label: "支付宝",
              labelh: "AliPay"
            },
            {
              value: "2",
              label: "微信",
              labelh: "WeChat"
            }
          ];
        }
      },
      immediate: true
    }
  },
  methods: {
    setRule() {
      this.ruleValidate = {
        countryInfoId: [
          {
            required: true,
            type: "string",
            transform(value) {
              let base;
              if (value) {
                //在select中转换要加这个判断
                //因为select默认有一个空选项
                base = "" + value;
              }
              return base;
            },
            message: this.$t("form.country"),
            trigger: "blur"
          }
        ],
        type: [
          { required: true, message: this.$t("form.payment"), trigger: "blur" }
        ],
        name: [
          {
            required: true,
            message: this.$t("form.user_name"),
            trigger: "blur"
          },
          {
            // /(^[\u4e00-\u9fa5]{1}[\u4e00-\u9fa5\.·。]{1,15}[\u4e00-\u9fa5]{1}$)|(^[a-zA-Z]{1}[a-zA-Z\s]{0,20}[a-zA-Z]{1}$)/
            // eslint-disable-next-line no-useless-escape
            pattern: /(?:^[\u4e00-\u9fa5·]{2,16}$)|(^[a-zA-Z]{1}[a-zA-Z]{0,20}[\.\s]?[a-zA-Z]{1,10}$)/,
            message: this.$t("form.name_check")
          }
        ],
        bankAccount: [
          {
            required: this.formValidate.type === "0" ? true : false,
            message: this.$t("form.bank"),
            trigger: "blur"
          }
          // { pattern: /^[1-9]\d{9,29}$/, message: "请填写正确的格式" }
        ],
        payPassword: [
          {
            required: true,
            message: this.$t("form.fund_pass"),
            trigger: "blur"
          },
          {
            pattern: /^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{6,16}$/,
            message: this.$t("form.account_check")
          }
        ],
        branchAccount: [
          {
            required: false,
            message: this.$t("form.bank"),
            trigger: "blur"
          }
          // { pattern: /^[1-9]\d{9,29}$/, message: "请填写正确的格式" }
        ],
        bankCardNumber: [
          {
            required: this.formValidate.type === "0" ? true : false,
            message: this.$t("form.bank_account"),
            trigger: "blur"
          },
          { pattern: /^[1-9]\d{9,29}$/, message: this.$t("form.account_check") }
        ],
        alipayAccount: [
          {
            required: this.formValidate.type === "1" ? true : false,
            message: this.$t("form.ali"),
            trigger: "blur"
          },
          {
            pattern: /^[a-zA-Z][-_a-zA-Z0-9]{5,19}$/,
            message: this.$t("form.ali_check")
          }
        ],
        wxAccount: [
          {
            required: this.formValidate.type === "2" ? true : false,
            message: this.$t("form.wx"),
            trigger: "blur"
          },
          {
            pattern: /^[a-zA-Z][-_a-zA-Z0-9]{5,19}$/,
            message: this.$t("form.wx_check")
          }
        ],
        qrCode: [
          {
            required: this.formValidate.type !== "0" ? true : false,
            message: this.$t("form.qr_code"),
            trigger: "blur"
          }
        ]
      };
    },
    initCountry() {
      getMarketCountry().then(res => {
        if (res.code == 200) {
          this.country.list = res.data;
          this.formValidate.countryInfoId = res.data[0].id;
        }
      });
    },
    cancelFun(e) {
      e.preventDefault();
      this.callback(false);
    },
    confirmFun() {
      // console.log(this.formValidate.countryInfoId);
      //
      this.$refs.formItems.validate().then(valid => {
        if (valid) {
          // alert('submit!');
          // console.log("shayisi");
          this.loading = true;
          addPayMethods(this.formValidate).then(res => {
            console.log(res);
            if (res.code == 200) {
              this.loading = false;
              this.callback(false, true);
            } else {
              this.$Notification.failed("", res.message, 2000);
              this.callback(false);
            }
          });
        } else {
          console.log("error submit!!");
          return false;
        }
      });
    },
    changeButton() {
      this.$refs.formItems.resetFields(); // 清空方法
      this.$refs.formItems
        .validate() // 验证方法
        .then(res => {
          console.log(res);
        });
    },
    uploadDone(res, props) {
      console.log(res, props);
      if (res.code == 200) {
        this.formValidate.qrCode = res.data.url;
      }
    }
  }
};
</script>
<style lang="scss" scoped>
// 添加弹框
.add-method-body {
  display: flex;
  justify-content: space-between;
  .selec_type_one {
    width: 440px;
    height: 60px;
    background: rgba(242, 242, 242, 1);
    opacity: 1;
    border-radius: 3px;
    padding-right: 10px;
    box-sizing: border-box;
  }
  div.left {
    margin-right: 40px;
  }
  div.one {
    font-size: var(--font-size16);
    color: var(--color-black);
    line-height: 22px;
    height: 92px;
    margin-bottom: 30px;
    p {
      text-align: left;
      margin-bottom: 10px;
    }
    .btn {
      display: flex;
      justify-content: space-between;
      button {
        width: 200px !important;
        height: 60px;
        font-size: 16px;
      }
    }
  }
  div.two {
    height: 234px;
    // height: 244px;
    font-size: var(--font-size16);
    color: var(--color-black);
    line-height: 22px;
    p {
      margin-bottom: 10px;
    }
  }
}
</style>
