<template>
  <div class="pay_methods skt-loading">
    <div class="pw-header">
      <div class="text" :class="$i18n.locale">
        <h3>{{ $t("profile.payment") }}</h3>
        <p>
          {{ $t("profile.payment_de") }}
        </p>
      </div>
      <div class="btn">
        <rd-button type="success1" :callBack="toogleAdd">{{
          $t("profile.add")
        }}</rd-button>
      </div>
    </div>
    <div class="pw-list">
      <!-- 有数据的渲染 -->
      <template v-for="(item, index) in list">
        <div :key="index" class="pw-item">
          <div class="title">
            <img :src="item.logo" alt="" />
            <span>{{
              item.type === "0"
                ? $i18n.locale == "zh"
                  ? "银行卡"
                  : "Bank"
                : item.type === "1"
                ? $i18n.locale == "zh"
                  ? "支付宝"
                  : "aliPay"
                : $i18n.locale == "zh"
                ? "微信"
                : "weChat"
            }}</span>
          </div>
          <div class="center">
            <p>
              {{
                item.type === "0"
                  ? item.bankCardNumber
                  : item.type === "1"
                  ? item.alipayAccount
                  : item.wxAccount
              }}
            </p>
            <p class="name">
              {{ item.name }}
            </p>
            <p class="account-info">
              {{
                item.type === "0"
                  ? item.bankAccount +
                    (item.branchAccount === ""
                      ? ""
                      : "(" + item.branchAccount + ")")
                  : item.type === "1"
                  ? $i18n.locale == "zh"
                    ? "支付宝"
                    : "aliPay"
                  : $i18n.locale == "zh"
                  ? "微信"
                  : "weChat"
              }}
            </p>
          </div>
          <div class="btn-list">
            <my-switch
              :type="item.status"
              :obj="item"
              :index="index"
              :funcName="changFun"
            ></my-switch>
            <img
              @click="deletePayMethodsFun($event, { id: item.id })"
              src=""
              alt=""
            />
          </div>
        </div>
      </template>
      <!-- 返回为空 -->
      <div class="none" v-if="!loading && list.length === 0">
        <img src="../assets/images/profile/zu 631@2x.png" alt="" />
        <p>{{ $t("profile.no_add_payment") }}</p>
      </div>
      <!-- 加载中 -->
      <div class="skt-loading" v-if="loading && list.length === 0">
        <template v-for="(item, index) in 5">
          <div class="pw-item" :key="index">
            <div class="title">
              <img src="" alt="" class="skeleton circle" />
              <span class="skeleton">skeleton</span>
            </div>
            <div class="center">
              <p class="skeleton">skeleton skeleton</p>
              <p class="skeleton">skeleton skeleton skeleton skeleton</p>
              <p class="skeleton">skeleton skeleton skeleton skeleton</p>
            </div>
            <div class="btn-list">
              <button class="skeleton">skeleton</button>
              <img src="" alt="" class="skeleton" />
            </div>
          </div>
        </template>
      </div>
      <!-- .innerText.replace(/\s+/g, ' ') 突然想到一个快速复制的方式 -->
    </div>
    <!-- 触发检测权限弹窗 -->
    <modal ref="modal1">
      <div slot="body" class="Intercept" :class="$i18n.locale">
        <div class="info-item" v-show="object.fund == false ? true : false">
          <div class="left">
            <span>!</span>
            <p>{{ $t("infoAll.first_fund_pass") }}</p>
          </div>
          <router-link to="/fund-pass">{{ $t("infoAll.gset") }}</router-link>
        </div>
        <div class="info-item" v-show="object.idAuth == false ? true : false">
          <div class="left">
            <span>!</span>
            <p>{{ $t("infoAll.first_id_ver") }}</p>
          </div>
          <router-link to="/profile"
            ><p @click="$refs.modal1.show = false">
              {{ $t("infoAll.verification") }}
            </p></router-link
          >
        </div>
        <div class="info-item" v-show="object.bind == false ? true : false">
          <div class="left">
            <span>!</span>
            <p>{{ $t("infoAll.first_auth") }}(1/3)</p>
          </div>
          <router-link to="/profile">{{ $t("infoAll.gbind") }}</router-link>
        </div>
        <div
          class="info-item"
          v-show="object.countryPm == false ? true : false"
        >
          <div class="left">
            <span>!</span>
            <p>{{ $t("infoAll.first_pay") }}</p>
          </div>
          <router-link to="/profile">{{ $t("infoAll.gset") }}</router-link>
        </div>
      </div>
    </modal>
    <!-- 添加弹框 -->
    <modal ref="modal2">
      <div slot="header">
        {{ $t("profile.add_payment") }}
      </div>
      <div slot="body">
        <payment-add :callback="callBackModal"></payment-add>
      </div>
    </modal>
  </div>
</template>
<script>
import rdButton from "./button";
import mySwitch from "./Switch";
import Modal from "./Modal";
import { mapGetters } from "vuex";
import { checkPermissions } from "../utils/index";
import paymentAdd from "./PayMethodsAdd";
import {
  getPayMethods,
  changePayMethods,
  deletePayMethods
} from "../api/payMethods";
export default {
  components: {
    "rd-button": rdButton,
    "my-switch": mySwitch,
    "payment-add": paymentAdd,
    modal: Modal
  },
  created() {
    this.initList();
    // console.log(paymentAdd)
  },
  computed: {
    ...mapGetters(["user"])
  },
  data() {
    return {
      list: [],
      loading: true,
      item: {
        text: this.$t("profile.delete_pay"),
        type: "peyeeinfo",
        position: "teshu",
        border: false
      },
      object: {
        bind: true,
        fund: true,
        idAuth: true,
        countryPm: true
      },
      position: {}
    };
  },
  methods: {
    initList() {
      getPayMethods()
        .then(res => {
          //   console.log(res);
          this.list = res.data;
          this.loading = false;
        })
        .catch(res => {
          console.error(res);
          this.loadding = false;
        });
    },
    changFun(item, index, val) {
      //   console.log(item, index, val);
      return changePayMethods({ id: item.id, status: val }).then(res => {
        if (res.code != 200) {
          this.$Notification.warning("", res.message, 2000);
        } else {
          let t = setTimeout(() => {
            item.status = val;
            // this.initList();
            clearTimeout(t);
          }, 200);
        }
        return true;
      });
    },
    getMousePosition(event) {
      var x = 0;
      var y = 0;
      var doc = document.documentElement;
      var body = document.body;
      if (!event) event = window.event;
      if (window.pageYoffset) {
        //pageYoffset是Netscape特有
        x = window.pageXOffset;
        y = window.pageYOffset;
      } else {
        x =
          ((doc && doc.scrollLeft) || (body && body.scrollLeft) || 0) -
          ((doc && doc.clientLeft) || (body && body.clientLeft) || 0);
        y =
          ((doc && doc.scrollTop) || (body && body.scrollTop) || 0) -
          ((doc && doc.clientTop) || (body && body.clientTop) || 0);
      }
      x += event.clientX;
      // y += event.clientY;
      // 滚动情况下 y 坐标的处理
      y += event.clientY - document.querySelector("html").scrollTop;
      return { x: x, y: y };
    },

    deletePayMethodsFun(e, item) {
      let d = this.getMousePosition(e);
      this.item.x =
        d.x -
        ((window.innerWidth ? window.innerWidth : document.body.clientWidth) *
          600) /
          1950 +
        20; //  + 10 是为了向右 20
      // this.item.y = d.y - 20;
      this.item.y = d.y + 30;
      if (document.body.clientHeight - this.item.y < 230) {
        this.item.positArrow = "btm";
        // this.item.y = this.item.y - (this.item.x * 400) / 1950;
      } else {
        this.item.positArrow = "tp";
      }
      this.$Modal.show = false;
      this.item.text = this.$t("profile.delete_pay");
      this.$Modal.confirmWithHTML(
        this.$t("profile.delete_payment"),
        this.item,
        () => {
          return deletePayMethods(item).then(res => {
            if (res.code == 200) {
              this.$Notification.success("", res.message, 2000);
              this.initList();
            }
            return true;
          });
        },
        () => {
          this.$Modal.show = false;
        },
        {
          cancelButton: {
            show: true,
            text: this.$t("infoAll.cancel"),
            type: "",
            size: "large"
          },
          confirmButton: {
            show: true,
            text: this.$t("infoAll.confirm"),
            type: "success2",
            size: "large"
          }
        }
      );
      //   console.log(item);
    },
    getStatus(n) {
      return !n.fund || !n.idAuth;
    },
    async toogleAdd() {
      let object = await checkPermissions({ type: "pmAdd" }, this.user);
      // console.log(object);
      this.object = Object.assign(this.object, object);
      if (this.getStatus(object)) {
        this.$refs.modal1.show = true;
      } else {
        this.$refs.modal2.show = true;
      }
    },
    callBackModal(st, doInit) {
      // this.$refs.modal2.show = st;
      this.$refs.modal2.cancel(st);
      if (doInit) {
        this.initList();
      }
    }
  }
};
</script>
<style lang="scss" scoped>
.pay_methods {
  min-height: 450px;
  background: var(--font-color03);
  box-shadow: 0px 3px 10px rgba(var(--font-color26), 0.3);
  opacity: 1;
  border-radius: var(--raduis);
  margin: 40px 0px;
  box-sizing: var(--box-size-border);
  padding: 0px 30px;
  .pw-header {
    display: flex;
    justify-content: space-between;
    height: 80px;
    border-bottom: 1px solid var(--font-color17);
    .text {
      display: flex;
      align-items: center;
      h3 {
        font-size: var(--font-size20);
        color: var(--color-black);
        line-height: 22px;
      }
      p {
        color: var(--font-color05);
        line-height: 22px;
        font-size: var(--font-size16);
        text-align: left;
      }
      &.en {
        h3 {
          font-size: var(--font-size16);
        }
        p {
          font-size: var(--font-size14);
        }
      }
    }
    .btn {
      display: flex;
      align-items: center;
      button {
        width: 95px;
        height: 40px;
        // background: rgba(48, 214, 158, 1);
        // box-shadow: 0px 3px 5px rgba(48, 214, 158, 0.5);
        // opacity: 1;
        border-radius: 3px;
        font-size: 16px;
        color: var(--font-color03);
        box-shadow: 0px 3px 5px rgba(48, 214, 158, 0.5);
      }
    }
  }
  .pw-list {
    .none {
      margin-top: 5%;
      img {
        width: 210px;
        height: 140px;
      }
    }
    .pw-item {
      height: 66px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      div.title {
        flex: 2;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        img {
          width: 25px;
          height: 25px;
          margin-right: 25px;
        }
        span {
          color: var(--font-color05);
          font-size: var(--font-size16);
        }
      }
      border-bottom: 1px solid var(--font-color17);
      // &:not(:last-child) {
      //   border-bottom: 1px solid var(--font-color17);
      // }
      // &:first-child {
      //   border-bottom: 1px solid var(--font-color17);
      // }
      .center {
        flex: 5;
        display: flex;
        justify-content: flex-start;
        color: #666666;
        p {
          font-size: 16px;
        }
        p.name {
          margin: 0px 10px;
        }
      }
      .btn-list {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        height: 30px;
        button {
          width: 50px;
          height: 30px;
        }
        img {
          margin-left: 20px;
          width: 30px;
          height: 30px;
          cursor: pointer;
          background: url("../assets/images/profile/zu 613@2x.png");
          background-size: 30px 30px;
          &:hover {
            transform-origin: 0, 0;
            transform: scale(1.05);
            background: url("../assets/images/profile/zu 614@2x.png");
            background-size: 30px 30px;
          }
        }
      }
    }
  }
}
</style>
