<template>
  <div :class="'send_code ' + type + border + ' ' + can_send" @click="sendCode">
    {{ can_send ? text : t + " S" }}
  </div>
</template>
<script>
import { postCode } from "../api/login";
export default {
  name: "SendCode",
  props: {
    data: {
      type: Object,
      required: true
    },
    time: Number,
    type: {
      type: String,
      default: "primary "
    },
    border: {
      type: String,
      default: ""
    },
    callback: {
      type: Function,
      default: () => {}
    }
  },
  computed: {
    text: {
      get: function() {
        return this.$t("infoAll.get_code");
      }
    }
  },
  data() {
    return {
      // text: this.$t("infoAll.get_code"),
      can_send: true,
      t: 60,
      lockNum: 60,
      k: null
    };
  },
  methods: {
    sendCode() {
      if (!this.can_send) return false;
      // api
      this.can_send = false;
      // this.t = this.time;
      // console.log({ ...this.data });
      postCode(this.data).then(res => {
        if (res.code == 200) {
          this.$Notification.success("", "发送验证码成功", 1000);
        } else {
          this.$Notification.failed("", res.message, 2000);
          this.t = this.lockNum;
          this.can_send = true;
          clearTimeout(this.k);
        }
      });
      this.funcTime();
    },
    funcTime() {
      this.k = setTimeout(() => {
        if (this.t <= 0) {
          this.can_send = true;
          this.t = this.lockNum;
          return false;
        }
        --this.t;
        clearTimeout(this.k);
        this.funcTime();
      }, 1000);
    }
  }
};
</script>
<style lang="scss" scoped>
.send_code {
  width: inherit;
  vertical-align: bottom;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  box-sizing: border-box;
  &.primary {
    background: #f2f2f2;
    color: #3787fe;
    font-size: 13px;
    &.true {
      cursor: pointer;
    }
    &.false {
      background: var(--font-color14);
      color: var(--font-color01);
      cursor: not-allowed;
    }
  }
  &.bg {
    background: #3787fe;
    color: white;
    font-size: 13px;
    &.true {
      cursor: pointer;
    }
    &.false {
      background: var(--font-color14);
      color: var(--font-color01);
      cursor: not-allowed;
    }
  }
  &.borderLeft {
    &::before {
      content: "";
      position: absolute;
      left: 0px;
      top: 50%;
      height: 50%;
      width: 1px;
      transform: translateY(-50%);
      background: #cccccc;
    }
  }
}
</style>
