<template>
  <div class="switch-in" :class="loading ? 'load' : ''">
    <span class="load" v-show="loading">loading...</span>
    <span
      v-show="!loading"
      class="weui-switch"
      :class="{
        'weui-switch-on': obj.status === '1',
        'weui-switch-off': obj.status !== '1'
      }"
      :value="obj.status"
      @click="toggle"
    ></span>
  </div>
</template>

<script>
export default {
  props: {
    value: {
      type: String
    },
    obj: {
      type: Object,
      default: function() {
        return {};
      }
    },
    index: {
      type: Number,
      default: 0
    },
    funcName: {
      type: Function,
      default: function() {}
    }
  },
  created() {
    // console.log(this.value);
  },
  data() {
    return {
      me_checked: this.value,
      loading: false
    };
  },
  watch: {
    me_checked(val) {
      this.funcName(this.obj, this.index, val);
    }
  },
  methods: {
    toggle() {
      //   this.me_checked = this.me_checked === "0" ? "1" : "0";
      if (this.loading) {
        return;
      }
      this.loading = true;
      let val = this.obj.status === "0" ? "1" : "0";
      this.funcName(this.obj, this.index, val).then(() => {
        let t = setTimeout(() => {
          this.loading = false;
          clearTimeout(t);
        }, 200);
      });
    }
  }
};
</script>

<style lang="scss" scoped>
.switch-in {
  height: inherit;
  display: flex;
  align-items: center;
  position: relative;
  &.load {
    pointer-events: none;
  }
  span.load {
    // position: absolute;
    // right: 0px;
    // top: 0px;
    // height: 100%;
    // width: 100%;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // z-index: 10;
  }
}
.weui-switch {
  display: block;
  position: relative;
  width: 40px;
  height: 25px;
  border-radius: 16px;
  box-sizing: border-box;
  transition: background-color 0.1s, border 0.1s;
  cursor: pointer;
}
.weui-switch:before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 25px;
  border-radius: 30px;
  background-color: var(----font-color29);
  // transition: transform 0.35s cubic-bezier(0.45, 1, 0.4, 1);
}
.weui-switch:after {
  content: " ";
  position: absolute;
  top: -2.5px;
  left: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  box-sizing: border-box;
  border: 2px solid rgba(55, 135, 254, 1);
  background-color: #ffffff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  transition: transform 0.35s cubic-bezier(0.4, 0.4, 0.25, 1.35);
}
.weui-switch-on {
  border-color: #3787fe;
  background-color: #3787fe;
  border-radius: 16px;
}
.weui-switch-on:before {
  border-color: #3787fe;
  background-color: #3787fe;
  border-radius: 16px;
}
.weui-switch-on:after {
  transform: translateX(20px);
  border-radius: 16px;
}
.weui-switch-off:before {
  width: 40px;
  height: 25px;
  border: 1px solid #dfdfdf;
  outline: 0;
  border-radius: 16px;
  box-sizing: border-box;
  background-color: #dfdfdf;
  transform: translateX(10px);
}
</style>
