<template>
  <div class="file-upload">
    <div class="none" :class="size" v-show="src == null" @click="getClick">
      <div class="add-icon">+</div>
      <p>{{ title }}</p>
    </div>
    <input type="file" :accept="type + '/*'" ref="hrg" @change="uploadChange" />
    <img
      :src="src"
      alt=""
      :class="size"
      v-show="src != null"
      title="点击更换"
      @click="getClick"
    />
    <p class="process" :data-current="this.progress" v-show="src != null">
      <span :style="{ width: this.progress }">{{ this.progress }}</span>
    </p>
  </div>
</template>
<script>
import { imgUpload } from "../api/login";

export default {
  name: "FileUpload",
  props: {
    type: String,
    src1: String,
    uploadFun: Function,
    title: String,
    lock: String,
    param: String,
    size: String
  },
  data() {
    return {
      src: null,
      progress: 0
    };
  },
  methods: {
    getClick() {
      this.$refs.hrg.click();
    },
    uploadChange(e) {
      let file = e.target.files[0];
      var reader = new FileReader();
      reader.readAsDataURL(file);
      reader.onload = arg => {
        this.src = arg.target.result;
      };
      let param = new FormData();
      param.append("file", file);
      var config = {
        onUploadProgress: progressEvent => {
          var complete =
            (((progressEvent.loaded / progressEvent.total) * 100) | 0) + "%";
          if (complete == "100%") {
            let t = setTimeout(() => {
              this.progress = complete;
              clearTimeout(t);
            }, 1000);
          } else {
            this.progress = complete;
          }
        }
      };
      this.progress = 0;
      imgUpload(param, config).then(res => {
        // console.log(res)
        if (res.code == 200) {
          this.uploadFun(res, this.param);
          this.$Notification.success("", "上传成功", 2000);
        } else {
          this.$Notification.failed("上传失败", res.message, 2000);
        }
      });
    }
  }
};
</script>
<style lang="scss" scoped>
.file-upload {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  position: relative;
  // width: inherit;
  height: inherit;
  .none {
    width: inherit;
    background: rgba(230, 230, 230, 1);
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &.large {
      height: 160px;
      width: 160px;
    }
    .add-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      width: 50px;
      height: 50px;
      // background: rgba(57, 169, 255, 1);
      background: #a1b0c6;
      border-radius: 50%;
      cursor: pointer;
      font-size: 28px;
    }
    p {
      width: inherit;
      margin-top: 10px;
      padding: 0px 20px;
      font-size: 14px;
      line-height: 17px;
    }
  }
  input {
    position: absolute;
    z-index: -100;
    display: none;
  }
  img {
    width: inherit;
    height: inherit;
    // max-height: 155px;
    max-height: 165px;
    cursor: pointer;
    &.large {
      // width: 150px;
      // height: 150px;
      width: 160px;
      height: 160px;
    }
  }
  p.process {
    // position: absolute;
    // width: 100%;
    width: 160px;
    height: 25px;
    border: 0px solid transparent;
    box-sizing: border-box;
    background: rgba(128, 128, 128, 0.3);
    bottom: 0px;
    position: relative;
    border-radius: 5px;
    span {
      position: absolute;
      left: 0px;
      height: 25px;
      background: #3787fe;
      color: white;
      border-radius: 5px;
    }
  }
}
</style>
