<template>
  <div class="v-colum">
    <td>{{ item }}</td>
  </div>
</template>
<script>
export default {
  props: {
    item: Object,
    prop: String
  },
  mounted() {
    console.log(this.$props);
  }
};
</script>
<style lang="scss" scoped>
.v-colum {
}
</style>
