<template>
  <table class="table">
    <thead>
      <tr>
        <slot name="columns">
          <th v-for="column in columns" :key="column">{{ column }}</th>
        </slot>
      </tr>
    </thead>
    <tbody>
      <template v-for="item in data">
        <tr @click="item.expanded = !item.expanded" :key="item">
          <slot :row="item">
            <td
              v-for="(column, index) in columns"
              v-show="hasValue(item, column)"
              :key="index"
            >
              <i
                v-if="index === 0"
                class="fa fa-chevron-right arrow"
                :class="{ rotate: item.expanded }"
              ></i>
              {{ itemValue(item, column) }}
            </td>
          </slot>
        </tr>
        <tr v-if="item.expanded" :key="item">
          <td colspan="2"><p>Expanded</p></td>
        </tr>
      </template>
    </tbody>
  </table>
</template>
<script>
export default {
  name: "l-table",
  props: {
    columns: Array,
    data: Array
  },
  methods: {
    hasValue(item, column) {
      return item[column.toLowerCase()] !== "undefined";
    },
    itemValue(item, column) {
      return item[column.toLowerCase()];
    }
  }
};
</script>
<style lang="scss" scoped>
table.table {
  width: 100%;
  position: relative;
  padding-top: 50px;
  thead {
    width: 100%;
    // position: fixed;
    // position: absolute;
    left: 100px;
    top: 300px;
    tr {
      // height:40px;
      width: 100%;
      background: rgba(163, 167, 184, 0.2);
      font-size: 16px;
      th {
        height: 40px;
        color: #a3a7b8;
        text-align: left; /** 设置水平方向居中 */
        vertical-align: middle; /** 设置垂直方向居中 */
        &:nth-child(1) {
          padding: 0px 10px;
          box-sizing: border-box;
        }
        &:nth-last-child(1) {
          box-sizing: border-box;
          padding: 0px 10px;
        }
      }
    }
  }
  tbody {
    height: 500px;
    overflow-y: auto;
    tr {
      width: 100%;
      color: #0e1733;
      font-size: 14px;
      border-bottom: 1pt solid rgba(237, 237, 241, 1);
      td {
        height: 70px;
        text-align: left; /** 设置水平方向居中 */
        vertical-align: middle; /** 设置垂直方向居中 */
        &:nth-child(1) {
          padding: 0px 10px;
          box-sizing: border-box;
        }
        &:nth-last-child(1) {
          box-sizing: border-box;
          padding: 0px 10px;
        }
      }
    }
  }
}
</style>
