<template>
  <div class="detail-order">
    <content-nav :list="list"></content-nav>
    <div class="banxin">
      <div class="order-info-box">
        <div class="info-left">
          <div class="info-top">
            <img
              v-show="query && query.status ? query.status == '0' : false"
              src="../../assets/images/orderPay/zu 470@2x.png"
              alt=""
            />
            <img
              v-show="query && query.status ? query.status == '2' : false"
              src="../../assets/images/orderPay/zu 46@2x.png"
              alt=""
            />
            <img
              v-show="
                query && query.status
                  ? query.status == '1' || query.status == '3'
                  : false
              "
              src="../../assets/images/orderPay/zu 472@2x.png"
              alt=""
            />
            <h3>
              {{
                query && query.status
                  ? query.status == "0"
                    ? $t("pay_order.order_wait")
                    : query.status == "2"
                    ? $t("pay_order.order_done")
                    : $t("pay_order.order_close")
                  : ""
              }}
            </h3>
            <!-- 待支付 status 0 -->
            <p
              v-show="
                query && query.status
                  ? query.status == '0'
                    ? true
                    : false
                  : false
              "
              class="info"
            >
              {{ $t("pay_order.order_remain")
              }}<span style="color:#3787FE;margin-left:5px;">{{
                query && query.residueTime ? query.residueTime : ""
              }}</span>
            </p>
            <button
              v-show="
                query && query.status
                  ? query.status == '0'
                    ? true
                    : false
                  : false
              "
              class="pay-btn"
              @click="openModal"
            >
              {{ $t("pay_order.pay") }}
            </button>
            <!-- 已完成 status 2 -->
            <p
              v-show="
                query && query.status
                  ? query.status == '2'
                    ? true
                    : false
                  : false
              "
              class="info"
              v-html="
                $t('pay_order.order_input', {
                  amount: query.amount,
                  coin: query.coinType.toUpperCase(),
                  merchantName: query.merchantName
                })
              "
            >
              <!-- {{
                $t("pay_order.order_input", {
                  amount: query.amount,
                  coin: query.coinType.toUpperCase(),
                  merchantName: query.merchantName
                })
              }} -->
              <!-- 您已支付{{ query && query.amount ? query.amount : ""
              }}{{
                query && query.coinType ? query.coinType.toUpperCase() : ""
              }}给{{ query && query.merchantName ? query.merchantName : "" }} -->
            </p>
            <!-- 已关闭 status 1 超时  status 3 取消-->
            <p
              v-show="
                query && query.status
                  ? query.status == '1' || query.status == '3'
                    ? true
                    : false
                  : false
              "
              class="info"
            >
              {{ $t("pay_order.order_close_info") }}（{{
                query.status == "1"
                  ? $t("pay_order.time_out")
                  : $t("pay_order.time_cancle")
              }}）
            </p>
          </div>
          <ul class="info-bottom">
            <li>
              <div class="left-name">
                <p>{{ $t("pay_order.coin_pay") }}</p>
              </div>
              <div class="right-content">
                <div class="content-item">
                  {{
                    query && query.coinType ? query.coinType.toUpperCase() : ""
                  }}
                </div>
              </div>
            </li>
            <li>
              <div class="left-name">
                <p>
                  {{ $t("pay_order.amount_pay") }}（{{
                    query && query.coinType ? query.coinType.toUpperCase() : ""
                  }}）
                </p>
              </div>
              <div class="right-content">
                <div class="content-item amount">
                  {{ query && query.amount ? query.amount : "" }}
                </div>
              </div>
            </li>
            <li>
              <div class="left-name">
                <p>{{ $t("pay_order.to_us") }}（USD）</p>
              </div>
              <div class="right-content">
                <div class="content-item">
                  {{ query && query.amountUsd ? query.amountUsd : "" }}
                </div>
              </div>
            </li>
            <li>
              <div class="left-name">
                <p>{{ $t("pay_order.create_time") }}</p>
              </div>
              <div class="right-content">
                <div class="content-item">
                  {{ query && query.startTime ? query.startTime : "" }}
                </div>
              </div>
            </li>
            <!-- status 0 没有此项 2 为完成，其他是关闭 -->
            <li v-show="query && query.status ? query.status != '0' : false">
              <div class="left-name">
                <p>
                  {{
                    query && query.status
                      ? query.status == "2"
                        ? $t("pay_order.complete_time")
                        : $t("pay_order.closed_time")
                      : ""
                  }}
                </p>
              </div>
              <div class="right-content">
                <div class="content-item">
                  {{ query && query.endTime ? query.endTime : "" }}
                </div>
              </div>
            </li>
            <li>
              <div class="left-name">
                <p>{{ $t("pay_order.pay_id") }}</p>
              </div>
              <div class="right-content">
                <div class="content-item">
                  {{ query && query.id ? query.id : "" }}
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="info-right">
          <img src="../../assets/images/orderPay/zu 1@2x.png" alt="" />
          <h3>{{ query && query.merchantName ? query.merchantName : "" }}</h3>
        </div>
      </div>
    </div>
    <!-- 添加弹框 -->
    <modal ref="modal_email">
      <div slot="header">
        {{ $t("pay_order.cofirm") }}
      </div>
      <div slot="body" class="db">
        <ai-form ref="formItems" :model="formValidate" :rules="ruleValidate">
          <div class="one">
            <ai-form-item :label="$t('profile.fund_pass')" prop="payPassword">
              <ai-input
                type="password"
                class="selec_type_one"
                v-model="formValidate.payPassword"
              />
            </ai-form-item>
          </div>
          <div class="one">
            <ai-form-item>
              <div class="btn">
                <rd-button type="cancel1" :callBack="cancelFun">{{
                  $t("infoAll.cancel")
                }}</rd-button>
                <rd-button
                  :loading="loading"
                  type="success2"
                  :callBack="confirmFun"
                  >{{ $t("infoAll.confirm") }}</rd-button
                >
              </div>
            </ai-form-item>
          </div>
        </ai-form>
      </div>
    </modal>
    <!-- 触发检测权限弹窗 -->
    <modal ref="modal1">
      <div slot="body" class="Intercept" :class="$i18n.locale">
        <div class="info-item">
          <div class="left">
            <span>!</span>
            <p>{{ $t("infoAll.first_fund_pass") }}</p>
          </div>
          <router-link to="/fund-pass">{{ $t("infoAll.gset") }}</router-link>
        </div>
      </div>
    </modal>
  </div>
</template>
<script>
import contentNav from "../../components/ContentNav";
import rdButton from "../../components/button";
import Modal from "../../components/Modal";
import AiForm from "../../components/form";
import AiFormItem from "../../components/form-item";
import AiInput from "../../components/input";
import { fortmatTime } from "../../utils/index";
import { payOrderConfirmFun } from "../../api/orderPay";
import { mapGetters } from "vuex";
export default {
  components: {
    contentNav,
    Modal,
    rdButton,
    AiInput,
    AiFormItem,
    AiForm
  },
  data() {
    return {
      list: [
        {
          text: "navitem.order"
        },
        {
          text: "pay_order.detail"
        }
      ],
      query: null,
      timeId: null,
      formValidate: {
        payPassword: ""
      },
      loading: false
    };
  },
  computed: {
    ...mapGetters(["user"])
  },
  created() {
    this.query = this.$route.query;
    this.ruleValidate = {
      payPassword: [
        {
          required: true,
          message: this.$t("form.fund_pass"),
          trigger: "blur"
        },
        {
          pattern: /^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{6,16}$/,
          message: this.$t("form.account_check")
        }
      ]
    };
  },
  mounted() {
    this.query = this.$route.query;
    // console.log(this.query);
    if (this.query.status == "0") {
      this.setIntervalTime();
    }
  },
  beforeDestroy() {
    //组件的销毁
    clearInterval(this.timeId); // 清除定时器
    this.timeId = null;
  },
  methods: {
    setIntervalTime() {
      this.timeId = setInterval(() => {
        this.$set(
          this.query,
          "residueTime",
          fortmatTime(this.query.expiredTimestamp--)
        );
        // item.residueTime = this.fortmatTime(item.expiredTimestamp--);
      }, 1000);
    },
    openModal() {
      if (this.user.ifPayPassword == "0") {
        this.$refs.modal1.show = true;
      } else {
        this.$refs.modal_email.show = true;
      }
    },
    cancelFun() {
      this.$refs.modal_email.show = false;
    },
    confirmFun() {
      this.$refs.formItems.validate().then(valid => {
        if (valid) {
          this.loading = true;
          let item = {
            id: this.query.id,
            payPassword: this.formValidate.payPassword
          };
          payOrderConfirmFun(item).then(res => {
            if (res.code == 200) {
              this.$Notification.success("", res.message, 2000);
              this.$refs.modal_email.show = false;
              this.$router.replace("/order");
            } else {
              this.$Notification.failed("", res.message, 2000);
            }
            this.loading = false;
          });
        } else {
          //
        }
      });
    }
  }
};
</script>
<style lang="scss" scoped>
.detail-order {
  background: #fafafa;
  padding-top: 140px;
  padding-bottom: 100px;
  .order-info-box {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 16px;
    color: var(--font-color05);
    h3 {
      font-size: 30px;
      font-weight: 800;
      color: var(--color-black);
      line-height: 42px;
      margin-bottom: 15px;
      margin-top: 15px;
    }
    .info-left {
      //   width: 780px;
      flex: 1;
      margin-right: 100px;
      height: 650px;
      background: var(--font-color27);
      box-shadow: 0px 3px 10px rgba(var(--font-color26), 0.2);
      opacity: 1;
      border-radius: 3px;
      box-sizing: border-box;
      padding: 45px;
      padding-top: 55px;
      .info-top {
        p {
          font-size: 20px;
        }
        img {
          width: 80px;
          height: 80px;
        }
        button {
          margin-top: 10px;
          &.pay-btn {
            width: 117px;
            height: 40px;
            background: rgba(55, 135, 254, 1);
            opacity: 1;
            border-radius: 26px;
            font-size: 16px;
            color: #ffffff;
          }
        }
      }
      .info-bottom {
        margin-top: 45px;
        font-size: 16px;
        li {
          height: 52px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          border-bottom: 1px solid rgba(var(--bd-color), 1);
          .content-item {
            color: #222222;
            &.amount {
              font-size: 20px;
              font-weight: 800;
              color: rgba(var(--font-color26), 1);
            }
          }
        }
      }
    }
    .info-right {
      width: 300px;
      height: 300px;
      background: var(--font-color27);
      box-shadow: 0px 3px 10px rgba(var(--font-color26), 0.16);
      opacity: 1;
      border-radius: 3px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      box-sizing: border-box;
      padding: 20px;
      img {
        width: 95px;
        height: 95px;
        border: 1px solid rgba(var(--font-color29), 1);
        border-radius: 50%;
      }
    }
  }
  .nw-modal-body {
    form {
      width: 400px;
      margin-bottom: 20px;
      .one {
        input {
          height: 60px;
        }
        .item {
          .btn {
            margin-top: 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            button {
              width: 150px;
            }
          }
        }
      }
    }
  }
}
</style>
