<template>
  <div class="order_index">
    <div class="banxin">
      <list-querys
        v-model="querys"
        :paramsTopLeft="paramsTopLeft"
        :paramsBottomLeft="paramsBottomLeft"
        :paramsTopRight="paramsTopRight"
        :paramsBottomRight="paramsBottomRight"
        :time="true"
        :deposit="user.payVersion == 4 ? true : false"
        topLeftAlign="speace-between"
        :loadBLeft="loadBLeft"
        expand
        @click="exportFun"
      ></list-querys>
      <div class="tb-box skt-loading">
        <Table :datas="tableData" :height="420">
          <TableItem
            :title="$t('pay_order.create_time')"
            prop="startTime"
            align="left"
          ></TableItem>
          <TableItem
            v-if="querys.status == '0'"
            :title="$t('pay_order.remain_time')"
            align="left"
          >
            <template slot-scope="{ data }">
              <div class="time">
                <div class="img"></div>
                <span class="remain-time">{{ data.residueTime }}</span>
              </div>
            </template>
          </TableItem>
          <TableItem
            v-if="querys.status != '0'"
            :title="
              querys.status == '1'
                ? $t('pay_order.complete_time')
                : $t('pay_order.closed_time')
            "
            prop="endTime"
            align="left"
          ></TableItem>
          <TableItem
            v-if="user.isMerchant != '1' && user.role != '5'"
            :title="$t('pay_order.pay_id')"
            prop="id"
            align="left"
          ></TableItem>
          <TableItem
            v-if="user.isMerchant == '1' || user.role == '5'"
            :title="$t('pay_order.merchant_id')"
            prop="merchantOrderSn"
            align="left"
          ></TableItem>
          <TableItem
            v-if="user.role == '3' || user.role == '4'"
            :title="$t('pay_order.merchant')"
            prop="merchantName"
            align="left"
          ></TableItem>
          <TableItem
            v-if="user.isMerchant == '1' || user.role == '5'"
            :title="$t('pay_order.payer')"
            align="left"
          >
            <template slot-scope="{ data }">
              <div class="">
                <div v-show="data.realName != ''" class="realname">
                  {{ data.realName }}
                </div>
                <div v-show="data.username != ''" class="username">
                  {{ data.username }}
                </div>
              </div>
            </template>
          </TableItem>
          <TableItem :title="$t('pay_order.coin')" align="left" :width="100">
            <template slot-scope="{ data }">
              <div class="">
                <span class="">{{ data.coinType.toUpperCase() }}</span>
              </div>
            </template>
          </TableItem>
          <TableItem :title="$t('pay_order.amount')" align="left">
            <template slot-scope="{ data }">
              <div class="">
                <span class="amount">{{ data.amount }}</span>
              </div>
            </template>
          </TableItem>
          <TableItem
            v-if="user.isMerchant == '1' || user.role == '5'"
            :title="$t('pay_order.fee')"
            prop="handingFee"
            align="left"
          ></TableItem>
          <TableItem
            v-if="user.role == '3' || user.role == '4'"
            :title="$t('pay_order.to_us')"
            align="left"
          >
            <template slot-scope="{ data }">
              <div class="">
                <span class="">${{ data.amountUsd }}</span>
              </div>
            </template>
          </TableItem>
          <TableItem
            v-if="
              (user.isMerchant == '1' && user.role == '1') || user.role == '5'
            "
            :title="$t('pay_order.actual_amount')"
            align="left"
          >
            <template slot-scope="{ data }">
              <div class="">
                <span class="cny">￥{{ data.amountCny }}</span>
              </div>
            </template>
          </TableItem>
          <TableItem
            v-if="user.role == '3' || user.role == '4'"
            :title="$t('pay_order.control')"
            align="left"
            :width="100"
          >
            <template slot-scope="{ data }">
              <div class="btn">
                <div
                  @click="goPage(data)"
                  v-show="data.status == '0'"
                  class="pay"
                >
                  {{ $t("pay_order.pay") }}
                </div>
                <div
                  @click="goPage(data)"
                  v-show="data.status != '0'"
                  class="view"
                >
                  {{ $t("pay_order.view") }}
                </div>
              </div>
            </template>
          </TableItem>
          <div slot="empty">
            <!-- 自定义提醒：暂时无数据 -->
            <div
              class="table-none"
              v-show="loading == false && tableData.length == 0"
            >
              <img src="../../assets/images/trade/zu 710@2x.png" alt="" />
              <p>暂未找到合适的订单</p>
            </div>
          </div>
        </Table>
        <ul class="skt-box" v-show="loading">
          <li
            class="skt-item"
            v-for="(item, index) in 6"
            :key="'skt-box' + index"
          >
            <div class="skeleton one time"></div>
            <div class="skeleton one remain"></div>
            <div class="skeleton one order"></div>
            <div class="skeleton one name"></div>
            <div class="skeleton one type"></div>
            <div class="skeleton one amount"></div>
            <div class="skeleton one amountUs"></div>
            <div class="skeleton one contry"></div>
          </li>
        </ul>
      </div>
      <div class="pg">
        <Pagination
          v-model="pagination"
          align="right"
          @change="handleCurrentChange"
        ></Pagination>
      </div>
    </div>
    <!-- 添加弹框 -->
    <modal ref="modal_email">
      <div slot="header">
        {{ $t("pay_order.nav_yao_url") }}
      </div>
      <div slot="body" class="db">
        <div class="text">{{ user.depositUrl }}</div>
        <rd-button class="" type="success2" :callBack="cpFun">{{
          $t("pay_order.nav_cp")
        }}</rd-button>
      </div>
    </modal>
  </div>
</template>
<script>
import rdButton from "../../components/button";
import Modal from "../../components/Modal";
import table from "../../mixin/table";
import { getCoinsFun } from "../../api/assets";
import {
  getAgentMerchantList,
  getPayOrderList,
  exportPayOrderExcel,
  unPayNumFun
} from "../../api/orderPay";
import { copyFun, fortmatTime } from "../../utils/index";
import { mapGetters } from "vuex";
export default {
  components: {
    Modal,
    rdButton
  },
  mixins: [table],
  data() {
    return {
      tableFunc: { post: getPayOrderList, export: exportPayOrderExcel },
      paramsTopLeft: [],
      paramsTopRight: [
        {
          key: "content",
          plac: "pay_order.input_place2"
        },
        {
          btn: true,
          clas: "export",
          label: "infoAll.export",
          src: require("../../assets/images/assets/zu 478@2x.png")
        }
      ],
      paramsBottomLeft: [],
      loadBLeft: true,
      paramsBottomRight: [
        {
          key: "timeTag",
          label: "selc",
          options: [
            {
              value: "0",
              label: "按提交时间查询",
              eLabel: "Query by submission time"
            },
            {
              value: "1",
              label: "按完成时间查询",
              eLabel: "QQuery by completion time"
            }
          ]
        }
      ]
    };
  },
  computed: {
    ...mapGetters(["user"])
  },
  watch: {
    "querys.status": {
      handler(n) {
        if (n == "0") {
          this.setIntervalTime();
        } else {
          clearInterval(this.timeId); // 清除定时器
          this.timeId = null;
        }
      },
      immediate: true
    },
    querys: {
      handler() {
        this.loadng = true;
        this.tableData = [];
        this.initUnPayNum();
      },
      deep: true
    }
  },
  created() {
    if (this.user.role == "2" || this.user.role == "0") {
      this.$Notification.failed("", "您没有权限进入此页面", 3500);
      this.$router.replace("/trade");
      return;
    }
    this.querys = Object.assign({}, this.querys, {
      status: "0",
      coinTypeId: "",
      timeTag: "0",
      merchantId: ""
    });
    this.initTopLeft();
    this.initCoinFun();
  },
  mounted() {
    // 设置定时器做倒计时
    // this.setIntervalTime();
  },
  beforeDestroy() {
    //组件的销毁
    clearInterval(this.timeId); // 清除定时器
    this.timeId = null;
  },
  methods: {
    initUnPayNum() {
      unPayNumFun().then(res => {
        if (res.code == 200) {
          this.$set(this.paramsTopLeft[0]["options"][0], "num", res.data.num);
        }
      });
    },
    setIntervalTime() {
      this.timeId = setInterval(() => {
        this.tableData.forEach(item => {
          this.$set(item, "residueTime", fortmatTime(item.expiredTimestamp--));
          // item.residueTime = this.fortmatTime(item.expiredTimestamp--);
        });
      }, 1000);
    },
    initTopLeft() {
      this.paramsTopLeft = [
        {
          key: "status",
          options: [
            {
              value: "0",
              num: 0,
              label:
                this.user.role == "3" ||
                this.user.role == "4" ||
                this.user.isMerchant == "1"
                  ? "pay_order.nav_process"
                  : "pay_order.nav_unpay" //nav_process
            },
            {
              value: "1",
              label: "pay_order.nav_complete"
            },
            {
              value: "2",
              label: "pay_order.nav_closed"
            }
          ]
        }
      ];
      if (this.user.role == "5") {
        getAgentMerchantList().then(res => {
          if (res.code == 200) {
            this.paramsTopLeft.push({
              key: "merchantId",
              label: "merchant",
              options: [
                {
                  id: "",
                  name: "全部"
                },
                ...res.data
              ]
            });
          } else {
            this.paramsTopLeft.push({
              key: "merchantId",
              label: "merchant",
              options: [
                {
                  value: "0",
                  label: "全部"
                }
              ]
            });
          }
        });
      }
      this.initUnPayNum();
    },
    initCoinFun() {
      getCoinsFun().then(res => {
        if (res.code == 200) {
          this.paramsBottomLeft = [
            {
              key: "coinTypeId",
              options: [
                {
                  value: "",
                  label: "全部"
                },
                ...res.data
              ]
            }
          ];
          this.loadBLeft = false;
        } else {
          this.$Notification.failed("", res.message, 2000);
        }
      });
    },
    depositFun() {
      this.$refs.modal_email.show = true;
    },
    cpFun() {
      copyFun(this.user.depositUrl, this);
      this.$refs.modal_email.show = false;
    },
    goPage(data) {
      this.$router.push({
        path: "/orderDetail",
        query: data
      });
    }
  }
};
</script>
<style lang="scss" scoped>
.order_index {
  // margin-top: 60px;
  padding-top: 140px;
  color: red($color: #000000);
  .tb-box {
    font-size: 16px;
    .time {
      display: flex;
      align-items: center;
      div.img {
        width: 15px;
        height: 15px;
        background: rgba(252, 115, 115, 1);
        border-radius: 50%;
        position: relative;
        margin-right: 4px;
        &::before {
          content: "";
          width: 2px;
          height: 5px;
          background: white;
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translateX(-50%) translateY(-100%);
        }
        &::after {
          content: "";
          width: 2px;
          height: 5px;
          background: white;
          position: absolute;
          left: 50%;
          top: 40%;
          transform: rotate(140deg);
        }
      }
      .remain-time {
        color: #fc7373;
      }
    }

    .realname {
      color: #3787fe;
    }
    .cny {
      color: #3787fe;
    }
    .amount {
      font-size: 20px;
      font-weight: 800;
      color: #3787fe;
    }
    .btn {
      div {
        width: 60px;
        height: 30px;
        background: rgba(250, 250, 250, 1);
        border: 1px solid rgba(55, 135, 254, 1);
        opacity: 1;
        border-radius: 3px;
        color: #3787fe;
        justify-content: center;
        align-items: center;
        display: flex;
        cursor: pointer;
      }
    }
    .table-none {
      margin-top: 50px;
      img {
        width: 260px;
        height: 170px;
      }
      p {
        font-size: 16px;
        line-height: 22px;
        color: #a1b0c6;
      }
    }

    .skt-box {
      li {
        height: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &.head {
          height: 60px;
          div {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            &.amount {
              color: #a9adbc;
              font-size: 16px;
              font-weight: normal;
            }
          }
        }
        .time {
          width: 100px;
          height: 35px;
        }
        .remain {
          width: 100px;
          height: 45px;
        }
        .order {
          width: 100px;
          height: 45px;
        }
        .name {
          width: 100px;
          height: 45px;
        }
        .type {
          width: 100px;
          height: 45px;
        }
        .amount {
          width: 100px;
          height: 45px;
        }
        .amountUs {
          width: 100px;
          height: 45px;
        }
        .contry {
          width: 100px;
          height: 45px;
        }
      }
    }
  }
  .pg {
    margin-top: 20px;
  }

  .nw-modal-body {
    .db {
      display: flex;
      margin-bottom: 20px;
      .text {
        width: 390px;
        height: 60px;
        background: rgba(55, 135, 254, 0.1);
        border: 1px solid rgba(55, 135, 254, 0.2);
        opacity: 1;
        border-radius: 3px;
        color: #222222;
        display: flex;
        align-items: center;
        padding-left: 15px;
        box-sizing: border-box;
        white-space: pre-wrap;
      }
      button {
        margin-left: 30px;
        width: 120px;
        height: 60px;
        background: rgba(55, 135, 254, 1);
        opacity: 1;
        border-radius: 3px;
      }
    }
  }
}
</style>
