<template>
  <div id="app">
    <router-view />
    <rd-notification></rd-notification>
    <rd-modal></rd-modal>
  </div>
</template>
<script>
import rdNotification from "./global/notification";
import rdModal from "./global/modal";
export default {
  components: {
    "rd-notification": rdNotification,
    "rd-modal": rdModal
  },
  mounted() {
    // 在页面加载时读取localStorage里的状态信息
    localStorage.getItem("suhui") &&
      this.$store.replaceState(
        Object.assign(
          this.$store.state,
          JSON.parse(localStorage.getItem("suhui"))
        )
      );

    //在页面刷新时将vuex里的信息保存到localStorage里
    window.addEventListener("beforeunload", () => {
      localStorage.setItem("suhui", JSON.stringify(this.$store.state));
    });
  }
};
</script>
<style lang="scss">
#app {
  // font-family: 'PingFang SC', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  height: inherit;
  // color: #2c3e50;
  input {
    background: #f2f2f2;
    box-sizing: border-box !important;
    &.h-input {
      background: white;
    }
  }
  a {
    font-weight: var(--font-weight-normal);
    color: var(--font-color01);
    text-decoration: none;
  }
}
</style>
