<template>
  <div class="skeleton-wrapper" style="100%">
    <section class="skeleton-block">
      <div class="top">rtr</div>
    </section>
  </div>
</template>

<script>
export default {
  name: "Skeleton"
};
</script>

<style lang="scss" scoped>
html,
body {
  margin: 0 auto;
  padding: 0;
  height: 100%;
  #app {
    height: inherit;
    .skeleton-wrapper {
      height: inherit;
      .skeleton-block {
        display: flex;
        flex-direction: column;
        // padding: 16px;
        height: inherit;
        animation: 1s skeletonAnimate infinite;
        div.top {
          -webkit-animation-duration: 1s;
          -webkit-animation-fill-mode: forwards;
          -webkit-animation-iteration-count: infinite;
          -webkit-animation-name: placeholderSkeleton;
          -webkit-animation-timing-function: linear;
          background: #f6f7f8;
          background-image: -webkit-gradient(
            linear,
            left center,
            right center,
            from(#f6f7f8),
            color-stop(0.2, #edeef1),
            color-stop(0.4, #f6f7f8),
            to(#f6f7f8)
          );
          background-image: -webkit-linear-gradient(
            left,
            #f6f7f8 0%,
            #edeef1 20%,
            #f6f7f8 40%,
            #f6f7f8 100%
          );
          background-repeat: no-repeat;
          background-size: 100% 60px;
          height: 60px;
          position: relative;
        }
      }
    }
  }
}
@keyframes bgColor01 {
  0% {
    background-image: linear-gradient(
      transparent 20%,
      #e2e2e2 20%,
      rgb(226, 226, 226) 80%,
      transparent 0%
    );
  }
  100% {
    background-image: linear-gradient(
      transparent 20%,
      #e2e2e2 20%,
      rgb(226, 226, 226) 80%,
      transparent 0%
    );
  }
}
@keyframes placeholderSkeleton {
  0% {
    background-position: -100vw 0;
  }
  100% {
    background-position: 100vw 0;
  }
}
@keyframes skeletonAnimate {
  from {
    background-position: top left;
  }
  to {
    background-position: top right;
  }
}
</style>
