<template>
  <div class="index_login">
    <div class="index_left">
      <header>
        <div class="icon_logo"></div>
        <BaseSelect
          class="xuan"
          :data="dat"
          :val="val"
          :sr="src"
          set="val"
          value="value"
          label="label"
          :home="true"
        ></BaseSelect>
      </header>
      <section>
        <h3>RITZBIZ OTC 用心服务每一个细节</h3>
        <p>安全、便捷、简单的场外交易兑换平台</p>
      </section>
    </div>
    <div class="index_right">
      <router-view />
    </div>
  </div>
</template>
<script>
import BaseSelect from "../../components/BaseSelect";
export default {
  components: {
    BaseSelect
  },
  data() {
    return {
      dat: {
        list: [
          {
            value: "zh",
            label: "简体中文"
          },
          {
            value: "en",
            label: "English"
          }
        ]
      },
      src: require("../../assets/images/nav/language_white.png")
    };
  },
  computed: {
    val: {
      get() {
        return this.$i18n.locale;
      },
      set(n) {
        window.localStorage.setItem("localeLanguage", n);
        this.$i18n.locale = n;
      }
    }
  }
};
</script>
<style lang="scss" scoped>
.index_login {
  display: flex;
  justify-content: space-between;
  height: 100vh;
  min-width: 1500px;
  .index_left {
    width: 900px;
    // width: 1000px;
    height: 100vh;
    background-image: url("../../assets/images/login/login_bc.png");
    background-size: 100% 101%;
    background-repeat: no-repeat;
    // background:linear-gradient(181deg,rgba(7,42,91,0.7) 0%,rgba(161,176,196,1) 100%);
    // opacity:0.2;
    padding: 65px 65px;
    box-sizing: border-box;
    color: var(--font-color03);
    display: flex;
    flex-direction: column;
    header {
      display: flex;
      justify-content: space-between;
      .icon_logo {
        width: 200px;
        height: 40px;
        background-image: url("../../assets/images/login/logo.png");
        background-size: 200px 40px;
      }
    }
    .xuan {
      // width: 100px;
      font-size: 14px;
    }
    section {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-shadow: 0px 3px 5px rgba(0, 0, 0, 0.16);
      box-sizing: border-box;
      // padding-top: 40px;
      h3 {
        font-size: var(--font-size40);
      }
      p {
        font-size: var(--font-size30);
        line-height: 60px;
      }
    }
  }
  .index_right {
    flex: 1;
  }
}
</style>
