<template>
  <div class="login">
    <form>
      <div class="title">
        <h3>{{ $t("sign_in.h3", { name: "Ritzbiz" }) }}</h3>
        <go :text="$t(text)" :link="link" :border="true"></go>
      </div>
      <label for="username">{{ $t("sign_up.go_login") }}</label>
      <div class="ipt">
        <input
          type="text"
          id="username"
          @keyup="
            accountNumber = accountNumber
              ? accountNumber.replace(/\s+/g, '')
              : ''
          "
          :placeholder="$t('sign_in.email_phone_placeholder')"
          v-model="accountNumber"
        />
        <span v-show="accountNumber == ''">{{
          $t("sign_in.email_phone_placeholder")
        }}</span>
      </div>
      <label for="password">{{ $t("sign_up.login_pass") }}</label>
      <div class="ipt">
        <input
          type="password"
          id="password"
          @keyup="password = password ? password.replace(/\s+/g, '') : ''"
          :placeholder="$t('sign_up.pass_placeholder')"
          v-model="password"
        />
        <span v-show="password == ''">{{ $t("sign_up.pass_regular") }}</span>
      </div>
      <div class="rem">
        <div class="left">
          <div @click="setPoint" :class="pointClass + ' point'">
            <svg
              v-show="pointClass"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="icon icon-check"
            >
              <polyline points="20 6 9 17 4 12"></polyline>
            </svg>
          </div>
          {{ $t("sign_in.rem_account") }}
        </div>
        <router-link class="reset" to="reset">{{
          $t("sign_in.for_pass")
        }}</router-link>
      </div>
      <verify v-if="test_status" :okFun="submitFun"></verify>
      <div class="slideShadow" v-show="showSlide">
        <transition>
          <div class="slideSty animated bounce">
            <div class="iconBtn">
              <i class="icon ion-close-round" @click="showSlide = false"></i
              ><i class="icon ion-refresh" @click="refresh"></i>
            </div>
            <slide-verify
              @success="onSuccess"
              @fail="onFail"
              :sliderText="text2"
              ref="slideDiv"
            ></slide-verify>
          </div>
        </transition>
      </div>
      <!-- <button @click="endShow">{{ $t("sign_in.login_button") }}</button> -->
      <rd-button :loading="loading" type="success2" :callBack="endShow">{{
        $t("sign_in.login_button")
      }}</rd-button>
    </form>
  </div>
</template>
<script>
import Verify from "../../components/Verify";
import SlideVerify from "../../components/SlideVerify/index";
import Go from "../../components/Go";
import rdButton from "../../components/button";
import { loginByUsername } from "../../api/login";
// import { resetRouter } from "../../router/index";
export default {
  components: {
    verify: Verify,
    go: Go,
    SlideVerify,
    rdButton
  },
  data() {
    return {
      text: "sign_in.go_register",
      link: "register",
      accountNumber: null,
      password: null,
      test_status: false,
      pointClass: false,

      text2: "向右滑动",
      showSlide: false,
      loading: false
    };
  },
  mounted() {
    if (this.$store.getters.loginAccount != "") {
      this.accountNumber = this.$store.getters.loginAccount;
      this.pointClass = true;
    }
  },
  methods: {
    submitFun() {
      console.log("提交");
      this.loading = true;
      if (this.pointClass) {
        this.$store.dispatch("setLoginAccount", this.accountNumber);
      } else {
        this.$store.dispatch("setLoginAccount", "");
      }
      loginByUsername({
        accountNumber: this.accountNumber,
        password: this.password
      })
        .then(res => {
          // console.log(res)
          this.test_status = false;
          if (res.code == 200) {
            localStorage.setItem("token", "degnlude");
            // resetRouter();
            this.$router.push({
              path: "/trade",
              replace: true
            });
            this.$store.dispatch("setUser", res.data);
          } else {
            this.$Notification.failed("", res.message, 5000);
          }
          this.loading = false;
        })
        .catch(error => {
          this.test_status = false;
          this.loading = false;
          console.log(error);
        });
      // this.$router.push('/')
    },
    endShow(e) {
      e.preventDefault();
      if (
        this.password == "" ||
        this.password == null ||
        this.accountNumber == "" ||
        this.accountNumber == null
      ) {
        this.password = this.password == null ? "" : this.password;
        this.accountNumber =
          this.accountNumber == null ? "" : this.accountNumber;
        return false;
      }
      // this.test_status = true;
      this.showSlide = true;
    },
    setPoint() {
      this.pointClass = !this.pointClass;
    },
    onSuccess() {
      this.$refs.slideDiv.reset();
      this.showSlide = false;
      // alert("qu dengle");
      this.submitFun();
    },
    onFail() {
      this.$Notification.failed("", "验证失败，重新验证！", 3000);
    },
    refresh() {
      this.$refs.slideDiv.reset();
    }
  }
};
</script>
<style lang="scss" scoped>
.login {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .test_ma {
    position: relative;
  }
  form {
    width: 500px;
    display: flex;
    flex-direction: column;
    position: relative;
    div {
      &.title {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      h3 {
        font-weight: var(--font-weight-800);
        font-size: var(--font-size30);
        color: var(--font-color11);
        line-height: 42px;
      }
      &.rem {
        margin: 30px 0px 20px 0px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 40px;
        color: var(--font-color11);
        .left {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          font-size: var(--font-size16);
          .point {
            width: 25px;
            height: 25px;
            border: 1px solid var(--font-color01);
            border-radius: 50%;
            margin-right: 4px;
            &.true {
              background: rgba(var(--font-color26), 1);
              border: 0px;
              svg {
                color: var(--font-color03);
              }
            }
          }
        }
        .reset {
          font-size: var(--font-size16);
          &:hover {
            color: rgba(var(--font-color26), 1) !important;
          }
        }
        a {
          color: var(--font-color11) !important;
        }
      }
      &.ipt {
        input {
          width: 100%;
          height: 40px;
          height: 60px;
          color: #0e1733;
          font-size: 18px;
        }
        span {
          color: var(--font-color08);
          text-align: left;
          margin-top: 5px;
          display: flex;
        }
      }
    }
    label {
      text-align: left;
      color: var(--font-color11);
      margin: 20px 0px 10px 0px;
      font-size: var(--font-size16);
    }
    button {
      margin-top: 24px;
      height: 60px;
      // background: linear-gradient(
      //   90deg,
      //   rgba(57, 169, 255, 1) 0%,
      //   rgba(21, 79, 180, 1) 100%
      // );
      background: rgba(var(--font-color26), 1);
      box-shadow: 0px 5px 10px rgba(var(--font-color26), 0.5);
      border-radius: 3px;
      color: var(--font-color03);
      font-size: var(--font-size16);
      &:hover {
        opacity: 0.8;
      }
      &:active {
        opacity: 1;
        background: var(--back01);
      }
    }
    .slideShadow {
      // position: fixed;
      // z-index: 999;
      // width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.6);
      .slideSty {
        position: absolute;
        // width: 380px;
        height: 311px;
        background: #e8e8e8;
        border: 1px solid #dcdcdc;
        left: 50%;
        top: 50%;
        margin-left: -188px;
        margin-left: -250px;
        margin-top: -176px;
        z-index: 99;
        border-radius: 5px;
      }
      .iconBtn {
        padding: 9px 0 0 19px;
        color: #5f5f5f;
        border-bottom: 1px solid #d8d8d8;
        margin-bottom: 17px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        i {
          font-size: 22px;
          cursor: pointer;
        }
        i:last-child {
          margin-left: 7px;
        }
      }
    }
  }
}
</style>
