<template>
  <div class="login">
    <form>
      <div class="title">
        <h3>{{ $t("sign_up.h3") }}</h3>
        <go :text="$t(text)" :link="link" :aricon="false" :border="true"></go>
      </div>
      <div class="nav-box">
        <h3
          class="phone-nav"
          @click="
            peCheck = '0';
            accountNumber = '';
            code = '';
          "
          :class="peCheck == '0' ? 'active' : 'none'"
        >
          {{ $t("sign_up.nav_phone") }}
        </h3>
        <h3
          class="email-nav"
          @click="
            peCheck = '1';
            accountNumber = '';
            code = '';
          "
          :class="peCheck == '1' ? 'active' : 'none'"
        >
          {{ $t("sign_up.nav_email") }}
        </h3>
      </div>
      <label for="username">{{ $t("sign_up.user") }}</label>
      <div class="user">
        <input
          type="text"
          id="username"
          @keyup="username = username.replace(/\s+/g, '')"
          :placeholder="$t('sign_up.user_placeholder')"
          v-model="username"
        />
        <span v-show="username == ''">{{
          $t("sign_up.invalid_username")
        }}</span>
      </div>
      <!-- 手机 -->
      <label for="accountNumber" v-if="peCheck == '0'">{{
        $t("infoAll.phone")
      }}</label>
      <div class="ipt sel" v-if="peCheck == '0'">
        <base-select
          class="select_reg"
          :data="dat"
          :val="phoneAreaCode"
          set="phoneAreaCode"
          value="value"
          label="label"
          flex="center"
          :home="false"
        ></base-select>
        <input
          type="text"
          id="accountNumber"
          @keyup="
            accountNumber = accountNumber
              ? accountNumber.replace(/\s+|[\D+]/g, '')
              : ''
          "
          :placeholder="$t('infoAll.input_phone')"
          autocomplete="new-password"
          v-model="accountNumber"
        />
        <span v-show="accountNumber == ''">{{
          $t("infoAll.phone_format")
        }}</span>
      </div>
      <label for="code" v-if="peCheck == '0'">{{
        $t("infoAll.phone_code")
      }}</label>
      <div class="ipt code" v-if="peCheck == '0'">
        <input
          type="text"
          id="code"
          @keyup="code = code ? code.replace(/\s+/g, '') : ''"
          :placeholder="$t('infoAll.p_phone_code')"
          autocomplete="new-password"
          v-model="code"
        />
        <send-code
          class="reg_code"
          :data="{
            accountType: 0,
            number: '%2B' + phoneAreaCode.split('+')[1] + ',' + accountNumber,
            behaviorType: 0
          }"
          :time="60"
          type="bg"
        ></send-code>
        <span v-show="code == ''">{{ $t("infoAll.p_phone_code") }}</span>
      </div>
      <!-- email start -->
      <label for="accountNumber" v-if="peCheck == '1'">{{
        $t("infoAll.email")
      }}</label>
      <div class="ipt" v-if="peCheck == '1'">
        <input
          type="text"
          id="accountNumber"
          @blur="
            accountNumber = accountNumber
              ? /^([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+@([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+\.[a-zA-Z]{2,3}$/.test(
                  accountNumber
                ) == true
                ? accountNumber
                : ''
              : ''
          "
          :placeholder="$t('infoAll.input_email')"
          v-model="accountNumber"
        />
        <span v-show="accountNumber == ''">{{
          $t("infoAll.email_format")
        }}</span>
      </div>
      <label for="code" v-if="peCheck == '1'">{{
        $t("infoAll.email_code")
      }}</label>
      <div class="ipt code" v-if="peCheck == '1'">
        <input
          type="text"
          id="code"
          @keyup="code = code ? code.replace(/\s+/g, '') : ''"
          :placeholder="$t('infoAll.p_email_code')"
          autocomplete="new-password"
          v-model="code"
        />
        <send-code
          class="reg_code"
          :data="{
            accountType: 1,
            number: accountNumber,
            behaviorType: 0
          }"
          :time="60"
          type="bg"
        ></send-code>
        <span v-show="code == ''">{{ $t("infoAll.p_email_code") }}</span>
      </div>
      <!-- email end -->
      <label for="password">{{ $t("sign_up.login_pass") }}</label>
      <div class="ipt">
        <input
          type="password"
          id="password"
          @keyup="password = password ? password.replace(/\s+/g, '') : ''"
          placeholder="请设置密码"
          autocomplete="new-password"
          v-model="password"
        />
        <span v-show="password == ''">{{ $t("sign_up.pass_regular") }}</span>
      </div>
      <label for="password2">{{ $t("sign_up.login_pass_two") }}</label>
      <div class="ipt">
        <input
          type="password"
          id="password2"
          @keyup="password2 = password2 ? password2.replace(/\s+/g, '') : ''"
          @blur="password2 = password == password2 ? password2 : ''"
          :placeholder="$t('sign_up.pass_t_placeholder')"
          v-model="password2"
        />
        <span v-show="password2 == ''">{{ $t("sign_up.pass_check") }}</span>
      </div>
      <div class="rem">
        <div class="left">
          <div @click="setPoint" :class="pointClass + ' point'">
            <svg
              v-show="pointClass"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="icon icon-check"
            >
              <polyline points="20 6 9 17 4 12"></polyline>
            </svg>
          </div>
          {{ $t("sign_up.accept") }}
        </div>
        <router-link class="reset" to="#" @click.native="openFun('user')"
          >《用户协议》</router-link
        >
        <router-link class="reset" to="#" @click.native="openFun('legal')"
          >《法律声明》</router-link
        >
        <router-link class="reset" to="#" @click.native="openFun('privacy')"
          >《隐私条款》</router-link
        >
        <span v-show="!pointClass">{{ $t("sign_up.accept_r") }}</span>
      </div>
      <verify v-if="test_status" :okFun="registerFun"></verify>
      <rd-button :loading="loading" type="success2" :callBack="endShow">{{ $t("sign_up.register") }}</rd-button>
    </form>
    <modal ref="modalUser" class="register-user">
      <div slot="body">
        <user-know v-if="type == 'user'"></user-know>
        <legal-know v-if="type == 'legal'"></legal-know>
        <privacy v-if="type == 'privacy'"></privacy>
      </div>
    </modal>
  </div>
</template>
<script>
import Verify from "../../components/Verify";
import Go from "../../components/Go";
import BaseSelect from "../../components/BaseSelect";
import SendCode from "../../components/SendCode";
import { registeredByUsername } from "../../api/login";
import userKnow from "./xieyi/userKnow";
import legalKnow from "./xieyi/legalKnow";
import privacy from "./xieyi/privacy";
import Modal from "../../components/Modal";
import rdButton from "../../components/button";
export default {
  components: {
    verify: Verify,
    go: Go,
    Modal,
    userKnow,
    legalKnow,
    privacy,
    "base-select": BaseSelect,
    "send-code": SendCode,
    rdButton
  },
  data() {
    return {
      text: "sign_up.go_login",
      link: "login",
      username: null,
      accountNumber: null,
      code: null,
      password: null,
      password2: null,
      test_status: false,
      pointClass: false,
      // eslint-disable-next-line no-useless-escape
      phone_reg: /^[+]*[(]{0,1}[0-9]{1,4}[)]{0,1}[-\s\./0-9]*$/,
      dat: {
        list: require("../../assets/json/country.json")
      },
      phoneAreaCode: "+86",
      // item:{
      //     phone: this.accountNumber,
      //     behaviorType: 0, //0 zhuce 1 huanbang  2 zhaohui
      // }
      peCheck: 0,
      type: "",
      loading: false
    };
  },
  methods: {
    endShow(e) {
      e.preventDefault();
      // if(this.username=='' || this.username==null || this.password=='' || this.password==null || this.accountNumber == '' || this.accountNumber==null) {
      if (
        !this.pointClass ||
        this.username == "" ||
        this.username == null ||
        this.code == "" ||
        this.code == null ||
        this.password == "" ||
        this.password2 == "" ||
        this.password2 != this.password ||
        this.password2 == null ||
        this.password == null ||
        this.accountNumber == "" ||
        this.accountNumber == null
      ) {
        this.username = this.username == null ? "" : this.username;
        this.password = this.password == null ? "" : this.password;
        this.password2 = this.password2 == null ? "" : this.password2;
        this.accountNumber =
          this.accountNumber == null ? "" : this.accountNumber;
        this.code = this.code == null ? "" : this.code;
        // this.username=this.username==null?'':this.username
        return false;
      }
      this.test_status = true;
    },
    setPoint() {
      this.pointClass = !this.pointClass;
    },
    registerFun() {
      this.loading = true;
      let item = {
        accountNumber:
          this.peCheck == "0"
            ? this.phoneAreaCode + "," + this.accountNumber
            : this.accountNumber,
        accountType: this.peCheck,
        code: this.code,
        password: this.password,
        username: this.username
      };
      registeredByUsername(item)
        .then(res => {
          if (res.code == 200) {
            localStorage.setItem("token", "degnlude");
            this.$router.push({
              path: "/trade",
              replace: true
            });
            this.$store.dispatch("setUser", res.data);
            this.$Notification.success("", res.message, 2000);
          } else {
            this.test_status = false;
            this.$Notification.failed("", res.message, 5000);
          }
          this.loading = false;
        })
        .catch(err => {
          console.log(err);
          this.loading = false;
        });
    },
    openFun(type) {
      this.type = type;
      if (type) {
        this.$refs.modalUser.show = true;
      }
    }
  }
};
</script>
<style lang="scss" scoped>
.login {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  form {
    width: 500px;
    display: flex;
    flex-direction: column;
    div {
      &.title {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      h3 {
        font-weight: var(--font-weight-800);
        font-size: var(--font-size30);
        color: var(--font-color11);
        line-height: 42px;
      }
      &.nav-box {
        display: flex;
        margin-top: 26px;
        // margin-bottom: 15px;
        h3 {
          font-size: 20px;
          font-weight: 400;
          line-height: 28px;
          &.active {
            color: #222222;
            border-bottom: 10px solid #3787fe;
            border-radius: 3px;
          }
          &.none {
            color: #a1b0c6;
            cursor: pointer;
          }
          &.phone-nav {
            margin-right: 30px;
          }
        }
      }
      &.rem {
        margin: 30px 0px 20px 0px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 40px;
        color: var(--font-color11);
        position: relative;
        .left {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          .point {
            width: 25px;
            height: 25px;
            border: 1px solid var(--font-color01);
            border-radius: 50%;
            margin-right: 4px;
            &.true {
              background: var(--font-color02);
              border: 0px;
              svg {
                color: var(--font-color03);
              }
            }
          }
        }
        .reset {
          &:hover {
            color: var(--font-color02) !important;
          }
        }
        a {
          color: var(--font-color02) !important;
        }
        span {
          color: var(--font-color08);
          text-align: left;
          margin-top: 5px;
          display: flex;
          position: absolute;
          width: inherit;
          bottom: -10px;
        }
      }
      &.user,
      &.ipt {
        position: relative;
        .select_reg {
          width: 70px;
          // height: 38px;
          height: 58px;
          left: 2px;
          position: absolute;
          z-index: 10;
        }
        input {
          width: 100%;
          height: 40px;
          height: 60px;
          font-size: 18px;
          color: #0e1733;
        }
        &.sel {
          input {
            padding-left: 75px !important;
          }
        }
        span {
          color: var(--font-color08);
          text-align: left;
          margin-top: 5px;
          display: flex;
        }
        &.code {
          // display: flex;
          input {
            width: 75%;
          }
          .reg_code {
            display: inline-block;
            width: 20%;
            margin-left: 5%;
            height: 60px;
            line-height: 60px;
            border-radius: 3px;
          }
        }
      }
    }
    label {
      text-align: left;
      color: var(--font-color11);
      margin: 20px 0px 10px 0px;
      font-size: var(--font-size16);
    }
    button {
      margin-top: 24px;
      height: 60px;
      font-size: var(--font-size16);
      // background: linear-gradient(
      //   90deg,
      //   rgba(57, 169, 255, 1) 0%,
      //   rgba(21, 79, 180, 1) 100%
      // );
      background: rgba(var(--font-color26), 1);
      box-shadow: 0px 5px 10px rgba(var(--font-color26), 0.5);
      border-radius: 3px;
      color: var(--font-color03);
      &:hover {
        opacity: 0.8;
      }
      &:active {
        opacity: 1;
        background: var(--back01);
      }
    }
  }
}
</style>
