<template>
  <div class="reset_password">
    <form>
      <div class="title">
        <h3>{{ $t("forget_pass.h3") }}（{{ num }}/2）</h3>
        <go :text="$t(text)" :link="link" :aricon="false" :border="true"></go>
      </div>
      <!-- <label for="username">用户名</label>
      <div class="user">
        <input
          type="text"
          id="username"
          @keyup="username = username.replace(/\s+/g, '')"
          placeholder="请设置用户名，设置后不可更改"
          v-model="username"
        />
        <span v-show="username == ''">请输入用户名</span>
      </div> -->
      <div class="nav-box" v-if="num == '1'">
        <h3
          class="phone-nav"
          @click="
            peCheck = '0';
            accountNumber = '';
            code = '';
          "
          :class="peCheck == '0' ? 'active' : 'none'"
        >
          {{ $t("forget_pass.nav_phone") }}
        </h3>
        <h3
          class="email-nav"
          @click="
            peCheck = '1';
            accountNumber = '';
            code = '';
          "
          :class="peCheck == '1' ? 'active' : 'none'"
        >
          {{ $t("forget_pass.nav_email") }}
        </h3>
      </div>
      <!-- 手机start -->
      <label v-show="num == 1" for="accountNumber" v-if="peCheck == '0'">{{
        $t("infoAll.phone")
      }}</label>
      <div v-show="num == 1" class="ipt sel" v-if="peCheck == '0'">
        <base-select
          class="select_reg"
          :data="dat"
          :val="val"
          set="val"
          value="value"
          label="label"
        ></base-select>
        <input
          type="text"
          id="accountNumber"
          @keyup="
            accountNumber = accountNumber
              ? accountNumber.replace(/\s+|[\D+]/g, '')
              : ''
          "
          :placeholder="$t('infoAll.input_phone')"
          v-model="accountNumber"
        />
        <span v-show="accountNumber == ''">{{
          $t("infoAll.phone_format")
        }}</span>
      </div>
      <!-- 手机end -->
      <!-- 邮箱start -->
      <label v-show="num == 1" for="accountNumber" v-if="peCheck == '1'">{{
        $t("infoAll.email")
      }}</label>
      <div v-show="num == 1" class="ipt" v-if="peCheck == '1'">
        <input
          type="text"
          id="accountNumber"
          @blur="
            accountNumber = accountNumber
              ? /^([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+@([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+\.[a-zA-Z]{2,3}$/.test(
                  accountNumber
                ) == true
                ? accountNumber
                : ''
              : ''
          "
          :placeholder="$t('infoAll.input_email')"
          v-model="accountNumber"
        />
        <span v-show="accountNumber == ''">{{
          $t("infoAll.email_format")
        }}</span>
      </div>
      <!-- 邮箱end -->
      <label v-show="num == 1" for="iconCcode">{{
        $t("forget_pass.pic_test")
      }}</label>
      <div v-show="num == 1" class="ipt code">
        <input
          type="text"
          id="iconCcode"
          @keyup="iconCcode = iconCcode ? iconCcode.replace(/\s+/g, '') : ''"
          @blur="
            iconCcode = (iconCcode
            ? iconCcode.toUpperCase() == iconCcodeText.toUpperCase()
            : iconCcode == iconCcodeText)
              ? iconCcodeText
              : ''
          "
          :placeholder="$t('forget_pass.code')"
          v-model="iconCcode"
        />
        <div
          class="reg_code2"
          @click="
            iconCcodeText = Math.random()
              .toString(36)
              .slice(-6)
          "
        >
          {{ iconCcodeText }}
        </div>
        <span v-show="iconCcode == ''">{{ $t("forget_pass.code") }}</span>
      </div>
      <label v-show="num == 2" for="code">{{
        peCheck == "0" ? $t("infoAll.phone_code") : $t("infoAll.email_code")
      }}</label>
      <div v-show="num == 2" class="ipt code">
        <input
          type="text"
          id="code"
          @keyup="code = code ? code.replace(/\s+/g, '') : ''"
          :placeholder="
            peCheck == '0'
              ? $t('infoAll.p_phone_code')
              : $t('infoAll.p_email_code')
          "
          v-model="code"
        />
        <send-code
          class="reg_code"
          :data="{
            accountType: peCheck,
            behaviorType: 2,
            number:
              peCheck == '0'
                ? '%2B' + val.split('+')[1] + ',' + accountNumber
                : accountNumber
          }"
          :time="60"
          type="bg"
        ></send-code>
        <span v-show="code == ''">{{
          peCheck == "0"
            ? $t("infoAll.p_phone_code")
            : $t("infoAll.p_email_code")
        }}</span>
      </div>
      <label v-show="num == 2" for="password">{{
        $t("pay_pass.new_pass")
      }}</label>
      <div v-show="num == 2" class="ipt">
        <input
          type="password"
          id="password"
          @keyup="password = password ? password.replace(/\s+/g, '') : ''"
          :placeholder="$t('forget_pass.pass_new')"
          autocomplete="new-password"
          v-model="password"
        />
        <span v-show="password == ''">{{ $t("sign_up.pass_regular") }}</span>
      </div>
      <label v-show="num == 2" for="password2">{{
        $t("sign_up.login_pass_two")
      }}</label>
      <div v-show="num == 2" class="ipt">
        <input
          type="password"
          id="password2"
          @keyup="password2 = password2 ? password2.replace(/\s+/g, '') : ''"
          @blur="password2 = password == password2 ? password2 : ''"
          :placeholder="$t('forget_pass.pass_new_t')"
          v-model="password2"
        />
        <span v-show="password2 == ''">{{ $t("sign_up.pass_check") }}</span>
      </div>
      <!-- <verify class="verify" v-if="test_status" :okFun="submitFun"></verify> -->
      <!-- <button @click="endShow" v-show="num == 2">
        {{ $t("forget_pass.submit") }}
      </button> -->
      <rd-button
        v-show="num == 2"
        :loading="loading"
        type="success2"
        :callBack="endShow"
        >{{ $t("forget_pass.submit") }}</rd-button
      >
      <button @click="nextStep" v-show="num == 1">
        {{ $t("forget_pass.one_button") }}
      </button>
    </form>
    <p v-show="num == 2" class="tishi">
      {{ $t("forget_pass.info") }}
    </p>
  </div>
</template>
<script>
import Go from "../../components/Go";
import BaseSelect from "../../components/BaseSelect";
import SendCode from "../../components/SendCode";
import { resetPassword } from "../../api/login";
import rdButton from "../../components/button";
export default {
  components: {
    go: Go,
    "base-select": BaseSelect,
    "send-code": SendCode,
    rdButton
  },
  data() {
    return {
      text: "sign_up.go_login",
      link: "login",
      num: 1,
      username: null,
      accountNumber: null,
      iconCcode: null,
      // 生成随机数字, eg: 0.123456
      // 转化成36进制 : "0.4fzyo82mvyr"
      // 截取最后八位 : "yo82mvyr"
      iconCcodeText: Math.random()
        .toString(36)
        .slice(-6),
      code: null,
      password: null,
      password2: null,
      test_status: false,
      pointClass: false,
      // eslint-disable-next-line no-useless-escape
      phone_reg: /^[+]*[(]{0,1}[0-9]{1,4}[)]{0,1}[-\s\./0-9]*$/,
      dat: {
        list: require("../../assets/json/country.json")
      },
      val: "+86",
      peCheck: "0",
      loading: false
      // item:{}
    };
  },
  methods: {
    submitFun() {
      // console.log('提交充值')
      this.loading = true;
      let item = {
        accountNumber:
          this.peCheck == "0"
            ? this.val + "," + this.accountNumber
            : this.accountNumber,
        accountType: this.peCheck,
        code: this.code,
        password: this.password
      };
      resetPassword(item)
        .then(res => {
          // console.log(res)
          if (res.code == 200) {
            this.$router.push("/");
          } else {
            this.$Notification.failed("重置失败", res.message, 500000);
          }
          this.loading = false;
        })
        .catch(e => {
          console.log(e);
          this.loading = false;
        });
    },
    nextStep(e) {
      e.preventDefault();
      if (
        this.accountNumber == "" ||
        this.accountNumber == null ||
        this.iconCcode == "" ||
        this.iconCcode == null
      ) {
        this.accountNumber =
          this.accountNumber == null ? "" : this.accountNumber;
        this.iconCcode = this.iconCcode == null ? "" : this.iconCcode;

        return false;
      }
      this.num++;
    },
    endShow(e) {
      e.preventDefault();
      // if(this.username=='' || this.username==null || this.password=='' || this.password==null || this.phone == '' || this.phone==null) {
      if (
        this.code == "" ||
        this.code == null ||
        this.password == "" ||
        this.password2 == "" ||
        this.password2 != this.password ||
        this.password2 == null ||
        this.password == null ||
        this.accountNumber == "" ||
        this.accountNumber == null
      ) {
        this.password = this.password == null ? "" : this.password;
        this.password2 = this.password2 == null ? "" : this.password2;
        this.accountNumber =
          this.accountNumber == null ? "" : this.accountNumber;
        this.code = this.code == null ? "" : this.code;
        // this.username=this.username==null?'':this.username
        return false;
      }
      // this.test_status = true;
      this.submitFun();
    }
  }
};
</script>
<style lang="scss" scoped>
.reset_password {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  form {
    width: 500px;
    display: flex;
    flex-direction: column;
    div {
      &.title {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      h3 {
        font-weight: var(--font-weight-800);
        font-size: var(--font-size30);
        color: var(--font-color11);
        line-height: 42px;
      }
      &.nav-box {
        display: flex;
        margin-top: 26px;
        // margin-bottom: 15px;
        h3 {
          font-size: 20px;
          font-weight: 400;
          line-height: 28px;
          &.active {
            color: #222222;
            border-bottom: 10px solid #3787fe;
            border-radius: 3px;
          }
          &.none {
            color: #a1b0c6;
            cursor: pointer;
          }
          &.phone-nav {
            margin-right: 30px;
          }
        }
      }
      &.rem {
        margin: 30px 0px 20px 0px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 40px;
        color: var(--font-color11);
        position: relative;
        .left {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          .point {
            width: 25px;
            height: 25px;
            border: 1px solid var(--font-color01);
            border-radius: 50%;
            margin-right: 4px;
            &.true {
              background: var(--font-color02);
              border: 0px;
              svg {
                color: var(--font-color03);
              }
            }
          }
        }
        .reset {
          &:hover {
            color: var(--font-color02) !important;
          }
          height: inherit;
          display: flex;
          align-items: center;
        }
        a {
          color: var(--font-color02) !important;
        }
        span {
          color: var(--font-color08);
          text-align: left;
          margin-top: 5px;
          display: flex;
          position: absolute;
          width: inherit;
          bottom: -10px;
        }
      }
      &.user,
      &.ipt {
        position: relative;
        .select_reg {
          width: 70px;
          // height: 38px;
          height: 58px;
          left: 2px;
          position: absolute;
          z-index: 10;
        }
        input {
          width: 100%;
          // height: 40px;
          height: 60px;
          color: #0e1733;
          font-size: 18px;
        }
        &.sel {
          input {
            padding-left: 75px !important;
          }
        }
        span {
          color: var(--font-color08);
          text-align: left;
          margin-top: 5px;
          display: flex;
        }
        &.code {
          // display: flex;
          input {
            width: 75%;
          }
          .reg_code {
            display: inline-block;
            width: 20%;
            margin-left: 5%;
            height: 60px;
            line-height: 60px;
            border-radius: 3px;
          }
          .reg_code2 {
            display: inline-block;
            width: 20%;
            margin-left: 5%;
            background: var(--font-color15);
            height: 40px;
            vertical-align: bottom;
            line-height: 40px;
            height: 60px;
            line-height: 60px;
            border-radius: 3px;
            font-size: 20px;
            color: #222222;
          }
        }
      }
    }
    label {
      text-align: left;
      color: var(--font-color11);
      margin: 20px 0px 10px 0px;
      font-size: var(--font-size16);
    }
    .verify {
      margin-top: 20px;
    }
    button {
      margin-top: 24px;
      height: 60px;
      font-size: var(--font-size16);
      // background: linear-gradient(
      //   90deg,
      //   rgba(57, 169, 255, 1) 0%,
      //   rgba(21, 79, 180, 1) 100%
      // );
      background: rgba(var(--font-color26), 1);
      box-shadow: 0px 5px 10px rgba(var(--font-color26), 0.5);
      border-radius: 3px;
      color: var(--font-color03);
      &:hover {
        opacity: 0.8;
      }
      &:active {
        opacity: 1;
        background: var(--back01);
      }
    }
  }
  p.tishi {
    margin-top: 50px;
  }
}
</style>
