<template>
  <div class="foot-trade-detail">
    <div class="banxin">
      <h3>{{ $t("tOrderDetail.faq") }}</h3>
      <div class="h4-box">
        <img src="../../../assets/images/trade/zu 445@2x.png" alt="" />
        <h4>{{ $t("tOrderDetail.faq1") }}</h4>
      </div>
      <div class="p-box">
        <p class="red">{{ $t("tOrderDetail.faq11") }}</p>
        <p class="">{{ $t("tOrderDetail.faq12") }}</p>
        <p class="">{{ $t("tOrderDetail.faq13") }}</p>
        <p class="">{{ $t("tOrderDetail.faq14") }}</p>
        <p class="">{{ $t("tOrderDetail.faq15") }}</p>
        <p class="">{{ $t("tOrderDetail.faq16") }}</p>
      </div>
      <div class="h4-box">
        <img src="../../../assets/images/trade/zu 445@2x.png" alt="" />
        <h4>{{ $t("tOrderDetail.faq2") }}</h4>
      </div>
      <div class="p-box">
        <p class="">{{ $t("tOrderDetail.faq21") }}</p>
      </div>
      <div class="h4-box">
        <img src="../../../assets/images/trade/zu 445@2x.png" alt="" />
        <h4>{{ $t("tOrderDetail.faq3") }}</h4>
      </div>
      <div class="p-box">
        <p class="">{{ $t("tOrderDetail.faq31") }}</p>
      </div>
    </div>
  </div>
</template>
<style lang="scss" scoped>
.foot-trade-detail {
  //   height: 537px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  border-radius: 3px;
  padding: 30px 0px 0px 0px;
  color: #222222;
  font-size: 20px;
  text-align: left;
  h3 {
    font-size: inherit;
    font-weight: 800;
    color: inherit;
    line-height: 28px;
  }
  h4 {
    font-size: inherit;
    font-weight: 400;
    color: inherit;
  }
  p {
    font-size: 16px;
    color: #666666;
    line-height: 32px;
    &.red {
      color: #fc7373;
    }
  }
  .h4-box {
    margin-top: 20px;
    display: flex;
    align-items: center;
    img {
      width: 20px;
      height: 20px;
      margin-right: 10px;
    }
  }
}
</style>
