<template>
  <div class="info-order-top skt-loading">
    <div class="header">
      <div class="time">
        <p
          class="time"
          v-if="
            data
              ? data.expiredTimestamp == 0 || data.residueTime != '00：00：00'
              : true
          "
          :class="loadingInfo ? 'skeleton' : ''"
        >
          {{ $t("tOrderDetail.remain_time") }}:
          {{ data.residueTime ? data.residueTime : "" }}
        </p>
        <h3 v-if="data ? data.status == '4' : false">订单已付款</h3>
      </div>
      <div class="order-id">
        <p class="order" :class="loadingInfo ? 'skeleton' : ''">
          {{ $t("tOrderDetail.order_num") }} {{ data.id }}
        </p>
      </div>
    </div>
    <div class="amount-type">
      <p class="text" :class="loadingInfo ? 'skeleton' : ''">
        {{
          data.role == "0"
            ? $t("tOrderDetail.need_paid")
            : $t("tOrderDetail.transaction_paid")
        }}
      </p>
      <h3 class="amount" :class="loadingInfo ? 'skeleton' : ''">
        {{ data.amountCny }} {{ data.tradeCoinType }}
      </h3>
    </div>
    <ul class="list">
      <li>
        <div class="name">
          <p :class="loadingInfo ? 'skeleton' : ''">
            {{
              data.role == "0"
                ? $t("tOrderDetail.need_amount")
                : $t("tOrderDetail.transaction_amount")
            }}
            ({{ data.coinType ? data.coinType.toUpperCase() : "" }})
          </p>
        </div>
        <div class="value">
          <p class="black" :class="loadingInfo ? 'skeleton' : ''">
            {{ data.amount }}
          </p>
        </div>
      </li>
      <li>
        <div class="name">
          <p class="name" :class="loadingInfo ? 'skeleton' : ''">
            {{ $t("tOrderDetail.fee") }}
            ({{ data.coinType ? data.coinType.toUpperCase() : "" }})
          </p>
        </div>
        <div class="value">
          <p class="black" :class="loadingInfo ? 'skeleton' : ''">
            {{ data.amountHandingFree }}
          </p>
        </div>
      </li>
      <li>
        <div class="name">
          <p class="name" :class="loadingInfo ? 'skeleton' : ''">
            {{ $t("tOrderDetail.price") }} ({{ data.tradeCoinType }})
          </p>
        </div>
        <div class="value">
          <p class="black" :class="loadingInfo ? 'skeleton' : ''">
            {{ data.cnyUnitPrice }}
          </p>
        </div>
      </li>
      <li>
        <div class="name">
          <p class="name" :class="loadingInfo ? 'skeleton' : ''">
            {{
              data.role == "0"
                ? $t("tOrderDetail.need_time")
                : $t("tOrderDetail.transaction_time")
            }}
          </p>
        </div>
        <div class="value">
          <p class="black" :class="loadingInfo ? 'skeleton' : ''">
            {{ data.startTime }}
          </p>
        </div>
      </li>
    </ul>
  </div>
</template>
<script>
import { fortmatTime } from "../../../utils/index";
export default {
  props: {
    data: {
      type: Object,
      default: () => {}
    }
  },
  data() {
    return {
      loadingInfo: true
    };
  },
  watch: {
    "data.id": {
      handler() {
        this.loadingInfo = false;
      }
    },
    immediate: true
  },
  created() {
    this.setIntervalTime();
  },
  beforeDestroy() {
    clearInterval(this.timeId);
    this.time = 1000;
    this.timeId = null;
  },
  methods: {
    setIntervalTime() {
      this.timeId = setInterval(() => {
        this.$set(
          this.data,
          "residueTime",
          fortmatTime(this.data.expiredTimestamp--)
        );
        // console.log(this.data.expiredTimestamp);
        if (this.data.expiredTimestamp < 0) {
          clearInterval(this.timeId);
        }
      }, 1000);
    }
  }
};
</script>
<style lang="scss" scoped>
.info-order-top {
  h3 {
    &.title {
      font-size: 20px;
      font-weight: 800;
      line-height: 28px;
      color: #222222;
    }
    &.amount {
      font-size: 30px;
      font-weight: 800;
      line-height: 42px;
      color: #3787fe;
    }
  }
  div.time {
    h3 {
      font-size: 20px;
      font-weight: 800;
      color: #222222;
    }
  }
  p {
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: #666666;
    &.time {
      color: #3787fe;
    }
    &.black {
      color: #222222;
      min-width: 30px;
      min-height: 22px;
    }
  }
  .header {
    height: 60px;
    box-sizing: border-box;
    padding: 16px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .amount-type {
    height: 110px;
    background: rgba(250, 250, 250, 1);
    opacity: 1;
    border-radius: 3px 3px 0px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .list {
    padding: 0px 30px;
    li {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 45px;
      &:not(:last-child) {
        border-bottom: 1px solid #f2f2f2;
      }
      .value {
        p {
          text-align: right;
        }
      }
    }
  }
}
</style>
