<template>
  <!-- 交易对象信息 -->
  <div class="trade-partners-info skt-loading">
    <div
      class="tt"
      v-if="
        data.status != '0' &&
          data.status != '5' &&
          data.status != '1' &&
          data.status != '2' &&
          data.status != '6'
      "
    >
      <div class="head-parnters">
        <div class="parn-left">
          <div class="pl-top">
            <h3 :class="loadingInfo ? 'skeleton' : ''">
              {{
                data.role == "0"
                  ? $t("tOrderDetail.out_user")
                  : $t("tOrderDetail.in_user")
              }}
            </h3>
          </div>
          <div class="pl-bottom">
            <div class="img" :class="loadingInfo ? 'skeleton' : ''">
              {{ data.item ? data.item.tUsername.slice(0, 1) : "" }}
            </div>
            <div class="info-box">
              <h3 :class="loadingInfo ? 'skeleton' : ''">
                {{
                  data.item
                    ? data.item.tUsername + " (" + data.item.tRealName + ")"
                    : ""
                }}
              </h3>
              <span
                :class="
                  data.item
                    ? data.item.isOnline == '0'
                      ? 'unline'
                      : 'inline'
                    : 'unline'
                "
                >{{
                  data.item
                    ? data.item.isOnline == "0"
                      ? $t("tOrderDetail.unline")
                      : $t("tOrderDetail.inline")
                    : ""
                }}</span
              >
            </div>
          </div>
        </div>
        <div class="parn-right">
          <h3 class="blue" :class="loadingInfo ? 'skeleton' : ''">
            {{ data.referenceCode }}
          </h3>
          <p class="blue" :class="loadingInfo ? 'skeleton' : ''">
            {{ $t("tOrderDetail.pay_code") }}
          </p>
        </div>
      </div>
      <div class="body-info">
        <p
          class="p-phone"
          v-show="
            data.phoneTime == '0' &&
              data.isComplaint != '1' &&
              data.status != '0' &&
              data.status != '2' &&
              data.status != '5' &&
              data.status != '6'
          "
          :class="loadingInfo ? 'skeleton' : ''"
        >
          {{ $t("tOrderDetail.phone_num") }}：
          <i
            v-show="
              data.status != '0' &&
                data.status != '6' &&
                data.status != '2' &&
                data.phoneTime == '0' &&
                data.isComplaint != '1'
            "
            style="color:#3787FE;"
          >
            {{
              (data.item
              ? data.item.tPhone == null
              : null)
                ? "无"
                : data.item
                ? data.item.tPhone
                : ""
            }}
          </i>
        </p>
        <p
          class="p-phone-text"
          :class="loadingInfo ? 'skeleton' : ''"
          v-show="
            data.phoneTime != 0 &&
              !(
                data.status == '4' &&
                data.isComplaint == '1' &&
                data.complaintStatus == '0'
              )
          "
        >
          <span
            v-html="
              $t('tOrderDetail.phone_num_s', { time: data.residuePhoneTime })
            "
          ></span>
          <i></i>
          <span v-html="$t('tOrderDetail.phone_num_s2')"></span>
        </p>
      </div>
      <div class="selct-partner-status-box">
        <div class="ul-box">
          <ul class="select">
            <li v-for="(item, index) in ways" :key="index + 'select'">
              <div class="left-box" @click="receiptWayId = item.id">
                <div
                  class="point"
                  :class="item.id == receiptWayId ? 'active' : 'none'"
                ></div>
                <img
                  v-show="item.type == '0'"
                  :class="loadingInfo ? 'skeleton' : ''"
                  src="../../../assets/images/trade/zu 393@2x.png"
                  alt=""
                />
                <img
                  v-show="item.type == '1'"
                  :class="loadingInfo ? 'skeleton' : ''"
                  src="../../../assets/images/trade/zu 436@2x.png"
                  alt=""
                />
                <img
                  v-show="item.type == '2'"
                  :class="loadingInfo ? 'skeleton' : ''"
                  src="../../../assets/images/trade/zu 437@2x.png"
                  alt=""
                />
                <img
                  v-show="item.payWayType == '1'"
                  :class="loadingInfo ? 'skeleton' : ''"
                  src="../../../assets/images/trade/zu 755@2x.png"
                  alt=""
                />
                <div class="type" :class="loadingInfo ? 'skeleton' : ''">
                  {{
                    item.type == "0"
                      ? item.name
                      : item.type == "1"
                      ? $t("tOrderDetail.ali")
                      : $t("tOrderDetail.ali")
                  }}
                </div>
                <div class="account" :class="loadingInfo ? 'skeleton' : ''">
                  {{
                    item.type == "0"
                      ? item.bankCardNumber
                      : item.type == "1"
                      ? item.alipayAccount
                      : item.wxAccount
                  }}
                </div>
                <div
                  v-show="item.type == '0'"
                  class="cardname"
                  :class="loadingInfo ? 'skeleton' : ''"
                >
                  {{ item.bankAccount + " (" + item.branchAccount + ")" }}
                </div>
                <div
                  v-show="item.type == '1' || item.type == '2'"
                  class="qrcode"
                  :class="loadingInfo ? 'skeleton' : ''"
                >
                  {{ $t("tOrderDetail.qs_pay") }}
                  <img v-if="item.type == '2'" :src="url + item.wxQrCode" />
                  <img v-if="item.type == '1'" :src="url + item.alipayQrCode" />
                </div>
              </div>
              <div class="right-box">
                <div class="img">
                  <img
                    :class="loadingInfo ? 'skeleton' : ''"
                    :src="item.logo"
                    alt=""
                  />
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div
      class="bb"
      v-if="
        data.status != '0' &&
          data.status != '5' &&
          data.status != '1' &&
          data.status != '2' &&
          data.status != '6'
      "
    >
      <div class="complaint-info">
        <p
          v-show="
            data.status == '4' &&
              data.isComplaint == '1' &&
              data.complaintStatus == '0'
          "
          :class="loadingInfo ? 'skeleton' : 'code'"
        >
          <!-- <i>{{ data.id }}</i> -->
          <span
            v-html="
              data.complaintRole == '1'
                ? data.role == '0'
                  ? $t('tOrderDetail.seller2you', { code: data.id })
                  : $t('tOrderDetail.buyer2you', { code: data.id })
                : data.role == '0'
                ? $t('tOrderDetail.you2seller', { code: data.id })
                : $t('tOrderDetail.you2buyer', { code: data.id })
            "
          >
          </span>
          {{ $t("tOrderDetail.appeal_code") }}{{ data.certificate }}.{{
            $t("tOrderDetail.concat_you")
          }}
        </p>
        <p
          v-show="data.status == '4' && data.isComplaint == '1'"
          class="complaint-time"
          :class="loadingInfo ? 'skeleton' : ''"
        >
          {{ $t("tOrderDetail.appeal_time") }}：{{ data.complaintTime }}
        </p>
      </div>
      <div
        class="end-info"
        v-if="
          (data.status == '4' && data.isComplaint != '1') ||
            data.status == '6' ||
            (data.status == '5' && data.complaintStatus == '1')
        "
      >
        <p
          class=""
          :class="loadingInfo ? 'skeleton' : ''"
          v-show="
            data.role == '1' && data.status == '4' && data.isComplaint != '1'
          "
        >
          {{ $t("tOrderDetail.paid_start")
          }}<i style="color:#F05B5F;">15{{ $t("tOrderDetail.paid_min") }}</i
          >{{ $t("tOrderDetail.paid_end") }}
        </p>
        <p
          class=""
          :class="loadingInfo ? 'skeleton' : ''"
          v-show="
            data.role == '0' && data.status == '4' && data.isComplaint != '1'
          "
        >
          {{ $t("tOrderDetail.remark_paid") }}
        </p>

        <!-- <p class=""
        v-show="data.status=='4' && data.isComplaint=='0'"
        >您已将订单标记为“已付款”状态，请等待卖方确认收款和放行。</p> -->

        <!-- data.status=='6' || -->
        <p
          class=""
          :class="loadingInfo ? 'skeleton' : ''"
          v-show="
            data.status == '6' ||
              (data.status == '5' && data.complaintStatus == '1')
          "
        >
          {{ $t("tOrderDetail.judge") }}：{{ data.amount }}
          {{ data.coinType }}
          {{
            data.status == "5"
              ? $t("tOrderDetail.return_se")
              : $t("tOrderDetail.release_se")
          }}
          <span style="margin-left:.4rem;"
            >{{ $t("tOrderDetail.judge_time") }}：{{
              data.complaintDealTime
            }}</span
          >
        </p>
      </div>
      <div class="btn-box">
        <!-- && data.role=='1' -->

        <!-- <button
          class="normal left shensu do"
          v-if="data.status == '4' && data.isComplaint == '0'"
          :class="
            data.role == '1'
              ? 'shensu-color-red'
              : data.complaintET == '0'
              ? 'shensu-color-red'
              : 'shensu-color-gray'
          "
          @click="data.complaintET <= 0 ? openModal('complaintET') : ''"
        >
          {{ $t("tOrderDetail.appeal")
          }}<i v-if="data.complaintET <= 0 ? false : true"
            >({{
              data.role == "1"
                ? ""
                : data.complaintET == "0"
                ? ""
                : data.residueComplaintEtTime
            }})</i
          >
        </button> -->

        <button
          class="normal left shensu-inline do"
          :class="loadingInfo ? 'skeleton' : ''"
          v-if="
            data.status == '4' &&
              data.isComplaint == '1' &&
              data.complaintStatus == '0'
          "
        >
          {{
            data.complaintRole == "1"
              ? $t("tOrderDetail.be_appeal")
              : $t("tOrderDetail.appealing")
          }}
        </button>

        <!-- <button class="normal left cancel-order"
            v-if="data.role=='0' && data.isOwner=='1' && data.status=='3'"
            @click="cancel_order=true;"
        >取消订单</button> -->
        <button
          class="normal left cancel-order do"
          :class="loadingInfo ? 'skeleton' : ''"
          v-if="data.role == '0' && data.status == '3'"
          @click="openModal('cancle')"
        >
          {{ $t("tOrderDetail.order_cancle") }}
        </button>

        <button
          class="normal left already-pay do"
          :class="loadingInfo ? 'skeleton ' + $i18n.locale : $i18n.locale"
          v-if="data.role == '0' && data.status == '3'"
          @click="openModal('mark')"
        >
          {{ $t("tOrderDetail.mark_paid") }}
        </button>

        <button
          class="all-length order-list do"
          :class="loadingInfo ? 'skeleton' : ''"
          v-if="data.status == '6' || data.status == '2' || data.status == '5'"
          @click="$router.go(-1)"
        >
          {{ $t("tOrderDetail.order_list") }}
        </button>

        <button
          class="all-length order-list do"
          :class="loadingInfo ? 'skeleton ' + $i18n.locale : $i18n.locale"
          v-if="data.status == '1'"
          @click="$router.push('/trade')"
        >
          {{
            data.role == "0"
              ? $t("tOrderDetail.order_overtime_in")
              : $t("tOrderDetail.order_overtime_out")
          }}
        </button>

        <button
          class="all-length order-already-cancel"
          :class="loadingInfo ? 'skeleton' : ''"
          v-if="data.status == '0'"
        >
          {{ $t("tOrderDetail.order_cancled") }}
        </button>
        <!-- <button class="all-length order-already-cancel"
        v-if="data.status=='5' && data.complaintStatus=='0'"
        
        >后台取消</button>
        <button class="all-length order-already-cancel"
        v-if="data.status=='5' && data.complaintStatus=='1'"
        
        >申诉取消</button> -->

        <!-- v-if="data.role=='1' && (data.status=='3' || data.status=='4')" -->
        <button
          class="normal left fangxing do"
          :class="loadingInfo ? 'skeleton' : ''"
          v-if="
            (data.role == '1' &&
              (data.status == '3' || data.status == '4') &&
              data.isComplaint == '0') ||
              (data.role == '1' &&
                data.status == '4' &&
                data.isComplaint == '1' &&
                data.complaintStatus == '0' &&
                data.complaintRole == '1')
          "
          @click="openModal('release')"
        >
          {{ $t("tOrderDetail.release") }}{{ data.coinType }}
        </button>
      </div>
      <!-- 把申诉提出来 -->
      <button
        class="normal shensu do shensutichu"
        v-if="data.status == '4' && data.isComplaint == '0'"
        :class="
          data.role == '1'
            ? 'shensu-color-red'
            : data.complaintET == '0'
            ? 'shensu-color-red'
            : 'shensu-color-gray'
        "
        @click="data.complaintET <= 0 ? openModal('complaintET') : ''"
      >
        {{ $t("tOrderDetail.appeal")
        }}<i v-if="data.complaintET <= 0 ? false : true"
          >({{
            data.role == "1"
              ? ""
              : data.complaintET == "0"
              ? ""
              : data.residueComplaintEtTime
          }})</i
        >
      </button>
      <!-- 申诉提出 结束 -->
    </div>
    <!-- btn-load-box -->
    <div class="bb bb-load-box" v-if="loadingInfo">
      <div class="btn-box">
        <button :class="loadingInfo ? 'skeleton' : ''"></button>
        <button :class="loadingInfo ? 'skeleton' : ''"></button>
      </div>
    </div>
    <!--  -->
    <div
      class="done-box"
      :class="loadingInfo ? 'skeleton' : ''"
      v-if="
        data.status == '0' ||
          data.status == '5' ||
          data.status == '1' ||
          data.status == '2' ||
          data.status == '6'
      "
    >
      <img
        v-if="data.status == '0'"
        :class="loadingInfo ? 'skeleton' : ''"
        src="../../../assets/images/trade/cancle.png"
        alt=""
      />
      <img
        v-if="data.status == '2' || data.status == '5' || data.status == '6'"
        :class="loadingInfo ? 'skeleton' : ''"
        src="../../../assets/images/trade/don.png"
        alt=""
      />
      <img
        v-if="data.status == '1'"
        :class="loadingInfo ? 'skeleton' : ''"
        src="../../../assets/images/trade/time.png"
        alt=""
      />
      <h3 v-show="data.status == '0'" :class="loadingInfo ? 'skeleton' : ''">
        {{ $t("tOrderDetail.status_cancled") }}
      </h3>
      <h3 v-show="data.status == '5'" :class="loadingInfo ? 'skeleton' : ''">
        {{ $t("tOrderDetail.status_closed") }}
      </h3>
      <h3
        v-show="data.status == '2' && data.role == '0'"
        :class="loadingInfo ? 'skeleton' : ''"
      >
        {{ $t("tOrderDetail.status_done") }}
      </h3>
      <h3
        v-show="data.status == '6' && data.role == '0'"
        :class="loadingInfo ? 'skeleton' : ''"
      >
        {{ $t("tOrderDetail.status_done") }}
      </h3>
      <h3
        v-show="data.status == '2' && data.role == '1'"
        :class="loadingInfo ? 'skeleton' : ''"
      >
        {{ $t("tOrderDetail.status_transfer_done") }}
      </h3>
      <h3
        v-show="data.status == '6' && data.role == '1'"
        :class="loadingInfo ? 'skeleton' : ''"
      >
        {{ $t("tOrderDetail.status_transfer_done") }}
      </h3>
      <h3 v-show="data.status == '1'" :class="loadingInfo ? 'skeleton' : ''">
        {{ $t("tOrderDetail.status_overtime") }}
      </h3>
      <p v-show="data.status == '1'" :class="loadingInfo ? 'skeleton' : ''">
        {{ data.role == "0" ? $t("tOrderDetail.in") : $t("tOrderDetail.out")
        }}{{ $t("tOrderDetail.over2h") }}
      </p>
      <p
        v-show="data.status == '0' || data.status == '5'"
        :class="loadingInfo ? 'skeleton' : ''"
      >
        {{
          data.role == "1"
            ? data.coinType + $t("tOrderDetail.have_return")
            : $t("tOrderDetail.have_order_cancled")
        }}
      </p>
      <p
        v-show="data.status == '2' || data.status == '6'"
        :class="loadingInfo ? 'skeleton' : ''"
      >
        {{
          data.role == "0"
            ? $t("tOrderDetail.have_in")
            : $t("tOrderDetail.have_out")
        }}
        <i>{{ data.amount }} {{ data.coinType }}</i>
      </p>
      <p
        class="judge"
        :class="loadingInfo ? 'skeleton' : ''"
        v-show="
          data.status == '6' ||
            (data.status == '5' && data.complaintStatus == '1')
        "
      >
        {{ $t("tOrderDetail.judge") }}：<i
          >{{ data.amount }} {{ data.coinType }}</i
        >
        {{
          data.status == "5"
            ? $t("tOrderDetail.return_se")
            : $t("tOrderDetail.release_se")
        }}
        <br />
        <span style="margin-left:.4rem;"
          >{{ $t("tOrderDetail.judge_time") }}：{{
            data.complaintDealTime
          }}</span
        >
      </p>
      <div class="btn-box">
        <button
          class="all-length order-list do"
          :class="loadingInfo ? 'skeleton' : ''"
          v-if="data.status == '6' || data.status == '2' || data.status == '5'"
          @click="$router.go(-1)"
        >
          {{ $t("tOrderDetail.order_list") }}
        </button>

        <button
          class="all-length order-list do"
          :class="loadingInfo ? 'skeleton ' + $i18n.locale : $i18n.locale"
          v-if="data.status == '1'"
          @click="$router.push('/trade')"
        >
          {{
            data.role == "0"
              ? $t("tOrderDetail.order_overtime_in")
              : $t("tOrderDetail.order_overtime_out")
          }}
        </button>
        <button
          class="all-length order-already-cancel"
          :class="loadingInfo ? 'skeleton' : ''"
          v-if="data.status == '0'"
          @click="$router.push('/trade')"
        >
          {{ $t("tOrderDetail.order_cancled") }}
        </button>
      </div>
    </div>
    <!-- 标记付款 -->
    <modal ref="modal_trade">
      <div slot="header">
        {{
          modalType == "mark"
            ? $t("tOrderDetail.mark_paid")
            : modalType == "cancle"
            ? $t("tOrderDetail.order_cancle")
            : modalType == "complaintET"
            ? $t("tOrderDetail.item4_h")
            : modalType == "release"
            ? $t("tOrderDetail.item3_h")
            : "未找到对应的 弹窗类型"
        }}
      </div>
      <div slot="body" class="trade_detail" :class="$i18n.locale">
        <div class="info-item" v-if="modalType == 'mark'">
          <p>
            {{ $t("tOrderDetail.item1_p1") }},
            <i>{{ $t("tOrderDetail.item1_p2") }}</i>
          </p>
        </div>
        <div class="info-item" v-if="modalType == 'cancle'">
          <p>1.{{ $t("tOrderDetail.item2_p1") }}</p>
          <p class="red">2.{{ $t("tOrderDetail.item2_p2") }}</p>
        </div>
        <div class="info-item" v-if="modalType == 'complaintET'">
          <textarea
            :placeholder="$t('tOrderDetail.item4_p1')"
            autofocus
            v-model="description"
          ></textarea>
        </div>
        <div class="info-item" v-if="modalType == 'release'">
          <p class="red">{{ $t("tOrderDetail.item3_p1") }}</p>
          <div class="h-info-item">
            <div class="nam">{{ $t("tOrderDetail.item3_p3") }}</div>
            <div class="num">{{ data.amountCny }} {{ data.tradeCoinType }}</div>
          </div>
          <ul>
            <li>
              <div class="name">{{ $t("tOrderDetail.item3_p2") }}</div>
              <div class="amount">{{ data.item.tRealName }}</div>
            </li>
            <li>
              <div class="name">{{ $t("tOrderDetail.item3_p4") }}</div>
              <div class="amount">
                {{ data.amount }} {{ data.coinType.toUpperCase() }}
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div slot="footer">
        <rd-button type="cancel1" :callBack="cancelModal">{{
          $t("infoAll.cancel")
        }}</rd-button>
        <rd-button
          :loading="loadingTrade"
          type="success2"
          :callBack="confirmFun"
          >{{ $t("infoAll.confirm") }}</rd-button
        >
      </div>
    </modal>
  </div>
</template>
<script>
import { fortmatTime } from "../../../utils/index";
import Modal from "../../../components/Modal";
import rdButton from "../../../components/button";
import {
  confirmMarkFun,
  cancleTradeOrderFun,
  tradeComplaintOrderFun,
  releaseOrderFun
} from "../../../api/trade";
export default {
  components: {
    Modal,
    rdButton
  },
  props: {
    data: {
      type: Object,
      default: () => {}
    },
    ways: {
      type: Array,
      default: () => []
    },
    callBack: {
      type: Function,
      default: () => {}
    }
  },
  data() {
    return {
      url: "http://103.75.2.199:8080",
      receiptWayId: null,
      loadingTrade: false,
      modalType: "",
      description: "",
      loadingInfo: true
    };
  },
  watch: {
    ways: {
      handler() {
        this.receiptWayId = this.ways[0].id;
      },
      deep: true
      //   immediate: true
    },
    "data.id": {
      handler() {
        // console.log(n);
        this.loadingInfo = false;
      }
    }
  },
  created() {
    this.setIntervalTime();
    this.setIntervalTimeComplet();
  },
  beforeDestroy() {
    clearInterval(this.timeId);
    clearInterval(this.timeIdComplet);
    this.timeId = null;
    this.timeIdComplet = null;
  },
  methods: {
    openModal(type) {
      this.modalType = type;
      this.$refs.modal_trade.show = true;
    },
    cancelModal() {
      this.$refs.modal_trade.cancel(false);
    },
    confirmFun() {
      switch (this.modalType) {
        case "mark":
          this.confirmMarkFun();
          break;
        case "cancle":
          this.cancelTradeFun();
          break;
        case "complaintET":
          this.complaintETFun();
          break;
        case "release":
          this.releaseFun();
          break;
        default:
          console.log("没有找到具体的操作 对象 modalType");
          this.$Notification.warning(
            "",
            "没有找到具体的操作 modalType:" + this.modalType,
            2500
          );
          break;
      }
    },
    releaseFun() {
      let item = {
        id: this.data.id
      };
      this.loadingTrade = true;
      releaseOrderFun(item).then(res => {
        if (res.code == 200) {
          this.$Notification.success("", res.message, 2500);
          this.cancelModal();
          this.callBack();
          clearInterval(this.timeIdComplet);
          this.setIntervalTimeComplet();
        } else {
          this.$Notification.failed("", res.message, 3000);
        }
        this.loadingTrade = false;
        this.modalType = "";
      });
    },
    complaintETFun() {
      if (this.description == "") {
        this.$Notification.failed("", "请填写申诉原因。", 2500);
        return;
      }
      let item = {
        cnyTransactionOrderId: this.data.id,
        description: this.description
      };
      this.loadingTrade = true;
      tradeComplaintOrderFun(item).then(res => {
        if (res.code == 200) {
          this.$Notification.success("", res.message, 2500);
          this.cancelModal();
          this.callBack();
          clearInterval(this.timeIdComplet);
          this.setIntervalTimeComplet();
        } else {
          this.$Notification.failed("", res.message, 3000);
        }
        this.loadingTrade = false;
        this.modalType = "";
        this.description = "";
      });
    },
    cancelTradeFun() {
      let item = {
        id: this.data.id
      };
      this.loadingTrade = true;
      cancleTradeOrderFun(item).then(res => {
        if (res.code == 200) {
          this.$Notification.success("", res.message, 2500);
          this.cancelModal();
          this.callBack();
          clearInterval(this.timeIdComplet);
          this.setIntervalTimeComplet();
        } else {
          this.$Notification.failed("", res.message, 3000);
        }
        this.loadingTrade = false;
        this.modalType = "";
      });
    },
    confirmMarkFun() {
      if (this.receiptWayId == null) {
        this.$Notification.success("", "请选择收款方式！", 3000);
        return;
      }
      let item = {
        id: this.data.id,
        receiptWayId: this.receiptWayId
      };
      this.loadingTrade = true;
      confirmMarkFun(item).then(res => {
        if (res.code == 200) {
          this.$Notification.success("", res.message, 3000);
          this.cancelModal();
          this.callBack();
          clearInterval(this.timeIdComplet);
          this.setIntervalTimeComplet();
        } else {
          this.$Notification.failed("", res.message, 3000);
        }
        this.loadingTrade = false;
        this.modalType = "";
      });
    },
    setIntervalTime() {
      this.timeId = setInterval(() => {
        this.$set(
          this.data,
          "residuePhoneTime",
          fortmatTime(this.data.phoneTime--)
        );
        if (this.data.phoneTime < 0) {
          this.data.phoneTime = 0;
          clearInterval(this.timeId);
        }
      }, 1000);
    },
    setIntervalTimeComplet() {
      this.timeIdComplet = setInterval(() => {
        this.$set(
          this.data,
          "residueComplaintEtTime",
          fortmatTime(this.data.complaintET--)
        );
        if (this.data.complaintET < 0) {
          this.data.complaintET = 0;
          clearInterval(this.timeIdComplet);
        }
      }, 1000);
    }
  }
};
</script>
<style lang="scss" scoped>
.nw-modal-body {
  width: 540px;
}
.trade_detail {
  width: 540px;
  .info-item {
    width: 540px;
    flex-direction: column;
    align-items: flex-start;
    p {
      font-size: 16px;
      line-height: 32px;
      color: #222222;
      text-align: left;
      i {
        color: #fc7373;
      }
      &.red {
        color: #fc7373;
      }
    }
    textarea {
      width: 540px;
      height: 380px;
      outline: none;
      border: 1px solid rgba(204, 204, 204, 1);
      opacity: 1;
      border-radius: 5px;
      resize: none;
    }
    .h-info-item {
      margin-top: 21px;
      width: 540px;
      height: 80px;
      background: rgba(161, 176, 198, 1);
      opacity: 1;
      border-radius: 3px 3px 0px 0px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      color: #ffffff;
      .nam {
        font-size: 16px;
        line-height: 32px;
      }
      .num {
        font-size: 20px;
        font-weight: 800;
        line-height: 28px;
      }
    }
    ul {
      height: 100px;
      background: rgba(242, 242, 242, 1);
      box-sizing: border-box;
      padding: 0px 20px;
      li {
        height: 50px;
        box-sizing: border-box;
        &:not(:last-child) {
          border-bottom: 1px solid #e6e6e6;
        }
        display: flex;
        justify-content: space-between;
        align-items: center;
        .name {
          color: #666666;
          font-size: 16px;
        }
        .amount {
          color: #333333;
          font-size: 16px;
        }
      }
    }
  }
}
.nw-modal-footer {
  width: 540px;
  button {
    margin: 30px 0px;
    width: 150px;
    height: 60px;
    opacity: 1;
    border-radius: 3px;
    font-size: 16px;
    &:not(:last-child) {
      margin-right: 20px;
    }
  }
}
.trade-partners-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
  h3 {
    font-size: 20px;
    font-weight: 800;
    line-height: 28px;
    color: #222222;
  }
  .head-parnters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    .parn-left {
      .pl-top {
        h3 {
          text-align: left;
        }
        margin-bottom: 12px;
      }
      .pl-bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .img {
          width: 50px;
          height: 50px;
          background: rgba(123, 172, 255, 1);
          border-radius: 50%;
          opacity: 1;
          margin-right: 10px;
          color: #ffffff;
          font-size: 16px;
          line-height: 22px;
          justify-content: center;
          align-items: center;
          display: flex;
        }
        .info-box {
          text-align: left;
          h3 {
            min-height: 28px;
            min-width: 100px;
          }
          span {
            font-size: 12px;
            color: white;
            line-height: 17px;
            border-radius: 3px;
            padding: 2px 4px;
            &.inline {
              background: rgba(88, 203, 111, 1);
              opacity: 1;
            }
            &.unline {
              background: #999;
            }
          }
        }
      }
    }
    .parn-right {
      min-width: 170px;
      height: 90px;
      background: rgba(255, 255, 255, 1);
      border: 2px solid rgba(55, 135, 254, 1);
      opacity: 1;
      border-radius: 3px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0px 5px;
      h3 {
        font-size: 30px;
        line-height: 32px;
        color: #3787fe;
        border-bottom: 2px solid #3787fe;
        margin-bottom: 8px;
        min-width: 100px;
        min-height: 28px;
      }
      p {
        font-size: 14px;
        line-height: 20px;
        color: #3787fe;
      }
    }
  }
  .body-info {
    p {
      text-align: left;
      font-size: 16px;
      line-height: 22px;
      color: #666666;
      //   margin: 30px 0px;
    }
    .p-phone-text,
    .p-phone {
      margin-bottom: 20px;
    }
  }
  .selct-partner-status-box {
    .ul-box {
    }
    .select {
      max-height: 210px;
      //   overflow-y: auto;
      li {
        height: 70px;
        border-top: 1px dashed #cccccc;
        display: flex;
        align-items: center;
        justify-content: space-between;
        &:last-child {
          border-bottom: 1px dashed #cccccc;
        }
        div {
          font-size: 16px;
          line-height: 22px;
          color: #222222;
          &.left-box {
            display: flex;
            align-items: center;
            cursor: pointer;
          }
        }
        .point {
          width: 15px;
          height: 15px;
          background: rgba(255, 255, 255, 1);
          border: 1px solid rgba(112, 112, 112, 1);
          border-radius: 50%;
          opacity: 1;
          cursor: pointer;
          position: relative;
          box-sizing: border-box;
          &.active {
            border: 1px solid rgba(55, 135, 254, 1);
            position: relative;
            box-sizing: border-box;
            &::after {
              content: "";
              position: absolute;
              box-sizing: border-box;
              width: 9px;
              height: 9px;
              left: 2px;
              top: 2px;
              //   transform: translateX(-50%) translateY(-50%);
              background: rgba(55, 135, 254, 1);
              border-radius: 50%;
            }
          }
        }
        img {
          margin-left: 25px;
          margin-right: 20px;
          width: 30px;
          height: 30px;
        }
        .account {
          margin: 0px 20px;
        }
        .qrcode {
          cursor: pointer;
          color: #3787fe;
          position: relative;
          img {
            position: absolute;
            right: -100px;
            bottom: 0px;
            width: 100px;
            height: 100px;
            z-index: 100000000000;
            display: none;
          }
          &:hover {
            text-decoration: underline;
            img {
              display: block;
            }
          }
        }
        .img {
          img {
            margin: 0px;
          }
        }
      }
    }
  }
  .complaint-info {
    text-align: left;
    p {
      opacity: 1;
      border-radius: 3px;
      font-size: 16px;
      i {
        color: rgba(55, 135, 254, 1);
      }
      span {
        i {
          color: rgba(55, 135, 254, 1);
        }
      }
      &.code {
        color: #666666;
      }
    }
    .complaint-time {
      margin-top: 10px;
      text-decoration: underline;
      color: #666666;
    }
  }
  .end-info {
    height: 60px;
    border: 1px solid rgba(55, 135, 254, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 10px;
    border-radius: 3px;
    p {
      opacity: 1;
      border-radius: 3px;
      font-size: 16px;
      color: #3787fe;
    }
  }
  .shensutichu {
    margin: 0 auto;
    color: #666666;
    text-decoration: underline;
    background: none;
    margin-top: 10px;
  }
  .btn-box {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    button {
      height: 60px;
      flex: 1;
      border-radius: 3px;
      font-size: 16px;
      font-weight: 400;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      i {
        font-size: 11px;
      }
      &:not(:last-child) {
        margin-right: 30px;
      }
      &.normal.fangxing {
        background: rgba(55, 135, 254, 1);
        color: white;
      }
      &.normal.shensu-color-gray {
        background: rgba(204, 204, 204, 1);
        color: rgba(255, 255, 255, 1);
        cursor: not-allowed;
      }
      &.normal.shensu-color-red {
        background: rgba(252, 115, 115, 1);
        color: rgba(255, 255, 255, 1);
      }
      &.normal.shensu-inline {
        background: rgba(204, 204, 204, 1);
        color: rgba(255, 255, 255, 1);
      }
      &.normal.already-pay {
        background: rgba(55, 135, 254, 1);
        color: rgba(255, 255, 255, 1);
      }
      &.already-pay.en {
        // font-size: 0.9rem /* 18/20 */;
      }
      &.normal.cancel-order {
        background: rgba(252, 115, 115, 1);
        color: rgba(255, 255, 255, 1);
      }
      &.order-list {
        background: rgba(55, 135, 254, 1);
        color: rgba(255, 255, 255, 1);
      }
    }
  }

  .done-box {
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    img {
      width: 80px;
      height: 80px;
      margin: 0 auto;
    }
    h3 {
      font-size: 30px;
      line-height: 42px;
      font-weight: 800;
      margin: 15px 0px;
    }
    p {
      font-size: 20px;
      color: #666666;
      i {
        color: #3787fe;
      }
      &.judge {
        margin-top: 30px;
        font-size: 16px;
      }
    }
    button {
      margin-top: 45px;
      &.order-already-cancel {
        background: rgba(55, 135, 254, 1);
      }
    }
  }
}
</style>
